
h1.title { 
	font-size: 38px;
	font-family: 'Passion One', cursive; 
	font-weight: 400;
    color:#337ab7;
}
.btn-primary{
	    background-color: #1b1b42;
}
hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
	color:rgba(36, 135, 183, 0.83);
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.form-group input{
	border: 1px solid rgba(3, 169, 244, 0.45);
}
.input-group-addon:first-child {
    border: 1px solid rgba(255, 59, 0, 0.28);
}
.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow:-1px 6px 10px rgba(15, 15, 64, 0.79);

}

.main-center{
    border: 1px solid rgba(0, 188, 212, 0.31);
    margin-top: 30px;
    margin: 0 auto;
    max-width: 401px;
    padding: 40px 40px;
    margin: 36px auto;
    background-color: rgba(0, 107, 48, 0.12);
}

.login-button {
    margin-top: 16px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
