
h1.title { 
	font-size: 38px;
	font-family: 'Passion One', cursive; 
	font-weight: 400;
    color:#337ab7;
}
.btn-primary{
	    background-color: #1b1b42;
}
hr{
	width: 100%;
	color: #fff;
}

.form-group{
	margin-bottom: 3px;
}

label{
    margin-bottom: 3px;
    padding: 5px 0px 4px 0px;
    color: #114e84;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.form-group input{
    border: 1px solid #3a7eb9;
}
.input-group-addon:first-child {
    border: 1px solid rgba(255, 59, 0, 0.28);
}
.main-login{
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 4px 22px rgb(158, 153, 153);

}

.main-center{
border: 1px solid #f5f5fb;
    margin-top: 6px;
    margin: 0 auto;
    max-width: 399px;
    padding: 26px 38px 27px;
    margin: 64px auto;
    background-color: #9dcef9;
}

.login-button {
    margin-top: 16px;
}
.login-button:hover{
background-color: #105fa5!important;
    color: white;
    border: 1px solid #9dcef9!important;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
