@font-face{ font-family: 'OpenSans-Regular'; src:url('../fonts/OpenSans-Regular.ttf'); }

@font-face{ font-family: 'OpenSans-Semibold'; src:url('../fonts/OpenSans-Semibold.ttf'); }


h1,h2,h3,h4,h5,h6,body{  font-family: 'OpenSans-Regular' !important; }


.home_video{ position: relative; }

.home_video video{ cursor: pointer; position: relative; }

.home_video .video_play_icon{ position: absolute; width: 100%; height: 100%;   z-index: 9999; top: 0px; left: 0px; cursor: pointer; }

.home_video .video_play_icon i.fa{ color: rgba(0,0,0,0.6);  font-size: 50px; position: absolute; top: 40%; left: 45%;}

.home_video:hover .video_play_icon i.fa{ color: #ee1c1b; opacity: 1;  }
 
 #home_video_popup{ background: rgba(0,0,0,0.9); padding-top: 75px; z-index: 999999;}

 #home_video_popup button{ position: absolute; top: -10px; right: -10px; font-size:18px; outline: none; background: #1b1b42; color: #fff; opacity: 1; width: 30px; height: 30px; line-height: 20px; border-radius: 100%; z-index: 9999; border: 2px solid #fff; }

/*#home_video_popup .modal-header{ padding: 10px 15px; background: #084673; color: #fff; }*/ 

#home_video_popup .modal-content{ border: 0px; }

#home_video_popup .modal-body{ padding:30px 15px; }

.video_iframe iframe{ width: 100%; height: 300px; }

.fb_share_btn{ position: fixed; bottom:20px;right: 0px; z-index: 9999999; }

.fb_share_btn p{ margin-bottom: 10px; text-align: left;  }

.fb_share_btn p span{ border: 1px solid #666; padding:2px 15px; background: #eee; position: relative; display: inline-block; }

.fb_share_btn p span:before{ position: absolute; content: ''; width: 10px;
    height: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;  bottom: -6px; background: #eee; }


.fb_share_btn h4 i{ margin-right: 5px; font-size: 14px; width: 22px; height: 22px; border-radius: 5px; text-align: center; line-height: 22px; background:#fff !important; color: #405d9a !important; }

.fb_share_btn h4{ margin: 0px !important;  color: #fff; font-size: 14px; line-height: 1.6; background: #405d9a; color: #fff;  padding: 5px; cursor: pointer; z-index: 99999; border-top-left-radius: 5px; border-bottom-left-radius:5px;}

.fb_share_btn h4 a{ color: #fff; }

.fb_share_btn h4 b{ display: block; font-weight: normal;  }

/* videos */

.related_videos img{ height: 180px; margin-top: 0px; width: 100%; }

.related_video figure{ position: relative;  }

.related_video figure i.fa{ position: absolute; bottom: 5px; right: 10px; color: #ee1c1b; opacity: 0.8; font-size: 24px; }

.related_videos h3{ font:inherit; }

.related_videos h4{ padding:15px 10px; margin: 0px !important; border-top: 1px solid rgba(0,0,0,0.1); }

.related_video{ border: 1px solid rgba(0,0,0,0.1); margin-bottom: 10px; position: relative;  z-index: 2;}

.relative_vd_bg,.wrapper_iframe_bg{ background: #fff; }

.wrapper_iframe_bg{ height: 290px;  }

.inrright_cntr.videos_rht .gate{ padding: 0px; }

.inrright_cntr.videos_rht .gate h1{ margin-top: 0px; padding: 10px; border: 0px; height: auto; font-size: 20px; margin-bottom: 20px;}

.related_video #vdesc{ font-size: 14px; height: 60px;}

#relatedv{ height: auto !important; }

.videos_rht #main-desc{ margin-left: 0px; text-align: center; width: 100%; padding-top: 15px; }

.videos_rht #main-desc span{ font-size: 20px; color: #1b1b42; }

.video-wrapper_iframe{ position: relative;  width: 90%; margin:0px auto; z-index: 2;}

.video-wrapper_iframe iframe{ width: 100%; height: 290px;}

.related_video:before,.related_video:after,.video-wrapper_iframe:before,.video-wrapper_iframe:after{
 	bottom: 4px;
    box-shadow: 0 5px 7px #999;
    content: "";
    left: 8px;
    position: absolute;
    top: 88%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}

.video-wrapper_iframe:before,.video-wrapper_iframe:after{ bottom: 10px; left: 0px; }

.related_video:after,.video-wrapper_iframe:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.videos_nav i.fa.fa-list-ul{ color: #fff;  }

.videos_nav h1{ height: auto !important; padding-left: 10px; margin-bottom: 0px; }

.videos_nav .inr_title i{ position: relative; width: auto; height: auto; padding-right: 10px; top: 0px; left: 0px; }

.videos_nav ul li{ float: none; display: block; }

.videos_nav ul li a{ display: block; padding: 10px 5px; border-bottom: 1px solid rgba(0,0,0,0.1); position: relative; z-index:2;}

.videos_nav ul li a i{ padding-right: 10px;color: #333; }

.videos_nav ul li a:hover{ color: #fff !important; }

.videos_nav ul li a:hover i{ color: #fff; }

.videos_nav ul li a:before{ position: absolute; content: ''; width: 0%; height: 100%; background: #1b1b42; opacity: 0; z-index: -1; top: 0px; left: 0px; transition: all 0.3s;}

.videos_nav ul li a:hover:before{ opacity: 1; width: 100%; }

.videos_nav .navbar-default .navbar-nav > li > a:hover{ background: rgba(214, 212, 212, 0.61); }

.videos_nav .navbar-nav{ width: 100%; background: rgba(214, 212, 212, 0.61); }


section.footer-wrapper{ margin-top: 0px; }

/* package page */

.pricing_wrraper_top{ width: 100%; float: left; background: #1b1b42; padding:40px 0px; text-align: center; color: #fff; }

.pricing_wrraper_title p{ font-size: 20px; color: #aaa; }

.pricing_wrraper_statistics{ width: 75%; margin:20px auto 0px auto; color:#fff; }

.pricing_wrraper_statistics .pt_icon{ color: #fff; font-size: 30px; width: 60px; height: 60px; border: 1px solid #555;  text-align: center; margin:0px auto; position: absolute; top: 0px; left: 38%; background: #1b1b42;}

.pt_box{ margin-top: 30px; }

.pricing_wrraper_statistics .pt_icon_info{ border: 1px solid #555; padding-top: 30px; padding-left: 5px; padding-right: 5px; }

.pricing_wrraper_statistics .pt_icon i.fa{ color: #fff; line-height: 60px;}

.pricing_wrraper_statistics h4{ margin-top: 20px; }

.pricing_wrraper_statistics p{ color: #aaa; }

.pricing_wrraper_bottom{ margin:30px 0px 20px 0px; width: 100%; float: left; }

.pricing_wrraper_bottom_row{ width: 75%; margin:0px auto; }

.pricing_details_col{ width: 295px; }

.pricing_details{ border: 1px solid rgba(0,0,0,0.3);   margin-bottom: 30px; box-shadow: 0px 0px 40px #666;}

.pricing_details_top{ background:#00a861; text-align: center; position: relative; margin-bottom: 50px;}

.pricing_details_top:before{ position: absolute; content: ''; border-left: 132px solid transparent; border-right: 133px solid transparent; border-top: 30px solid #00a861; bottom: -30px; left: 0px; }

.pricing_details_top h4{ color: #fff; text-align: center; padding:15px 0px; background: rgba(0,0,0,0.2); margin-bottom: 20px;}

.pricing_details_top h4 i{ text-align: center; display: block; font-size: 30px; margin-bottom: 10px; color: #fff !important; }

.pricing_details_top p.price_lable{ font-size: 40px; color: #fff; padding-top: 20px; padding-bottom: 20px; }

.pricing_details_top .price_lable i.fa{ padding-right: 10px; font-size: 26px;  color: #fff;}

.pricing_details_btm{ padding: 0px 15px;}

.pricing_details_btm p.description{ color: #333; font-size: 15px; text-align: center; padding: 30px 0px 50px 0px; }

.Buy_plan_btn{ margin:0px auto;display: block; position: absolute; bottom: 15px; left: 100px; color: #fff; background:#1b1b42; border: 0px; border-bottom: 5px solid rgba(0,0,0,0.5); font-size: 18px; transition: all 0.5s;}

.Buy_plan_btn:hover,#buy_plan_popup table tbody tr th button.pay_now_btn:hover{ background:#00a861; color: #fff; }

.pricing_features_includes ul li{ list-style: none; padding-left: 30px; background: url('../images/tick.png') no-repeat left 0; background-size: 20px 20px ; margin-bottom: 8px; font-size: 16px; }

.pricing_features_includes h4{ font-size: 22px;margin-bottom: 20px; padding-bottom: 10px; position: relative; }

.pricing_features_includes h4:before{ position: absolute; content: ''; width: 50px; height: 2px; background: #00a861; left: 0px; bottom: -5px; }

.pricing_features_includes_col{ padding-left: 30px; width: 65%; }

#buy_plan_popup .modal-dialog{ width: 900px; }

#buy_plan_popup table tr th{ border: 1px solid #ccc; padding:10px; text-align: center; font-size: 16px; }

#buy_plan_popup table tr td{ border: 1px solid #ccc; text-align: center; padding:10px; font-size: 15px;}

#buy_plan_popup table tr td i{ color: #333; padding-right: 5px; font-size: 14px;}

#buy_plan_popup table tr td i.fa.fa-close{cursor: pointer;}

#buy_plan_popup table tbody tr th button.pay_now_btn{ font-weight: normal; font-size: 18px; border: 0px; padding:7px 15px; color: #fff; background: #00a861; border-bottom: 5px solid rgba(0,0,0,0.5); transition: all o.5s; }

#buy_plan_popup table tbody tr th{ padding-top:40px; border: 0px; }

#buy_plan_popup button.close{ position: absolute; color: #fff; background: #1b1b42; top: -10px; right: -10px; width: 30px; height: 30px; border-radius: 100%;opacity: 1; line-height: 20px; border: 2px solid #fff; }

#scrollUp{ display: none !important; }

/* login and signup */


#cd-signup, #cd-reset-password,#after_otp_form{ display: none; }

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected { display: block; }

.hide-password { padding:12px 10px 12px 15px; display: inline-block; position: absolute; right: 0; text-align:center;  top:23px; bottom: auto;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
font-size: 14px;
border-left:1px solid #ddd;
color: #1b374f;
}

.section_related_form .form-group .hide-password i{ position:relative; text-align:center; font-size:18px; top:0px; left: 0px; color:#1b374f;}
.section_related_form .form-group .hide-password i.fa.fa-eye-slash{ color:#999;}

.login_section { background:#fff;  }

.login_wrap{  width:90%; margin:0px auto;}

.login_col { padding-right: 30px; }

.login_wrapper{ background:#f9f9f9; box-shadow:0px 0px 15px rgba(0,0,0,0.6);}

.login_register_switcher ul{ text-align:center; }

.login_register_switcher ul li{ display:inline-block; width:49.5%;}

.login_register_switcher ul li a{ background:#eee;  padding:15px; cursor: pointer; display:block; color:#000; font-size:18px; cursor: pointer;}

.login_register_switcher ul li a.selected{  background:#009688 !important; color: #fff; cursor: default; font-family: 'OpenSans-Semibold';}


.section_related_form{ padding:20px;} 

.section_related_form .form-control{ border-radius:0px; background:none; font-family: 'OpenSans-Semibold'; box-shadow:none; padding:6px 6px 6px 30px;  height: 46px;}

.section_related_form .form-control:focus{ box-shadow:none; }

.section_related_form .form-group{ position:relative; margin-bottom:20px;}

.section_related_form .form-group i{ position:absolute; top:15px; font-size:14px; left:10px; color: #000;}

.forgot_password_text a{ color: #666; transition: all 0.5s }

.forgot_password_text a:hover{ color: #1b1b42; }

#login-form .form_action_btns{ float: right; font-family: 'OpenSans-Semibold'; }


.form_action_btns button.btn{ background: #1b1b42; border:0px; color: #fff; padding:5px 15px; font-size: 17px; width: auto; display: block; cursor: pointer; text-transform: capitalize; border-radius:20px;
-webkit-transition: all 0.4s;
transition: all 0.4s; border-bottom:5px solid rgba(0,0,0,0.6);
}

.form_action_btns button.btn a{ color: #fff; font-family: 'OpenSans-Semibold'; }

.form_action_btns button.btn:hover{ background:#00a861; color:#fff;}

.form_action_btns button.btn:focus,.get_opt_btn button.btn:focus{ outline: none;  }

.form_action_btns.btn_half button{ float:left;} 

.form_action_btns.btn_half p{ margin-top:10px; font-family: 'OpenSans-Semibold'; }

.login_wrap .toggle-button label{ color:#000; font-size:16px; text-transform:capitalize; line-height:normal; text-indent:0px; padding-left:25px;}

.login_wrap .toggle-button--tuli .toggle-button__icon{ top:2px;}

.login_wrap .toggle-button--tuli .toggle-button__icon{ border:2px solid #999;}

.forgot_password p{ font-size:14px; clear:both; margin-top: 5px; font-family: 'OpenSans-Semibold';}  

.login_bottom{ background: #eee; margin-top: 20px; padding:5px 10px 15px 10px; }

.login_bottom .form-group .form-control{ width: 75%; float: left; font-size: 14px; font-family: 'OpenSans-Semibold';}

.get_opt_btn{  width: 25%; float: left;}

.login_bottom button{  border:0px; float: right; background: #333; height: 46px; color: #fff; margin-left: 5px; border-bottom: 5px solid rgba(255,255,255,0.5); padding:10px 15px; font-family: 'OpenSans-Semibold'; border-radius: 20px;}

.login_bottom button:hover{ background: #1b1b42; color: #fff;  }

.login_bottom h4{ margin-bottom: 20px; margin-top: 10px;font-family: 'OpenSans-Semibold' !important;}

.state_select label{ width: 100%; color: #4a89dc; font-weight: normal;}

.state_select select.form-control{ padding: 6px; font-size: 14px; font-family: 'OpenSans-Semibold';}

.form-group .fa.fa-mobile{ font-size: 20px; top: 12px; }

/* login through otp */

.resend button { background: #fff; color: #333; border: 1px solid #999; text-transform:capitalize; font-size: 14px; border-radius:5px; padding:5px 20px; }

.section_related_form .msg{ line-height: 1.6; margin-bottom: 35px; font-family: 'OpenSans-Semibold';}

.login_wrap{ font-family: 'OpenSans-Semibold'; }

.login_wrap_right{ padding-left: 25px; }

.login_wrap_right h3 { font-family: 'OpenSans-Semibold' !important; color: #1b1b42; margin-bottom: 10px; text-align: center; }

.login_wrap_right ul{ margin:15px 0px; }

.login_wrap_right p{ text-align: center; color: #666; line-height: 2.0; margin-bottom: 5px; }

.login_wrap_right img{ width: 125px; height: 125px; margin:0px auto; }

.login_wrap_right ul li{ background:url('../images/tick.png') no-repeat left 2px/20px 20px; list-style: none; margin-bottom: 10px; line-height: 1.8; padding-left: 30px;  }

.user_stats h3{ text-align: left; font-size: 18px; margin-top: 30px; line-height: 1.8;}

.user_stat{ width: 33.3%; float: left; position: relative; }

.user_stats h4{ text-align: center; font-family: 'OpenSans-Semibold' !important; font-size: 16px; margin-top: 15px;}

.user_stats figure { width: 90px; height: 90px; border:5px solid rgba(0,0,0,0.2); border-radius: 100%;margin:0px auto; position: relative; }

.user_stats figure  img{ width: 100%; height: 100%; border: 5px solid #fff; }

.user_stat:before{ position: absolute; content: ''; width:100%; z-index: -1; height: 5px; background: #aaa; top:35%; left:0px; }

.user_stat:after,.user_stat.last figure:after{ position: absolute; content: ''; width: 10px; height: 10px; background: #999; top: 32%; left: 0px; border-radius:100%; }

.user_stat h4:before,.user_stat.last figure:before{ position: absolute; content: ''; border: 5px solid #ddd; width: 20px; height: 20px; top: 28%; left: -5px; border-radius: 100%; }

.user_stat.last figure:after{ left: inherit; right: -40px; top: 46%;}

.user_stat.last figure:before{ left: inherit; right: -45px; top: 40%;}


/* mobile popup image */

.mob_popup{ display:none;}

/* elitmus */

.elitm_wrapper { margin:15px 0px; font-family:"OpenSans-Regular";}

.elitm_wrapper .breadcrumb{ border-radius:0px; background:#eee; margin-bottom:10px;}

.elitm_wrapper .breadcrumb ul li{ float:left; list-style:none;}

.elitm_wrapper .breadcrumb ul li a{ color:#000; transition:all 0.5s;}

.elitm_wrapper .breadcrumb ul li.current,.elitm_wrapper .breadcrumb ul li a:hover{ color:#1b1b42;}

.elitm_wrapper .breadcrumb ul li i{ margin:0px 10px; line-height:24px;}

.elitm_wrapper .breadcrumb ul{ margin:0px; padding:0px;}

.elitm_wrapper .inr_title{ background:#333;}

.elt_nav.fixed{ position:fixed; top:0px; }

.elt_nav.videos_nav ul li a{ font-weight:normal; font-family:'OpenSans-Semibold';}

.elt_nav.videos_nav ul li.elt_nav_active a{ background:#1b1b42; color:#fff !important; border-bottom:1px solid #fff; font-family:'OpenSans-Semibold';}

.elt_nav.videos_nav ul li.elt_nav_active a:before{ width:100%; opacity:1;} 

.elt_nav.videos_nav ul li.elt_nav_active a i{ color:#fff !important;}

.qs_box{ background:#fff; padding:10px; margin-bottom:15px; font-size:15px; border:1px solid #ddd; transition:all 0.5s; width:100%; float:left;}

.qs_box:hover{ box-shadow:0px 0px 10px #ccc;}


.qb_q p{ display:inline-block; font-family:'OpenSans-Semibold'; line-height:2.0; font-size:16px;}

.qb_q p{ width: 95%; float: left;  }

.qb_q p:first-child{ padding-right: 10px; float: left; background:#777; color:#fff; padding:0px 5px; display:inline-block; border-radius:100%; width:30px; height:30px; text-align:center; margin-right:5px;line-height:30px; font-size:14px; vertical-align:top; }



.qb_opts{ margin:10px 0px;}

.qb_opts label{ font-weight:normal;  margin-bottom:10px; border:1px solid #ddd;  display:block; cursor:pointer; position:relative;}

.qb_opts label span.qb_opt{ border-right:1px solid #ddd; padding:10px 15px; margin-right:10px; display:inline-block;}

.qb_opts label span.qb_opt_info{ display: inline-block;  }

.qb_opts label.wrong_answer:before,.qb_opts label.correct_answer:before{position:absolute; content:'\f057'; font-family:'FontAwesome'; top:10px; right:7px; font-size:20px; color:#BA2C22;}

.qb_opts label.wrong_answer{ border-color:#BA2C22;}

.qb_opts label.correct_answer{ border-color:#00a861; color:#00a861;}

.qb_opts label.correct_answer span.qb_opt{ border-right-color:#00a861;}

.qb_opts label.correct_answer:before{ content:'\f058'; font-family:'FontAwesome'; color:#4CAF50;}

.qs_btm_panel{ width:100%; float:left; position:relative; }

.qs_btm{ position:relative;}

.qs_soltn{  margin:0px; background:none; border:0px; box-shadow:none;  }

.qs_soltn .btn.btn-default{ background:#555; color:#fff; border:0px; border-bottom:3px solid rgba(255,255,255,0.5);}

.qs_soltn .btn.btn-default:focus{ outline:none;}

.qs_btm_actions{position:absolute; top:5px; right:0px; text-align:right; }

.qs_btm_actions label{ font-weight:normal; font-size:13px;cursor:pointer; color:#666; margin:0px 10px;font-family:'OpenSans-Semibold'; padding:10px 5px;}

.qs_btm_actions label i{ color:#666; padding-right:5px; font-size:15px;}

.qs_btm_actions label:last-child{ margin-right:0px;}

.qs_btm_actions label b{ padding-left:5px;}

.qs_btm_actions label.liked,.qs_btm_actions label.liked i{color:#00a861; }

.qs_btm_actions label.disliked,.qs_btm_actions label.disliked i{ color:#BA2C22; }

.qs_soltn_brief,.comnt_wrp{ width:100%; float:left; padding:10px; background:#fff !important; margin:0px !important;}

.qs_soltn_brief,.comnt_wrp{ margin-bottom:10px; box-shadow:0px 0px 5px #aaa;}

.qs_soltn_brief p{ line-height:1.8;}

.qs_soltn_brief p b{ color:#00a861; font-family:'OpenSans-Semibold';}

.qs_soltn_brief h4 b{ font-weight:normal;  color:#00a861; margin-left:5px; }

.qs_soltn_brief h4{ font-size:16px; font-family:'OpenSans-Semibold' !important; margin-bottom:15px;}

.qs_soltn_brief h4.expltn{ color:#1b1b42;}

.qs_btm_actions [aria-expanded="true"]{ border-bottom:3px solid #42DCA3; color:#42DCA3; padding-bottom:7px;}

.qs_soltn  .btn[aria-expanded="true"]{border-bottom:3px solid #42DCA3 !important; background:#1b1b42 !important; } 

.qs_btm_actions [aria-expanded="true"] i{ color:#42DCA3;}

.qs_vsoltn_brief iframe{width:90%; height:350px; margin:0px auto; display:block; }

.cmnt_user_img{ margin-bottom:5px;}

.cmnt_user_img img{ width:40px; height:40px; border-radius:100%; float:left; margin:10px 5px 0px 0px;}

.cmnt_user_img textarea.form-control{ resize:none; border-radius:0px; height:60px; padding:6px 15px;  font-size:15px; width:93%; box-shadow:none; float:left; margin:0px; font-family:'OpenSans-Semibold';}

.cmnt_user_img textarea.form-control:focus{ box-shadow:none; }

.cmnt_user_img button.btn{ float:right; background:#1b1b42; border:0px; margin-top:5px; color:#fff; display:none;}

.cmnt_user_img textarea.form-control:focus ~ button.btn{ display:block;}

.others_cmnts{ background:#f9f9f9;  }

.others_cmnt{ padding:5px 10px; border:1px solid rgba(0,0,0,0.05); border-top:0px;}

.oc_user_img,.oc_cmnt_info{ display:inline-block; vertical-align:middle;}

.oc_user_img{ width:6%;}

.oc_cmnt_info{ width:93%;}

.oc_user_img img{ width:40px; height:40px; border-radius:100%; vertical-align:center; }

.oc_cmnt_info{ padding-left:10px;}

.oc_cmnt_info p{ font-family:'OpenSans-Semibold'; margin-bottom:5px; color:#365899;}

.oc_cmnt_info p.cmnt_msg{ font-family:'OpenSans-Regular'; color:#333;}

.view_all_cmnts{ padding:5px 10px; color:#365899; font-size:13px; cursor:pointer;}

.view_all_cmnts:hover{ text-decoration:underline;}

/* pagination */

.pagination_wraper nav { text-align:right;}

.pagination_wraper nav ul li{ font-size:16px;}

.pagination_wraper .pagination>.active>a{ background:#1b1b42;}

/* pattern Papers */

.patterns_wrapper{ background:url(../images/patterns.jpg) repeat; margin:0px;}

.rel_pattern_info{ background:#fff; }

.rel_pattern_info h3 { color:#fff; margin:0px; background:#637B88; padding:15px; text-align:center; text-transform:capitalize; font-family: 'OpenSans-Semibold' !important; font-size:20px;}

.rel_pattern_info h3 i{ color:#fff; padding-right:10px;}

.paten_related_info{ padding:10px 15px; font-family:'OpenSans-Semibold'; box-shadow:0px 0px 5px #aaa; margin-bottom:10px;}

.rel_pattern_info img{ margin:15px auto; width:300px;}

.rel_pattern_info p{ text-align:justify; line-height:1.8; font-size:15px;}

.paten_related_info h4{ color:#1b1b42; margin:20px 0px;  font-family:'OpenSans-Semibold' !important;}

.paten_related_info ul{ padding-left:40px;}

.paten_related_info ul li{ margin-bottom:5px; line-height:1.8; text-align:justify;}

.pattern_table table tr th{ border-top:1px solid #ddd !important; border-bottom-width:1px; padding:10px; color:#fff; background:#1b1b42; font-size:15px; font-family:'OpenSans-Semibold'; }

.pattern_table table tr td{ font-family:'OpenSans-Semibold'; padding:10px; font-size:15px;}

.pattern_table .table-striped>tbody>tr:nth-of-type(even){ background:#D5E2E9;}

.pattern_table .table-striped>tbody>tr:nth-of-type(odd){ background:#C4EFD5; }

.pattern_table tr.Total{ background:#0A9DA6 !important; color:#fff;}

.pattern_table tr.Total td{ color:#fff; font-size:18px;}

.paten_related_info ul li b,.paten_related_info p b{ color:#3C63B3;}

.pattern_btm{ margin-top:20px;}

.pattern_btm p a{ color:#fff; background:#1b1b42; padding:5px 15px; border-radius:5px;  display:inline-block;  font-size:16px; text-align:center; border-bottom:5px solid rgba(255,255,255,0.5); position:relative; z-index:2;}

.pattern_btm p a:before{ position:absolute; content:''; width:0; height:100%; background:#00a861; top:0px; left:50%; z-index:-1; transition:all 0.5s;}

.pattern_btm p a:hover:before{ width:100%; left:0px;}

/* crypt arithmatic */

.crypt_arthmatic h4{ margin-top:20px; color:#1b1b42; font-family:'OpenSans-Semibold' !important;}

.crypt_arthmatic h4 span{ width:30px; height:30px; display:inline-block; background:#777; line-height:30px; text-align:center; margin-right:10px; color:#fff; border-radius:100%; }

.crypt_arthmatic h5{ font-size:20px; color:#008000; margin-top:20px; margin-bottom: 20px; font-family:'OpenSans-Semibold' !important;}

.crypt_arthmatic ol{ padding:10px 10px 10px 30px; background:#F2F8FA; border:1px solid rgba(0,0,0,0.1); margin:0px;}

.crypt_arthmatic ol li{ margin-bottom:5px; font-size:16px; line-height: 2.0;}

.crypt_arthmatic ol li b{ font-weight:normal;  font-family:'OpenSans-Semibold';}

.crypt_arthmatic pre{  white-space: pre; font-size: 18px; box-sizing: border-box;}

.crypt_arthmatic h6{ font-size: 20px; margin-top: 20px; color: #1b1b42; }

.crypt_arthmatic img{ width: 100%; margin: 0px; }

.crypt_arthmatic pre b{ color: #0000ff; }

/* crypt arithmatic 2 */

.crypt_arthmatic_2 ol{ padding:10px; }

.crypt_arthmatic_2 h6.case{ font-size: 18px; font-family: 'OpenSans-Semibold' !important; }


.crypt_arthmatic_2 h6.case span{ margin:10px 0px; color: #000; border-bottom: 1px solid #000; }

.crypt_2_box{ background: #f5f5f5; border: 1px solid #ccc; padding: 10px; margin-top: 15px; border-radius: 4px;}

.crypt_2_box pre{ border: 0px; padding: 0px; border-radius: 0px; }

/* crypt arithmatic questio 4 */

.crypt_arthmatic_info{ border: 1px solid #ddd; padding:0px 15px 15px 15px; }

.crypt_arthmatic_info h6.unit_digit{ font-size: 18px; color: #333; font-family: "OpenSans-Semibold" !important; text-align: center; margin:0px; background: #f2f2f2; padding:15px; border: 1px solid #ddd; border-bottom: 0px;}

.crypt_arthmatic_info table tr th{ text-align: center; padding: 10px; font-size: 18px; border-bottom: 1px solid #ddd; font-family: 'OpenSans-Semibold'; background: #00c2b9; color: #fff;}

.crypt_arthmatic_info table tr td{ font-size: 17px; text-align: center; vertical-align: middle; color: #444; font-family: 'OpenSans-Semibold';}

.crypt_arthmatic_info table tr td p{ margin: 0px; font-size: 17px; line-height: 2.0; padding-left: 15px;  }

/* score card latest */

.pie_progress {
      width: 160px;
      margin: 0px auto;
   }
 .pie_progress {
  position: relative;
  text-align: center;

  -webkit-transform-style: preserve-3d;

          transform-style: preserve-3d;
}
.pie_progress__svg {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.pie_progress__svg svg {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block; 
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.pie_progress__content, .pie_progress__number, .pie_progress__label, .pie_progress__icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pie_progress__number {
  font-size: 42px;
}

.pie_progress__label {
  margin-top: 32px;
  font-size: 12px;
}   
/* line progress */

.progressbar {
    width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
	background-color: #fff;
	/*box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);*/
}

.proggress{
	height: 8px;
	width: 10px;
	background-color: #3498db;
}

.percentCount{
	position:absolute; top:-25px; right:10px; color:#000; font-family:'OpenSans-Semibold';
	
}

.score_card_wrap{ padding-left:0px;}



.tst_rslt{ padding-top:0px;}

.tst_rslt .graybg{ padding:20px;}

.tst_rslt_btn{ margin-bottom:30px; display:block;}

.extrapage{ margin-top:30px;}

/* payment sucess */

.paymet_status{ width: 80%; margin: 0px auto; }

.payment_status_top h2{ color: #1c1d68; font-size: 28px; font-family: 'OpenSans-Semibold' !important; text-transform: capitalize; text-align: center; padding: 0px;}

.payment_status_top h2 i{ padding-right: 10px; color: #008030; font-size: 30px;   -webkit-animation: zoom 2s linear infinite; /* Safari 4+ */
  -moz-animation: zoom 2s linear infinite; /* Fx 5+ */
  -o-animation:    zoom 2s linear infinite; /* Opera 12+ */
  animation:       zoom 2s linear infinite;}

.payment_status_top h3{ margin:20px 0px; }

.payment_status_top p{ font-family: 'OpenSans-Semibold'; color: #1e206b;  font-size: 16px;}

.payment_details_info h3{ background: #217640; color: #fff; margin:0px; padding:10px; font-size: 20px; }

.payment_details h4{ margin:20px 15px; }

.payment_details_info h4 b.order_success{ color: #008031; }

.payment_details_info h4 b.order_fail{ color: #f00; }

.payment_details_info ul{ padding: 0px;  margin:0px; background: #eee; box-shadow: 0px 0px 5px #555;}

.payment_details_info ul li{ list-style: none; padding:12px 10px; font-size: 16px; font-family: 'OpenSans-Semibold';}

.payment_details_info ul li:nth-child(odd){ background: #f9f9f9; }

.payment_details_info ul li span.order_lft{ width: 50%; float: left; position: relative; }

.payment_details_info ul li span.order_lft:before{ position: absolute; content: ':'; top: 0px; right: 20px;  }

.payment_details_info ul li span.order_lft_info{ width: 50%; float: left; color: #008333;}

.payment_details_info ul li a{ text-align: center;  color: #fff; background: #637B88; padding:10px 20px; transition: all 0.5s; margin:10px auto; width: 200px; display: block; }

.payment_details_info ul li a:hover{ background: #008131; text-decoration: none;}

.payment_details_info ul li a i{ padding-right: 10px; font-size:18px; color: #fff;}

.bw_help h3{ background: #666; color: #fff; font-size: 20px; font-family: 'OpenSans-Semibold' !important; padding:10px; margin:0px;}

.bw_help ul{ padding:10px; box-shadow: 0px 0px 5px #555;}

.bw_help ul li{ list-style: none; color: #1d1e6a; margin-bottom:15px; font-size: 15px; font-family: 'OpenSans-Semibold' !important; }

.bw_help ul li i{ padding-right: 10px; }

.bw_help ul li a{ color: #1d1e6a; }

  @-webkit-keyframes zoom {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.3); }
    100%{ transform: scale(1.0); }
} 
@keyframes zoom {
   0% { transform: scale(1.0); }
    50% { transform: scale(1.3); }
    100%{ transform: scale(1.0); }
}

/* online register form */

.od_reg_form{ background: url(../images/online-registration.jpg) no-repeat center fixed; background-size: cover;  width: 100%; height: 100%; margin:0px auto; padding:30px 0px 50px 0px; position: relative;z-index: 99; }

.od_reg_form:before{ position: absolute; content: ''; width: 100%; height: 100%; top: 0px; left: 0px; background: rgba(0,0,0,0.5); z-index: -1 ;}

.od_reg_wrap{ width: 50%; margin:0px auto; background: rgba(0,0,0,0.6); box-shadow: 0px 0px 20px #333;}

.od_reg_wrap p{ background: #637B88; color: #fff; margin:10px 0px; padding: 10px; font-size: 16px; font-family: 'OpenSans-Semibold'; line-height: 1.8; text-align: center;}

.od_reg_wrap h3{ background: #328652; color: #fff; margin:0px; padding: 15px; border-bottom:3px solid rgba(255,255,255,0.5); font-size: 22px;}

.od_reg_wrap h3 i{ padding-right: 10px; color: #fff; }

.od_reg_wrap form{ padding: 20px; }

.od_reg_wrap form .form-control{ height: 42px; border-radius: 0px; box-shadow: none; font-size: 15px; font-family:'OpenSans-Semibold';  }

.od_reg_wrap form .submit_btn{ background: #008030; color: #fff; padding:5px 10px; border:0px; margin:10px auto 0px auto; font-size:20px; font-family:'OpenSans-Semibold'; width: 125px; display: block; border-bottom: 5px solid rgba(255,255,255,0.5); transition: all 0.5s;  }

.od_reg_wrap form .submit_btn:hover{ box-shadow: 0px 10px 10px -10px #333; background: #1b1c67; }

/* online admissions */

.online_admsions_wrap{ font-family: 'OpenSans-Semibold'; }

.oawl_top{ background: #faaf3c; padding: 10px 0px; text-align: center; color: #fff; border-bottom:5px solid rgba(0,0,0,0.4);}

.oawl_top h3{ margin:0px; font-family: 'OpenSans-Semibold' !important;}

.oawl_top h4{ margin-bottom:0px; font-family: 'OpenSans-Semibold' !important; margin-top: 10px; font-size: 22px; padding:10px;}

.oawl_top h4 span{ background: #1b1b42; color: #fff;padding: 10px 20px; display: inline-block; position: relative; }

.oawl_top h4 span:before,.oawl_top h4 span:after{ position: absolute; content: ''; width: 10px; height: 100%; background: #282852; top: -8px; left: -10px; }

.oawl_top h4 sup{ font-size:22px; }

.oawl_top h4 span:after{  right: -10px; left: inherit; top: 8px;}

.oawl_btm{ border:2px solid #faaf3c; border-top: 0px; padding:15px;}

.oawl_btm ul{ padding-left:30px; }

.oawl_btm ul li{ list-style: disc; font-size: 15px; line-height: 1.6; margin-bottom: 10px;}

.oawl_btm ul li.bg_img{ text-align: center; font-size: 18px; color: #1c1d68; list-style: none;}

.oawl_btm ul li.bg_img img{ width: 45px; margin-right: 10px; }

.oawl_btm ul li.bg_img ul li{ text-align: left; }

.oawl_btm a.oaw_reg_btn{ text-align: center; background: #008333; color: #fff; margin:0px auto; width: 150px; display: block; padding:10px; font-size: 17px; border-bottom:5px solid rgba(0,0,0,0.3); margin-top: 15px; transition: all 0.5s;}

.oawl_btm a.oaw_reg_btn:hover{ text-decoration: none; background: #1c1d68; }

.oawl_btm ul li ul{ padding-left: 30px; margin-top: 10px;}

.oawl_btm ul li ul li{ list-style: none; background: url(../images/tick_mark.png) no-repeat left 5px/18px 18px; padding-left: 25px; }

.bw_placed_students h4 { color: #fff; background: #008536; margin:0px; padding: 10px; border-bottom: 5px solid rgba(0,0,0,0.5); font-family: 'OpenSans-Semibold' !important; }

.bps_videos iframe{ width: 100%; height: 100%;  }

.bps_video{ margin:15px 0px; border: 5px solid #999; height: 260px; }

.bps_videos .videos_view_more{ float: right; background: #1c1d68; color: #fff; padding:10px 15px; }

/* respnsive */

@media (min-width: 992px) and (max-width: 1200px) {

.videos_nav .navbar-nav > li > a{ height: auto; }
 
section{ margin:15px 0px;}

.video-wrapper_iframe{ width: 95%; }

#home_video_popup{ padding-top: 50px }

/* pricing */

.pricing_wrraper_statistics{ width: 90%; }

.pricing_wrraper_bottom_row{ width: 90%; }

/* login */

.login_wrap{ width: 100%; }

.login_wrap_right{ padding-left: 0px; }

/* elitmus */

.qb_q p{ width: 94%; }

.qs_vsoltn_brief iframe{ width: 100%; }

}

@media (min-width: 768px) and (max-width: 991px) { 

section{ margin:10px 0px;}

.videos_nav .navbar-nav > li > a{ height: auto; }

.videos_nav .navbar-nav,.videos_nav .navbar-nav li a{ background: rgba(214, 212, 212, 0.61) !important; }

.videos_nav .navbar-nav li a{ line-height: 1.6; }

.video-wrapper_iframe iframe{ height: 270px !important; margin-left: 0px; }

.video-wrapper_iframe{ width: 100%; }

.wrapper_iframe_bg{ height: 250px; }

.related_videos{ padding:0px; }

.related_videos img{ height: 125px; }

.related_video #vdesc{ font-size: 13px; padding: 10px; }

#home_video_popup{ padding-top: 30px }

.video_iframe iframe{ margin-left: 0px; }

/* pricing */

.pricing_wrraper_statistics,.pricing_wrraper_bottom_row{ width: 100%; }

.pricing_wrraper_statistics .col-sm-4{ width: 33.33%; }

.pricing_features_includes_col{ padding-left: 15px; width: 59%; }

.pricing_features_includes_col ul li{ font-size: 14px; padding-left: 22px; }

#buy_plan_popup .modal-dialog{ width:100%; }

.pricing_wrraper_statistics .col-md-4{ padding:0px 5px; }

.pricing_wrraper_statistics p{ font-size: 13px; }

#buy_plan_popup button.close{ top: 0px; right: 0px; border: 0px; border-radius: 0px; border-bottom-left-radius: 100px; line-height: 10px; }


/* login */

.login_wrap{ width: 100%; }

.login_register_switcher ul li{ width: 49%; }

.login_register_switcher ul li a{ padding:10px; }

.login_wrap_right h3{ font-size: 20px; }

.user_stat::before,.user_stat::after,.user_stat figure::before,.user_stat figure::before,.user_stat h4::before,.user_stat h4::after,.user_stat.last figure::before,.user_stat.last figure::after{ display: none; }

.login_wrap_right h3{ font-size: 16px; }

.user_stat h4{ font-size: 15px; line-height: 1.6; }

.login_bottom .form-group .form-control{ width: 100%; }

.get_opt_btn{  width: 100%;  }

.get_opt_btn button{ margin-top: 10px; float: left; }

.section_related_form{ padding:15px 10px; }

.login_wrap_right{ padding-left: 0px; }

/* pattern papers */

.elitm_section .col-sm-4{ width:33.33%;}

/* elitmus */

.qb_q{ width: 100%; float: left; }

.qb_opts{ width: 100%; float: left; }

}


@media screen and (max-width: 767px) { 

section{ margin: 5px 0px; }

.videos_nav h1.inr_title{ display: none; }

.videos_nav .navbar-toggle{ width: 100%; margin:0px 0px 10px 0px; text-align: left;}

.videos_nav .navbar-toggle h2{ margin:0px; text-align: left; text-transform: capitalize;  }

.videos_nav .navbar-toggle h2 i{ padding-right: 10px; color: #333 !important; }

.videos_nav .navbar-header{ height: auto; margin-bottom: 0px; padding:0px 15px; }

.videos_nav .navbar-collapse{ background: none; padding:0px;}

.videos_nav .navbar-nav{ margin: 0px; }

#videos_nav_collapse,#elit_nav_collapse{ position: absolute; width: 100%; left: 0px; background: #999; z-index: 3;}

.videos_nav .navbar-default .navbar-nav > li > a{ color: #1b1b42; }

.videos_nav .navbar-default .navbar-nav > li > a:hover{ color: #fff !important; }

.videos_nav .navbar-default .navbar-nav > li > a:focus,.videos_nav .navbar-default .navbar-nav > li > a:hover{ background: none !important; }

.video-wrapper_iframe::before, .video-wrapper_iframe::after { display: none;}

.videos_rht #main-desc{ padding-top: 0px; }

.videos_rht #main-desc a{ margin-top: 0px; }

.videos_rht #main-desc span{ font-size: 18px; }

.related_videos{ padding:0px; }

.related_videos img{ height: 160px; }

#home_video_popup{ padding-top: 30px }

/* pricing */

#buy_plan_popup button.close{ top: 0px; right: 0px; border: 0px; border-radius: 0px; border-bottom-left-radius: 100px; line-height: 10px; }

.pricing_wrraper_statistics,.pricing_wrraper_bottom_row,.pricing_features_includes_col{ width: 100%; }

.pricing_wrraper_title h2{ font-size: 22px; }

.pricing_wrraper_title p{ font-size: 16px; }

.pricing_wrraper_statistics .pt_icon{ float: left; margin-right:10px; height: 75px;border-bottom: 0px; }

.pricing_wrraper_statistics .pt_icon i.fa{ line-height: 75px; }

.pricing_wrraper_statistics .pt_icon_info{ padding-top: 0px; }

.pricing_wrraper_top .pt_box{ text-align: left; }

.pt_box{ margin-top: 5px; }

.pricing_wrraper_top .pt_box h4{  margin-top: 10px; }

.pricing_features_includes_col ul li{ font-size: 14px; }

.pricing_features_includes_col{ padding-left: 0px; }

#buy_plan_popup .modal-dialog{ width:100%; margin:20px 0px; }

.pricing_wrraper_statistics .pt_icon{ position: relative; top: 0px; left: 0px; }
/*bootstrap tabbles*/

/* Force table to not be like tables anymore */
#no-more-tables table, 
#no-more-tables thead, 
#no-more-tables tbody, 
#no-more-tables th, 
#no-more-tables td, 
#no-more-tables tr { 
display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr { 
position: absolute;
top: -9999px;
left: -9999px;
}

#no-more-tables table{ border:0px;} 

#no-more-tables tr { border: 1px solid #ccc; margin-bottom:7px; clear:both;}

.dashboard-rht #no-more-tables tr{ background:#bd5899; color:#fff;}

.syllabus #no-more-tables tr:first-child{ display:none;}

#no-more-tables td { 
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid #eee; 
position: relative;
white-space: normal;
text-align:center;padding: 4px 10px;padding-left:40% !important; word-break:break-all;
}

#no-more-tables td:before { 
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: 6px;
width: 45%; 
padding-right: 10px; 
white-space: nowrap;
text-align:left;
font-weight: bold;
}

.syllabus .table-bordered > tbody > tr > td.pdng1{ padding:0px; clear:both;}

/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }

/* login */


.login_wrap_right h3{ font-size: 20px; }

.login_wrap_right h3{ font-size: 16px; }

.user_stat h4{ font-size: 15px; line-height: 1.6; }

.section_related_form{ padding:15px 10px; }

.login_wrap_right{ margin-top: 30px; }

.login_wrap_right{ padding-left: 0px; }

.login_col{ padding-right: 15px; }



/* mobile popup */

.desktp_popup{ display:none;}

.mob_popup{ display:block;}

.cnt223{ width:90% !important;}

/* elitmus */

.cmnt_user_img textarea.form-control{ width:92%; }

.oc_user_img img{ width:32px; height:32px;}

.qs_vsoltn_brief iframe{ height: auto; }

.qb_q{ width: 100%; float: left; }

.qb_opts{ width: 100%; float: left; }

.qs_vsoltn_brief iframe{ width: 100%; }

}




@media screen and (max-width: 640px) {

	.related_videos .col-xs-6{ width: 100%; }

	.wrapper_iframe_bg{ height: auto; }

	.video-wrapper_iframe iframe{ height: 250px !important; margin-top: 0px !important; }

	.inrright_cntr.videos_rht .gate h1{ font-size: 18px; margin-bottom: 5px; }


.video_iframe iframe{ height: 175px; }

.pricing_wrraper_statistics .pt_icon{ border-right: 0px; width: auto; height: auto;}

#home_video_popup .modal-body{ padding:10px; }

.login_wrap{ width: 100%; }

.login_wrap_right h3{ font-size: 20px; }

.user_stat::before,.user_stat::after,.user_stat figure::before,.user_stat figure::before,.user_stat h4::before,.user_stat h4::after,.user_stat.last figure::before,.user_stat.last figure::after{ display: none; }

.login_wrap_right h3{ font-size: 16px; }

.user_stat h4{ font-size: 15px; line-height: 1.6; }

.login_bottom .form-group .form-control{ width: 100%; }

.get_opt_btn{  width: 100%;  }

.get_opt_btn button{ margin-top: 10px; float: left; }

.section_related_form{ padding:15px 10px; }

.login_register_switcher ul li a{ padding:10px; }

/* elitmus */

.qb_q p{ font-size:14px;}

.qs_btm_actions{ width:100%; position:relative; top:0px; margin:10px 0px; text-align:left;}

.cmnt_user_img textarea.form-control{ width:89%;}

.oc_user_img{ width:10%;}

.oc_cmnt_info{ width:88%;}

.comnt_wrp{ padding:0px;}

.cmnt_user_img{ padding:10px 5px;}

.qs_vsoltn_brief iframe{ width: 100%; }


 }

@media screen and (max-width: 480px) { 

.inrright_cntr.videos_rht .gate h1{ font-size: 16px; line-height: 1.6; }

.fb_share_btn{ top: inherit; bottom: 0px;  border-radius: 100px;}

.fb_share_btn h4 b { display: inline-block; padding-left: 5px; }

.pricing_wrraper_statistics .pt_icon i.fa{padding-left: 10px; font-size: 20px; line-height: 1.8;}

.video_iframe iframe{ height: 150px; }

.pricing_wrraper_top .col-md-12{ padding:0px; }

#buy_plan_popup table tr td{ font-size: 14px; }

.login_register_switcher ul li{ width:49%; }

.forgot_password{ padding-right: 0px; }

.textDiv_Seconds:before{ top: 0px; }

/* pattern papers */

.rel_pattern_info h3{ font-size:17px;}

.paten_related_info ul{ padding-left:15px;}

.pattern_table table tr td,.pattern_table tr.Total td{ font-size:13px;}

.elitm_wrapper .breadcrumb{ padding:8px 5px;}

.elitm_wrapper .breadcrumb{ font-size:13px;}

.elitm_wrapper .breadcrumb ul li i{ margin:0px 5px;}

.perchart table tr.total_row td{ font-size:16px;}

/* elitmus */

.qs_btm_actions label{ margin:0px; font-size:11px;}

.qs_box{ font-size:14px; padding:10px 5px;}

.cmnt_user_img textarea.form-control{ width:82%; padding:6px 10px; font-size:14px;}

.cmnt_user_img img{ width:30px; height:30px;}

}

/* header styles */

/*header .navbar-nav > li > a{ padding:27px 12px !important;}

header .navbar-nav li.desktop_tel ul.dropdown-menu{ left: inherit; right: 0px;  }

header .navbar-nav > li > .dropdown-menu li{ background: #ddd; color: #000; }

header .navbar-nav > li:hover{ background: #1b1b42; color: #fff; }

header .navbar-nav > li:hover a{ color: #fff; }

header .navbar-nav > li > .dropdown-menu li a{ color: #000; }

header .navbar-nav > li > .dropdown-menu li:hover a{ color: #fff; }

header .navbar-nav > li > .dropdown-menu{ border-radius: 0px; border: 0px; }

.main_nav ul li.dropdown li:last-child{ border-bottom:0px; border-bottom-color: rgba(0,0,0,0.1); }

.main_nav ul li.online_Adm{ text-align: center; padding-top: 8px; margin-left: 10px;}

.main_nav ul li.online_Adm b{ display: block; }

.main_nav ul li.online_Adm a{ padding:5px 12px !important; border: 2px solid #217640; color: #217640; border-radius: 10px;}

.main_nav ul li.online_Adm a:hover{ background: #fff; color: #1b1b42; border-color: #1b1b42;}

header .navbar-nav > li:hover{ background: #fff; }*/