@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');*{margin:0;padding:0;}
body{font-family:'Open Sans', sans-serif;font-size:14px;line-height:24px;font-weight:400;color:#3b3b3b;}
h1, h2, h3, h4, h5, h6{margin-top:0;font-family:'Raleway', sans-serif;}
a{color:#7f7f7f;transition:all 0.3s ease 0s;}
a:hover{color:#000000;text-decoration:none;}
a, a:hover, a:active, a:focus{outline:none;text-decoration:none;}
.no-padding{padding:0 !important;}
.no-margin{margin:0 !important;}
.top-space{margin-top:20px;}
.btn, .btn *{transition:all 0.3s ease 0s;}
.offset-top-30{margin-top:30px;}
.offset-top-60{margin-top:60px;}
.offset-top-90{margin-top:90px;}
.center{text-align:center;}
section{float:left;width:100%;margin:46px 0;}
.fa-youtube{background:#bb0000!important;color:white!important;}
.fa-facebook{background:#3B5998!important;color:white!important;}
.fa:hover{opacity:0.7;}
@media (min-width:992px){.col-md-5{width:30%;}
}
section h2{color:#333;font-size:28px;font-weight:600;text-transform:uppercase;text-align:center;margin:0 0 28px 0;letter-spacing:1px;position:relative;padding-bottom:18px;}
#section1 h2{color:#333;font-size:28px;font-weight:600;text-transform:uppercase;text-align:center;margin:0 0 28px 0;letter-spacing:1px;position:relative;padding-bottom:6px;}
section h2 span{border-bottom:solid 3px #8ed693;}
section h2 span.sub-text{display:block;font-size:16px;margin-top:-2px;border-bottom:none;letter-spacing:2px;}
section p.des{color:#8f8f8f;font-size:16px;line-height:28px;text-align:center;margin:0 200px 50px;}
.inner-wrapper p{margin-bottom:15px;font-size:15px;}
#dvLoading{background:url(../../images/img/loader.gif) no-repeat center center #fff;width:100%;height:100%;position:fixed;z-index:9999999;}
header.home{position:relative;}
.home .top-wrapper{padding:0;top:0;z-index:9;}
.top-wrapper{padding:15px 0 50px;width:100%;}
.login-signup{position:relative;}
.login-signup li{list-style:none;display:inline-block;margin:0 0 0 25px;}
.login-signup li a{color:#fff;}
.login-signup li i{padding:0 8px 0 0;}
.signup-form, .login-form{background:#ffd034;padding:25px 45px;position:absolute;right:0;text-align:left;top:42px;transform:rotateX(90deg);transform-origin:center top 0;transition:all 0.6s ease 0s;visibility:hidden;width:460px;z-index:-99;}
.signup:hover .signup-form, .login:hover .login-form{margin-top:0;transform:rotateX(0deg);visibility:visible;z-index:99999;}
.login:hover a.link:after, .signup:hover a.link:after{content:"\f0d8";font-family:'Fontawesome';font-size:24px;color:#ffd034;display:inline-block;position:absolute;bottom:-24px;}
.login:hover a:after{left:50px;}
.signup:hover a:after{right:18px;}
.signup-form h4, .login-form h4{color:#000;font-size:24px;margin:0 0 20px 0;}
.top-wrapper .login-signup .form-group{display:inline-block;width:100%;}
.top-wrapper .login-signup .form-group i{float:left;width:14%;background:#000000;height:50px;line-height:50px;color:#fff;text-align:center;font-size:18px;border-radius:6px 0 0 6px;padding:0;}
.top-wrapper .login-signup .form-group span{float:left;width:14%;background:#cecece;height:50px;line-height:50px;color:#666666;text-align:center;font-size:16px;border-radius:6px 0 0 6px;padding:0;}
.top-wrapper .login-signup input{color:#333;font-size:14px;height:50px;line-height:50px;padding-left:2%;width:86%;border:1px solid #e5e5e5;margin:0;float:left;border-radius:0 6px 6px 0;}
.top-wrapper .login-signup label{font-size:15px;color:#000000;font-weight:300;}
.top-wrapper .login-signup .signup label{font-size:13px;}
.top-wrapper .login-signup .forget-password a{font-size:15px;color:#000000;font-weight:300;}
.top-wrapper .login-signup [type="checkbox"]:not(:checked), .top-wrapper .login-signup [type="checkbox"]:checked{position:absolute;left:-9999px;}
.top-wrapper .login-signup [type="checkbox"]:not(:checked) + label, .top-wrapper .login-signup [type="checkbox"]:checked + label{position:relative;padding-left:30px;cursor:pointer;}
.top-wrapper .login-signup [type="checkbox"]:not(:checked) + label:before, .top-wrapper .login-signup [type="checkbox"]:checked + label:before{content:'';position:absolute;left:0;top:2px;width:20px;height:20px;background:#ffffff;border-radius:50%;}
.top-wrapper .login-signup [type="checkbox"]:not(:checked) + label:after, .top-wrapper .login-signup [type="checkbox"]:checked + label:after{content:'✔';position:absolute;top:8px;left:5px;font-size:12px;line-height:0.8;color:#000;transition:all .2s;}
.top-wrapper .login-signup [type="checkbox"]:not(:checked) + label:after{opacity:0;transform:scale(0);}
.top-wrapper .login-signup [type="checkbox"]:checked + label:after{opacity:1;transform:scale(1);}
.top-wrapper .login-signup .btn{background:#000000;border:0 none;color:#fff;font-size:16px;text-transform:uppercase;padding:10px 0;transition:all 0.3s ease 0s;width:100%;text-align:center;border-radius:5px;margin:35px 0 0 0;}
.contact-info{margin:17px 0 0 0;}
.contact-info li{color:#ffd034;display:inline-block;font-size:12px;padding:0 26px;vertical-align:top;background:url(../../images/img/contact-divider.png) no-repeat left 10px;}
.contact-info li:first-child, .contact-info li:last-child{background:none;padding-left:0;}
.contact-info li i{color:#006b30;margin-right:10px;font-size:24px;vertical-align:top;padding:8px 0 0 0;}
.contact-info li p{color:#262e2a;font-size:12px;font-weight:400;line-height:15px;display:inline-block;vertical-align:middle;line-height:18px;margin:0;}
.contact-sub{color:#262e2a !important;font-size:12px !important;font-weight:400 !important;line-height:15px;}
.contact-info li p span, .contact-info li p a{color:#006b30;font-size:15px;font-weight:600;}
@media(max-width:767px){.contact-sub{display:none;}
}
.contact-info li.quote{padding:0;margin:15px 0 0 0;}
.contact-info li.quote a{background:#8ed693;border-radius:4px;padding:8px 18px;font-weight:600;color:#fff;font-size:12px;text-transform:uppercase;}
.contact-info li.quote1{padding:0;margin:15px 0 0 0;}
.contact-info li.quote1 a{background:#1b1b42;border-radius:4px;padding:8px 18px;font-weight:600;color:#fff;font-size:12px;text-transform:uppercase;}
.contact-info li.quote .quote-popup{background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;height:100%;left:0;position:fixed;top:0;width:100%;z-index:9999;display:none;}
.contact-info li.quote .quote-popup .fa.fa-times{background:#000000;color:#fff;position:absolute;top:0;right:0;padding:10px;margin:0;font-size:16px;cursor:pointer;}
.contact-info li.quote .quote-popup .free-quote{bottom:0;height:520px;left:0;margin:auto;position:absolute;right:0;top:0;width:620px;background:#8ed693;padding:35px 50px;transition:all 0.3s ease 0s;}
.contact-info li.quote .quote-popup .free-quote h2{font-size:26px;font-weight:400;color:#000;text-transform:uppercase;background:url(../../images/img/free-quote-header.png) no-repeat left 4px;padding:0 0 6px 50px;line-height:24px;border-bottom:solid 1px #000000;margin:0 0 22px 0;}
.contact-info li.quote .quote-popup .free-quote h2 span{font-size:15px;font-weight:300;text-transform:capitalize;}
.contact-info li.quote form .form-group{display:inline-block;width:100%;}
.contact-info li.quote form .form-group input, .contact-info li.quote form .form-group textarea{color:#333;font-size:14px;height:40px;line-height:40px;padding-left:2%;width:86%;border:1px solid #e5e5e5;margin:0;float:left;border-radius:0 6px 6px 0;}
.contact-info li.quote form .form-group textarea{border-radius:6px;width:100%;height:90px;line-height:18px;padding:10px;}
.contact-info li.quote form .form-group i{float:left;width:14%;background:#000000;height:40px;line-height:40px;color:#fff;text-align:center;font-size:18px;border-radius:6px 0 0 6px;padding:0;margin:0;}
.contact-info li.quote form .form-group span{float:left;width:14%;background:#cecece;height:40px;line-height:40px;color:#666666;text-align:center;font-size:16px;border-radius:6px 0 0 6px;padding:0;}
.contact-info li.quote form .btn{background:#000000;border:0 none;color:#fff;font-size:16px;text-transform:uppercase;padding:10px 0;transition:all 0.3s ease 0s;width:100%;text-align:center;border-radius:5px;font-weight:600;}
.contact-info li .what-u-get{border:dashed 1px #020200;padding:20px 0 0 0;border-radius:5px;}
.contact-info li .what-u-get h3{color:#000000;font-size:18px;font-weight:400;text-transform:uppercase;padding:0 16px 16px;border-bottom:dashed 1px #020200;}
.contact-info li .what-u-get ul li{padding:0;color:#000;font-size:14px;padding:16px;border-bottom:dashed 1px #020200;list-style:none;background:none;width:100%;}
.contact-info li .what-u-get ul li i{color:#000;font-size:14px;padding:3px 0 0 0;}
.contact-info li .what-u-get ul li:last-child{border:none;padding:0;}
.contact-info li .what-u-get img{width:100%;height:auto;border-radius:0 0 5px 5px;}
.affix.fadeInDown{animation-delay:0s;animation-direction:normal;animation-duration:0.5s;animation-fill-mode:forwards;animation-iteration-count:1;animation-name:fadeInDown !important;animation-play-state:running;animation-timing-function:ease;}
.fadeInDown{animation-name:none !important;}
.affix.navigation, .home .affix.navigation{margin:0;}
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
.dropdown-menu{padding:1px 0;}
.home .navigation{float:left;width:100%;background-color:#ffffff;z-index:99;top:0;margin:0px 0 0;-moz-box-shadow:20px 20px 20px #FC0;box-shadow:0px 7px 21px #9E9E9E;z-index:99;}
.navigation{padding:0;float:left;width:100%;background-color:#030303;z-index:99;top:0;margin:50px 0 0 0;}
.navbar-default{background-color:inherit;border-color:inherit;}
.navbar{border-radius:0;min-height:auto;margin:0;border:none;}
.navbar-brand{padding:11px 0 0;height:auto;display:none;}
.navbar-nav > li:first-child{padding:0;}
.navbar-default .navbar-nav > li > a{color:#1b1b42;font-size:12px;text-transform:uppercase;font-weight:600;}
.navbar-default .navbar-nav > li > a > i{margin-left:5px;}
.navbar-nav li #dialup{padding:22px 15px!important;width:62px!important;}
.navbar-nav li #dialup .fa-phone{font-size:28px!important;}
.navbar-nav > li > a{padding:27px 16px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:#1b1b42;color:white;}
.navbar-default .navbar-nav > li.mega-menu .list-unstyled{padding:0 0 15px;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{background-color:inherit;color:#2f506c;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background-color:#8ed693;color:#000;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{color:white;background-color:#1b1b42;}
.dropdown-menu > li > a, .mega-menu li a{color:#000;margin:0;padding:10px 20px;font-size:14px;font-weight:400;display:block;text-transform:capitalize;}
.navbar-nav > li > .dropdown-menu li{top:100%;padding:0;box-shadow:none;font-size:16px;text-transform:uppercase;border-radius:0;background:#8ed693;border:none;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .mega-menu li a:focus, .mega-menu li a:hover{background:#1b1b42;color:#fff;text-decoration:none;}
.nav > li.megamenu{position:inherit;}
.navbar-nav > li > .dropdown-menu.mega-menu{left:inherit;width:100%;background:#ffd034 url(../../images/img/nav-bg.png) no-repeat right bottom;}
.mega-menu li{list-style:none;}
.mega-menu img{width:100%;height:auto;position:absolute;top:15px;right:30px;}
.search{padding:14px 0 14px 0;}
.search i.fa-search{cursor:pointer;color:#fff;}
#search-form{position:absolute;right:15px;top:52px;z-index:10;}
.search #search-form.open #search{width:350px;}
#search-submit{display:none;}
.search #search-form #search{background-color:#1a2530;color:#fff;height:50px;padding:0 40px 0 25px;transition:all 0.3s ease 0s;width:0;border:none;margin:0;}
.search #search-form .close{color:#878787;cursor:pointer;opacity:1;padding:0;position:absolute;right:13px;top:8px;text-shadow:none;}
.banner-wrapper{width:100%;float:left;}
.banner-wrapper .owl-pagination{display:none;}
.banner-wrapper .item img{display:block;width:100%;height:auto;}
.banner-wrapper .owl-theme .owl-controls{margin-top:0;}
.banner-wrapper .owl-theme .owl-controls .owl-buttons div{width:37px;height:30px;border-radius:0;opacity:1;font-size:0;margin:0;padding:0;position:absolute;top:50%;}
.banner-wrapper .owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:0.5;}
.banner-wrapper .owl-theme .owl-controls .owl-buttons .owl-prev{background:url(../../images/img/slider-left-arrow.jpg) no-repeat left top;left:0;display:none;}
.banner-wrapper .owl-theme .owl-controls .owl-buttons .owl-next{background:url(../../images/img/slider-right-arrow.jpg) no-repeat left top;right:0px;display:none;}
.banner-wrapper .banner-caption{position:absolute;text-align:center;top:50%;width:100%;}
.banner-wrapper .banner-caption h2, .banner-wrapper .banner-caption h3, .banner-wrapper .banner-caption h4{color:#fff;text-transform:uppercase;font-weight:400;}
.banner-wrapper .banner-caption h2{font-size:42px;}
.banner-wrapper .banner-caption h3{font-size:18px;}
.banner-wrapper .banner-caption h4{font-size:32px;line-height:44px;}
.banner-wrapper .banner-caption a{font-size:18px;font-weight:400;text-transform:uppercase;border:solid 1px #ffffff;padding:12px 20px;color:#fff;margin:22px 0 0 0;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.banner-wrapper .banner-caption a:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#ffd034;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.banner-wrapper .banner-caption a:hover:before, .banner-wrapper .banner-caption a:focus:before, .banner-wrapper .banner-caption a:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);}
.banner-wrapper .banner-caption a:hover{color:#000;border:solid 1px #ffd034;}
.banner-wrapper .banner-caption a i{padding:0 0 0 10px;}
.inner-banner{background-image:url("../../images/img/inner-banner.jpg");background-position:left center;background-size:cover;float:left;padding:0;position:relative;width:100%;z-index:2;min-height:182px;}
.inner-banner h2{font-size:20px;color:#8ed693;font-weight:600;position:absolute;top:42%;text-transform:uppercase;}
.inner-breadcrumb{background:#efefef;border-bottom:solid 1px #dedede;float:left;width:100%;}
.inner-breadcrumb ul li:first-child::before{display:none;font-size:0;}
.inner-breadcrumb ul li:first-child{padding-left:0;}
.inner-breadcrumb ul li::before{color:#535353;content:"/ ";font-family:'fontawesome';font-size:12px;font-weight:normal;left:0;line-height:normal;margin-top:-7px;position:absolute;top:50%;}
.inner-breadcrumb ul{margin:0;padding:0;}
.inner-breadcrumb ul li{display:inline-block;padding:12px 8px 12px 14px;position:relative;color:#535353;font-size:14px;line-height:14px;}
.inner-breadcrumb ul li:last-child{font-weight:600;color:#000;}
.inner-breadcrumb ul li a{color:#535353;display:block;font-size:14px;line-height:14px;text-transform:capitalize;transition:all 0.3s ease-in-out 0s;}
.inner-breadcrumb ul li a:hover{color:#000;}
.callouts-wrapper .callout{background:#f2f2f2;border-bottom:solid 4px #ffd034;padding:20px 20px 10px 20px;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.callouts-wrapper .callout:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#ffd034;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.callouts-wrapper .callout:hover:before, .callouts-wrapper .callout:focus:before, .callouts-wrapper .callout:active:before{-webkit-transform:scaleY(1);transform:scaleY(1);}
.callouts-wrapper .callout:hover p, .callouts-wrapper .callout:hover a{color:#000;}
.callouts-wrapper .callout h3{color:#000;font-size:16px;font-weight:600;margin:0 0 10px 0;}
.callouts-wrapper .callout p{color:#757575;font-size:14px;font-weight:400;margin:0 0 10px 0;}
.callouts-wrapper .callout a{display:inline-block;text-align:right;width:100%;}
.callouts-wrapper .callout1{background:#f2f2f2;border:1px solid rgb(130, 130, 130);padding:20px 20px 10px 20px;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0px 5px 9px 0px grey;-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.callouts-wrapper .callout1 ul{padding-left:12px;}
.callouts-wrapper .callout1 ul li{color:#8ed693;}
.callouts-wrapper .callout1 ul li span{color:#3b3b3b;}
.services-wrapper{float:left;width:100%;margin:0;padding:42px 0;background-color:#3e9de2;background-size:cover;background-repeat:no-repeat;}
.services-wrapper .services{border:solid 1px #ccc;padding:50px 60px;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.services-wrapper .services:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#8ed693;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.services-wrapper .services:hover:hover:before, .services-wrapper .services:hover:focus:before, .services-wrapper .services:hover:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);}
.services-wrapper .services:hover h3, .services-wrapper .services:hover a, .services-wrapper .services:hover p{color:#000000;}
.services-wrapper .services img{margin:0 0 20px 0;}
.services-wrapper .services h3{color:#4d4d4d;font-size:18px;font-weight:600;margin:0 0 15px 0;}
.services-wrapper .services h3 span{padding-bottom:8px;display:block;font-size:22px;}
.services-wrapper .services a{color:#4d4d4d;font-weight:600;}
.services-wrapper p, .services-wrapper p.des{color:#4d4d4d;}
.gal-item{overflow:hidden;}
.gal-item .box{height:350px;overflow:hidden;}
.box img{height:100%;width:100%;object-fit:cover;-o-object-fit:cover;border-radius:3px;}
.gal-item a:focus{outline:none;}
.gal-item a:after{content:"\e003";font-family:'Glyphicons Halflings';opacity:0;background-color:rgba(0, 0, 0, 0.75);position:absolute;right:15px;left:15px;top:0px;bottom:0px;text-align:center;line-height:350px;font-size:30px;color:#fff;-webkit-transition:all 0.5s ease-in-out 0s;-moz-transition:all 0.5s ease-in-out 0s;transition:all 0.5s ease-in-out 0s;}
.gal-item a:hover:after{opacity:1;}
.modal-open .gal-container .modal{background-color:rgba(0, 0, 0, 0.4);}
.modal-open .gal-item .modal-body{padding:0px;}
.modal-open .gal-item button.close{position:absolute;width:25px;height:25px;background-color:#000;opacity:1;color:#fff;z-index:999;right:-12px;top:-12px;border-radius:50%;font-size:15px;border:2px solid #fff;line-height:25px;-webkit-box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.35);box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.35);}
.modal-open .gal-item button.close:focus{outline:none;}
.modal-open .gal-item button.close span{position:relative;top:-3px;font-weight:lighter;text-shadow:none;}
.gal-container .modal-dialogue{width:80%;}
.gal-container .description{position:relative;height:40px;top:-40px;padding:10px 25px;background-color:rgba(0, 0, 0, 0.5);color:#fff;text-align:left;}
.gal-container .description h4{margin:0px;font-size:15px;font-weight:300;line-height:20px;}
.gal-container .modal.fade .modal-dialog{-webkit-transform:scale(0.1);-moz-transform:scale(0.1);-ms-transform:scale(0.1);transform:scale(0.1);top:100px;opacity:0;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.gal-container .modal.fade.in .modal-dialog{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transform:translate3d(0, -100px, 0);transform:translate3d(0, -100px, 0);opacity:1;}
.projects-wrapper{margin:52px 0 32px;}
.projects-wrapper .tab-links{background:#f0f0f0;}
.projects-wrapper .tab-links:after{display:block;clear:both;content:'';}
.projects-wrapper .tab-links li{float:left;list-style:none;}
.projects-wrapper .tab-links a{padding:12px 35px;display:inline-block;font-size:16px;font-weight:600;color:#000000;transition:all linear 0.15s;text-decoration:none;position:relative;}
.projects-wrapper .tab-links a:hover{background:#ffd034;}
.projects-wrapper .tab-links a:hover:before, .projects-wrapper .tab-links li.active a:before, .projects-wrapper .tab-links li.active a:hover:before{content:"\f0d7";font-family:'Fontawesome';font-size:24px;color:#ffd034;display:inline-block;position:absolute;bottom:-16px;left:46%;}
.projects-wrapper .tab-links li.active a, .projects-wrapper .tab-links li.active a:hover{background:#ffd034;}
.projects-wrapper .tab-content{margin:30px 0 0 0;}
.projects-wrapper .tab{display:none;}
.projects-wrapper .tab.active{display:block;}
.choose-wrapper{float:left;width:100%;margin-top:-113px;background:url(../../images/img/choose-wrapper-bg.png) repeat left top;padding:24px 0 42px;}
.choose-wrapper .choose{padding:82px 18px 48px 33px;}
.choose-wrapper h2{}
.choose-wrapper .why-choose li{background:url(../../images/img/choose-icon.png) no-repeat left top;padding:0 0 0 70px;list-style:none;margin:0 0 60px 0;}
.choose-wrapper .why-choose li:last-child{margin:0;}
.choose-wrapper .why-choose li h3{color:#000000;font-size:16px;font-weight:600;margin:0 0 15px 0;}
.choose-wrapper .project-blog h2{color:#ffd034;margin:0 0 30px 0;}
.choose-wrapper .project-blog h2 span{color:#ffffff;}
.choose-wrapper .project-blog{background:#000;padding:83px 48px 91px;width:100%;}
.choose-wrapper .project-blog iframe{width:100%;height:270px;border:none;}
.choose-wrapper .project-blog .project{margin:0 0 30px 0;}
.choose-wrapper .project-blog .blog .owl-pagination{display:none;}
.choose-wrapper .project-blog .blog .item img{display:block;width:100%;height:auto;}
.choose-wrapper .project-blog .blog .owl-theme .owl-controls{margin-top:0;}
.choose-wrapper .project-blog .blog .owl-theme .owl-controls .owl-buttons div{width:20px;height:21px;border-radius:0;opacity:1;font-size:0;margin:0;padding:0;position:absolute;bottom:10px;}
.choose-wrapper .project-blog .blog .owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:0.5;}
.choose-wrapper .project-blog .blog .owl-theme .owl-controls .owl-buttons .owl-prev{background:url(../images/logos-left-arrow.jpg) no-repeat left top;right:40px;}
.choose-wrapper .project-blog .blog .owl-theme .owl-controls .owl-buttons .owl-next{background:url(../images/logos-right-arrow.jpg) no-repeat left top;right:10px}
.choose-wrapper .project-blog .blog .blog-content{position:absolute;bottom:0;width:100%;background:rgba(255, 255, 255, 0.9);padding:20px;}
.choose-wrapper .project-blog .blog .blog-content h3{color:#000000;font-weight:600;text-transform:uppercase;font-size:16px;margin:0;}
.choose-wrapper .project-blog .blog .blog-content p.date{font-weight:600;font-size:13px;}
.choose-wrapper .project-blog .blog .blog-content p{color:#000;margin:0;}
.choose-wrapper .project-blog .blog .blog-content ul{margin-bottom:5px;}
.choose-wrapper .project-blog .blog .blog-content ul li{list-style:none;display:inline-block;color:#000;padding:0 20px 0 0;}
.satisfied-wrapper{float:left;margin:90px 0;width:100%;}
.satisfied-wrapper .counter{text-align:center;background:#f2f2f2;padding:30px 0;}
.satisfied-wrapper .counter .number{font-size:40px;margin:0 0 32px 0;padding:0;color:#000000;font-weight:700;position:relative;}
.satisfied-wrapper .counter .number::before{background:#ffd034;content:"";height:3px;left:50%;margin-left:-20px;position:absolute;top:40px;width:40px;}
.satisfied-wrapper .counter p{font-size:16px;margin:0;padding:0;color:#000;font-weight:600;}
.testimonials-wrapper{background:#000;margin:0;}
.testimonials-content{padding:82px 48px 40px 33px;}
.testimonials-wrapper h2{color:#ffd034;text-align:left;}
.testimonials-wrapper h2 span{color:#ffffff;}
.testimonials-wrapper h3{color:#ffd034;font-size:16px;font-weight:600;}
.testimonials-wrapper h3 span{font-size:13px;font-weight:400;color:#ccc;}
.testimonials-wrapper .item p{font-size:15px;color:#f5f5f5;margin:0 0 20px 0;}
.testimonials-wrapper p::before{content:"";float:left;font-family:"Fontawesome";margin-right:20px;font-size:20px;}
.testimonials-wrapper p::after{content:"";display:inline-block;font-family:"Fontawesome";margin-left:20px;font-size:20px;}
.testimonials-wrapper .owl-pagination{display:none;}
.testimonials-wrapper .item img{display:block;width:100%;height:auto;}
.testimonials-wrapper .owl-theme .owl-controls{margin-top:0;}
.testimonials-wrapper .owl-theme .owl-controls .owl-buttons div{width:20px;height:21px;border-radius:0;opacity:1;font-size:0;margin:0;padding:0;position:absolute;bottom:40px;}
.testimonials-wrapper .owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:0.5;}
.testimonials-wrapper .owl-theme .owl-controls .owl-buttons .owl-prev{background:url(../../images/img/logos-left-arrow.jpg) no-repeat left top;right:78px;}
.testimonials-wrapper .owl-theme .owl-controls .owl-buttons .owl-next{background:url(../../images/img/logos-right-arrow.jpg) no-repeat left top;right:48px}
.partners{margin-bottom:80px;}
.partner-logos{margin:0 60px;}
.partners .owl-carousel .item{margin:0 15px;}
.partners .item img{width:100%;height:auto;border:solid 1px #d7d7d7;border-radius:5px;}
.partners .item img:hover{border:solid 1px #ffd034;}
.partners .owl-theme .owl-controls .owl-pagination{display:none;}
.partners .owl-theme .owl-controls .owl-buttons div{width:37px;height:30px;border-radius:0;opacity:1;font-size:0;margin:0;padding:0;position:absolute;top:42%;}
.partners .owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:0.5;}
.partners .owl-theme .owl-controls .owl-buttons .owl-prev{background:url(../../images/img/logos-left-arrow.jpg) no-repeat left top;left:-60px;}
.partners .owl-theme .owl-controls .owl-buttons .owl-next{background:url(../../images/img/logos-right-arrow.jpg) no-repeat left top;right:-75px;}
.inner-wrapper.about .owl-pagination{display:none;}
.inner-wrapper.about .item img{display:block;width:100%;height:auto;}
.inner-wrapper.about .owl-theme .owl-controls{margin-top:0;}
.inner-wrapper.about .owl-theme .owl-controls .owl-buttons div{width:20px;height:21px;border-radius:0;opacity:1;font-size:0;margin:0;padding:0;position:absolute;bottom:10px;}
.inner-wrapper.about .owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:0.5;}
.inner-wrapper.about .owl-theme .owl-controls .owl-buttons .owl-prev{background:url(../../images/img/logos-left-arrow.jpg) no-repeat left top;right:40px;}
.inner-wrapper.about .owl-theme .owl-controls .owl-buttons .owl-next{background:url(../../images/img/logos-right-arrow.jpg) no-repeat left top;right:10px}
.about .callout{background:#f2f2f2;border-bottom:solid 4px #ffd034;padding:20px 20px 10px 20px;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.about .callout:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#ffd034;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.about .callout:hover:before, .about .callout:focus:before, .about .callout:active:before{-webkit-transform:scaleY(1);transform:scaleY(1);}
.about .callout:hover p, .about .callout:hover a{color:#000;}
.about .callout h3{color:#000;font-size:16px;font-weight:600;margin:0 0 10px 0;}
.about .callout p{color:#757575;font-size:14px;font-weight:400;margin:0 0 10px 0;}
.about .callout a{display:inline-block;text-align:right;width:100%;}
.inner-wrapper h3{font-weight:600;}
.who-we .our-work{background:#f7f7f7;}
.who-we .our-work img{width:100%;height:auto;margin:0 0 25px 0;}
.who-we .our-work .content{padding:0 30px 20px 30px;}
.who-we .our-work h4{font-weight:600;}
.who-we .our-work a{background:#ffd034;color:#000;font-size:13px;font-weight:600;text-align:center;padding:6px 20px;margin:5px 0 0 0;display:inline-block;}
.who-we .our-work a:hover{background:#000;color:#ffd034;}
.side-wrapper .callout{border:solid 1px #ccc;border-left:solid 3px #ffd034;padding:25px;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;margin:0 0 30px 0;}
.side-wrapper .callout:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#ffd034;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.side-wrapper .callout p{margin:0;}
.side-wrapper .callout:hover:hover:before, .side-wrapper .callout:hover:focus:before, .side-wrapper .callout:hover:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);}
.side-wrapper .callout:hover h3, .side-wrapper .callout:hover a, .side-wrapper .callout:hover p{color:#000000;}
.side-wrapper .callout img{margin:0 0 20px 0;}
.side-wrapper .callout h3{color:#4d4d4d;font-size:16px;font-weight:600;margin:0 0 15px 0;}
.inner-wrapper.faq .panel-group{margin-bottom:0;}
.inner-wrapper.faq .panel-default > .panel-heading{background-color:#efefef;}
.inner-wrapper.faq .panel-heading{border-radius:0;padding:12px 18px;border:none;}
.inner-wrapper.faq .panel{border:none;border-radius:0;box-shadow:none;}
.inner-wrapper.faq .panel-title a{color:#000;}
.inner-wrapper.faq .panel-title a.collapsed{color:#7d7d7d;}
.inner-wrapper.faq .panel-title i{padding:0 10px 0 0;}
.tes-wrapper{background-color:#FFF;border:1px solid #e5e5e5;text-align:center;border-radius:6px;padding:0;margin:50px 0 0 0;}
.tes-wrapper img{display:block;width:100%;height:100%;border-radius:50%;}
.tes-wrapper span{border-radius:100px;display:inline-block;height:100px;width:100px;margin-bottom:10px;margin-top:-50px;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;}
.tes-wrapper p{padding:0 10px;}
.tes-wrapper a{display:inline-block;margin:20px 0;}
.tes-border-red{border:4px solid #eb5d68;}
.tes-border-green{border:4px solid #68C3A3;}
.tes-border-dark{border:4px solid #777;}
.tes-wrapper:hover span{-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.2);}
.tes-wrapper h3{border-top:1px solid #e5e5e5;margin:20px 0 0;padding:20px 0 30px;font-weight:400;}
.testimonials{background-attachment:fixed;background-image:url("../../images/44441.jpg");background-repeat:no-repeat;background-position:center top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;width:100%;height:561px;text-align:center;padding:74px 1px;margin:93px 0 0;float:left;position:relative;z-index:2;}
.testimonials:before{background:rgba(0, 0, 0, 0.6);bottom:0;content:"";left:0;opacity:0.9;position:absolute;right:0;top:0;z-index:-1;}
.testimonials blockquote{border-left:none;margin:0;}
.testimonials p{text-align:center;margin:0 0 30px;color:#1b1b42;line-height:28px;}
.testimonials p:before{content:"\f10d";font-family:'Fontawesome';float:left;margin-right:10px;}
.testimonials p:after{content:"\f10e";font-family:'Fontawesome';display:inline-block;margin-left:10px;}
.testimonials .item{text-align:center;}
.testimonials .item img{text-align:center;max-width:160%;width:109px;height:119px;text-align:center;line-height:100px;color:#fff;font-size:40px;border:2px solid #f7f5f4;margin:0 0 30px;padding:0;border-radius:48%;}
.testimonials h3{text-align:center;margin:0 0 17px;color:#1b1b42;font-size:18px;font-weight:600;}
.testimonials h3 span{font-size:13px;color:#777;}
.testimonials .carousel-control.left, .testimonials .carousel-control.right{display:none;}
.testimonials .carousel-indicators li{border:2px solid #fff;width:15px;height:15px;}
.testimonials .carousel-indicators .active{background-color:#fff;width:15px;height:15px;}
.testimonials .carousel-indicators{bottom:-30px;}
.testimonials.three{background:none;padding:0;}
.testimonials.three::before{background:none;}
.testimonials.three p{color:#3b3b3b;font-size:14px;}
.testimonials.three h3{color:#210a4a;font-size:21px;font-weight:700;}
.testimonials.three .carousel-indicators .active{background-color:#ffd034;}
.testimonials.three .carousel-indicators li{background-color:#ccc;border:none;}
.pricing-table p{margin:0 0 15px 0;}
.pricing-table p.space{margin:0 0 70px;}
.pricing-table .single-plan .pricing-wrapper{border:1px solid #727272;background:#fff;border-radius:10px;padding:40px 60px;-webkit-transition:.3s ease;transition:.3s ease;}
.pricing-table .single-plan .pricing-wrapper .pricing-head{text-align:center;}
.pricing-table .single-plan .pricing-wrapper .pricing-head h4{font-size:32px;font-weight:400;margin:0 0 5px 0;}
.pricing-table .single-plan .pricing-wrapper .pricing-head span{font-size:20px;font-weight:300;}
.pricing-table .single-plan .pricing-wrapper .pricing-currency{margin-bottom:20px;}
.pricing-table .single-plan .pricing-wrapper .pricing-currency p{text-align:center;font-size:76px;font-weight:600;margin-top:40px;}
.pricing-table .single-plan .pricing-wrapper .pricing-currency p sup{font-size:40px;font-weight:normal;left:10px;}
.pricing-table .single-plan .pricing-wrapper .pricing-currency p sub{font-size:22px;font-weight:normal;right:17px;bottom:0;}
.pricing-table .single-plan .pricing-wrapper .pricing-content ul li p span{float:right;}
.pricing-table .single-plan .pricing-wrapper .pricing-content .plan-purchase{text-align:center;}
.pricing-table .single-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn{background:#727272;color:#fff;font-size:20px;padding:10px 35px;margin-top:30px;display:inline-block;border-radius:3px;position:relative;z-index:1;text-align:center;}
.pricing-table .single-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn i{padding-left:5px;position:relative;top:1px;}
.pricing-table .single-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn:hover{text-decoration:none;color:#fff;}
.pricing-table .single-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn:before{background:#000;color:#fff;content:"";height:100%;left:0;position:absolute;top:0;width:0;z-index:-1;-webkit-transition:.3s ease;transition:.3s ease;border-radius:3px;}
.pricing-table .single-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn:hover:before{width:100%;color:#fff;}
.pricing-table .single-plan:hover .pricing-wrapper{border:1px solid #ffd034;box-shadow:0 5px 54px rgba(248, 207, 39, 0.2);}
.pricing-table .single-plan:hover .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn{background:#000;}
.pricing-table .single-plan:hover .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn:before{background:#727272;}
.pricing-table .featured-plan .pricing-wrapper{border:1px solid #ffd034;box-shadow:0 5px 54px rgba(248, 207,39, 0.2);}
.pricing-table .featured-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn{background:#000;}
.pricing-table .featured-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn:before{background:#727272;}
.pricing-table .container:hover .featured-plan .pricing-wrapper{border:1px solid #727272;box-shadow:none;}
.pricing-table .container:hover .featured-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn{background:#727272;}
.pricing-table .container:hover .featured-plan .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn:before{background:#000;}
.pricing-table .container:hover .featured-plan:hover .pricing-wrapper{border:1px solid #ffd034;box-shadow:0 5px 54px rgba(248, 207,39, 0.2);}
.pricing-table .container:hover .featured-plan:hover .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn{background:#000;}
.pricing-table .container:hover .featured-plan:hover .pricing-wrapper .pricing-content .plan-purchase a.buy-plan-btn:before{background:#727272;}
.comming-soon{background-image:url(../../images/img/comming-soon-bg.jpg);background-attachment:fixed;background-repeat:no-repeat;background-position:center bottom;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;width:100%;height:100%;text-align:center;}
.comming-soon:before{background:#000;bottom:0;content:"";left:0;opacity:0.6;position:absolute;right:0;top:0;}
.comming-soon .cmg{margin-bottom:120px;}
.comming-soon footer{position:fixed;bottom:0;margin:40px 0 0 0;}
.comming-soon .logo{padding:30px 0;display:inline-block;}
.comming-soon h3{border-top:1px solid #8f8f8f;color:#fff;font-size:30px;font-weight:600;padding:30px 0 0;text-transform:uppercase;}
.comming-soon ul li{display:inline-block;list-style:none;font-size:20px;margin:0 10px 0 0;padding:0;}
.comming-soon ul li span{display:inline-block;color:#6091ba;font-size:50px;}
.comming-soon .subscirbe p.sub{margin:0 0 10px 0;color:#ffd034;}
.comming-soon h4{margin:0 0 10px 0;color:#fff;font-size:22px;}
.comming-soon .subscirbe .form .form-group i{background:rgba(0, 0, 0, 0.8);border-radius:4px 0 0 4px;color:#fff;float:left;font-size:18px;height:50px;line-height:50px;padding:0;text-align:center;width:15%;}
.comming-soon .subscirbe .form .form-group{width:70%;float:left;}
.comming-soon .subscirbe .form input.form-control{background:#fff;border:none;border-radius:0;color:#666;width:85%;font-size:15px;font-weight:400;height:50px;line-height:50px;margin:0;padding:0 0 0 3%;text-align:left;}
.comming-soon .subscirbe .form input.bttn{background:#ffd034;border:none;border-radius:0 4px 4px 0;color:#000;cursor:pointer;float:left;font-size:16px;margin:0 0 0 -2px;padding:0;text-align:center;width:30%;height:50px;line-height:50px;}
.count-down{margin:30px 0;}
.count-down .countdown-row{width:100%;}
.count-down .countdown-row .countdown-section{display:inline-block;background:rgba(0, 0, 0, 0.6);padding:30px 0;text-align:center;border-right:solid 5px #4a4e4d;width:25%;}
.count-down .countdown-row .countdown-section:last-child{border:none;}
.count-down .countdown-row .countdown-amount{font-size:60px;font-weight:bold;display:block;color:#ffd034;margin:0 0 30px 0;}
.count-down .countdown-row .countdown-period{font-size:18px;color:#fff;}
.error-page{margin-top:56px;}
.error{text-align:center;}
.error h1{color:#6d6d6d;font-size:150px;font-weight:700;font-family:"Open Sans", sans-serif;}
.error h1 i{color:#ffd034;padding:0 10px;}
.error h2{color:#444444;margin:0 0 30px 0;}
.error a{font-size:18px;font-weight:400;text-transform:uppercase;border:solid 1px #000;padding:12px 20px;color:#000;margin:22px 0 0 0;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.error a:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#ffd034;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.error a:hover:before, .banner-wrapper .error a:focus:before, .error a:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);}
.error a:hover{color:#000;border:solid 1px #ffd034;}
.inner-wrapper .typography .headings{border-right:solid 1px #efefef;padding-right:30px;}
.inner-wrapper .typography h1{font-size:32px;}
.inner-wrapper .typography h2{font-size:28px;}
.inner-wrapper .typography h3{font-size:24px;}
.inner-wrapper .typography h4{font-size:22px;}
.inner-wrapper .typography h5{font-size:18px;}
.inner-wrapper .typography h6{font-size:16px;}
.inner-wrapper .typography h1, .inner-wrapper .typography h2, .inner-wrapper .typography h3, .inner-wrapper .typography h4, .inner-wrapper .typography h5, .inner-wrapper .typography h6{text-align:left;margin:0 0 10px 0;font-weight:600;color:#000;text-transform:capitalize;}
.inner-wrapper .typography p{margin:0 0 35px 0;}
.inner-wrapper .typography blockquote{font-size:14px;}
.inner-wrapper .typography .hover{color:#ffd034;}
.inner-wrapper .typography .active{color:#000;}
.inner-wrapper .typography .underline{text-decoration:underline;}
.inner-wrapper .typography .strike{text-decoration:line-through;}
.inner-wrapper .typography strong{color:#000;}
.inner-tabs .nav-tabs{background:#f0f0f0;border:none;}
.inner-tabs .nav-tabs li{margin:0;}
.inner-tabs .nav-tabs li a{color:#000000;display:inline-block;font-size:16px;font-weight:600;padding:12px 35px;position:relative;text-decoration:none;transition:all 0.15s linear 0s;margin:0;border:none;border-radius:0;}
.inner-tabs .nav-tabs li.active a, .inner-tabs .nav-tabs li.active a:hover, .inner-tabs .nav-tabs li a:hover{background:#ffd034;border:none;}
.inner-tabs .nav-tabs a:hover::before, .inner-tabs .nav-tabs li.active a::before, .inner-tabs .nav-tabs li.active a:hover::before{content:"\f0d7";font-family:'Fontawesome';font-size:24px;color:#ffd034;display:inline-block;position:absolute;bottom:-20px;left:46%;}
.inner-tabs .tab-content{margin:30px 0 0 0;}
.inner-tabs .with-bg .nav-tabs{background:none;}
.inner-tabs .with-bg .nav-tabs li{margin:0 2px 0 0;}
.inner-tabs .with-bg .nav-tabs li a{background:#f0f0f0;}
.inner-tabs .with-bg .nav-tabs li.active a, .inner-tab .with-bgs .nav-tabs li.active a:hover, .inner-tabs .with-bg .nav-tabs li a:hover{background:#ffd034;}
.inner-tabs .with-bg .tab-content{border:solid 1px #ffd034;margin:0;padding:20px;}
.inner-tabs .with-bg .nav-tabs a:hover::before, .inner-tabs .with-bg .nav-tabs li.active a::before, .inner-tabs .with-bg .nav-tabs li.active a:hover::before{content:" ";}
.inner-wrapper.faq .panel-group.two .panel-collapse{border-left:solid 1px #efefef;border-right:solid 1px #efefef;border-bottom:solid 1px #efefef;border-top:none;}
.inner-wrapper.faq .panel-group.two .panel-default > .panel-heading{border-radius:5px;border:solid 1px #efefef;background:none;}
.inner-wrapper.faq .panel-group.two .panel-default > .panel-heading + .panel-collapse > .panel-body{border:none;}
.inner-wrapper.faq.toggle .panel-title{position:relative;}
.inner-wrapper.faq.toggle .panel-title a{display:block;}
.inner-wrapper.faq.toggle .panel-title a.collapsed:after{content:"\f067";font-family:"FontAwesome";position:absolute;right:0;}
.inner-wrapper.faq.toggle .panel-title a:after{content:"\f068";font-family:"FontAwesome";position:absolute;right:0;}
.count-downs-classic .count-down{margin-bottom:0;}
.count-downs-classic .count-down .countdown-row .countdown-section{background:none;padding:0;border:none;text-align:left;}
.count-downs-classic .count-down .countdown-row .countdown-amount{border:1px solid #e7e7e7;height:80px;width:80px;line-height:80px;text-align:center;border-radius:50%;font-size:20px;color:#222222;display:inline-block;margin:0 20px 0 0;}
.count-downs-classic .count-down .countdown-row .countdown-period{color:#333;text-align:center;}
.count-number{background-image:url(../../images/img/section-bg.jpg);background-attachment:fixed;background-repeat:no-repeat;background-position:center top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;width:100%;height:100%;text-align:center;padding:90px 0;margin:90px 0 0;float:left;position:relative;z-index:2;}
.count-number:before{background:rgba(0, 0, 0, 0.6);bottom:0;content:"";left:0;opacity:0.6;position:absolute;right:0;top:0;z-index:-1;}
.count-number h2{color:#ffd034;}
.count-number h2 span{border-bottom:3px solid #fff;}
.count-number .counter{text-align:center;background:rgba(0, 0, 0, 0.7);padding:30px 0;}
.count-number .counter .number{font-size:40px;margin:0 0 32px 0;padding:0;color:#ffd034;font-weight:700;position:relative;}
.count-number .counter .number::before{background:#ffd034;content:"";height:3px;left:50%;margin-left:-20px;position:absolute;top:40px;width:40px;}
.count-number .counter p{font-size:16px;margin:0;padding:0;color:#fff;font-weight:600;}
.with-icon{margin:90px 0 0 0;text-align:center;float:left;width:100%;}
.with-icon .counter .number{font-size:40px;margin:0 0 10px 0;padding:0;color:#222222;font-weight:600;}
.with-icon .counter i{width:80px;height:80px;line-height:80px;border-radius:50%;font-size:20px;color:#636363;border:solid 1px #e7e7e7;margin:0 0 15px 0;}
.with-icon .counter p{font-size:16px;margin:0;padding:0;color:#333;}
.general-services .services{border:solid 1px #ccc;padding:25px;display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;}
.general-services .services:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#ffd034;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.general-services .services:hover:hover:before, .general-services .services:hover:focus:before, .general-services .services:hover:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);}
.general-services .services:hover h3, .general-services .services:hover a, .general-services .services:hover p{color:#000000;}
.general-services .services img{margin:0 0 20px 0;}
.general-services .services h3{color:#4d4d4d;font-size:16px;font-weight:600;margin:0 0 15px 0;}
.general-services .services a{color:#4d4d4d;font-weight:600;}
.general-services p{color:#4d4d4d;}
.recon-services .services{text-align:center;border:solid 1px #ccc;padding:25px;}
.grand-amenities .amen-blk{text-align:center;padding:25px;}
.recon-services .services i{margin:0 0 20px 0;background:#ffd034;width:70px;height:70px;line-height:70px;text-align:center;color:#fff;border-radius:50%;font-size:20px;}
.grand-amenities .amen-blk img{margin:0 0 20px 0;}
.recon-services .services h3, .grand-amenities .amen-blk h3{color:#000;font-size:16px;font-weight:600;margin:0 0 15px 0;}
.recon-services .services a{color:#4d4d4d;font-weight:600;}
.recon-services p, .grand-amenities p{color:#4d4d4d;}
.single-services img{margin:0 0 15px 0;width:100%;height:auto;}
.single-services .services{text-align:center;border:solid 1px #ccc;padding:25px;margin:0 0 30px 0;}
.single-services .services i{margin:0 0 20px 0;background:#ffd034;width:70px;height:70px;line-height:70px;text-align:center;color:#fff;border-radius:50%;font-size:20px;}
.single-services .services h3{color:#000;font-size:16px;font-weight:600;margin:0 0 15px 0;}
.single-services p{color:#4d4d4d;}
.single-services .unordered-list ul li{list-style:none;}
.single-services .unordered-list ul li::before{content:"\f105";font-family:"FontAwesome";font-size:14px;padding:0 10px 0 0;}
.single-services .unordered-list.no-space{margin:0 0 10px;}
.single-services .unordered-list ul{margin:0 0 10px 30px;}
.single-services .ordered-list ol{margin:0 0 10px 46px;}
.single-services .ordered-list{margin:0 0 10px;}
.single-services blockquote{border-left:3px solid #eee;font-size:14px;margin:0 0 20px;padding:10px 20px;}
.inner-wrapper.projects .our-work{background:#f7f7f7;}
.inner-wrapper.projects .our-work img{width:100%;height:auto;margin:0 0 25px 0;}
.inner-wrapper.projects .our-work .content{padding:0 30px 20px 30px;}
.inner-wrapper.projects .our-work h4{font-weight:600;}
.inner-wrapper.projects .our-work a{background:#ffd034;color:#000;font-size:13px;font-weight:600;text-align:center;padding:6px 20px;margin:10px 0 0 0;display:inline-block;}
.inner-wrapper.projects .our-work a:hover{background:#000;color:#ffd034;}
.inner-projects h3{font-size:16px;font-weight:600;color:#000;}
.inner-projects ul li{display:inline-block;list-style:none;margin:0 8px 0 0;}
.inner-projects img{width:100%;height:auto;margin:15px 0 0 0;}
.inner-projects a{color:#000;font-weight:600;}
.inner-wrapper.projects-gallery{margin-bottom:60px;}
.inner-wrapper.projects-gallery .gal-item{margin-bottom:30px;}
.inner-wrapper.projects-gallery .gal-item .gal-list:hover{background:#8ed693;}
.inner-wrapper.projects-gallery .gal-item .gal-list:hover h3{color:#fff;}
.inner-wrapper.projects-gallery .gal-item .gal-list{border:dashed 1px rgba(219, 163, 49, 0.86);padding:10px;transition:all 0.3s ease 0s;}
.inner-wrapper.projects-gallery .gal-item h3{text-align:center;padding:15px 0;font-size:20px;font-weight:600;margin:0;text-transform:uppercase;}
.inner-wrapper.projects-gallery .gal-item .box{height:350px;overflow:hidden;position:relative;}
.inner-wrapper.projects-gallery .gal-item .box::before{background:rgba(0, 0, 0, 0.6) none repeat scroll 0 0;bottom:-20px;content:"";left:-20px;opacity:0;position:absolute;right:-20px;top:-20px;transition:all 0.35s ease-out 0.2s;visibility:hidden;z-index:1;}
.inner-wrapper.projects-gallery .gal-item .box:hover::before{opacity:1;transition-delay:0s;visibility:visible;}
.inner-wrapper.projects-gallery .gal-item .box .zoom{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;bottom:0;left:0;opacity:0;padding-left:15px;padding-right:15px;position:absolute;right:0;top:0;transform:translateY(-10%);transition:all 0.35s ease-out 0s;visibility:hidden;z-index:2;text-align:center;color:#d3d3d3;display:flex;flex-direction:column;justify-content:center;}
.inner-wrapper.projects-gallery .gal-item .box:hover .zoom, .gal-item .box:hover .zoom{opacity:1;transform:translateY(0px);visibility:visible;}
.inner-wrapper.projects-gallery .gal-item .box .zoom::before, .gal-item .box .zoom::before{bottom:10px;content:"";left:10px;position:absolute;right:10px;top:10px;transition:all 0.35s ease-out 0s;}
.inner-wrapper.projects-gallery .gal-item .box:hover .zoom::before, .gal-item .box:hover .zoom::before{bottom:20px;left:20px;right:20px;top:20px;}
.inner-wrapper.projects-gallery .box img{height:100%;width:100%;object-fit:cover;-o-object-fit:cover;}
.inner-wrapper.projects-gallery .gal-item a:focus{outline:none;}
.inner-wrapper.projects-gallery .gal-item a::after{background:none;}
.inner-wrapper.projects-gallery .gal-item a i{color:#fff;font-size:30px;}
.current-Projects h2{text-align:left;font-size:18px;margin:0 0 24px 0;}
.current-Projects h2::after{background-color:#ffd034;content:"";display:block;height:3px;margin:10px 0 0;width:40px;}
.current-Projects img{width:100%;height:auto;}
.current-Projects h3{color:#000000;font-size:14px;margin:0 0 5px;}
.current-Projects h3 a{color:#000;}
.inner-projects h2{text-align:left;font-size:20px;margin:0 0 20px 0;}
.inner-projects .comments{background:#f5f5f5;margin:10px 0 30px;padding:20px;float:left;width:100%;}
.inner-projects .comments p{margin:10px 0 0 0;}
.inner-projects .btn-1{background:#ffd034 none repeat scroll 0 0;border:medium none;border-radius:0;color:#000;padding:12px 25px;text-transform:uppercase;transition:all 0.3s ease 0s;margin:0 0 10px 0;}
.inner-projects .form-item{background:#fff none repeat scroll 0 0;border-radius:0;box-shadow:none;height:45px;padding-left:15px;}
.inner-wrapper.blog .thumbnail{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:medium none;border-radius:0;margin-bottom:50px;padding:0;position:relative;}
.inner-wrapper.blog .thumbnail:hover .caption{box-shadow:0 0 5px rgba(0, 0, 0, 0.15);}
.inner-wrapper.blog .thumbnail:hover .caption a.readmore{background:#ffd034;border:solid 1px #ffd034;color:#000;}
.inner-wrapper.blog .thumbnail:hover .caption a{color:#6c6c6c;}
.inner-wrapper.blog .thumbnail:hover .hover-img > img{opacity:0.6;transform:scale(1.1);transition-duration:0.5s;}
.inner-wrapper.blog .thumbnail img{width:100%;}
.inner-wrapper.blog .hover-img{background:#2d2e2e;display:block;overflow:hidden;position:relative;text-align:center;}
.hover-img > img{min-height:100%;transition-duration:0.5s;}
.inner-wrapper.blog .date{background:#ffd034;position:absolute;top:0;left:0;}
.inner-wrapper.blog ul{margin:0;padding:0;}
.inner-wrapper.blog ul li{display:inline-block;list-style:none;}
.inner-wrapper.blog .date li{padding:10px 15px;border-left:solid 1px #bf9b25;font-weight:600;font-size:16px;}
.inner-wrapper.blog .date li:first-child{border:none;}
.inner-wrapper.blog .caption{background:#f8f8f8;margin:0;padding:20px 20px 30px;}
.inner-wrapper.blog .caption h3{margin:0 0 10px 0;}
.blog .caption h3 a{font-size:22px;}
.inner-wrapper.blog .caption h3 a:focus{text-decoration:none;}
.inner-wrapper.blog .caption a{color:#000000;font-weight:600;}
.inner-wrapper.blog .caption a.readmore{border:solid 1px #b7b7b7;padding:8px 20px;}
.inner-wrapper.blog .caption p{line-height:26px;margin:0 0 20px 0;}
.inner-wrapper.blog .details{margin:0 0 20px 0;}
.inner-wrapper.blog .details li{margin:0 10px 0 0;font-weight:600;color:#6c6c6c;}
.inner-wrapper.blog .details li span{color:#000;font-weight:600;}
.inner-wrapper.blog .list-inline li a{background:#000;color:#fff;padding:5px;}
.blog-pagination{text-align:center;}
.blog-pagination li{display:inline-block;margin:0 5px 0 0;}
.blog-pagination li a{padding:10px 16px;}
.blog-pagination .pagination > li > a, .blog-pagination .pagination > li > span{color:#000;}
.blog-pagination .pagination > li > a:focus, .blog-pagination .pagination > li > a:hover, .blog-pagination .pagination > li > span:focus, .blog-pagination .pagination > li > span:hover{background-color:#ffd034;}
.inner-wrapper .single-post h2{margin:0 0 10px 0;text-align:left;font-size:24px;}
.inner-wrapper .single-post .list-inline li a{background:#000000 none repeat scroll 0 0;color:#fff;padding:8px;}
.inner-wrapper .single-post .list-inline li a:hover{background:#ffd034;color:#000;}
.inner-wrapper .single-post .thumbnail{border:none;padding:0;margin:0 0 20px 0;position:relative;}
.inner-wrapper .single-post .thumbnail .date{background:#ffd034;position:absolute;top:0;left:0;}
.inner-wrapper .single-post .thumbnail .date li{padding:10px 15px;border-left:solid 1px #bf9b25;font-weight:600;font-size:16px;display:inline-block;}
.inner-wrapper .single-post .date li:first-child{border:none;}
.inner-wrapper .single-post .details{margin:0 0 20px 0;}
.inner-wrapper .single-post .details li{margin:0 10px 0 0;font-weight:600;color:#6c6c6c;display:inline-block;}
.inner-wrapper .single-post .details li span{color:#000;font-weight:600;}
.inner-wrapper .single-post img{width:100%;}
.inner-wrapper .single-post .thumbnail .caption{padding:10px 0 10px 0;}
.inner-wrapper .single-blog{margin:0 0 30px 0;}
.inner-wrapper .single-post .form-item{background:#fff none repeat scroll 0 0;border-radius:0;box-shadow:none;height:45px;padding-left:15px;}
.inner-wrapper .single-post .btn-1{background:#ffd034;border:medium none;border-radius:0;color:#000;padding:12px 25px;text-transform:uppercase;transition:all 0.3s ease 0s;}
.inner-wrapper .single-post blockquote{border-left:3px solid #eee;font-size:14px;margin:0 0 20px;padding:10px 20px;}
.inner-wrapper .single-post .list-inline{margin:0 0 20px 0;}
.inner-wrapper .single-post .sidebar h2{margin-bottom:26px;font-size:18px;}
.inner-wrapper .single-post .sidebar h2::after{background-color:#ffd034;content:"";display:block;height:3px;margin:10px 0 0;width:40px;}
.inner-wrapper .single-post .meta{font-size:12px;}
.align-right{text-align:right;}
.single-post form{margin:0 0 20px;}
.inner-wrapper .single-post h3{font-size:14px;color:#000000;margin:0 0 5px 0;}
.inner-wrapper .sidebar #custom-search-input{padding:3px;border:solid 1px #E4E4E4;border-radius:6px;background-color:#fff;margin:0 15px 24px 15px;}
.inner-wrapper .sidebar #custom-search-input input{border:0;box-shadow:none;}
.inner-wrapper .sidebar #custom-search-input button{margin:2px 0 0 0;background:none;box-shadow:none;border:0;color:#666666;padding:0 8px 0 10px;border-left:solid 1px #ccc;}
.inner-wrapper .sidebar #custom-search-input button:hover{border:0;box-shadow:none;border-left:solid 1px #ccc;}
.inner-wrapper .sidebar #custom-search-input .glyphicon-search{font-size:23px;}
.inner-wrapper .single-post .latest-blogs{margin:0 0 10px 0;}
.inner-wrapper .single-post .latest-blog{border-bottom:1px solid #c1c1c1;margin-bottom:15px;padding-bottom:15px;}
.inner-wrapper .single-post .latest-blog:last-child{border:none;}
.inner-wrapper .single-post .meta-info{padding:0;margin:5px 0 0 0;}
.inner-wrapper .single-post .meta-info h3 a{color:#000000;}
.inner-wrapper .sidebar .meta-info h3 a:hover{color:#333;}
.inner-wrapper .single-post .comments{background:#f5f5f5;margin:0 0 30px;padding:20px;float:left;width:100%;}
.inner-wrapper .single-post .comments p{margin:10px 0 0 0;}
.inner-wrapper .sidebar .unordered-list ul li::before{color:#000;content:"";font-family:"FontAwesome";font-size:14px;padding:0 10px 0 0;}
.inner-wrapper .sidebar .unordered-list ul li + li{margin:10px 0 0;}
.inner-wrapper .sidebar .unordered-list ul{margin:0 0 30px 0;}
.inner-wrapper .sidebar .unordered-list ul li a:hover, .inner-wrapper .sidebar .unordered-list ul li a:focus{color:#333;text-decoration:none;}
.inner-wrapper .single-post .unordered-list ul li{list-style:none;}
.inner-wrapper .single-post .unordered-list ul li::before{content:"\f105";font-family:"FontAwesome";font-size:14px;padding:0 10px 0 0;}
.inner-wrapper .single-post .unordered-list.no-space{margin:0 0 10px;}
.inner-wrapper .single-post .unordered-list ul{margin:0 0 10px 30px;}
.inner-wrapper .single-post .ordered-list ol{margin:0 0 10px 46px;}
.inner-wrapper .single-post .ordered-list{margin:0 0 10px;}
.inner-wrapper .sidebar .unordered-list ul{margin:0 0 30px 0;}
.inner-wrapper .sidebar .unordered-list ul li a{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);transition-duration:0.3s;transition-property:transform;display:inline-block;}
.inner-wrapper .sidebar .unordered-list ul li a:hover, .inner-wrapper .sidebar .unordered-list ul li a:focus{-webkit-transform:translateX(10px);-moz-transform:translateX(10px);-ms-transform:translateX(10px);-o-transform:translateX(10px);transform:translateX(10px);}
.inner-wrapper .sidebar .tags li{display:inline-block;list-style:none;background:#f5f5f5;padding:5px 12px;margin:0 5px 5px 0;}
.inner-wrapper .sidebar .tags li:hover{background:#ffd034;}
.inner-wrapper .sidebar .tags li:hover a{color:#000;}
.inner-wrapper .sidebar .download-services{margin:5px 0 30px;padding:60px 0;width:100%;float:left;clear:both;background-image:url(../../images/img/inner-blog-img2.jpg);background-attachment:inherit;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;z-index:9;position:relative;text-align:center;}
.inner-wrapper .sidebar .download-services::before{background:#000 none repeat scroll 0 0;bottom:0;content:"";left:0;opacity:0.8;position:absolute;right:0;top:0;z-index:-1;}
.inner-wrapper .sidebar .download-services h3{color:#fff;font-size:24px;margin:0 0 20px 0;line-height:32px;}
.inner-wrapper .sidebar .download-services a{background:#ffd034;color:#000;padding:8px 22px;font-weight:600;}
#googleMap iframe{width:100%;height:500px;-webkit-filter:grayscale(100%);filter:grayscale(100%);z-index:-1;border:none;}
.inner-wrapper.contact{margin-top:0;}
.inner-wrapper.contact h2{font-size:26px;margin:0 0 20px 0;}
.inner-wrapper.contact .contactus{background:#fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.15);padding:30px;margin:-90px 0 0 0;border-radius:5px;}
.contactus .contact-list{padding:0 26px 0 26px;margin:26px 0 0 0;background:#f6f6f6;}
.contactus .contact-list a{color:#000;}
.contactus .contact-list.contact-form{background:none;padding:0;margin:0;}
.contactus .contact-list .contact-icon{padding:10px;width:88px;height:88px;border-radius:50%;display:inline-block;margin:-44px 0 24px 0;background:#f6f6f6;}
.contactus .contact-list i{font-size:32px;}
.contactus .contact-list h3{color:#000000;font-weight:600;font-size:16px;text-transform:uppercase;margin:0 0 24px 0;}
.contactus .contact-list h4{margin:0;padding:0 0 8px 0;font-size:16px;font-weight:600;color:#000000;}
.contactus .contact-list p{font-size:14px;color:#58595b;font-weight:400;margin:0;}
.form .txt[type="text"], .txt[type="password"], .txt[type="email"]{border:none;margin:0 0 10px;padding:10px 0 10px 10px;width:100%;background:#f6f6f6;}
.form .txt_3{margin:10px 0 0;padding:10px 0 10px 10px;width:100%;background:#f6f6f6;border:none;}
.form .txt2[type="submit"]{background:#000000;border:none;border-radius:0;color:#fff;font-size:16px;font-style:normal;line-height:40px;margin:10px 0;padding:0;text-transform:uppercase;width:30%;float:right;}
.form txt2:hover{background:#fff;color:#2d2e2e;transition:all 0.5s ease 0s;}
.contactus .check label{font-size:12px;font-weight:400;}
.inner-wrapper.contact.two{margin-top:82px;}
.inner-wrapper.contact.two .contactus{margin:0 0 30px 0;background:none;box-shadow:none;padding:0;}
.inner-wrapper.contact.two.three #googleMap iframe{margin-top:48px;height:560px;}
.inner-wrapper.contact.two.three .contactus{margin-bottom:0;}
.footer-wrapper{background:#222222;margin:0;padding:42px 0 4px;margin-top:-78px;}
.footer-wrapper img{margin:0 0 8px 0;}
.footer-wrapper h4{color:#8ed693;font-size:20px;}
.footer-wrapper h3{color:#b3b3b3;font-size:18px;margin:0 0 24px 0;position:relative;}
.footer-wrapper h3:before{}
.footer-wrapper p{color:#b0b0b0;}
.footer-wrapper ul li{list-style:none;}
.footer-wrapper ul li a{color:#b0b0b0;}
.footer-wrapper ul li a:hover{opacity:0.7;}
.footer-wrapper ul.social-icons li{display:inline-block;margin:16px 16px 14px 0;}
.footer-wrapper ul.social-icons li i{border:1px solid #595959;height:38px;width:38px;border-radius:50%;line-height:36px;text-align:center;color:#808080;}
.footer-wrapper ul.social-icons li i:hover{background:#000;}
.footer-wrapper input{height:38px;background:#595959;border:none;padding:0 0 0 10px;width:100%;color:#fff;}
.footer-wrapper textarea{height:86px;background:#595959;border:none;padding:0 0 0 10px;width:100%;color:#fff;}
.footer-wrapper .btn{background:#FFD034;height:38px;width:125px;text-align:center;color:#000;text-transform:uppercase;font-size:16px;border-radius:0;float:right;}
footer{padding:30px 0;float:left;width:100%;background:#1d1d1d;}
footer p{margin:0;color:#b0b0b0;font-size:13px;text-align:center;}
#scrollUp{background:#000;border-radius:50%;bottom:20px;color:#fff;display:block;font-size:25px;height:40px;line-height:0;position:fixed;right:20px;text-align:center;text-decoration:none !important;transition:all 0.5s cubic-bezier(0, 0, 0, 1) 0s;width:40px;z-index:1000;}
#scrollUp:hover{background:#000;color:#fff;}
#scrollUp i{display:block;padding-top:7px;font-size:23px;font-weight:900;color:#7ec0f0;}
@media (min-width:992px) and (max-width:1200px){.contact-info li{display:none;}
.contact-info li:last-child{display:block;}
.banner-wrapper .banner-caption{display:none;}
.banner-wrapper .owl-theme .owl-controls .owl-buttons div{top:70%;}
.choose-wrapper .project-blog .blog .item img{width:auto;}
.testimonials-content h2{font-size:32px;}
.testimonials-wrapper .owl-theme .owl-controls .owl-buttons div{bottom:26px;}
.testimonials-content{padding:15px 15px 10px 0;}
}
@media (min-width:480px) and (max-width:853px){.callouts-wrapper .callout1{padding:0px 0px 8px 0px!important;width:468px!important;margin-left:-10px!important;margin-top:-25px!important;}}
@media (min-width:768px) and (max-width:991px){#logoimg1{display:none;}
.callouts-wrapper .callout1{padding:0px 0px 8px 0px!important;width:378px!important;margin-left:-27px!important;margin-top:-5px!important;height:443px;}
.home .navigation{padding:0px 0px 0px 0px;}
#profile-wrapper #image-wrap{margin-left:103px;margin-bottom:-126px;}
#profile-wrapper #text-wrap{margin-bottom:-111px;}
#profile-wrapper #btn-wrap{margin-bottom:20px;}
section h2{margin:-42px 0 28px 0!important;}
#gallery-heading{color:#04632f;}
.call-action-button1{margin-top:-33px!important;}
.slider2{margin-top:92px!important;width:304px!important;height:284px!important;margin-left:22px!important;}
.footer-wrapper ul.social-icons li{display:inline-block;margin:16px 4px 14px 0;}
video{height:335px;width:377px;margin-top:0px;}
#reg-img{height:246px;}
#reg-section{margin-top:119px;}
#left-testimonials{background-color:rgba(62, 157, 226, 0.58);padding:0px 0px 0px 31px!important;padding-top:29px!important;margin-bottom:31px!important;}
#right-testimonials{background-color:rgba(62, 157, 226, 0.58);padding-top:29px!important;padding-bottom:124px!important;}
#update{height:233px!important;}
.effect2{height:443px!important;}
#placement-papers .col-sm-3{width:40%;}
#placement-papers #col-9{width:60%;}
#placement-papers .page-header{margin:0px 0 20px;}
.placeholder #box #h6{font-size:16px;}
.placeholder #box{width:180px!important;height:114px!important;}
#latest-updates #col{width:32%;height:366px!important;}
section p.des{margin:0 0 50px 0;}
.contact-info li.quote1{padding:3px;margin:10px 0 6px 38px;}
.services-wrapper #large-botton{margin-top:10px;margin-left:131px;}
.home .top-wrapper{position:inherit;background:white;padding:15px 0 1px;}
.login-signup{margin:0;}
.contact-info{margin:25px 0 0;width:413px;margin-top:11px!important;}
.contact-info li.quote .quote-popup .free-quote{width:720px;}
.navbar-default .navbar-nav > li > a{font-size:12px;font-weight:500;color:#1b1b42;background-color:white;height:50px;}
.navbar-nav > li > .dropdown-menu.mega-menu{background:#ffd034;left:0;}
.navbar-nav > li > a{padding:12px;}
.mega-menu li a{font-size:12px;}
.banner-wrapper .banner-caption{display:none;}
.callouts-wrapper .callout h3{font-size:14px;}
.projects-wrapper .tab-links a{font-size:14px;padding:12px 24px;}
.services-wrapper{margin-bottom:50px;}
.services-wrapper .services{margin:0 0 30px;}
.satisfied-wrapper .counter p{font-size:14px;}
#about{margin:30px 0 0;}
.inner-wrapper.who-we .side-wrapper{margin:30px 0 0;}
.inner-wrapper.who-we .side-wrapper .callout{margin-bottom:0;}
.pricing-table .featured-plan{margin:0 0 20px;}
.pricing-table .single-plan .pricing-wrapper .pricing-currency p{font-size:70px;}
.comming-soon .subscirbe .form input.form-control{width:80%;}
.comming-soon .subscirbe .form .form-group i{width:20%;}
.inner-tabs .with-bg{margin:30px 0 0;}
.general-services{margin-bottom:50px;}
.general-services .services{margin:0 0 30px;}
.recon-services{margin-bottom:50px;}
.recon-services .services{margin:0 0 30px;}
.contactus .contact-list.last{margin-top:80px;}
.footer-wrapper .bottom-form{margin:30px 0 0 0;}
}
#logoimg{width:193px;height:76px;margin-left:-54px;}
#imga{padding:0px 21px;margin-top:-15px;}
#logoimg1{width:193px;height:62px;}
#imga1{padding:0px 21px;margin-top:-15px;}
@media (max-width:767px){section h2{font-size:20px;}
section p.des{margin:0 0 50px 0;}
.inner-breadcrumb ul li{font-size:13px;}
.navbar-nav{margin:15.5px -15px;}
.home .top-wrapper{padding:0;position:inherit;}
.top-wrapper{padding:15px 0 0 0;}
.affix.navigation{background:#feffff;box-shadow:0 1px 3px rgba(0, 0, 0, 0.118);}
.home .navigation{margin:0;padding:6px 0 0px 0;}
.navigation{margin:0;}
.navbar-toggle{width:42px;height:42px;margin-top:4px;background-color:#f4f4f4;margin-left:12px;}
.nav-icon-desc{display:block;width:40px;font-size:11px;color:#161a6f;margin-left:17px;margin-top:-9px;}
.navbar-header{height:69px;}
.navbar-default .navbar-toggle{border-color:#0a0c3a;margin-top:9px;}
.navbar-default .navbar-toggle .icon-bar{background-color:#0a0c3a;}
#imga1{padding:1px 29px;}
#left-dialup{margin-top:4px;padding:9px 2px!important;width:54px!important;margin-right:15px!important;}
#left-dialup .fa{font-size:26px!important;margin-left:12px;color:#161a6f;}
.navbar-nav li #dialup{display:none;}
.navbar-nav li #logoimg{display:none;}
.navbar-default .navbar-nav > li > a{color:#fbfbfb;font-size:12px;text-transform:uppercase;font-weight:500;}
.navbar-nav li a{padding:15px 18px;border-bottom:1px solid rgb(79, 90, 80);}
.navbar-collapse{background:#192530;border:medium none;box-shadow:none;}
.navbar-brand{display:block;padding:0 0 15px 15px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#000;}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{padding:10px 20px;}
.navbar-nav .open .dropdown-menu{background:#192530;position:inherit;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{background-color:#1a2530;color:#fff;}
.navbar-collapse.in{}
.navbar-nav > li > .dropdown-menu.mega-menu{background:#ffd034;}
.mega-menu li .row{margin:0;}
.banner-wrapper .banner-caption{top:32%}
.banner-wrapper .banner-caption h2{font-size:15px;}
.banner-wrapper .banner-caption h3{font-size:9px;}
.banner-wrapper .owl-theme .owl-controls .owl-buttons div{top:25%;}
.banner-wrapper .owl-theme .owl-controls .owl-buttons .owl-next{background:url(../../images/img/slider-right-arrow.jpg) no-repeat left top;right:0px;}
.callouts-wrapper{margin-top:86px;text-align:center;}
.callouts-wrapper .callout{margin:0 0 30px 0;}
.callouts-wrapper .callout::after{background:none;}
.services-wrapper .services{margin:0 0 30px;}
.projects-wrapper{margin:85px 0 60px;}
.projects-wrapper .tab-links li{width:50%;margin:0 0 12px 0;}
.projects-wrapper .tab-links a{width:100%;text-align:center;padding:12px 0;font-size:14px;}
.choose-wrapper .choose{padding:86px 0 72px;}
.choose-wrapper .choose h2{font-size:18px;}
.choose-wrapper .project-blog{padding:87px 15px}
.choose-wrapper .project-blog h2{margin:0 0 8px 0;}
.choose-wrapper .project-blog .blog h2{margin:0 0 40px 0;}
.choose-wrapper .project-blog .blog .item img{width:inherit;}
.satisfied-wrapper{margin-bottom:60px;}
.satisfied-wrapper .counter{margin:0 0 30px 0;}
.testimonials-content{padding:87px 15px 77px;}
.testimonials-wrapper .owl-theme .owl-controls .owl-buttons div{bottom:36px;}
.partners{margin-top:85px;}
#about{margin:30px 0 0;}
.about .callout{margin:0 0 30px 0;}
.who-we .our-work{margin:0 0 30px 0;}
.comming-soon h3{font-size:24px;line-height:32px;}
.comming-soon form{text-align:center;}
.comming-soon .subscirbe .form .form-group{display:inline-block;margin:0;width:100%;float:none;}
.comming-soon .subscirbe .form input.form-control{border-radius:0 4px 4px 0;}
.comming-soon .subscirbe .form input.bttn{margin:0 0 0 15%;width:60%;float:none;border-radius:4px;}
.count-down .countdown-row .countdown-section{padding:12px 0;}
.count-down .countdown-row .countdown-amount{font-size:30px;margin:0 0 10px 0;}
.count-down .countdown-row .countdown-period{font-size:14px;color:#fff;}
.error h1{font-size:120px;}
.error h2{font-size:16px;line-height:24px;}
.inner-wrapper .typography .headings{border-bottom:1px solid #efefef;border-right:medium none;margin-bottom:30px;padding-right:0;}
.inner-wrapper.faq .panel-group.two{margin:30px 0 0 0;}
.tes-wrapper{background-color:rgb(246, 246, 246);border:1px solid #e5e5e5;text-align:center;border-radius:6px;padding:0;margin:50px 0 0 0;}
.tes-wrapper.m-margin{margin-bottom:0;}
.pricing-table .single-plan .pricing-wrapper{padding:30px;margin-top:25px;}
.pricing-table .single-plan .pricing-wrapper .pricing-currency p{font-size:60px;}
.inner-tabs .with-bg{margin:30px 0 0;}
.inner-tabs .nav-tabs li a{padding:12px;font-size:12px;}
.count-downs-classic .count-down .countdown-row .countdown-amount{height:50px;width:50px;line-height:50px;font-size:18px;display:block;margin:0;}
.count-downs-classic .count-down .countdown-row .countdown-section{text-align:left;}
.count-number{padding-bottom:60px;}
.count-number .counter{margin-bottom:30px;}
.with-icon .counter{margin-bottom:30px;}
.general-services .services{margin:0 0 30px;}
.recon-services .services{margin:0 0 30px;}
.single-services .side-wrapper{margin:30px 0 0 0;}
.inner-wrapper.projects .our-work{margin:0 0 30px 0;}
.inner-projects{margin:0 0 50px 0;}
.current-Projects img{margin:0 0 10px 0;}
.inner-projects .comments img{margin:0 0 10px 0;}
.inner-wrapper .single-post .meta-info{padding:5px 15px;}
.inner-wrapper .single-post .latest-blog{border:none;}
.inner-wrapper .sidebar #custom-search-input{margin-top:15px;}
.contactus .contact-list.last{margin-top:80px;}
.inner-wrapper.contact .contactus{padding:20px;}
.footer-wrapper{padding-top:92px;}
.footer-wrapper [class*="col-"]{margin:0 0 48px 0;}
}
.mr-top-32{margin-top:32px;}
p.m-head{display:none;margin:0;color:#e2e2e2;font-size:18px;padding:18px;}
@media(max-width:660px){#test-heading{margin-left:82px;}
.contact-info li.quote .quote-popup .free-quote{width:95%;}
.contact-info{margin:4px -95px -3px 12px;}
.contact-info li p span, .contact-info li p a{color:#d9a336;font-size:11px;font-weight:600;}
.contact-info li i{margin-right:2px;font-size:18px;padding:8px 0 0 0;}
.contact-info li.quote a{padding:5px 6px;font-size:10px;}
.contact-info li p{font-size:10px;margin-top:8px;}
.contact-info li.quote1 a{padding:5px 6px;font-size:10px;}
.contact-info li p{font-size:10px;margin-top:8px;}
}
@-webkit-keyframes glowing{0%{background-color:#003366;-webkit-box-shadow:0 0 3px #003366;}
50%{background-color:#061f38;-webkit-box-shadow:0 0 40px #061f38;}
100%{background-color:#003366;-webkit-box-shadow:0 0 3px #003366;}
}
@-moz-keyframes glowing{0%{background-color:#003366;-moz-box-shadow:0 0 3px #003366;}
50%{background-color:#061f38;-moz-box-shadow:0 0 40px #061f38;}
100%{background-color:#003366;-moz-box-shadow:0 0 3px #003366;}
}
@-o-keyframes glowing{0%{background-color:#003366;box-shadow:0 0 3px #003366;}
50%{background-color:#061f38;box-shadow:0 0 40px #061f38;}
100%{background-color:#003366;box-shadow:0 0 3px #003366;}
}
@keyframes glowing{0%{background-color:#003366;box-shadow:0 0 3px #003366;}
50%{background-color:#061f38;box-shadow:0 0 40px #061f38;}
100%{background-color:#003366;box-shadow:0 0 3px #003366;}
}
.button{-webkit-animation:glowing 1500ms infinite;-moz-animation:glowing 1500ms infinite;-o-animation:glowing 1500ms infinite;animation:glowing 1500ms infinite;}
.gradient1{background:#D38312;background:-webkit-linear-gradient(to left, #D38312 , #A83279);background:linear-gradient(to left, #D38312 , #A83279);}
.loc-blk{border:6px solid rgba(0, 51, 102, 0.82);padding:20px 20px 10px 20px;}
.loc-blk ul{padding-left:2px;}
.loc-blk ul li{color:#3b3b3b;padding-bottom:11.6px;font-weight:600;list-style-type:none;}
.loc-blk ul li i, .exp-block ul li i{color:#8ed693;padding-right:6px;font-size:16px;}
.loc-table{background:url(../../images/img/best-loc-bg.png);background-size:contain;background-position:bottom center;min-height:484px;background-repeat:no-repeat;}
.loc-table thead{border-top:1px solid rgba(220, 164, 50, 0.75);border-bottom:1px solid rgba(220, 164, 50, 0.75);}
@media(min-width:768px){.loc-table thead tr th{width:20%;}
}
.loc-table thead tr th{border-bottom:0;color:#8ed693;font-size:17px;}
.loc-table thead tr th span{display:block;font-size:12px;color:#363636;font-weight:600;}
table.loc-table>tbody>tr>td{border-top:0;font-size:13px;font-weight:600;color:#5f5f5f;line-height:1.65897143;}
table.loc-table>tbody>tr>td span{display:block;margin-top:4px;}
table.loc-table>tbody>tr>td span h3{font-size:16px;margin-top:12px;color:#333;}
.exp-block ul li{list-style-type:none;}
.build-main{background:#8ed693;padding:26px;}
.build-blk{border:6px solid #fff;min-height:339px;padding:38px 0;}
#side-contact p{border-bottom:1px dotted #d8d8d8;padding-bottom:15px;font-size:17px;}
#slider-form{width:500px;top:13em;position:fixed;z-index:9999;}
#side-contact{width:290px;position:absolute;right:0px;border:1px solid #d8d8d8;margin-left:40px;padding:10px 20px;border-radius:3px;box-shadow:0 0 8px gray;background-color:#fff;}
#sidebar{position:absolute;top:180px;left:99px;transform:rotate(90deg);}
#sidebar1{position:absolute;top:180px;left:104px;transform:rotate(90deg);}
#sidebar button, #sidebar1 button{padding:10px 28px;font-weight:normal;text-transform:none;font-size:18px;background-color:#1b1b42;color:#fff;outline:0;}
#side-contact button{border:none;width:100%;font-size:16px;font-weight:normal;cursor:pointer;background:#003366;color:#fff;}
#side-contact .ct-form .form-control{margin-top:0px;margin-bottom:12px;}
@media (max-width:767px){#slider-form{top:15em;}
#sidebar{left:110px;}
#sidebar1{left:118px;}
#sidebar button, #sidebar1 button{font-size:15px;}
}
.contact-form .form-control{display:block;width:100%;height:41px;padding:6px 12px;font-size:14px;line-height:2.428571;color:#555;background-color:#FFFFFF;background-image:none;border:1px solid #ccc;border-radius:0px;}
.contact-form textarea.form-control{height:auto;}
.btn-cnct, .btn-cnct:hover{font-size:16px;background:#dba331;width:100%;color:#fff;outline:0;text-transform:uppercase;}
.pers-blck i{border:2px solid #8ed693;width:46px;height:46px;border-radius:50%;line-height:38px;color:#8ed693;margin-bottom:12px;}
.fa-blck{width:12%;display:block;float:left;background:#8ed693;padding:16px 0px 12px 20px;}
.text-blck{width:88%;float:right;border:1px dashed #8ed693;padding:5.5px 18px;}
.mb-17{margin-bottom:17px;}
img{max-width:100%;}
.course-box{border:1px solid #828282;padding:21px 5px;background:#fff;margin-top:-26px;}
.course-heading{background:#084673;padding:10px 0px;}
.course-heading h3{margin:0px;color:#fff;font-size:15px;text-align:center;letter-spacing:1px;}
.fa{color:#00a861;font-size:18px;padding-right:0px;}
.font{color:#00a861;font-size:21px;padding-right:6px;}
.call-to-right{background:#3e9de2;padding:45px 16px;}
.call-action-button{color:#ffffff;font-size:13px;text-decoration:none;text-align:center;cursor:pointer;padding:2px 8px 2px 8px;border-radius:3px;text-transform:uppercase;margin:0px auto;margin-top:1px;vertical-align:super;text-decoration:none;border:1px solid #ffffff;float:right;}
.call-action-button1{color:#ffffff;font-size:13px;text-decoration:none;text-align:center;cursor:pointer;padding:2px 8px 2px 8px;border-radius:3px;text-transform:uppercase;margin:0px auto;margin-top:12px;margin-right:12px;vertical-align:super;text-decoration:none;border:1px solid #184085;background:#184085;width:92px;font-size:11px;}
.call-action-button3{color:#ffffff;font-size:13px;text-decoration:none;text-align:center;cursor:pointer;padding:2px 8px 2px 8px;border-radius:3px;text-transform:uppercase;margin:0px auto;margin-right:12px;vertical-align:super;text-decoration:none;border:1px solid #184085;background:#184085;width:92px;font-size:11px;}
.effect2{position:relative;height:392px;box-shadow:0px 5px 9px 0px grey;}
.effect2:before, .effect2:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg);}
.effect2:after{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);right:10px;left:auto;}
.schedule__head{padding-top:35px;padding-bottom:18px;border-bottom:2px solid;font-size:34px;letter-spacing:3.2px;color:#303071;}
iframe{border-right:2px solid rgba(158, 158, 158, 0.45)!important;border:1px solid rgba(158, 158, 158, 0.45);}
.inrright_cntr .gate iframe{border-right:2px solid rgba(158, 158, 158, 0.45)!important;border:1px solid rgba(158, 158, 158, 0.45);}
@media (max-width:667px) and (min-width:375px){.callouts-wrapper .callout1{padding:0px 0px 8px 0px;width:370px;margin-left:-12px;margin-top:-25px;}
.effect2{position:relative;height:auto;box-shadow:0px 5px 9px 0px grey;margin-bottom:17px;}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:93%;margin-left:12px;}
.placeholder #box{width:182px;height:126px;}
#login-area{min-height:0px!important;}
#logo{margin-left:12px;width:91.666667%;}
.top-wrapper .col-xs-5{width:94.666667%;}
#cta .cta-col{width:49%;height:180px;}
#cta{margin-bottom:1.5em;}
#cta-bkg-top{height:325px!important;}
.il{color:#ffffff!important;}
#take-test #test-heading{color:red!important;height:30px!important;padding:2px 0px 0px 8px!important;font-size:22px!important;font-weight:500!important;background-color:tan!important;margin-top:32px!important;margin-right:-36px!important;width:311px!important;margin-left:409px!important;}
#take-test #h4{margin-left:-3px;color:#008000;font-weight:600;}
#finish-btn{margin-top:501px!important;margin-left:203px;}
.schedule__head{padding:5px;font-size:21px;color:#303071;}
}
#cta-bkg-top{position:absolute;display:block;top:0;left:0;width:100%;height:5.143em;background:#66bfff;background-image:url(http://localhost/gobrainwiz.in/assets/images/img/mid-pattern1.png);box-shadow:0px 0px 24px 14px #043140;}
.call-action-button2{color:#ffffff;font-size:22px;text-decoration:none;text-align:center;cursor:pointer;padding:8px 3px 7px 9px;border-radius:13px;text-transform:uppercase;margin:0px auto;margin-top:-22px;vertical-align:super;text-decoration:none;}
.overlay{background-color:rgba(15, 90, 168, 0.64);position:relative;width:100%;height:100%;display:block;}
.signup-header #enquiry_form .form-group{margin-bottom:8px;}
.signup-header{height:321px;background:rgba(0, 0, 0, 0.37);margin:-340px 0 -106px;border-radius:4px;padding-left:20px;padding-right:20px;padding-bottom:20px;}
.signup-header h3{padding:24px 0 16px;color:white;font-weight:500;font-size:16px;}
#testimon-con{margin-top:-29px;;}
.register-section{margin-top:-18px!important;}
#left-testimonials{background-color:rgba(62, 157, 226, 0.58);padding:0px 0px 0px 31px;padding-top:29px;}
#right-testimonials{background-color:rgba(62, 157, 226, 0.58);padding-top:29px;padding-bottom:40px;}
#right-testimonials h3{text-align:center;margin:0 0 -13px;font-size:18px;font-weight:600;}
#category-list{margin-bottom:0px;}
#timer-img{width:35px;height:33px;margin-top:-5px;}
@media (min-width:375px) and (max-width:667px){.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:#8ed693;color:#192530;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:#8ed693;color:#192530;}
#profile-wrapper #image-wrap{margin-bottom:-132px;}
#profile-wrapper #text-wrap{margin-bottom:-116px;}
#profile-wrapper #btn-wrap{margin-bottom:11px;}
.testimonials{height:691px;padding:70px 15px 2px;}
#left-testimonials{background-color:rgba(62, 157, 226, 0.58)!important;padding:0px 42px 0px 40px!important;padding-top:29px!important;}
#right-testimonials{background-color:rgba(62, 157, 226, 0.58)!important;padding-bottom:1px!important;}
.cont-info li:last-child{margin-left:151px!important;margin-top:23px!important;}
.clock{margin-top:50px!important;margin-left:-26px!important;width:99%;}
.contact-info #h4{margin-top:20px;}
#logo{margin-left:12px;width:91.666667%;}
#login-area{min-height:0px!important;}
#contact-info{margin-left:31px;width:101.333333%;}
.contact-info li.quote1{padding:0;margin:-7px 0 0 0;}
.contact-info li.quote1 #review-btn{padding:5px 82px;font-size:12px;}
.footer-wrapper{padding-top:42px;}
.register-section{margin-top:-57px!important;}
.testimonials{height:691px;padding:70px 15px 2px;}
#testimon-con{margin-top:-47px;;}
#button-icon{margin-top:-23px;}
.services-wrapper #large-botton{width:341px;margin-top:13px;}
.callouts-wrapper{margin-top:44px;}
.signup-header{margin:14px 0 18px;background:rgb(10, 12, 58);border-radius:4px;padding-left:20px;padding-right:20px;padding-bottom:20px;}
.signup-header h3{padding:24px 0 16px;color:white;font-weight:500;font-size:16px;}
.call-action-button2{margin:34px auto;}
#test{height:576px!important;}
#reg-section{margin-top:-253px!important;}
.col-sm-3{margin-left:-4px!important;}
.overlay #img{height:80px;width:96px;margin-left:83px;}
#col-md-2{width:100%;}
#reg-section{margin-top:-160px!important;}
}
@media (min-width:320px) and (max-width:568px){#logoimg1{width:152px!important;height:62px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:#8ed693!important;color:#192530!important;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:#8ed693!important;color:#192530!important;}
.callouts-wrapper .callout1{padding:0px 0px 8px 0px;width:315px;margin-left:-12px;margin-top:-25px;}
#left-dialup .fa{font-size:23px!important;margin-left:22px;color:#161a6f;}
.nav-icon-desc{display:block;width:40px;font-size:12px;color:#161a6f;margin-left:24px;margin-top:-10px;}
iframe{height:288px;}
#profile-wrapper #image-wrap{margin-bottom:-132px;}
#profile-wrapper #text-wrap{margin-bottom:-116px;}
#profile-wrapper #btn-wrap{margin-bottom:11px;}
.effect2{position:relative;height:auto;box-shadow:0px 5px 9px 0px grey;margin-bottom:17px;}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;margin-left:0px;}
#reg-section{margin-top:542px!important;}
.slider2{width:93%!important;overflow:hidden!important;position:relative!important;height:231px!important;border:2px solid #fff!important;border-radius:2px!important;margin-left:10px!important;margin-top:51px!important;margin-bottom:52px!important;}
.testimonials{height:1079px;padding:68px 24px 2px;}
#left-testimonials{background-color:rgba(62, 157, 226, 0.58)!important;padding:0px 17px 0px 31px;padding-top:29px!important;}#right-testimonials{background-color:rgba(62, 157, 226, 0.58)!important;padding:5px 3px 1px 0px;}
.placeholder #box{width:154px;height:114px;}
.placeholder #box #h6{font-size:16px;}
#cta-bkg-top{height:359px!important;}
#cta .cta-col{width:49%;height:180px;margin-top:23px;}
.il{color:#ffffff!important;}
#logo{margin-left:12px;width:91.666667%;}
#contact-header{margin-left:31px;width:101.333333%;}
.contact-info li.quote1{padding:0;margin:-7px 0 0 -21px;}
.contact-info li.quote1 #review-btn{padding:5px 82px;font-size:12px;}
.footer-wrapper{padding-top:42px;}
.register-section{margin-top:-57px!important;}
#testimon-con{margin-top:-47px;;}
#button-icon{margin-top:-23px;}
.services-wrapper #large-botton{margin-top:13px;}
.col-sm-3{margin-left:-4px!important;}
.col-xs-5{width:97.666667%;}
.col-xs-7{width:66.333333%;}
.signup-header{margin:14px 0 18px;background:rgb(10, 12, 58);border-radius:4px;padding-left:20px;padding-right:20px;padding-bottom:20px;}
.signup-header h3{padding:24px 0 16px;color:white;font-weight:500;font-size:16px;}
.call-action-button2{margin:12px;}
#test{height:576px!important;}
#col-md-2{width:100%;}
.overlay #img{margin-left:52px;}
#take-test #test-heading{color:red;height:30px;padding:2px 0px 0px 8px;font-size:22px!important;font-weight:500;background-color:tan;margin-top:32px!important;margin-left:409px;width:311px;}
#take-test #h4{margin-left:100px;margin-top:2px;color:#008000;font-weight:600;margin-bottom:19px;}
#finish-btn{margin-top:501px!important;margin-left:157px;}
.schedule__head{padding:5px;font-size:21px;color:#303071;}
}
@media (min-width:412px) and (max-width:690px){.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:#8ed693!important;color:#192530!important;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:#8ed693!important;color:#192530!important;}
.signup-header{margin:auto;background:rgb(10, 12, 58);}
.testimonials{height:690px;padding:66px 33px 1px;}
.placeholder #box{width:193px;height:114px;}
.overlay #img{height:80px;width:96px;margin-left:100px;}
#finish-btn{margin-top:501px!important;margin-left:242px;}
#style-11{width:383px!important;}
}
@media (min-width:768px){#placement-papers #col-sm-9{width:45%;}
}
@media (min-width:480px) and (max-width:853px){.placeholder #box{width:221px;height:114px;}
.overlay #img{height:80px;width:96px;margin-left:136px;}
#style-11{width:439px!important;}
}
@media (min-width:320px) and (max-width:480px){.hvr-rectangle-out{margin-left:-23px;}
}
@media (min-width:360px) and (max-width:598px){.callouts-wrapper .callout1{padding:0px 0px 8px 0px;width:354px;margin-left:-12px;margin-top:-25px;}
}
@media (min-width:360px) and (max-width:640px){.callouts-wrapper .callout1{padding:0px 0px 8px 0px;width:369px;margin-left:-12px;margin-top:-25px;}
#finish-btn{margin-top:501px!important;margin-left:193px;}
#left-testimonials{background-color:rgba(62, 157, 226, 0.58)!important;padding:0px 8px 0px 31px;padding-top:29px!important;}
}
@media (min-width:768px) and (max-width:991px){.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background-color:#1b1b42;color:white;}
#logoimg{width:156px;height:68px;margin-left:-30px;margin-top:5px;}
.navbar-nav li #dialup{padding:9px 9px 1px 14px!important;}
.footer-wrapper ul.social-icons li i{font-size:16px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:#1b1b42;color:white;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:#1b1b42;color:white;}
#left-dialup{display:none;}
.fa{color:#00a861;font-size:18px;padding-right:4px;}
.nav-icon-desc{font-size:20px;margin-left:4px;}
.navbar-left,.navbar-right{float:none !important;}
.navbar-collapse{border:medium none;box-shadow:none;}
.navbar-fixed-top{top:0;border-width:0 0 1px;}
.navbar-nav>li>a{padding-top:15px;padding-bottom:10px;}
.collapse.in{display:block !important;background-color:#333;margin:4.5px -8px;}
#category-list{width:33%;}
iframe{width:90%;margin-left:5%;}
.testimonials{height:auto!important;padding:66px 9px 1px!important;}
.col-sm-4{width:100%}
.signup-header{margin:14px 0 18px!important;background:rgb(10, 12, 58);border-radius:4px;padding-left:20px;padding-right:20px;padding-bottom:20px;}
.signup-header h3{padding:24px 0 16px;color:white;font-weight:500;font-size:16px;}
.call-action-button2{margin:34px auto;}
#col-md-2{width:24.666667%;float:left;}
.overlay #img{height:80px;width:96px;margin-left:21px;}
#take-test #test-heading{color:red;height:37px;padding:5px 0px 0px 21px;font-size:22px!important;font-weight:500;background-color:tan;margin-top:10px!important;margin-right:-15px!important;width:310px;}
#take-test #h4{margin-left:139px;color:#008000;font-weight:600;}
#finish-btn{margin-top:880px!important;margin-left:590px;}
#style-11{width:404px!important;}
.left_header{width:404px;}
.question-list{padding:9px 42px 0px 0px;width:621px;}
.schedule__head{padding-bottom:11px;border-bottom:2px solid;font-size:25px;letter-spacing:4.2px;color:#303071;}
}
@media (min-width:412px) and (max-width:690px){.callouts-wrapper .callout1{padding:0px 0px 8px 0px;width:406px;margin-left:-12px;margin-top:-25px;}
.contact-info li.quote1 #review-btn{padding:5px 111px;font-size:12px;}
.testimonials{height:auto;padding:66px 33px 1px;}
}
@media (min-width:414px) and (max-width:736px){.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:#8ed693!important;color:#192530!important;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:#8ed693!important;color:#192530!important;}
.signup-header{margin:auto;background:rgb(10, 12, 58);margin-bottom:25px;}
.testimonials{height:1023px;padding:66px 33px 1px;}
}
@media (min-width:480px) and (max-width:853px){#reg-section{margin-top:396px!important;}
.hvr-rectangle-out{margin-left:48px;}
.contact-info li.quote1 #review-btn{padding:5px 111px;font-size:12px;}
.contact-info{margin:4px -56px -2px 47px;}
.testimonials{height:auto;padding:66px 33px 1px;}
.left_header{width:439px;}
.question-list{margin-left:-71px;}
}
#section-h2{font-size:25px;color:#04632f;}
@media (min-width:768px) and (max-width:991px){#reg-section{margin-top:111px!important;}}
@media (min-width:800px) and (max-width:1280px){#logoimg{width:156px;height:68px;margin-left:-42px;margin-top:5px;}
#enquiry_form .form-group{margin-bottom:11px;}
#enquiry_form .form-group .input-lg{height:34px;}
#logoimg1{display:none!important;}
#left-dialup{display:none;}
.callouts-wrapper .callout1{margin-top:1px!important;}
.slider2{margin-top:93px!important;}
#right-testimonials h3{margin:0 0px -13px -37px;font-size:18px;font-weight:600;}
#gallery-heading{font-size:19px;color:#04632f;margin-top:-20px;}
#section-h2{font-size:19px;color:#04632f;margin-top:-13px;}
.call-action-button1{margin-top:-33px;}
.navbar-left,.navbar-right{float:none !important;}
.navbar-collapse{border:medium none;box-shadow:none;}
.navbar-fixed-top{top:0;border-width:0 0 1px;}
.navbar-nav>li>a{height:69px;padding-bottom:10px;}
.collapse.in{display:block !important;background-color:#333;margin:4.5px -24px;;}
#profile-wrapper #image-wrap{margin-left:103px;margin-bottom:-126px;}
#profile-wrapper #text-wrap{margin-bottom:-111px;}
#profile-wrapper #btn-wrap{margin-bottom:20px;}
.question-list{padding:9px 42px 0px 0px;margin-left:-1px;width:405px;background-color:silver;}
.left_header{width:404px;}
}
.Logicaldiv{color:#fff;font-weight:bold;background-color:#1b1b42;font-weight:bold;height:100%;padding:14px 20px;border-top-left-radius:8px;border-top-right-radius:8px;margin-bottom:5px;font-family:Tahoma;font-weight:200;}
#mouse a{width:307px;height:45px;text-align:start;margin-left:15px;font-size:16px;border-bottom:1px solid #808080;}
#mouse a span{margin-right:18px;color:#2098d1;}
.glyphicon{left:-12px;position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
#Elitmus{box-shadow:3px 3px 5px 6px #ccc;border-radius:8px;}
.price-table-box1{text-align:center;padding:50px 0;background:#167f92;border-radius:3%;margin:0 auto 30px;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
.price-table-box1:hover h2{background:#fdc800;color:#002147;.price-table-box1 h2{color:#ffffff;font-size:30px;height:150px;width:150px;line-height:150px;display:inline-block;background:#002147;border-radius:50%;margin-bottom:35px;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
.testimonials h3{text-align:center;margin:0 0 30px;color:#1b1b42;font-size:18px;font-weight:600;}
@media (min-width:1280px){.signup-header{background-color:rgba(255, 251, 251, 0.32);}
}