body {
margin: 0;
padding: 0
}
#tile-wrapper {
width: 100%
}
#tile-wrapper .titles {
display: table;
margin: 0;
padding: 0;
width: 100%;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-Webkit-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}
#tile-wrapper .titles .box {
display: table-cell;
margin: 0;
padding: 0;
text-align: center;
outline: 1px solid #000;
vertical-align: middle;
}
