*{margin: 0px;padding: 0px;}

@font-face{ font-family: 'OpenSans-Regular'; src:url('../fonts/OpenSans-Regular.ttf'); }

@font-face{ font-family: 'OpenSans-Semibold'; src:url('../fonts/OpenSans-Semibold.ttf'); }

@font-face{ font-family: 'BreeSerif-Regular'; src:url('../fonts/BreeSerif-Regular.ttf'); }

body{ font-family: 'OpenSans-Regular'; }

a:hover{ text-decoration: none; }

.btn.btn-default,.btn.btn-default:visited,.btn.btn-default:focus{ outline: none; box-shadow: none}

ul li{ list-style: none; }

.NotificationMessage{ text-align: center;font-family: 'OpenSans-Semibold'; font-size: 16px;}

.NotificationMessage strong{ font-family: 'BreeSerif-Regular'; margin-right: 5px; }

.NotificationMessage strong i{ margin-right: 5px; }

.NotificationMessage .alert-info{ margin: 0px;border-radius: 0px; }

.NotificationMessage a.PageLink{ background: #f60;color: #fff;padding: 5px 10px;border-radius: 100px; margin-left: 10px; transition: all 0.5s;}

.NotificationMessage a.PageLink:hover{ background: #b224ef }

.NotificationMessage a.close{ font-size: 28px; opacity: 1; }

.MenuNav ul{ text-align: right; margin: 0px;padding:0px; }

.MenuNav ul li{ display: inline-block; font-size: 14px; }

.MenuNav ul li a i{ display: block; text-align: center; margin-bottom: 7px; font-size: 16px; }

.MenuNav ul li a{ color: #000;font-family: 'OpenSans-Semibold'; padding:15px 30px; transition: all 0.3s;display: block; }

.MenuNav ul li a:hover{ color: #f60 }

.LoginWrapper{ background: url(../images/login-bg.jpg) no-repeat center fixed; background-size: 100%;   padding: 100px 0px; position: relative;z-index: 99}

.LoginWrapper:before{ position: absolute; content: ''; width: 100%; height: 100%;background: rgba(0,0,0,0.7);top: 0px; left: 0px;z-index: -1; }

.RelatedWrap{ background: #fff; }

.RelatedWrap form{ padding: 35px 20px; }

.RelatedWrap h3{ font-family: 'OpenSans-Semibold';color: #1b1b42; }

.LoginWrapper .form-group{ position: relative; margin-bottom: 35px; }

.LoginWrapper .form-group label.control-label { color: #333;font-size: 13px;font-weight: 400; position: absolute;pointer-events: none; padding-left: 0;
    top: 5px;transition: .2s ease all;-moz-transition: .2s ease all;-webkit-transition: .2s ease all; text-transform: capitalize; font-family: 'OpenSans-Semibold';}

.LoginWrapper .form-control { font-family: 'OpenSans-Semibold'; border-radius: 0; border: 0;border-bottom: 1px solid rgba(0,0,0,.3);background: 0 0;box-shadow: none;padding-left: 0;
 font-size: 15px; }    

.LoginWrapper .bar:before {  content: ''; height: 2px; width: 0; bottom: 0; position: absolute;background: #14428e; transition: all .5s;-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transform: translateX(0);
    left: 50%; }

.LoginWrapper .form-control:focus ~ label.control-label,.LoginWrapper .form-control:valid ~ label {
    color: #666;
    -webkit-transform: translate(-4%, -125%) scale(0.95);
    transform: translate(-4%, -125%) scale(0.95); }

 .LoginWrapper .form-control:focus ~ .bar:before { width: 100%; left: 0px;  }

.FormTop{ position: relative; }

 .FormTop img{ width: 70px;margin: 0px auto; display: block; border-radius: 1000%; /*border:6px solid rgba(255,255,255,0.75);*/}

 .FormTop .RelatedIcon{ position: absolute; top: -55px; left: 0;right: 0; }

 .FormTop h3{ padding-top: 35px; font-size: 22px; font-family: 'BreeSerif-Regular';}

 .FormBtn button.btn.btn-default{ margin: 0px auto; color: #fff; font-family: 'OpenSans-Semibold'; border-radius: 100px; padding:14px 30px; font-size:17px; width: 50%; display: block;
    background: #9152f8;
    background: -webkit-linear-gradient(right, #21d4fd, #b224ef);
    background: -o-linear-gradient(right, #21d4fd, #b224ef);
    background: -moz-linear-gradient(right, #21d4fd, #b224ef);
    background: linear-gradient(right, #21d4fd, #b224ef); transition: all 0.4s; position: relative;border:0px;z-index: 99}

 .FormBtn button.btn.btn-default:before{ position: absolute; content: ''; width: 1%;opacity: 0; height: 100%;left:0;top: 0px;border-radius: 100px;
    background: #9152f8;
    background: -webkit-linear-gradient(right, #b224ef, #21d4fd);
    background: -o-linear-gradient(right, #b224ef, #21d4fd);
    background: -moz-linear-gradient(right, #b224ef, #21d4fd);
    background: linear-gradient(right, #b224ef, #21d4fd); transition: all 0.3s;z-index: -1;}

   .FormBtn button.btn.btn-default:hover:before{  width: 100%; left: 0;border-radius: 100px;transition: all 0.3s;opacity: 1;}

 .FormBottom{ display: grid; grid-template-columns: 60% 40%; padding: 15px 20px; color: #000; background: rgba(255,255,255,0.4);}

 .FormChangeOption p{ font-family: 'OpenSans-Semibold';margin-bottom: 0px;font-size: 16px; font-family: 'BreeSerif-Regular';}

 .FormChangeOption p a { color: #f34604; transition: all 0.4s;}

 .FormChangeOption p a:hover{ color: #000; }

 .FormBottom .ForgotPasswordOption{ text-align: right; }

 .FormBottom .ForgotPasswordOption p a{ color: #000;font-family: 'BreeSerif-Regular'; }

 .FormBottom .ForgotPasswordOption p a:hover{ color: #f34604; transition: all 0.4s;}

 .BwInfoGraph{ margin-top: -40px; }

 .BwInfoGraph h4{ color: #fff; line-height: 1.8; font-family: 'BreeSerif-Regular'; font-size: 28px;margin-top: 20px}

  .BwInfoGraph h4 b { font-weight: normal;  color: #f60;}

 .BwInfoGraph img{ width: 125px;margin: 0px auto;display: block; }

 .BwInfoGraph i{ text-align: center;color: #fff; font-size: 50px; display: block; margin-top: 20px; animation-name: Toggle; animation-duration:1s;animation-iteration-count:infinite }



@-webkit-keyframes Toggle {
  0%   { transform: translateX(-10px); color: #fff;font-size: 50px; }
  50%{ transform: translateX(20px); color: #f60;font-size: 60px; }
  75%{ transform: translateX(10px); color: #f60;font-size: 60px; }
  100% { transform: translateX(-10px); color: #fff;font-size: 50px; } 
}
@-moz-keyframes Toggle {
 0%   { transform: translateX(-10px); color: #fff;}
  50%{ transform: translateX(20px);color: #f60 }
  75%{ transform: translateX(10px); color: #f60}
  100% { transform: translateX(-10px); color: #fff}
}
@-o-keyframes Toggle {
   0%   { transform: translateX(-10px);color: #fff}
  50%{ transform: translateX(20px); }
  75%{ transform: translateX(10px); }
  100% { transform: translateX(-10px);color: #fff }
}
@keyframes Toggle {
0%   { transform: translateX(-10px);color: #fff}
  50%{ transform: translateX(20px);color: #f60 }
  75%{ transform: translateX(10px);color: #f60 }
  100% { transform: translateX(-10px);color: #fff }
}

.GridRow{ display: grid; grid-template-columns: 38% 24% 38%; }

.GridCol.Bgwhite{ background: #fff; box-shadow:0 3px 20px 0px rgba(0,0,0,0.1);}

.BwLogin.RelatedWrap form{ padding-top: 60px; }

.RelatedWrap .msg{ font-family: 'OpenSans-Semibold';line-height: 2.2;text-align: center; margin-bottom: 35px; font-size: 13px; }

.LoginFooter{ text-align: center; color: #666; padding:20px 15px; font-family: 'OpenSans-Semibold' }

.LoginFooter p{ margin-bottom: 0px; }

.ForgotForm #BackBtn{ text-align: center; color: #666;font-family: 'BreeSerif-Regular';margin-top: 20px; }

.ForgotForm form{ padding-top: 20px; }

.ForgotForm #BackBtn a{ color: #666; transition: all 0.4s;}

.ForgotForm #BackBtn a:hover{ color: #f60; }

.RegisterForm .FormBottom p{ text-align: center; }

.RegisterForm .FormBottom{ grid-template-columns: 1fr; padding-top: 0px;  }

.RegisterForm.RelatedWrap form{ padding-bottom: 15px; }

.BwLoginBottom img{ opacity: 0.4;margin: 0px auto; }