
*{ margin:0px auto;}

body{ font-family: 'Lato-Regular'; font-size:15px; -webkit-font-smoothing: antialiased; width:100%;height:100vh; }

@font-face { font-family: 'Lato-Regular';  src:url('../fonts/Lato-Regular.ttf');}

@font-face { font-family: 'Lato-Bold';  src:url('../fonts/Lato-Bold.ttf');}

@font-face { font-family: 'Lato-Semibold';  src:url('../fonts/Lato-Semibold.ttf');}

.SiteLogo{ margin:0px auto;}

.ExamBody{ background:url('../images/college-banner.png') no-repeat center center; background-size:cover; width:100%;  position:relative;z-index:99;}

.ExamBody:before{ position:absolute; content:'';width:100%; height:100%; background:rgba(0,0,0,0.5);z-index:-1;}

.StudentLoginForm{ width:40%; margin:65px auto 10px auto; background:rgba(255,255,255,0.5); position:relative;border-radius:10px;}

.LoginIcon{ position:absolute; content:''; top:-35px;left:0px;right:0px;margin:0px auto;}

.LoginIcon img{ width:70px; height:70px; margin:0px auto; display:block;}

.LoginFromWrap{ padding:60px 25px 25px 25px;}

.LoginFromWrap .form-group{ position:relative; margin-bottom:20px;}

.LoginFromWrap .form-group i{ position:absolute; top:15px; left:15px;} 

.LoginFromWrap .form-group i.fa.fa-mobile{ font-size:20px;}

.LoginFromWrap .form-group .form-control{ height:48px; border-radius:100px;padding-left:40px;border:0px; box-shadow:none; }

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  
  text-align:center;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 1px; /* Adjust as needed */
  animation: 
    typing 10s steps(40, end),
    blink-caret 2s step-end infinite; font-size:28px; font-family:'Lato-Semibold'; margin-top:30px;color:#fff;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
  100%{ border:0px;}
}

.LoginFromWrap .SubmitButton button{ margin:0px auto; border:0px; background:#f60; color:#fff; display:block; width:150px; padding:10px;font-size:18px; font-family:'Lato-Semibold'; border-radius:100px; transition:all 0.5s;margin-top:30px;}

.LoginFromWrap .SubmitButton button i{ padding-right:10px;}

.LoginFromWrap .SubmitButton button:hover{ background:#1b1b42;}

.Copyright{ color:#fff;}


/* student results */

.StudentDetails{ background:#2a8ee3; padding:35px 0px 90px 0px; text-align:center;}

.StudentDetails h3{ color:#fff; font-family:'Lato-Semibold';font-size:26px;margin-bottom:15px; margin-top:0px;} 

.StudentDetails small{ color:#fff; font-family:'Lato-Regular'; font-size:16px;}

.StudnetExamStatus{ padding:10px;width:60%; margin:-65px auto 0px auto;   border:4px solid #2a8ee3; background:#f5e4dc; border-radius:10px;}

.StudnetBlocks{ display:grid; grid-template-columns:1fr 1fr 1fr; }

.StatusBlock{ padding:15px 0; text-align:center;} 
 
.StatusBlock h4{ color:#000; font-size:20px; margin-bottom:20px; margin-top:0px;font-family:'Lato-Semibold';}

.StatusBlock p{ font-size:22px; font-family:'Lato-Semibold'; color:#f60;margin-bottom:0px;}
