
@font-face{ font-family: 'OpenSans-Regular'; src:url('../fonts/OpenSans-Regular.ttf'); }

@font-face{ font-family: 'OpenSans-Semibold'; src:url('../fonts/OpenSans-Semibold.ttf'); }

body{ font-family: 'OpenSans-Regular'; }

.view_solutions_hdr{ background: #eee; padding: 10px 0px; }

.view_solutions_hdr h4{ text-align: right; }


.vs_wrap {
width: 100%
}
.vs_wrap .titles {
display: table;
margin: 0;
padding: 0;
width: 100%;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-Webkit-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}
.vs_wrap .titles .box {
display: table-cell;
margin: 0;
padding: 0;
text-align: center;
outline: 1px solid #000;
vertical-align: middle;
}

.vs_qs{ padding-right: 25%; }

.vs_ans_panel{ width: 25%; position: fixed; right: 0px; overflow: scroll; height: 100%;}
