body {
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #454545;
	font-size: 13px;
	line-height: 100%;
}
p {
	padding-bottom: 8px;
}
input {
	background: url(../images/input.jpg) repeat-x 0 0;
	color: #4c4c4c;
	font-size: 13px;
	padding: 10px 10px;
	border: 1px solid #d4d2cf;
	border-right: none;
}
input[type=radio] {
	background: none;
	border: none;
	padding: 0;
}
input:focus[type=radio] {
	background: none;
	border: none;
	padding: 0;
}
h2 {
	color: #7d7d7d;
	font: normal 18px/20px Oswald;
	padding: 5px 0;
	text-transform: uppercase;
}
input:focus {
	border: 1px solid #c4c3c2;
	border-right: none;
}
.wrapper {
	width: 100%;
	border-top: 2px solid #e67c0c;
}
/*----------------- Header Styles -----------------*/
header {
	background: #f7e4d0 url(../images/header-bottom.jpg) repeat-x 0 bottom;
	width: 100%;
	padding-bottom: 3px;
}
.header-in {
	width: 995px;
	margin: 0 auto;
}
.top-header {
	width: 995px;
	padding: 10px 0 22px 0;
	float: left;
}
figure {
	float: left;
}
.register-search {
	float: right;
	margin-top: 10px;
}
.register {
	background: #352984;
	float: right;
	border-radius: 25px;
	box-shadow: 0 0 1px #000;
	padding: 0 10px;
	margin-top: 5px;
}
.register i {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin: 7px 0;
	padding-right: 5px;
	border-right: 1px dotted #fff;
}
.register a {
	color: #fff;
	font-size: 12px;
	padding: 7px 5px 7px 10px;
	display: inline-block;
}
.search {
	float: right;
	margin: 0 10px 0 0;
}
.search input {
	width: 220px;
	float: left;
}
.search i {
	background: #f18614;
	color: #FFFFFF;
	display: inline-block;
	padding: 12px 20px;
	height: 14px;
}
/*----------------- Menu Styles -----------------*/

/*----------------- Slider-Login Styles -----------------*/
.slider_container {
	max-width: 1001px;
	margin: 0 auto;
	position: relative;
	min-height: 408px;
}
.login-form {
	background: #e6e6e6;
	border: 1px solid #ffffff;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 260px;
	padding: 15px 20px 20px 20px;
	border-radius: 2px;
	z-index: 99;
}
.slider_container span.shadow {
	background: url(../images/login-form-shadow.png) no-repeat 0 0;
	bottom: 156px;
	height: 48px;
	position: absolute;
	right: 18px;
	width: 311px;
	z-index: 0;
}
.login-form h2 {
	color: #514c4c;
	font: normal 18px/20px Oswald;
	text-transform: capitalize;
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d5d5;
}
.login-details {
	margin: 15px 0 0;
	overflow: hidden;
}
.login-form input {
	float: left;
	background: #fff;
	width: 190px;
	padding: 9px 10px;
	border: none;
	color: #3D4446;
	font-size: 14px;
}
.login-form i {
	float: left;
	background: #251b67;
	color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
	min-width: 20px;
	text-align: center;
}
.login {
	float: left;
	margin-right: 10px;
}
.login button {
	background: #251b67;
	/*	border: 1px solid #FFFFFF;*/
	border-radius: 5px;
	color: #FFFFFF;
	padding: 3px 16px;
	cursor: pointer;
}
.login-details a {
	color: #DD7302;
	display: inline-block;
	margin: 6px 0 0;
}
.login-details a:hover {
	text-decoration: underline;
}
/*----------------- Section Styles -----------------*/
section {
	background: #f8f8f8;
	width: 100%;
	padding: 0 0 10px 0;
}
.container {
	background: #fff;
	max-width: 990px;
	width: 100%;
	margin: 0 auto;
	padding: 10px 5px;
	overflow: hidden;
}
.latest-videos {
	float: left;
	margin-right: 15px;
	width: 390px;
}
.latest-videos h2, .campus-drive h2, .company-papers h2 {
	border-bottom: 1px solid #e2e2e3;
}
.video {
	width: 100%;
	margin: 15px 0 0 0;
	border: 1px solid #e2e2e3;
	padding-bottom: 8px;
}
.video iframe {
	min-height: 222px;
}
.video p {
	line-height: 18px;
	padding: 8px 5px 0 5px;
}
.quotation-day {
	border: 1px solid #9793AA;
	float: left;
	margin-right: 10px;
	width: 340px;
}
.quotation-day h2 {
	background: #504884;
	Color: #fff;
	text-align: center;
	padding: 10px 0;
}
.questions {
	padding: 20px 22px 6px 5px;
}
.questions p {
	line-height: 16px;
}
.questions span {
	color: #F07C00;
	display: inline-block;
	font-family: Oswald;
	margin-top: 10px;
	text-transform: uppercase;
}
.questions table {
	margin: 15px 0 0 10px;
}
.questions table tr td {
	padding: 5px 4px;
}
.quotation-day ul {
	margin: 20px 0 20px 0;
	display: inline-block;
}
.quotation-day ul li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #332c56;
}
.quotation-day ul li:first-child {
	border-left: none;
}
.quotation-day ul li a {
	color: #332c56;
}
.quotation-day ul li a:hover {
	text-decoration: underline;
}
.company-papers {
	float: left;
	width: 215px;
}
.company-papers ul {
	width: 110px;
	float: left;
	margin: 15px 0 0 0;
}
.company-papers li {
	float: none;
	padding: 0 20px 14px 0;
}
.company-papers li a {
	color: #454545;
}
.company-papers li a:hover {
	text-decoration: underline;
}
.company-papers li i {
	font-size: 15px;
}
.company-papers ul.second-papers {
	width: 90px;
}
.company-papers ul.second-papers li {
	padding: 0 0 14px 0;
}
.company-papers li:last-child {
	padding-bottom: 0;
}
.company-papers ul.second-papers li:last-child {
	padding-bottom: 0;
}
.company-papers li i {
	color: #dddddd;
	padding-right: 5px;
}
.more {
	float: right;
	margin-top: 10px;
}
.company-papers .more {
	margin-top: 11px;
}
.more a {
	color: #f07c00;
	text-decoration: underline;
	text-transform: capitalize;
}
.more a:hover {
	text-decoration: none;
}
/*----------------- Footer Styles -----------------*/
footer input, textarea {
	background: #2d2e2e;
	padding: 7px 10px;
	border: 1px solid #404040;
	width: 255px;
	color: #c9ced2;
	line-height: 13px;
}
textarea {
	resize: vertical;
}
footer input:focus {
	border: 1px solid #525252;
}
footer .submit input {
	background: #d97d1b;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px 10px;
	width: auto;
	border-radius: 5px;
}
footer h2 {
	color: #c9ced2;
	font: normal 20px/20px Oswald;
	padding: 5px 0;
	text-transform: capitalize;
}
footer {
	background: #2a2a2a;
	border-top: 3px solid #e87902;
	width: 100%;
	padding: 20px 0 10px 0;
}
.footer_in, .footer-bottom-in {
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
}
.footer_in ul, .footer_in dl {
	margin: 25px 0 0 0;
}
.footer_in ul li {
	padding: 7px 0;
}
.footer_in ul li a, .footer-bottom p {
	color: #c9ced2;
	font-size: 12px;
}
.footer_in ul li a:hover {
	color: #e87902;
}
.online-test {
	width: 130px;
	border-right: 1px dashed #474848;
	float: left;
}
.practice-test {
	width: 140px;
	margin-left: 35px;
	border-right: 1px dashed #474848;
	float: left;
}
.placement-papers {
	width: 270px;
	margin-left: 35px;
	border-right: 1px dashed #474848;
	float: left;
}
.placement-papers ul {
	float: left;
	margin-right: 20px;
}
.contact-form {
	width: 340px;
	margin-left: 35px;
	float: left;
}
.contact-form dl dt {
	float: left;
	font-size: 12px;
	margin-right: 6px;
	padding: 9px 0;
	text-align: right;
	width: 57px;
	color: #c9ced2;
}
.contact-form dl dd {
	float: left;
	width: 275px;
	margin-bottom: 10px;
}
.submit {
	float: left;
	margin: 0 0 0 63px;
}
.footer-bottom {
	background: #3e3e3e;
	width: 100%;
	padding: 20px 0;
}
.footer-bottom-in {
	text-align: center;
}
.footer-bottom p {
	padding: 0;
	color: #6a7179;
	font-size: 14px;
	line-height: 16px;
}
.footer-bottom p a {
	color: #6a7179;
}
.footer-bottom p a:hover {
	text-decoration: underline;
}
/*----------------- Popup Styles -----------------*/
.popup-inner select{
	 width: 100%;
}
.element_to_pop_up input, select, .element_to_pop_up3 input, select, .edit-profile input, select,textarea{
	background: url(../images/pop-input.jpg) repeat-x 0 0;
	border: 1px solid #d7d5d5;
	padding: 8px 10px;
	width: 94%;
	color: #373738;
}
.element_to_pop_up input.security-code {
	background: #fafafa;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	width: 30%;
	padding: 6px 10px;
}
.element_to_pop_up, .element_to_pop_up2, .element_to_pop_up3, .edit-profile{
	background: url(../images/popup-window.png) repeat 0 0;
	width: 625px;
	height: auto;
	border-radius: 5px;
	padding: 9px;
}

.popup-text, .popup-text2, .popup-text3 {
	background: #251b67;
	width: 100%;
	padding: 15px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.popup-text h2, .popup-text3 h2, .popup-text2 h2 {
	color: #fff;
	text-transform: capitalize;
	font: normal 18px/20px Arial;
}
.popup-inner, .popup-inner2, .popup-inner3 {
	background: #fff;
	width: 100%;
	padding: 15px 15px 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.popup-inner > dl {
	overflow: hidden;
	padding: 20px 0 0;
}
.popup-inner dt {
	float: left;
	margin: 0 20px 0 0;
	padding: 10px 0;
	text-align: right;
	width: 25%;
	color: #373738;
	position: relative;
}
.popup-inner span.validate {
	color: #D42C2E;
	font-size: 8px;
	position: absolute;
	right: -8px;
	top: 7px;
}
.popup-inner dd {
	width: 65%;
	float: left;
	margin-bottom: 10px;
}
.popup-inner .join-us {
	text-align: center;
	width: 71%;
}
.popup-inner .join-us button, .popup-inner3 .submit button {
	background: #251b67;
	padding: 5px 15px;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}
.b-close {
	background: url(../images/close-button.png) no-repeat 0 0;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: -11px;
	text-align: center;
	top: -8px;
	width: 40px;
}
