body {
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #454545;
	font-size: 13px;
	line-height: 100%;
}

form-inner{
	background: #fff;
	width: 100%;
	padding: 15px 15px 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form-inner > dl {
	overflow: hidden;
	padding: 20px 0 0;
}
.form-inner dt {
	float: left;
	margin: 0 20px 0 0;
	padding: 10px 0;
	text-align: right;
	width: 20%;
	color: #373738;
	position: relative;
}
.form-inner span.validate-1 {
	color: #D42C2E;
	font-size: 8px;
	position: absolute;
	right: -8px;
	top: 7px;
}
.form-inner dd {
	width: 65%;
	float: left;
	margin-bottom: 10px;
}
.form-inner .join-us-1 {
	text-align: center;
	width: 71%;
}
.form-inner .join-us-1 button, .popup-inner3 .submit button {
	background: #251b67;
	padding: 5px 15px;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

.dashboard-1{
	background:#f0efef;
	padding:13px 0;
    width: 100%;
	overflow:hidden;
}

.name-1{
	width:40.3%;
	border:1px solid #ccc !important;
	padding:8px;
}

.name-2{
	width: 43.3%;
	border:1px solid #ccc !important;
	padding:7px 10px;
}
#address_txt{
	width: 40%;
	border:1px solid #ccc !important;
	background: -moz-linear-gradient(top,  #fbfaf8 0%, #eae9e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfaf8), color-stop(100%,#eae9e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fbfaf8 0%,#eae9e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fbfaf8 0%,#eae9e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fbfaf8 0%,#eae9e7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fbfaf8 0%,#eae9e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf8', endColorstr='#eae9e7',GradientType=0 ); /* IE6-9 */
border:1px solid #ccc !important;
}
