/*
Version: 3.4.5 Timestamp: Mon Nov  4 08:22:42 PST 2013
*/
.select2-container {
	margin: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.select2-container, .select2-drop, .select2-search, .select2-search input  {
	background: url(../images/pop-input.jpg) repeat-x 0 0;
	border: 1px solid #d7d5d5;
	padding: 8px 10px;
	width: 100%;
	-webkit-box-sizing: border-box; /* webkit */
	-moz-box-sizing: border-box; /* firefox */
	box-sizing: border-box; /* css3 */
}


.select2-container .select2-choice {
	display: block;
	background: none;
	height: auto;
	color: #373738;
	width: auto;
}
.select2-container.select2-drop-above .select2-choice {
	border-bottom-color: #aaa;
	border-radius: 0 0 4px 4px;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
	margin-right: 42px;
}
.select2-container .select2-choice > .select2-chosen {
	margin-right: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.select2-container .select2-choice abbr {
	display: none;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 24px;
	top: 8px;
	font-size: 1px;
	text-decoration: none;
	border: 0;
	background: url(../images/select2.png) right top no-repeat;
	cursor: pointer;
	outline: 0;
}
.select2-container.select2-allowclear .select2-choice abbr {
	display: inline-block;
}
.select2-container .select2-choice abbr:hover {
	background-position: right -11px;
	cursor: pointer;
}
.select2-drop-mask {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 9998;
	background-color: #fff;
}
.select2-drop {
	width: auto;
	margin-top: -1px;
	position: absolute;
	z-index: 9999;
	top: 100%;
	background: #fff;
	color: #373738;
	border: 1px solid #e2e2e2;
	border-top: 0;
}
.select2-drop-auto-width {
	border-top: 1px solid #aaa;
	width: auto;
}
.select2-drop-auto-width .select2-search {
	padding-top: 4px;
}
.select2-drop.select2-drop-above {
	margin-top: 1px;
	border-top: 1px solid #aaa;
	border-bottom: 0;
	border-radius: 0 0 4px 4px;
}
.select2-drop-active {
	border: 1px solid #E2E2E2;
	border-top: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
	border: 1px solid #e2e2e2;
}
.select2-container .select2-choice .select2-arrow {
	border-left: medium none;
	display: inline-block;
	padding: 0;
	position: absolute;
	right: 11px;
	top: 11px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #bbbbbb;
	background: none;
}
.select2-container .select2-choice .select2-arrow b {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/select2.png') no-repeat 0 1px;
}
.select2-search {
	display: inline-block;
	width: 100%;
	min-height: 26px;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
}
.select2-search input {
	background: #F5F5F5;
	border: 1px solid #15A7DC;
	border-radius: 0;
	box-shadow: none;
	font-family: arial;
	font-size: 12px;
	height: auto !important;
	margin: 4px 0 0;
	min-height: 0;
	outline: 0 none;
	padding: 4px 0;
	width: 100%;
	visibility:hidden;
}
.select2-drop.select2-drop-above .select2-search input {
	margin-top: 4px;
}
.select2-search input.select2-active {
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
	border: none;
	outline: none;
}
.select2-dropdown-open .select2-choice {
	background: url(../images/select-1_bg.png) no-repeat 0 0;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
	background: url(../images/select-1_bg.png) no-repeat 0 0;
}
.select2-dropdown-open .select2-choice .select2-arrow {
	background: transparent;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
	background-position: -18px 1px;
}
/* results */
.select2-results {
	max-height: 200px;
	padding: 0;
	margin: -28px 0 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results ul.select2-result-sub {
	margin: 0;
	padding-left: 0;
}
.select2-results ul.select2-result-sub > li .select2-result-label {
	padding-left: 20px
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 40px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 60px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 80px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 100px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 110px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
	padding-left: 120px
}
.select2-results li {
	list-style: none;
	display: list-item;
	background-image: none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
	font-weight: bold;
}
.select2-results .select2-result-label {
	padding: 3px 7px 4px;
	margin: 0;
	cursor: pointer;
}
.select2-results .select2-highlighted {
	background: #d4d4d4;
	color: #373738;
}
.select2-results li em {
	background: #feffde;
	font-style: normal;
}
.select2-results .select2-highlighted em {
	background: transparent;
}
.select2-results .select2-highlighted ul {
	background: #fff;
	color: #000;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
	background: #f4f4f4;
	display: list-item;
}
/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
	color: #666;
	background: #f4f4f4;
	display: list-item;
	cursor: default;
}
.select2-results .select2-disabled {
	background: #f4f4f4;
	display: list-item;
	cursor: default;
}
.select2-results .select2-selected {
	display: none;
}
.select2-more-results.select2-active {
	background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}
.select2-more-results {
	background: #f4f4f4;
	display: list-item;
}
/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
	background-color: #f4f4f4;
	background-image: none;
	border-left: 0;
}
.select2-container.select2-container-disabled .select2-choice abbr {
	display: none;
}
/* multiselect */

.select2-container-multi .select2-choices {
	height: auto !important;
	height: 1%;
	margin: 0;
	padding: 0;
	position: relative;
	border: 1px solid #aaa;
	cursor: text;
	overflow: hidden;
}
.select2-locked {
	padding: 3px 5px 3px 5px !important;
}
.select2-container-multi .select2-choices {
	min-height: 26px;
}
.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #5897fb;
	outline: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.select2-container-multi .select2-choices li {
	float: left;
	list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
	padding: 5px;
	margin: 1px 0;
	font-family: sans-serif;
	font-size: 100%;
	color: #666;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent !important;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
	background: #fff url('select2-spinner.gif') no-repeat 100% !important;
}
.select2-default {
	color: #999 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 18px;
	margin: 3px 0 3px 5px;
	position: relative;
	line-height: 13px;
	color: #333;
	cursor: default;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	background-clip: padding-box;
	background-color: #e4e4e4;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
	cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #d4d4d4;
}
.select2-search-choice-close {
	display: block;
	width: 12px;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 4px;
	font-size: 1px;
	outline: none;
	background: url('select2.png') right top no-repeat;
}
.select2-container-multi .select2-search-choice-close {
	left: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
	background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
	background-position: right -11px;
}
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ddd;
	background-image: none;
	background-color: #f4f4f4;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
	display: none;
	background: none;
}
/* end multiselect */


.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
	text-decoration: underline;
}
.select2-offscreen, .select2-offscreen:focus {
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	outline: 0 !important;
	left: 0px !important;
	top: 0px !important;
}
.select2-display-none {
	display: none;
}
.select2-measure-scrollbar {
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 100px;
	height: 100px;
	overflow: scroll;
}
.select2-search1, .select2-input.inp1 input {
	background:none;
	border:0;
	padding:0;
	width: 100%;
	min-height:0;
	
}
	
