.search i {
 height::13px;
}
.register {
	position: relative;
	border-radius: 25px;
	box-shadow: 0 0 1px #000;
	behavior: url(PIE.htc);
}
.login-form {
	border-radius: 2px;
	behavior: url(PIE.htc);
}
.login button {
	border-radius: 5px;
	behavior: url(PIE.htc);
	padding: 5px 16px;
}
.element_to_pop_up {
	border-radius: 5px;
	behavior: url(PIE.htc);
}
.popup-text {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	behavior: url(PIE.htc);
	position: relative;
}
.popup-inner {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	behavior: url(PIE.htc);
	position: relative;
}
footer .submit input {
	behavior: url(PIE.htc);
	border-radius: 5px;
	position: relative;
}
.popup-inner .join-us button {
	behavior: url(PIE.htc);
	border-radius: 5px;
	position: relative;
}
.element_to_pop_up {
	behavior: url(PIE.htc);
	border-radius: 5px;
	position: relative;
}
.container-internal {
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 5px #D1D1D1;
	behavior: url(PIE.htc);
}
ul.qestion-numbers li {
	behavior: url(PIE.htc);
	position: relative;
	border-radius: 100%;
}
.internal-bnt a.btn {
	behavior: url(PIE.htc);
	position: relative;
	border-radius: 5px;
}
.internal-bnt a.btn2 {
	behavior: url(PIE.htc);
	position: relative;
	border-radius: 5px;
}
footer input, textarea {
	overflow: auto;
}
.flex-control-nav li a {
	border-radius: 50%;
	behavior: url(PIE.htc);
}
.progress-bar {
	border-radius: 5px;
	behavior: url(PIE.htc);
	position: relative;
}
ul.qestion-numbers li {
	border-radius: 100%;
	behavior: url(PIE.htc);
	position: relative;
}
#overlay {
	filter: alpha(opacity=50)!important;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)!important
}
.mean-container .mean-nav ul li li a {
	filter: alpha(opacity=75);
}
