.header-internal {
	background: #f7e4d0;
}
.section-internal {
	padding-top: 10px;
	background: #fff;
}
.container-internal {
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	box-shadow: 0 0 5px #D1D1D1;
	-moz-box-shadow: 0 0 5px #D1D1D1;
	-webkit-box-shadow: 0 0 5px #D1D1D1;
	-ms-box-shadow: 0 0 5px #D1D1D1;
	-o-box-shadow: 0 0 5px #D1D1D1;
	padding: 5px 6px;
	max-width: 990px;
	min-height:450px;
}
.question-header {
	width: 100%;
	padding: 4px 6px;
	background: #f1efef;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}
.question-test {
	float: left;
	width: 760px;
	margin-top: 10px;
}
.question-title {
	overflow: hidden;
	padding: 0 4px;
}
.question-title span {
	color: #f07c00;
	font: bold 14px/16px Arial;
	margin: 0;
}
.question-title span.test-name {
	padding-left: 190px;
}
.question-title span.bookmark {
	color: #251b67;
	padding-left: 35px;
}
.question-title span.bookmark a {
	color: #251b67;
}
.question-title span.bookmark a:hover {
	text-decoration: underline;
}
ul.qestion-numbers {
	margin: 30px 0 0 0;
}
ul.qestion-numbers li {
	background: #787777;
	width: 22px;
	height: 13px;
	border-radius: 100%;
	text-align: center;
	padding: 4px 0;
	float: left;
	margin-right: 5px;
}
ul.qestion-numbers li:hover, ul.qestion-numbers li.active {
	background: #f08717;
}
ul.qestion-numbers li a {
	color: #fff;
	display: block;
	font-size: 11px;
}
.exam-left {
	background: #fff;
	padding: 10px 45px 5px;
	width: 127px;
	float: right;
	text-align: center;
}
.exam-left img {
	float: left;
}
.exam-left p {
	color: #F07C00;
	float: left;
	margin-left: 15px;
	padding-bottom: 5px;
	width: 60px;
	text-align: left;
}
.exam-left span.time-left {
	color: #251b67;
	font: bold 15px/20px Arial;
	display: inline-block;
}
.question-internal {
	padding-bottom: 0;
}
.question-internal p {
	color: #f07c00;
	font-size: 14px;
}
.question-internal table {
	margin: 10px 0 0 10px;
}
.question-internal table tr td {
	padding: 0 4px 25px;
}
.internal-bnt {
	margin: 10px 0 25px 0;
	width: 100%;
	overflow: hidden;
	display: inline-block;
}
a.btn {
	background: #251b67;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 6px 12px;
	margin-right: 5px;
	display: inline-block;
}
a.btn:hover {
	background: #f08717;
}
a.btn2 {
	background: #f08717;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 6px 12px;
	margin-right: 5px;
	display: inline-block;
	float: right;
}
a.btn2:hover {
	background: #251b67;
}
h3, .test-details-left table tr td {
	color: #f18614;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
}
.test-details {
	width: 960px;
	overflow: hidden;
	padding: 15px;
}
.test-details-left {
	width: 545px;
	float: left;
}
.test-details-left p {
	font-size: 16px;
	color: #3a2d8d;
	line-height: 20px;
}
.test-details-left table {
	margin: 25px 0;
	width: 100%;
}
.test-details-left table tr td {
	padding: 10px 0;
	border-bottom: 1px solid #d4d4d4;
	width: 50%;
}
.test-details-left table tr td:nth-child(2) {
	text-align: right;
	color: #3f3874;
}
.test-details-right {
	width: 310px;
	padding: 20px;
	background: #f07c00;
	float: right;
}
.test-details-right p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 24px;
}
.test-details-right p span {
	display: block;
	margin-top: 20px;
}
.progress-bar {
	background: #f07c00;
	border-radius: 5px;
	padding: 10px 15px;
	width: 930px;
	color: #fff;
	text-align: right;
	margin: 0 15px;
}
.start-test {
	text-align: center;
}
.start-test a.start {
	margin: 0;
	padding: 15px 10px;
	text-transform: uppercase;
}
.question-test.question-test-2 {
	margin-top: 5px;
	width: 100%;
}
.report-error {
	float: right;
}
.report-error span {
	float: left;
	color: #e23333;
	font: bold 13px/14px 'Open Sans', sans-serif;
	padding: 8px;
}
.report-error i {
	padding: 0 5px;
}
a.prev-question, a.next-question {
	float: left;
	padding: 8px 8px;
}
.qestion-numbers.qestion-numbers-2 {
	margin: 8px 0 13px;
	overflow: hidden;
}
.qestion-numbers.qestion-numbers-2 li {
	margin-right: 10px;
}
.question-header.question-header-2 {
	margin-bottom: 5px;
	padding: 10px;
}
.question-header.question-header-2 span {
	font-size: 15px;
	line-height: 15px;
}
.question-header.question-header-2 span.test-name-2 {
	color: #251b67;
}
.question-header.question-header-2 span.test-date {
	color: #f07c00;
	padding-left: 20px;
}
.share-dictionary {
	padding: 17px 0;
	width: 100%;
	overflow: hidden;
}
.share-question {
	float: left;
	margin: 7px 0 0;
}
.share-question span {
	float: left;
}
.share-question img {
	float: left;
	padding-left: 8px;
	cursor: pointer;
}
.dictionary {
	float: right;
}
.resp-tabs-container h2, .student-percentage {
	background: #f1f1f1;
	padding: 10px 10px;
	color: #272727;
	font: 500 14px/15px open sans;
	text-transform: capitalize;
	margin: 15px 0;
}
.resp-tabs-container span.question {
	color: #f07c00;
	font: bold 14px/14px Arial;
	padding: 0 0 10px 10px;
	display: inline-block;
}
.resp-tabs-container p {
	padding: 0 0 5px 10px;
}
.resp-tabs-container table {
	margin: 10px 0 0 15px;
}
.resp-tabs-container table tr td {
	padding: 0 0 5px 8px;
}
.student-percentage {
	font: 500 14px/15px open sans;
	color: #251b67;
}
.student-percentage a {
	text-decoration: underline;
	text-transform: uppercase;
	color: #f07c00;
}
.student-percentage a:hover {
	text-decoration: none;
}
.user-profile {
	background: #f1efef;
	width: 100%;
	border: 1px solid #251b67;
	padding: 5px 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 30px;
}
.user-details {
	float: left;
	width: 760px;
}
.user-name {
	float: left;
	text-align: center;
}
.user-img {
	background: #fff;
	border: 1px solid #251B67;
	border-radius: 50% 50% 50% 50%;
	height: 100px;
	padding: 30px 0 0;
	text-align: center;
	width: 130px;
}
.user-img img {
	border-radius: 50% 50% 32% 33%;
}
.user-details h3 {
	padding-top: 6px;
	font: bold 14px/14px 'Open Sans', sans-serif;
}
.about-me {
	float: left;
	margin: 25px 0 0 20px;
}
.about-me p {
	color: #251b67;
	padding: 12px 0 0;
}
.about-me p a {
	color: #F07C00;
	text-decoration: underline;
}
.about-me p a:hover {
	text-decoration: none;
}
.profile-complete {
	float: right;
	margin: 124px 0 0;
	width: 162px;
}
/*----------------- Popup2 Styles -----------------*/

.element_to_pop_up2 {
	width: 788px;
}
.popup-text2 {
	padding: 10px 10px;
}
.popup-inner2 {
	padding: 9px 12px;
	overflow: hidden;
}
.unlock {
	width: 180px;
	border: 1px solid #ecebec;
	padding-bottom: 12px;
	border-radius: 5px;
	text-align: center;
	margin-right: 12px;
	float: left;
}
.unlock h2 {
	background: #57565f;
	padding: 9px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #ffffff;
	text-align: center;
	font: bold 14px/14px 'Open Sans', sans-serif;
	text-transform: none;
	position: relative;
	margin-bottom: 15px;
}
.unlock h2 span {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 12px solid #57565F;
	height: 0;
	left: 81px;
	position: absolute;
	top: 32px;
	width: 0;
}
.unlock i {
	border: 2px solid #57565F;
	border-radius: 100% 100% 100% 100%;
	color: #57565F;
	font-size: 55px;
	padding: 5px 4px;
	text-align: center;
	width: 36%;
	margin-bottom: 5px;
}
.unlock p {
	color: #57565F;
	line-height: 18px;
	padding-left: 50px;
	text-align: left;
}
.unlock-last {
	margin-right: 0px;
}
.unlock:hover h2 {
	color: #fff;
	cursor: pointer;
	background: #251b67;
}
.unlock:hover h2 span {
	cursor: pointer;
	border-top: 12px solid #251b67;
}
.unlock:hover i {
	cursor: pointer;
	color: #251b67;
	border: 2px solid #251b67;
}
.unlock:hover p {
	cursor: pointer;
	color: #251b67;
}
.new {
	display: inline-block;
	padding: 10px 0 0;
	text-align: center;
	width: 100%;
}
/*----------------- Popup3 Styles -----------------*/

/*.element_to_pop_up3 input, select {
	width: 91%;
}*/
.popup-text3 {
	padding: 10px 15px;
}
.popup-inner3 {
	padding: 0 15px;
	overflow: hidden;
}
.pay-by-month {
	padding: 25px 0 30px 0;
	width: 48%;
	float: left;
}
.let-us-cal {
	padding: 25px 0 30px 0;
	width: 38%;
	float: right;
}
.pay-by-month h2, .let-us-cal h2 {
	color: #251b67;
	font: bold 14px/14px Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: none;
}
.let-us-cal h2 {
	text-align: left;
}
.popup-inner3 dl {
	overflow: hidden;
	padding: 20px 0 0;
}
.popup-inner3 dt {
	color: #373738;
	float: left;
	margin: 0 10px 0 0;
	padding: 10px 0;
	position: relative;
	text-align: right;
	width: 20%;
}
.popup-inner3 dd {
	float: left;
	margin-bottom: 20px;
	width: 75%;
}
.popup-inner3 .submit {
	text-align: center;
	width: 71%;
	margin: 0;
}
.let-us-cal dl dt {
	width: 0%;
	margin: 0;
}
.let-us-cal dd {
	width: 95%;
}
.popup-inner3 .let-us-cal .submit {
	margin: 0;
	text-align: left;
	width: 100%;
}
.divider {
	background: url(../images/divider.png) no-repeat 0 0;
	float: left;
	height: 232px;
	margin: 0 27px;
	width: 26px;
}
.user-tab {
	border: 1px solid #c7ced3;
	width: 100%;
	border-top: none;
}
/*----------------- Today Puzzle Styles -----------------*/
.left-content {
	float: left;
	width: 640px;
	overflow: hidden;
}
.left-content h2 {
	color: #f07c00;
	font: bold 15px/15px Arial;
	text-transform: none;
	padding: 12px 0 10px;
}
.right-content {
	float: right;
	width: 335px;
}
.left-content-head, .left-content-head2, .puzzle-payoff {
	background: #f1efef;
	padding: 10px;
	width: 100%;
	margin: 0 0 5px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 20px;
}
.left-content-head {
	color: #251b67;
	font-size: 15px;
	line-height: 15px;
}
.left-content-head span, .left-content-head2 a, .puzzle-payoff a {
	color: #f07c00;
}
.left-content-head2 a {
	font-size: 18px;
	line-height: 18px;
}
.left-content-head2 a:hover, .puzzle-payoff a:hover {
	text-decoration: underline;
}
.puzzle-payoff {
	background: none;
	border: 1px solid #ccd2d7;
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	padding-right: 65px;
}
.puzzle-payoff a {
	font-size: 14px;
}
.quiz {
	width: 99%;
	border: 1px solid #ccd2d7;
	margin-top: 5px;
}
.quiz h2 {
	background: #453d7e;
	color: #fff;
	font: bold 15px/15px Arial;
	text-transform: none;
	padding: 10px 8px;
}
.quiz .question, .sequence, .answer, .reason {
	display: inline-block;
	line-height: 16px;
	padding: 15px 8px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.quiz .question span {
	float: left;
	padding-bottom: 15px;
}
.quiz h3 {
	background: #e5e3e3;
	padding: 8px;
	color: #453d7e;
	font-size: 15px;
	line-height: 15px;
}
.best-solution {
	background: #e5e3e3;
	border: 1px solid #ccd2d7;
	padding: 7px 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}
.solution {
	background: #fff;
	float: left;
	width: 73%;
	padding: 7px 8px;
	position: relative;
}
.solution span {
	border-bottom: 10px solid rgba(0, 0, 0, 0);
	border-left: 15px solid #FFFFFF;
	border-top: 10px solid rgba(0, 0, 0, 0);
	height: 0;
	position: absolute;
	right: -14px;
	top: 50%;
	width: 0;
}
.profile-img {
	float: right;
	margin: 6px 0 0;
	text-align: center;
	width: 22%;
	color: #f07c00;
	font-size: 15px;
	line-height: 16px;
	font-weight: bold;
}
.profile-img img {
	border: 1px solid #5c5b5b;
	margin-bottom: 5px;
	width: 110px;
	height: 110px;
}
.solution-helpful {
	width: 100%;
	text-align: right;
	color: #170b64;
	font-size: 11px;
	padding: 8px 0;
}
.solution-helpful a {
	color: #170b64;
}
.solution-helpful a:hover {
	color: #f07c00;
	text-decoration: underline;
}
.facebook-block, .user-post, .testimonials, .user-comment {
	background: #f9fafb;
	width: 100%;
	border: 1px solid #bec6cb;
	margin-bottom: 20px;
}
.facebook-block h2 {
	color: #000000;
	font: normal 15px/15px Arial;
	text-transform: none;
	padding: 10px 10px 9px;
	background: #e9ebed;
}
.facebook-block img {
	padding: 5px 0 5px 10px;
}
.user-post h2, .testimonials h2, .user-comment h2 {
	color: #2e2473;
	font: normal 16px/16px Arial;
	text-transform: none;
	padding: 15px 10px;
	border-bottom: 1px solid #bec6cb;
}
.user-post-content, .testimonials-content, .user-comment-content {
	padding: 15px 10px;
	line-height: 18px;
	overflow: hidden;
}
.user-comment-content span {
	color: #251b67;
	padding: 10px 0 0 0;
	display: inline-block;
}
.user-post-content h3 {
	font-size: 13px;
	padding: 5px 0;
}
.user-comment-content h3 {
	font-size: 13px;
}
a.more {
	color: #2e2473;
	text-decoration: underline;
	float: right;
	font-weight: bold;
}
a.more:hover {
	text-decoration: none;
	color: #f07c00;
}
.testimonials-left-content {
	float: left;
	color: #453d7e;
	font-size: 12px;
	width: 60px;
}
.testimonials-right-content {
	float: right;
	width: 240px;
	line-height: 15px;
	font-size: 12px;
}
.testimonials-left-content img {
	border: 1px solid #626161;
	width: 55px;
	height: 55px;
}
