﻿#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: #000;
	z-index: 9000;
	opacity: 0.5;
}
.navigation {
	background: none;
	position: relative;
	z-index: 999;
	max-width: 990px;
	width: 100%;
	float: left;
}
.navigation ul li span.mainlink {
	cursor: auto
}
.navigation ul li .mainlink {
	color: #190d56;
	font: bold 16px/16px 'Open Sans', sans-serif;
	display: block;
	padding: 0 18px;
	margin: 4px 0;
	border-left: 1px solid #190d56;
}
.navigation ul li .mainlink:hover, .navigation ul li .mainlink.active {
	color: #f07c00;
}
.lhssection ul li .mainlink {
	border-left: none;
}
.lhssection ul li .mainlink a {
	color: #190d56 !important;
}
.navigation ul li.lastselected {
	border-top: 1px solid #bdbcbd;
	border-right: 1px solid #bdbcbd!important;
	border-left: 1px solid #bdbcbd!important
}
.navigation ul li.selected, .navigation ul li.lastselected, .navigation ul li.select {
	background: url(/assets/images/navigation_btmborder.png) repeat-x 0 bottom
}
.navigation ul li {
	float: left;
	padding: 0 0 15px;
	position: relative;
	z-index: 2;
}
.navigation ul li .menutext {
	float: left;
	padding: 0;
}
.navigation ul li a {
	display: block;
	height: 20px;
	color: #251b67;
	font-size: 14px;
}
.navigation ul li.first a {
	border: none;
	padding-left: 0
}
.navigation ul li img.pointer {
	left: 40%;
	position: absolute;
	display: none;
	z-index: 2;
	bottom: -7px
}
.dropdownWrap {
	background: url(../images/nav_pointer.png) no-repeat 60px 0;
	left: 0;
	padding-top: 10px;
	position: absolute;
	top: 30px;
	z-index: 1;
	display: none;
	width: 657px
}
.navigation ul li.lastNav .dropdownWrap {
	width: 410px;
	left: -247px
}
.navigation ul li.dropmidNav .dropdownWrap {
	width: 410px;
	left: 0
}
.dropdownWrap .midcrv .lhssection {
	float: left;
	width: 245px;
}
.smenav .dropdownWrap .midcrv .lhssection {
	float: left;
	width: 186px;
}
.dropdownWrap .midcrv .lhssection ul {
	float: left;
	border: none;
}
.dropdownWrap .midcrv .lhssection ul li {
	float: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: 700;
	color: #005593;
	width: 215px;
	border: 0;
	line-height: 16px;
	padding: 9px 8px 10px 16px;
}
.smenav .dropdownWrap .midcrv .lhssection ul li {
	width: 163px;
}
.smenav .lastNav .dropdownWrap .midcrv .lhssection ul li {
	width: 149px;
}
.smenav .dropdownWrap .midcrv .lhssection ul li.selected {
	border: none!important;
}
.dropdownWrap .midcrv .lhssection ul li span.mainlink {
	font-size: 14px;
	cursor: auto
}
.dropdownWrap .midcrv .lhssection ul li a.mainlink {
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif
}
.dropdownWrap .midcrv .lhssection ul li a {
	color: #005593;
	text-decoration: none;
	border: none;
	height: auto;
	padding: 0
}
.dropdownWrap .midcrv .lhssection ul li.selected {
	background: #F3A34F;
	color: #FFF
}
.dropdownWrap .midcrv .rhssection {
	float: left;
	width: 405px
}
.dropdownWrap .midcrv .rhssection .innerNavs {
	width: 480px;
	display: none;
	float: left;
	border-left: 2px solid #f3a34f;
	overflow: hidden;
	position: relative
}
.innerNavs .innerNavContainer {
	width: 480px;
	float: left
}
.tabularData {
	padding: 0 0 0 15px
}
.tabularData p {
	font-size: 1.3em;
	font-weight: 700
}
.tabularData table {
	width: 446px;
	font-size: 1.3em;
	margin: 15px 0 0
}
.tabularData table tr th {
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 10px 0 10px 18px
}
.tabularData table tr td {
	border-bottom: 1px solid #eaeaea;
	padding: 5px 0 5px 18px
}
.dropdownWrap .midcrv .rhssection .banner {
	border: none;
	height: 245px;
	position: relative
}
.dropdownWrap .midcrv .rhssection .banner img {
	left: 3px;
	position: absolute;
	top: -13px
}
.dropdownWrap .midcrv .rhssection ul {
	float: left;
	width: 355px;
	border: none;
	padding: 10px 0 0 15px
}
.dropdownWrap .midcrv .rhssection ul li {
	float: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: #005593;
	line-height: 16px;
	border: none;
	cursor: default;
	overflow: hidden;
	padding: 0 0 15px 3px
}
.dropdownWrap .midcrv .rhssection .right_banner {
	float: right;
	padding-right: 10px;
	padding-top: 12px
}
.dropdownWrap .midcrv .rhssection .right_banner .nav_knowmore {
	display: block;
	padding: 10px 0 0;
	text-align: right;
}
.dropdownWrap .midcrv .rhssection .right_banner p {
	text-align: right;
	color: #000;
	font-size: 1.2em;
	padding: 0 4px 0 0
}
.dropdownWrap .midcrv .rhssection ul li a:hover {
	text-decoration: none;
	color: #f3a34f !important;
}
.navigation ul li.first .menutext {
	border: 0
}
.clearfix, .navigation ul li.select img.pointer, .navigation ul li.selected .pointer, .navigation ul li.lastselected .pointer {
	display: block
}
div.languagenav p.selected a, div.lhsnavsection div.mid ul li.subselected ul li a:hover {
	background: none;
	color: #005593
}
.navigation ul li.selected, .navigation ul li.select {
	color: #f3a34f;
}
.navigation ul li.selnextlinav .menutext, .navigation ul li.select .menutext {
	border-left: 1px solid #FFFFFF
}
.navigation ul li.selected a, .navigation ul li.selected .menutext, .navigation ul li.lastselected .menutext, .navigation ul li.nextlinav .menutext, div.impmessage div.impmessagebottom ul li.last {
}
.navigation ul, div.smallbanners_bottom img, .login_panel div.loginbox div.loginbox_bottom div.loginboxlinks img {
	float: left
}
.navigation ul li.find_your_nearest img.pointer, .navigation ul li.manage_your_money .pointer {
	left: 45%
}
.navigation ul li.lastNav .dropdownWrap .midcrv .rhssection, .navigation ul li.dropmidNav .dropdownWrap .midcrv .rhssection, .smenav ul li .dropdownWrap .midcrv .rhssection {
	width: 220px!important
}
.navigation ul li.lastNav .dropdownWrap .midcrv .lhssection, .navigation ul li.dropmidNav .dropdownWrap .midcrv .lhssection {
	width: 173px;
	border-right: 2px solid #239EDD
}
.smenav ul li.dropmidNav .dropdownWrap .midcrv .lhssection {
	width: 173px;
	border: none
}
.navigation ul li.lastNav .innerNavs .innerNavContainer, .navigation ul li.dropmidNav .innerNavs .innerNavContainer {
	width: 230px;
	margin: 0 0 0 5px
}
.dropdownWrap .topcrv, .dropdownWrap .btmcrv {
	display: none!important
}
.dropdownWrap .midcrv {
	background: #fff;
	width: 655px;
	float: left;
	border: 1px solid #251b67;
	margin-top: 3px;
	padding: 14px 0
}
.manage_your_money .dropdownWrap {
	width: 188px;
	left: -8px
}
.manage_your_money .dropdownWrap .midcrv, .smenav ul li.manage_your_money .dropdownWrap .midcrv {
	width: 186px!important;
}
.navigation ul li.lastNav .dropdownWrap .midcrv, .navigation ul li.dropmidNav .dropdownWrap .midcrv, .smenav ul li .dropdownWrap .midcrv {
	width: 407px
}
.navigation-responsive-nav {
	display: none !important;
}
.navigation ul li.placement {
	position: inherit;
}
li.placement .dropdownWrap {
	left: -2px;
	width: 100%;
	background-position:58% 0;
}
li.placement .dropdownWrap .midcrv {
	padding: 1% 1%;
	width: 98%;
}
.PlacementRow ul {
	float: left;
	width: 17.5%;
	padding: 0 1% 0 1.5%;
	border-left: 1px solid #f3a34f;
}
.PlacementRow ul:first-child {
	border: 0;
	padding: 0;
	padding-left: 1%;
}
.PlacementRow ul li {
	float: left;
	width: 100%;
	padding: 0;
}
.PlacementRow ul li a {
	font: normal 14px/16px Arial, Helvetica, sans-serif;
	height: auto;
	padding: 7px 7px;
	color: #251B67;
}
.PlacementRow ul li a:hover {
	color: #F07C00;
	background: #F3A34F;
	color: #FFF
}

background: url(../images/nav_pointer.png) no-repeat 60px 0;