@media (max-width:980px) {
.tabs-resp .ui-tabs .svg.ui-tabs-nav li a {
	padding: 13px 12px;
	
}
li.placement .dropdownWrap {
    background-position: 54% 0;
}
}
@media (max-width:800px) {
.tabs-resp .ui-tabs .svg.ui-tabs-nav li a {
	padding: 13px 7px;
	font-size: 13px;
	
}
.PlacementRow ul{
	width:16.2%;
}
li.placement .dropdownWrap {
    background-position: 66% 0;
}
}
@media (max-width:768px) {
.tabs-resp .ui-tabs .svg.ui-tabs-nav li a {
	padding: 13px 5px;
	font-size: 13px;
}
.PlacementRow ul{
	width:16%;
}
li.placement .dropdownWrap {
    background-position:68% 0;
}
}
@media (max-width: 767px) {
.header-in {
	width: 100%;
}
.top-header {
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.register-search {
	float: right;
	margin-top: 18px;
	width: 55%;
}
.register {
	width: 23%;
	margin: 0;
	padding: 0 5px 0 10px;
}
.search {
	margin: 0 5px 0 0;
	width: 65%;
}
.search input {
	padding: 5px 10px;
	width: 75%;
}
.search i {
	padding: 7px;
}
.register a {
	padding-left: 5px;
}
nav, navigation {
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.sub-collapser {
	display: block;
}
.slider-login {
	width: 100%;
}
.element_to_pop_up {
	width: 80%;
}
.dropdownWrap .midcrv .rhssection {
	min-height: 0 !important;
}
/*----------------- Section Styles -----------------*/
.container {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.latest-videos {
	margin-right: 0;
	width: 100%;
}
.video {
	margin: 5px 0 0;
	min-height: 210px;
}
.video iframe {
	min-height: inherit;
}
.quotation-day, .company-papers {
	margin-top: 10px;
	width: 100%;
}
.quotation-day h2 {
	font-size: 15px;
	padding: 5px 10px;
	text-align: left;
}
.questions {
	padding: 8px 10px;
}
.questions span {
	margin: 0;
}
.quotation-day table {
	margin: 5px 0 0 10px;
}
.quotation-day ul {
	margin: 7px 0;
}
.company-papers ul, .company-papers ul.second-papers {
	margin: 5px 0 0;
	width: 100%;
}
.latest-videos h2, .campus-drive h2, .company-papers h2 {
	padding: 2px 10px;
	font-size: 15px;
}
.video p {
	line-height: 15px;
	padding: 3px 5px 0;
}
.more {
	margin-top: 5px;
}
.company-papers li {
	float: left;
	padding-bottom: 7px;
}
.company-papers ul.second-papers li {
	padding: 0 15px 7px 0;
}
.company-papers .more {
	margin-top: 9px;
}
.slider_container span.shadow {
	display: none;
}
.login-form {
	right: 10px;
	top: 6px;
}
/*----------------- Footer Styles -----------------*/
footer {
	padding: 10px 0 10px;
}
footer h2 {
	padding: 2px 0;
	font-size: 15px;
}
.footer_in ul, .footer_in dl {
	margin: 0;
}
.placement-papers ul {
	margin-bottom: 5px;
}
.footer_in, .footer-bottom, .footer-bottom-in {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.online-test {
	width: 100%;
	border-right: none;
	border-bottom: 1px dashed #474848;
	padding-bottom: 5px;
}
.practice-test, .placement-papers, .contact-form {
	margin-left: 0;
	margin-top: 5px;
	width: 100%;
	border-right: none;
	border-bottom: 1px dashed #474848;
	padding-bottom: 5px;
}
.contact-form {
	border: none;
}
.contact-form dl dd {
	margin-right: 26px;
	width: 30%;
}
.contact-form dl dt {
	width: 13%;
}
footer input, textarea {
	width: 100%;
}
.submit {
	margin: 0;
	text-align: right;
	width: 96%;
}
.footer_in ul li {
	float: left;
	padding: 5px 15px;
}
.placement-papers ul li {
	padding: 5px 20px;
}
.flex-caption {
	display: none;
}
.slider_container {
	min-height: 0;
}
.popup-inner .join-us {
	width: 76%;
}
/*----------------- internal Styles -----------------*/


.section-internal {
	-moz-box-sizing: border-box;
	padding: 10px 5px;
	width: 100%;
}
.question-test {
	margin-top: 5px;
	width: 60%;
}
.question-title {
	padding: 0;
}
.question-title span {
	display: inline-block;
	width: 100%;
}
.question-title span.test-name, .question-title span.bookmark {
	padding-top: 4px;
	padding-left: 0;
}
ul.qestion-numbers {
	margin: 10px 0 0;
}
ul.qestion-numbers li {
	margin-bottom: 5px;
	margin-right: 11px;
}
.exam-left {
	margin: 10px 0 0;
	padding: 10px 15px;
	width: 35%;
}
.exam-left span.time-left {
	display: inline-block;
	width: 100%;
}
.exam-left p {
	margin-left: 7%;
	padding-bottom: 0;
	width: auto;
	padding-top: 10px;
}
.question-internal table {
	margin: 5px 0 0 5px;
}
.question-internal table tr td {
	padding: 0 4px 14px;
}
.internal-bnt {
	margin: 0 0 15px;
}
h3, .test-details-left table tr td {
	font-size: 14px;
}
.test-details-left p {
	font-size: 13px;
	line-height: 17px;
}
.test-details {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
}
.test-details-left table {
	margin: 12px 0;
}
.test-details-left table tr td {
	padding: 7px 0;
}
.test-details-left {
	width: 54%;
}
.test-details-right {
	padding: 10px;
	width: 35%;
}
.test-details-right p {
	font-size: 13px;
	line-height: 20px;
}
.test-details-right p span {
	margin-top: 10px;
}
.progress-bar {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 0 10px;
}
.start-test a.start {
	padding: 10px;
}
.question-title.question-title-2 span {
	display: inherit;
}
.report-error span {
	display: inherit;
	width: 14%;
	padding: 8px 0;
}
.report-error {
	float: left;
	width: 100%;
	margin-top: 5px;
}
.qestion-numbers.qestion-numbers-2 {
	margin: 8px 0 5px;
}
.user-details {
	width: 100%;
}
.profile-complete {
	margin: 10px 0 0;
	text-align: right;
	width: 100%;
}
.element_to_pop_up2, .element_to_pop_up3, .edit-profile {
	width: 80%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.popup-inner2 {
	padding: 5px 12px;
}
.unlock h2 span {
	left: 45%;
}
.unlock {
	margin: 1% 5%;
	width: 38%;
}
.unlock p {
	padding-left: 32%;
}
.divider {
	margin: 0 15px;
}
.navigation {
	display: none;
}
.navigation-responsive-nav {
	display: block;
}
.left-content {
	width: 100%;
}
.right-content {
	width: 100%;
}
.left-content-head, .left-content-head2, .puzzle-payoff {
	padding: 5px 10px;
}
.left-content h2 {
	padding: 5px 0;
}
.quiz .question, .sequence, .answer, .reason {
	line-height: 15px;
	padding: 9px 8px;
}
.quiz h2 {
	padding: 8px 8px;
}
.facebook-block, .user-post, .testimonials, .user-comment {
	margin-bottom: 10px;
}
.facebook-block {
	width: 45%;
	float: left;
}
.user-post {
	float: right;
	width: 52%;
}
.testimonials {
	clear: both;
	float: left;
	width: 45%;
}
.user-comment {
	float: right;
	width: 52%;
}

}
@media (max-width:640px) {
.ui-tabs-vertical > .ui-tabs-nav li {
	width: 100%;
	border-bottom: 1px solid #FFF;
}
.form1 .name-1{
	width:90%;
}
.form1 .name-2{
	width:96%;
}
.form1 #address_txt{
	width:89%;
}
.form1 .form-inner dd{
	float: left;
    margin-bottom: 10px;
    width: 98%;
}
.form1 .form-inner dt{
	 color: #373738;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 0;
    position: relative;
    width: 90%;
	text-align:left;
}
}
 @media (min-width: 768px) and (max-width: 989px) {
.header-in {
	width: 100%;
}
.top-header {
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
nav {
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.sub-collapser {
	display: none;
}
.slider-login {
	width: 100%;
}
.slider_container {
	min-height: 0;
}
.navigation ul li .mainlink {
	padding: 4px 10px;
}
.dropdownWrap {
	width: 568px;
}
.dropdownWrap .midcrv {
	width: 100%;
}
.dropdownWrap .midcrv .rhssection {
	width: 340px;
}
.dropdownWrap .midcrv .lhssection ul li {
	width: 192px;
}
.dropdownWrap .midcrv .lhssection {
	width: 220px;
}
.navigation-responsive-nav {
	display: none;
}
.navigation {
	padding: 0 0 0 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
/*----------------- Section Styles -----------------*/
.container {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.latest-videos {
	margin-right: 10px;
	width: 35%;
}
.video iframe {
	min-height: 175px;
}
.quotation-day {
	margin-right: 10px;
	width: 35%;
}
.quotation-day ul li {
	border-left: none;
	padding: 0 6px;
}
.quotation-day ul li a {
	font-size: 11px;
}
.questions {
	padding: 10px 5px 0;
}
.quotation-day table {
	margin: 10px 0 0 10px;
}
.questions span {
	margin: 0;
}
.quotation-day ul {
	display: inline-block;
	margin: 10px 0;
}
.company-papers {
	width: 27%;
}
.latest-videos h2, .campus-drive h2, .company-papers h2 {
	padding: 2px 0;
}
.video p {
	font-size: 12px;
	line-height: 15px;
	padding: 3px 5px 0;
}
.company-papers .more {
	margin-top: 7px;
}
.campus-drive ul li {
	font-size: 12px;
	padding-top: 12px;
}
.company-papers ul {
	width: 50%;
}
.company-papers ul.second-papers {
	width: 50%;
}
.company-papers li {
	padding-bottom: 10px;
}
.company-papers ul.second-papers li {
	padding: 0 0 10px;
}
/*----------------- Footer Styles -----------------*/
footer {
	padding: 10px 0 10px;
}
.footer_in ul, .footer_in dl {
	margin: 15px 0 0;
}
.footer_in, .footer-bottom-in {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.online-test {
	width: 15%;
}
.practice-test {
	margin-left: 12px;
	width: 15%;
}
.placement-papers {
	margin-left: 12px;
	width: 30%;
}
.placement-papers ul {
	margin-right: 13px;
}
.contact-form {
	margin-left: 12px;
	width: 34%;
}
.contact-form dl dd {
	margin-bottom: 10px;
	width: 65%;
}
.contact-form dl dt {
	margin-bottom: 5px;
	margin-right: 3px;
	width: 25%;
}
footer input, textarea {
	width: 100%;
}
.submit {
	clear: both;
	margin: 0;
	text-align: right;
	width: 100%;
}
.slider_container span.shadow {
	display: none;
}
/*----------------- internal Styles -----------------*/


.section-internal {
	-moz-box-sizing: border-box;
	padding: 10px 5px;
	width: 100%;
}
.question-test {
	width: 70%;
}
.question-title {
	padding: 0;
}
.question-title span.test-name {
	padding-left: 8px;
}
.question-title span.bookmark {
	padding-left: 6px;
}
ul.qestion-numbers li {
	margin-right: 2px;
}
.exam-left {
	padding: 10px 30px 5px;
	width: 16%;
}
.exam-left span.time-left {
	display: inline-block;
	width: 100%;
}
.test-details {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.test-details-left {
	width: 54%;
}
.test-details-right {
	width: 35%;
}
.progress-bar {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
}
.qestion-numbers.qestion-numbers-2 li {
	margin-right: 1px;
}
.user-details {
	width: 70%;
}
.profile-complete {
	width: 22%;
}
.element_to_pop_up2 {
	width: 90%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.unlock h2 span {
	left: 45%;
}
.unlock {
	margin-right: 0.6%;
	width: 24%;
}
.left-content {
	width: 60%;
}
.right-content {
	width: 38%;
}
.solution {
	width: 65%;
}
.profile-img {
	width: 26%;
}
.testimonials-right-content {
	width: 72%;
}
}
 @media (max-width: 480px) {
body {
	font-size: 12px;
	line-height: 15px;
}
.top-header {
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.register-search {
	float: left;
	margin-top: 5px;
	width: 100%;
}
.register {
	width: 25%;
	margin: 0;
	text-align: center;
}
.register a {
	font-size: 12px;
	padding: 7px 0;
}
.search {
	margin: 0;
	width: 65%;
	float: left;
}
.search input {
	padding: 5px;
	width: 75%;
}
.search i {
	padding: 7px;
}
nav {
	width: 100%;
}
.slider-login {
	width: 100%;
}
.slider_container span.shadow {
	display: none;
}
.popup-inner dt, .popup-inner3 dt {
	padding: 1px 0;
	text-align: left;
	width: 100%;
}
.element_to_pop_up input, select, .element_to_pop_up input.security-code, .select2-container, .select2-drop, .select2-search, .select2-search input {
	padding: 5px 3px;
}
.popup-inner dd, .popup-inner3 dd, .let-us-cal dd {
	margin-bottom: 5px;
	width: 96%;
}
.select2-container .select2-choice .select2-arrow {
	right: 8px;
	top: 9px;
}
.popup-inner .join-us {
	width: 100%;
	text-align: right;
}
.popup-inner .join-us button {
	padding: 3px 10px;
	font-size: 12px;
}
/*----------------- Section Styles -----------------*/
section {
	padding: 0;
}
.latest-videos h2, .campus-drive h2, .company-papers h2 {
	font-size: 13px;
	padding: 1px 10px;
}
.video p {
	padding: 2px 5px 0;
}
.quotation-day {
	margin-right: 0;
	margin-top: 5px;
}
.quotation-day h2 {
	font-size: 12px;
	padding: 2px 10px;
}
.questions {
	padding: 5px 10px;
}
.quotation-day table tr td {
	padding: 2px 4px;
}
.quotation-day ul {
	margin: 2px 0;
}
.company-papers {
	width: 100%;
}
.quotation-day ul li {
	padding: 0 8px;
}
/*----------------- Footer Styles -----------------*/
footer {
	padding: 0;
}
.footer_in ul, .footer_in dl {
	margin: 0;
}
footer h2 {
	font-size: 14px;
}
.footer_in ul li {
	padding: 2px 4px;
}
.footer_in ul li a, .footer-bottom p {
	font-size: 12px;
}
.practice-test, .placement-papers, .contact-form {
	margin-top: 0;
}
.contact-form dl dt {
	width: 18%;
	margin-bottom: 5px;
	font-size: 12px;
	padding: 3px 0;
}
.contact-form dl dd {
	margin-right: 0;
	margin-bottom: 5px;
	width: 72%;
}
footer input, textarea {
	padding: 3px 10px;
	font-size: 11px;
}
footer .submit input {
	padding: 2px 5px;
}
.company-papers li i {
	font-size: 11px;
}
.company-papers li {
	padding: 0 10px 5px 0;
}
.company-papers ul.second-papers li {
	padding: 0 8px 5px 0;
}
.company-papers .more {
	margin-top: 0;
}
/*----------------- internal Styles -----------------*/
.question-test {
	margin: 0;
	width: 100%;
}
.question-title span {
	font-size: 12px;
	line-height: 13px;
}
ul.qestion-numbers li {
	font-size: 10px;
	margin-bottom: 5px;
	margin-right: 7px;
	width: 20px;
	height: 15px;
	padding: 4px 0;
}
.exam-left {
	margin: 8px 0 0;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 5px;
}
.exam-left p {
	font-size: 13px;
	margin-left: 11%;
}
.question-internal table tr td {
	padding: 0 4px 8px;
	vertical-align: middle;
}
.internal-bnt {
	margin: 0 0 5px;
}
.internal-bnt a.btn, .internal-bnt a.btn2 {
	font-size: 13px;
	padding: 3px 9px;
}
.test-details {
	padding: 5px;
}
.test-details-left {
	width: 100%;
}
.test-details-right {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.progress-bar {
	padding: 5px 10px;
	margin: 0 0 5px;
}
.start-test a.start {
	font-size: 12px;
	padding: 5px 10px;
}
.question-header.question-header-2 {
	padding: 5px;
}
.question-header.question-header-2 span.test-name-2, .question-header.question-header-2 span.test-date {
	display: inline-block;
	font-size: 13px;
	padding-bottom: 5px;
	width: 100%;
	padding-left: 0;
}
.question-test.question-test-2 {
	margin-top: 0px;
}
.report-error {
	margin-top: 0;
}
.question-title.question-title-2 span {
	display: inline-block;
	width: 100%;
}
a.prev-question, a.next-question {
	font-size: 13px;
	padding: 4px 5px;
}
.qestion-numbers.qestion-numbers-2 li {
	margin-right: 1px;
}
.qestion-numbers.qestion-numbers-2 {
	margin: 8px 0 0;
}
.share-dictionary {
	padding: 5px 0;
}
a.btn {
	font-size: 12px;
	margin-right: 0;
	padding: 4px 10px;
}
.resp-tab-content {
	padding: 5px 0 10px;
}
.resp-tabs-container h2, .student-percentage {
	margin: 6px 0;
}
.user-name {
	float: none;
	text-align: center;
}
.user-img {
	height: 100px;
	margin: 0 auto;
	padding: 17px 0 0;
	width: 115px;
}
.about-me {
	float: none;
	width: 100%;
	margin: 0;
}
.about-me p {
	padding: 5px 0 0;
}
.user-profile {
	margin-bottom: 10px;
}
.profile-complete img {
	float: right;
	margin: 2px 0 0 5px;
}
.popup-text2 {
	padding: 4px 10px;
}
.popup-text2 h2 {
	font: 14px/20px Arial;
}
.popup-inner2 {
	padding: 5px;
}
.unlock i {
	width: 30%;
}
.unlock {
	margin: 1% 10%;
	width: 80%;
}
.pay-by-month, .let-us-cal {
	float: left;
	padding: 5px 0;
	width: 100%;
}
.popup-text, .popup-text2, .popup-text3 {
	padding: 0 15px;
}
.popup-inner, .popup-inner2, .popup-inner3 {
	padding: 0 15px 10px;
}
.popup-text h2, .popup-text3 h2, .popup-text2 h2 {
	font: 12px/20px Arial;
}
.popup-inner3 .submit {
	width: 100%;
}
.divider {
	background: url(../images/divider-horizontal.png) no-repeat center 0;
	float: left;
	height: 26px;
	margin: 10px 0;
	width: 100%;
}
.popup-inner3 dl {
	padding: 5px 0 0;
}
.popup-inner3 dd {
	margin-bottom: 10px;
}
.let-us-cal h2 {
	text-align: center;
}
.popup-inner3 .let-us-cal .submit {
	text-align: center;
}
.element_to_pop_up input, select, .element_to_pop_up3 input, select, .edit-profile{
	padding: 4px 8px;
}
.left-content-head {
	font-size: 13px;
}
.left-content-head, .left-content-head2, .puzzle-payoff {
	line-height: 16px;
}
.left-content-head2 a {
	font-size: 15px;
	line-height: 15px;
}
.puzzle-payoff {
	font-size: 13px;
}
.solution {
	width: 55%;
}
.profile-img {
	line-height: 16px;
	width: 32%;
}
.facebook-block, .user-post, .testimonials, .user-comment {
	float: left;
	width: 100%;
	padding: 0 0 5px;
}
.testimonials {
	clear: inherit;
}
.facebook-block h2 {
	font: 14px/15px Arial;
	padding: 7px 10px;
}
.facebook-block, .user-post, .testimonials, .user-comment {
	margin-bottom: 5px;
}
.user-post h2, .testimonials h2, .user-comment h2 {
	font: 14px/16px Arial;
	padding: 7px 10px;
}
.user-post-content, .testimonials-content, .user-comment-content {
	line-height: 16px;
	overflow: hidden;
	padding: 2px 10px;
}
.testimonials-right-content {
	line-height: 14px;
	width: 75%;
}
.tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li {
	width: 100%;
	border-left: 0;
}
.test-action, .dashboard {
	width: 100%;
	float: left;
}
.dashboard {
	margin: 5px 0 0;
}
}
