.flex-caption {
	bottom: 60px;
	position: absolute;
	right: 5px;
}
.caption_title_line {
	height: 76px;
	padding: 0 0 0 70px;
	width: 483px;
	background: url(../images/slider/caption-bg.png) no-repeat 0 0;
	color: #303030;
	display: none;
}
.flex-caption h2 {
	color: #fff;
	font: 16px/18px Oswald;
	padding: 2px 10px;
	background: #d76f00;
	text-transform: capitalize;
}
.flex-caption p {
	color: #FFFFFF;
	font: 37px/50px Oswald;
	text-align: center;
}
.flex-caption p span {
	color: #ef8718;
}
.flex-container a:active, .flexslider a:active {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-direction-nav {
	display: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	width: 100%;
	margin: 0;
	padding: 0;
	background: none;
}
.flexslider .slides > li {
	display: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	max-width: 100%;
	display: block;
	border: 1px solid #f5f5f5;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider {
	position: relative;
}
.flexslider .slides {
}
.flexslider .slides > li {
	position: relative;
}
.flex-container {
	position: relative;
}
/* Direction Nav */
.flex-direction-nav li a {
	width: 45px;
	height: 42px;
	margin: 0;
	display: block;
	position: absolute;
	right: 11px;
	cursor: pointer;
	text-indent: -9999px;
}
.flex-direction-nav li a.next {
	background: url(../images/slider/next.png) no-repeat center;
	bottom: 184px;
}
.flex-direction-nav li a.prev {
	background: url(../images/slider/prev.png) no-repeat center;
	bottom: 141px;
}
.flex-direction-nav li a.next:hover {
	background: url(../images/slider/next_a.png) no-repeat center;
}
.flex-direction-nav li a.prev:hover {
	background: url(../images/slider/prev_a.png) no-repeat center;
}
.flex-direction-nav li a.disabled {
	opacity: .3;
	cursor: default;
}
/* Control Nav */

.flex-control-nav {
	bottom: 18px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 99;
}
.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav li a {
	width: 10px;
	height: 10px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	background: #fff;
	border-radius: 50%;
	border: 2px solid #c1c4c8;
}
.flex-control-nav li a:hover {
	background: #44398b;
	border: 2px solid #44398b;
}
.flex-control-nav li a.active {
	background: #44398b;
	border: 2px solid #44398b;
	cursor: default;
}

/* Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
.slider_container {
	width: 100%;
	margin: 0;
	clear: both;
	background: none;
	padding: 0;
}
.flexslider {
	width: 100%;
	margin: 0;
	padding: 0 0 0 0;
	background: none;
}
.flex-direction-nav li a {
	width: 45px;
	height: 42px;
	margin: 0;
	display: block;
	position: absolute;
	right: -10px;
	cursor: pointer;
	text-indent: -9999px;
}
.flex-direction-nav li a.next {
	background: url(../images/slider/next.png) no-repeat center;
	bottom: 85px;
}
.flex-direction-nav li a.prev {
	background: url(../images/slider/prev.png) no-repeat center;
	bottom: 40px;
}
}

@media screen and (max-width: 546px) {
.flexslider {
	display: none;
}
.login-form {
	width: 100%;
	position: inherit;
	padding: 10px 10px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	right: 0 !important;
	top: 0 !important;
	overflow: hidden;
}
.login-form h2 {
	font-size: 15px;
	padding-bottom: 5px;
}
.login-details {
	float: left;
	margin: 10px 0 0;
	width: 100%;
}
.login-form input {
	width: 70%;
}
.login-details2 {
	width: 100%;
}
}
