/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 0;
	overflow: hidden;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #fff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */ .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
/* Component containers
----------------------------------*/
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
}
.ui-widget-content {
	background: #FFF;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
  background: none repeat scroll 0 0 #E0DEEE;
    border-top: 1px solid #9D9BAF;
    float: left;
	width:100%;
}
.ui-widget-header a {
	color: #222222;
}
/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.tabs-resp {
}
.tabs-resp .ui-state-default {
	background: none;
	border: none;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-tabs-vertical {
	width: 100%;
}
.ui-tabs-vertical > .ui-tabs-nav {
	padding: 0;
	float: left;
	width: 12em;
}
.tabs-resp .ui-tabs-vertical > .ui-tabs-nav {
	padding: 0;
	float: left;
	width: 100%;
	background: #504885;
}
.ui-tabs-vertical > .ui-tabs-nav li {
	/*clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0;*/
	border-left: 1px solid #C7CED3;
	display: inline-block;
	float: left;
	list-style: none outside none;
	margin: 0;
}
.ui-tabs-vertical > .ui-tabs-nav > li > a {
	display: block;
}
.ui-tabs-vertical > .ui-tabs-nav > li.ui-tabs-active {
	/*padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;*/
	border: none;
}
.ui-tabs-vertical > .ui-tabs-panel {
	float: left;
	width: 100%;
}
.tabs-resp .svg i {
	color: #FFF;
	display: block;
	font-size: 50px;
}
.tabs-resp .ui-tabs .svg.ui-tabs-nav li a {
	color: #FFFFFF;
	float: none;
	font-family: open sans;
	font-size: 14px;
	padding: 13px 14px;
	outline:none;
}
.tabs-resp .svg li {
/*text-align: center;*/
}
.tabs-resp .svg .ui-state-active, .svg .ui-widget-content .svg .ui-state-active, .svg .ui-widget-header .svg .ui-state-active {
/*border: 0;
	background: none;
	font-weight: normal;
	margin: 0;*/
}
.tabs-resp .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .tabs-resp .ui-state-focus {
	border: 0;
	background: none;
	font-weight: normal;
	color: red;
}
.tabs-resp .svg li {
	position: relative;
}
.tabs-resp .svg li:hover, .tabs-resp .svg .ui-state-active {
/*border: 0;
	padding: 22px 0;*/
}
.tabs-resp .svg.ui-tabs-nav li.ui-state-active a, .tabs-resp .svg.ui-tabs-nav li.ui-state-active i {
	color: #272727;/* active color */
}
.tabs-resp .svg .ui-state-active span, .tabs-resp .ui-state-hover span {
	float: left;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid #00b1af;
	position: absolute;
	top: 40%;
	right: -13px;
	display: none;
}
.svg li {
}
.svg li:first-child {
	border-top: none !important;
	border-left: none !important;
}
.tabs-resp .ui-tabs-panel {
	padding: 15px 0;
}
.tabs-content {
	clear: both;
	padding:0 12px;
}
.ui-tabs .tabs-inner.ui-tabs-nav li:hover, .ui-tabs .tabs-inner.ui-tabs-nav li.ui-tabs-active {
	border: 0;
	padding: 0;
	margin: 0;
}
.tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li {
	text-align: center;
	margin-left: 0;
	margin-top: 0;
	border-left: 1px solid #8F8BA8;
}
.tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li:first-child {
	margin-left: 0;
	border-left: none;
}
/*.tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li:hover strong, .tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li.ui-tabs-active strong{
	border-right: 13px solid transparent;
	border-top: 13px solid #414646;
	border-left: 13px solid transparent;
	behavior: url(PIE.htc);
	float:left;
	position:absolute;
	left:38%;
	bottom:-13px;
	text-align:center;
}
*/
.tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li a {
	color: #3E3E3E;
	display: block;
	float: none;
	font-size: 13px;
	padding: 15px;
	outline:none;
}
.tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li:hover a, .tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li:hover a, .tabs-resp .ui-tabs .tabs-inner.ui-tabs-nav li.ui-state-active a {
	color: #3e3e3e;
	border-bottom: none;
}
.btn-rc i, .btn-login i {
	position: absolute;
	top: 0;
	right: 0;
	color: #FFF;
	padding: 4px 0;
	min-height: 16px;
	width: 25px;
	text-align: center;
}
.btn-rc button:hover, .btn-login button:hover {
	background: #5b6060;
}
.ui-tabs .log.ui-tabs-panel {
	padding: 0;
}
/*-- login and reg styles --*/

.log-tab {
	clear: both;
	float: left;
	margin: 18px 0 0;
	width: 100%;
}
.log-tab dl {
	float: left;
	margin-bottom: 12px;
	overflow: hidden;
	width: 100%;
}
.log-tab dl dt, .log-tab dl dd {
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
	color: #555;
	width: 100%;
	padding-bottom: 3px;
}
.log-tab dl dd span {
	color: #FFFFFF;
	float: left;
	padding: 9px 11px 5px;
	position: relative;
	text-align: center;
	background: #414646;
	font-size: 15px;
	min-height: 22px;
	vertical-align: middle;
	width: 5%;
}
.log-tab dd input {
	background: #EBEDEF;
	border: none;
	color: #555555;
	line-height: 20px;
	padding: 8px 7px;
	width: 82%;
}
.ui-tabs .log-link.ui-tabs-nav li a {
	float: none;
	padding: 0;
	color: #414646;
	font-size: 17px;
	font-family: 'Oswald', sans-serif;
}
.log-link .ui-state-active a, .log-link .ui-state-active a:link, .log-link .ui-state-active a:visited {
	color: #414646;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
}
.cont.ui-widget-content {
	background: none;
}
.ui-tabs .log-link.ui-tabs-nav li a:hover {
	padding: 0;
}
.ui-tabs .log-link.ui-tabs-nav li:hover a, .ui-tabs .log-link.ui-tabs-nav li:hover a, .ui-tabs .log-link.ui-tabs-nav li.ui-state-active a {
	border-bottom: 3px solid #E44701;
	color: #E44701;
}
.log-tab .ui-tabs .ui-tabs-nav li a {
	color: #414646;
	float: none;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	padding: 0 3px;
}
.log-link .ui-state-default, .log-link .ui-widget-content .log-link .ui-state-default, .log-link .ui-widget-header .log-link .ui-state-default {
	background: none;
	border: 0;
	margin: 5px 25px 0 0 !important;
}
.btn-login button {
	width: 100%;
	margin-bottom: 10px;
}
.forgot {
	float: right;
	margin-bottom: 11px;
}
.forgot a {
	color: #00aaa8;
}
.forgot a:hover {
	text-decoration: underline;
}
.categories-change {
	width: 100%;
	overflow: hidden;
}
.categories-change a {
	color: #f07c00;
	font: 500 14px/20px 'Open Sans', sans-serif;
	padding: 0 0 0 18px;
	float: left;
}
.ui-widget-content span {
	color: #504885;
	padding: 5px 0 10px 18px;
	display: inline-block;
	font: 500 14px/20px 'Open Sans', sans-serif;
	width: 100%;
	 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}
.tabs-content span{
	color:#f07c00;
	padding-left:0;
}
.test-action{
	width:35%;
	background:#f0efef;
	padding-bottom:25px;
	overflow:hidden;
	float:left;
}
.test-action table{
	width:100%;
}
.test-action table th{
	font: 500 14px/20px 'Open Sans', sans-serif;
	 background:#7A7979;
    color: #FFFFFF;
    padding: 10px 10px 9px 15px;
	width:50%;
}
.test-action table th:nth-child(1){
	text-align:left;
}
.test-action table tr td{
	font:normal 13px/14px 'Open Sans', sans-serif;
	color:#353537;
	 padding: 10px 10px 9px 15px;
	text-align:center;
	width:50%;
}
.test-action table tr td a{
	font:normal 13px/14px 'Open Sans', sans-serif;
	color:#504885;
	text-decoration:underline;
}
.test-action table tr td a:hover{
	text-decoration:none;
}
.test-action table tr td:nth-child(1){
	text-align:left;
}
.dashboard{
	background:#f0efef;
	padding:13px 0;
    width: 63%;
	overflow:hidden;
	float:right;
}

.dashboard strong{
	padding:0 15px;
}

