body {
	/*background:#e6e9ea url(../images/bg.png) repeat-x;*/
background:#f0eda0;
	font-family: sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: sans-serif;
}
a:active, a:hover, a:focus {
	outline:none;
}
.img-thumbnail {
	background-color: #fff;
	margin: 2%;
	max-width: 100%;
	padding: 10%;
}
.jqScroll {
    display: block;
    height: 214px;
    overflow: auto;
    width: 100%;
}
body {
	margin-top:60px;
}
.carousel-caption {
	top:20px;
}
.carousel-indicators .active {
	background-color: #ccc;
	height: 12px;
	margin: 0;
	width: 12px;
}
.text-darkblue {
	color:#003366;
}
.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	width: 10px;
}
.carousel {
	padding-top: 17px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #FFF !important;
	color: #555;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #eee !important;
	outline:none;
}
.navbar-brand {
	width:20%;
}
.dropdown-menu {
	min-width:177px;
}
.carousel-control.left, .carousel-control.right {
	background-image:none;
}
.fooTop {
	position:relative;
	width:100%;
}
.fooTop .fooTopIcon {
	position:absolute;
	top: -49px;
	right:21%;
}
.testimonial {
	height: 188px;
	margin: 23px 0;
	overflow: hidden;
	padding: 1% 0 1% 3%;
	position: relative;
	width: 100%;
}
#testimonal {
	width: 100%;
}
#testimonal ul {
	width: 1920px;
	padding: 0;
	margin: 0;
}
.radio-list {
	box-shadow:0 0 2px #071727 inset;
	background:#053c6d;
	color:#fff;
	padding:8px 5px;
	border-radius:4px;
}
.radio-list, .radio-list li {
	list-type:none;
}
.radio-list li {
	display:inline-block;
	padding-right:20px;
}
.plandetails {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}
.plandetails > thead > tr > th, 
.plandetails > tbody > tr > th, 
.plandetails > tfoot > tr > th, 
.plandetails > thead > tr > td, 
.plandetails > tbody > tr > td, 
.plandetails > tfoot > tr > td {
    border: 1px solid #6eb1f8;
    vertical-align: middle;
}
.plandetails tr > th {
	background:#6eb1f8;
}
.plandetails th img {
	padding-right:8px;
}
.plandetails th h3 {
	color:#fff;
	margin:0;
	padding:5px 0;
}
.plandetails td.rupee h4 {
    color: #3971a2;
    font-size: 1.7em;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
    padding: 6px 0;
}
.plandetails td.rupee {
	padding: 3px 0;	
}
.plandetails td.txxt {
	color:#333;
	padding:8px 6px;
	font-size:1.3em;
}
.plandetails td.bottomf {
	background:#fffef9;
	text-align:center;
	padding:3px;
}
.plandetails td.bottomf button {
	font-weight:bold;
	font-size:1.2em;
	text-transform:uppercase;
}
.hdtxt {
	font-size: 1.3em;
	padding-bottom:4px;
}
.hdtxt span {
	font-size: 0.7em;
	color:#8e8e8e;
}
.listingnames {
	background:#F6F6F6;
	padding:10px;
	border-top:5px solid #F4AA0B;
	width: 100%;
}
.listingnames ul, .listingnames ul li {
	list-style-type:none;
}
.listingnames ul {
	padding:0;
	margin:0
}
.listingnameslist li {
	background:rgba(19, 80, 111, 0.2);
	border:1px solid rgba(21, 71, 94, 0.2);
	cursor:pointer;
	display: inline-block;
}
.listingnameslist li:hover, .listingnameslist li.active {
	background:rgba(255, 255, 255, 0.8);
	border:1px solid rgba(21, 71, 94, 0.8);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	box-shadow:0 0 5px rgba(19, 80, 111, 0.8);
}
.listingnameslist li.listbw {
	float: left;
	margin: 3px;
	padding: 3px 37px 3px 10px;
	position: relative;
	width: 24%;
}
.listingnameslist li.listbw2 {
	float: left;
	margin: 3px;
	padding: 3px 37px 3px 10px;
	position: relative;
	width: 90%
}
.graylinebox {
	background: none repeat scroll 0 0 #fff;
	padding: 10px;
}
.graylinebox h4 {
	color:#5eb8fa;
}
.iconbox {
	border-top:1px dashed #f2f2f2;
	background: #fcfcfc;
	padding: 5px 2%;
	width: 57%;
	display:inline-block;
}
.iconbox2 {
    background: #fcfcfc;
    border-top: 1px dashed #f2f2f2;
    display: block;
    padding: 5px 2%;
}
.curo {
padding:5px 0 0 0;box-shadow:0 0 1px #ccc;
background:#eee;
}
.curo strong {
	vertical-align:top;
	display:inline-block;
}
.sandbox {
	background: url(../images/sand.png) center top no-repeat;
	display: inline-block;
	width: 41%;
	display: inline-block;
	padding: 5px 2%;
	vertical-align: top;
}
.sandbox blockquote {
	padding-top:78px;
}
.sandbox blockquote ol li {
	font-size:12px;
	color:#9395a2;
}
.iconbox p.orange {
	color:#fabd02;
}
.iconbox ul, .iconbox ul li {
	list-style:none;
	display:block;
}
.iconbox ul li p {
	display:inline-block;
	vertical-align:middle;
}
.borderxs .a1 {
	background:url(../images/icon1.png) 0 0 no-repeat;
	width:28px;
	height:19px;
	display:inline-block;
}
.borderxs {
width:85%;
border:1px solid #ccc;
margin-bottom:10px;
}

.borderxs td {
padding:0.5% 1%;
}
.borderxs strong {
padding-right:6px;
}
.borderxs .a2 {
	background:url(../images/icon1.png) 0 -20px no-repeat;
	width:28px;
	height:20px;
	display:inline-block;
}
.iconbox ul li .a3 {
	background:url(../images/icon1.png) 0 -41px no-repeat;
	width:24px;
	height:19px;
	display:inline-block;
}
.iconbox ul li .a4 {
	background:url(../images/icon1.png) 0 -61px no-repeat;
	width:24px;
	height:19px;
	display:inline-block;
}
.elsemR1 {
	background: rgba(254, 254, 254, 1);
	background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(219, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(49%, rgba(209, 209, 209, 1)), color-stop(50%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(226, 226, 226, 1)));
	background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(219, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(219, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(219, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(219, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
	padding:5px 10px;
	display:block;
	cursor:pointer;
}
.elsemR1:hover {
	background: rgba(254, 254, 254, 1);
	background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(201, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(49%, rgba(209, 209, 209, 1)), color-stop(50%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(226, 226, 226, 1)));
	background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(201, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(201, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(201, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
	background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(209, 209, 209, 1) 49%, rgba(201, 219, 219, 1) 50%, rgba(226, 226, 226, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
}
.elsemRow {
	width:100%;
}
.elsemRow .elsemR1 {
	width:100%;
	position:relative;
	border:1px solid #ccc;
	margin: 3px 0;
}
.elsemR1 .download {
	background:url('../images/download.png') right top no-repeat;
	display: block;
	height: 30px;
	position: absolute;
	right: 9px;
	top: 4px;
	width: 30px;
}
.elsemR1 .pdfname {
	color:#e22829;
	font-size:1em;
	background:url('../images/pdf.jpg') no-repeat;
	color: #e22829;
	display: inline-block;
	font-size: 1em;
	padding: 5px 5px 5px 36px;
	vertical-align: middle;
	width: 30%;
}
.elsemR1 .pdfinfo {
	color:#647c91;
	font-size:0.9em;
	display:inline-block;
}
.elsemR1 .pdfupload {
	margin-right:30px;
}
.answerNexplain {
	margin:10px 5px;
}
.answerNexplain .section {
	border-bottom: 1px solid #ccc;
    clear: both;
    padding: 5px;
    width: 100%;
}
.answerNexplain .section + .section {
	background:#f6f6f6;
}
.answerNexplain .section > div {
	margin-top: -7px;
}
.textboxQ22 {
	background:#90c6cd;
	padding:3px;
	margin:6px 0;
}
.textboxQ22 .textboxQ2 {
	background:#fff;
    font-size: 1.3em;
    font-weight: normal;
    padding: 5px 3px;
    width: 99%;
}
#pempTx {
	border:none;
}

.testsection {
float: left;
    padding: 2% 10px;
    width: 100%;
}
.listingnameslist_content {
	display:table;
	width:100%;
}
.listingnameslist_content .leftdiv {
	padding:0;
}
.listingnameslist_content .rightdiv {
	background:#fff;
	padding:10px;
}
.rightdiv .innersection {
	padding-left:2%;
}
.rightdiv .innersection .quetion ol[type="1"] {
	font-weight:bold;
	color:#ff7500;
}
.rightdiv .innersection .quetion ol[type="A"] {
	font-weight:bold;
	color:#0f3349;
}
.rightdiv .innersection .quetion ol.option li {
	float:left;
	width:50%;
}
.rightdiv .innersection .quetion p {
	color:#333;
	font-weight:normal;
	display:inline-block;
	vertical-align: top;
}
.rightdiv .innersection .quetion input {
	display:inline-block;
}
.rightdiv .innersection .quetion .sign {
display:none;
}

.correct, .wrong, .notcomplete {
float:right;
}
.jqScroll {
	display: block;
    height: 214px;
    overflow: auto;
    width: 100%;
}

.listQuestionde, .listQuestionde li {
	list-style:none;
	padding:0;
	margin:0;
}

.listQuestionde li a:hover, .activeQ {
	background: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.listQuestionde li a.activeQ {
	background: #fff !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.listingnameslist li p {
	color: #13506f;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 3% 0;
	text-transform: uppercase;
	vertical-align: middle;
}
.listingnameslist li:hover p {
	color: #F4AA0B;
}
.listingnameslist li span.pp {
	background: url("../images/pp.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
	top: -2px;
	color: #ff790a;
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	height: 33px;
	padding-top: 2px;
	position: absolute;
	right: -4px;
	text-align: center;
	width: 42px;
}
#csh-content1 table tr, #csh-content1 table td, #csh-content1 table th,
#csh-content2 table tr, #csh-content2 table td, #csh-content2 table th,
#csh-content3 table tr, #csh-content3 table td, #csh-content3 table th {border:none;}

#csh-content2, #csh-content3 {
	display:none
}
ol.carousel-indicators {
	margin-bottom:-6px;
}
.searchtp {
	position:relative;
}
.searchtp .gserach {
	position:absolute;
	right:0;
	top:0;
}
#testimonal ul li {
	text-align: left;
	height: 188px;
	list-style: none;
	float:	left;
	width:796px;
}
.testimonial .hdline {
	border-top: 1px solid #e5e1d5;
	height: 39px;
	margin-top: 10px;
	position: relative;
	width: 100%;
}
.testimonial .hdline h4 {
	background: #fff;
	padding: 2px 13px;
	position: absolute;
	right: 0;
	top: -21px;
	font-family: "Open Sans Light", sans-serif;
	font-size:1.6em;
}
.testimonial .text11 {
	color: #003366;
	font-size: 12px;
	line-height: 16px;
	width: 72%;
}
.testimonial .text12 {
	color: #FF9966;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
	width: 72%;
}
.testimonial img {
	padding:4px;
}
.logo {
	margin-top: -9px;
	width: 123px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default {
	background-color: #1A87D7;
	border-color: #3399FF;
	box-shadow:0 2px 4px #003366;
}
.navbar-nav > li > a {
	padding-bottom: 15px;
	padding-top: 19px;
}
.userm {
	float:right;
	margin-top:14px;
	color:#fff;
}
.page-header {
	border: 4px solid #fff;
}
.fixfoot {
	width:100%;
	padding:5px 1% 0 1%;
	/*background:#003366;*/
background:#03498f;
	border-top:1px solid #3399FF;
	float:left;
	color:#fff;
	font-size:12px;
}
.fixfoot a {
	color: #fff;
	padding: 0 10px;
}
.modal-sm {
	width: 371px;
}
.embed-responsive-mine {
	width: 100%;
}
.staze1, .staze1 li, .staze2, .staze2 li {
	list-style-type:none;
	padding:0;
	margin:0;
}
.staze1 {
	width:181px;
	position:relative;
	margin-top: 50px
}
.staze1 li a {
	background:#003366;
	color: #fff;
	display: block;
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 2px;
	padding: 15px 5px 15px 37px;
	position: relative;
	text-decoration: none;
	border-top:1px solid #3399FF;
	border-bottom:1px solid #3399FF;
	width: 100%;
}
.staze1 li a:hover, .staze1 li:hover .staze2:hover, .staze1 li {
	background:#FF9966 !important;
	color: #003366;
}
.container-fluid {
	margin-top: 10px;
}
.staze1 li a span.glyphicon {
	left: 10px;
	position: absolute;
	top: 17px;
}
.staze2 {
	background: #FF9966;
	border-left:1px solid #3399FF;
	border-top:1px solid #3399FF;
	border-bottom:1px solid #3399FF;
	color: #003366;
	position: absolute;
	right: 181px;
	height:300px;
	top: 0px;
	width: 346px;
	padding:10px;
	border-radius:6px 0 0 6px;
}
.thankU {
	background: #FF9966;
	border: 1px solid #064073;
	display: none;
	color:#fff;
	padding: 2px;
}
.footer dl>dd>a {
	font-size:12px;
}
.fulllength {
	width:100%;
}
.staze2 .btn {
	font-weight:bold;
}
.staze2 li {
	padding:3px 0;
}
.staze2 td img {
	margin: 5px;
	text-align:left;
}
.staze2 table {
	width:100%;
}
.subjectbox {
	display:inline-block;
	background:#FFF;
	cursor:pointer;
	width:23%;
}
.subjectbox img:hover {
	opacity:0.3;
}
.article {
	border:1px solid #ddd;
	margin:2px;
}
.article .articlehead {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
	color: #1a87d7;
	font-weight: normal;
	margin-top: 0;
	padding: 10px;
	font-size:19px;
	font-family: "Open Sans Light", sans-serif;
	font-size:1.6em;
}
.article article {
	margin:10px;
	border:1px solid #ddd;
}
.article article p {
	color:#978d88;
	padding:10px;
}
.article article img {
	width:100%;
}
.article .articlehead h3 .glyphicon {
	color:#bebbbb;
	font-size:10px;
}
#dropdownPhoto {
	position:relative;
	display:inline-block;
	height:40px;
}
#dropdownPhoto .ddphoto {
	width:30px;
}
#dropdownPhoto ul li, #dropdownPhoto ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
#dropdownPhoto .dropdownPhotoCont {
	position:absolute;
	right:0;
	top:30px;
	display:none;
	z-index:100;
	box-shadow: 0 0 6px #000;
}
.panel-body {
	padding: 10px;
}
.panel-default > .panel-heading {
	/*background-color: #f5f5f5;*/
	background-color: #FFF;
	border-color: #dddddd;
	color: #003366;
	font-size: 1.4em;
	font-family:"Open Sans Light", sans-serif;
}
.rightpane .panel-default {
	border-color: #3e95ec;
}
.rightpane .panel-body {
	background:#eee;
}
#dropdownPhoto:hover .dropdownPhotoCont {
	display:block;
}
#dropdownPhoto .dropdownPhotoCont:before {
	content:'';
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #f2f2f2;
	height: 1px;
	position: absolute;
	right: 0;
	top: -8px;
	width: 1px;
}
#dropdownPhoto .dropdownPhotoCont li a {
	background: #ffcc99;
	color: #003366;
	cursor: pointer;
	display: block;
	padding: 10px 12px;
	position: relative;
	text-decoration: none;
	width: 110px;
	border-bottom:1px solid #DEB388;
}
#dropdownPhoto .dropdownPhotoCont li:last-child a {
	border:none;
}
.pull-none {
	float: none !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #003366;
	background-color: #CCCC99;
}
#dropdownPhoto .dropdownPhotoCont li a:hover {
	background:#fff;
}
.listedNumber {
	border: 1px solid #eee;
	border-radius: 6px;
	padding-top: 6px;
}
.listedNumber:hover {
	background:#fdfdfd;
}
.listedNumber ul {
	list-style-type:none;
}
.listedCommnt {
	display: block;
	width: 100%;
}
.listedCommnt .listedleft {
	display:inline-block;
	width:15%;
}
.listedCommnt .like {
	background:#333;
	color: #fff;
	display: inline-block;
	margin: 5px 0 0 16%;
	padding: 5px;
	width: 6%;
	cursor:pointer;
}
.listedCommnt h5 {
	margin-bottom:0;
}
.listedCommnt p {
	margin:0;
}
.listedCommnt .dislike {
	display:inline-block;
	width:6%;
	background:#ddd;
	color:#fff;
	margin: 5px 0;
	padding: 5px;
	cursor:pointer;
}
.listedCommnt .rightlisted {
	border: 2px solid #eee;
	border-radius: 6px;
	display: inline-block;
	font-family: courier;
	padding: 1%;
	vertical-align: top;
	width: 84%;
	min-height: 128px;
	position:relative;
	box-shdow:0 0 5px #333;
}
.listedCommnt .poter {
	clear:both;
	padding:2px 2px 2px 15%;
}
.listedCommnt .poter a {
	background: #f1f1f1;
	display: inline-block;
	margin: 1px;
	padding: 5px 10px;
	text-decoration: none;
}
.tqclass {
	border-left:1px dotted #ccc;
	border-right:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	padding:10px;
}
.tqclass .ddrop {
	background:#f2f2f2;
	padding:6px;
	display:block;
	border:1px dotted #1A87D7;
}
.bs-callout-warning {
	border-left-color: #f0ad4e;
}
.bs-callout-warning .optiontext {
	border-top:1px solid #1A87D7;
	padding-bottom: 10px;
}
.bs-callout-warning .optiontext .row {
	margin-left:10px;
}
.bs-callout-warning .optiontext h5 {
	font-weight:bold;
	color:#572600;
}
.bs-callout {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #3399FF;
	border-image: none;
	border-radius: 6px;
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	margin: 20px 0;
	padding: 20px;
}
.bs-callout h4 {
	background: #ff9966;
	border-bottom: 1px dotted #ff9966;
	border-top: 1px dotted #ff9966;
	color: #fff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: normal;
	padding: 2px;
}
.bs-callout h4 span.pst {
	background:#ff9966;
	color: #fff;
	padding: 1px 5px;
}
.bs-callout h4 span.pstdate {
	color: #633A1D;
	font-size: 12px;
	padding: 0 5px;
	text-decoration:underline;
}
.uploadQCont {
	/*background:#f28931;
border:6px solid #f28931;
color:#FFF;
padding:5px;*/

font-size:12px;
}
.btn-xde {
	background-color: #03498f;
	border-color: #46b8da;
	color: #ffffff;
}
.btn-xde:hover, .btn-xde:focus, .btn-xde:active, .btn-xde.active, .open > .dropdown-toggle.btn-xde {
	color: #ffffff;
	background-color: #03498f;
	border-color: #269abc;
}
input, button, select, textarea {
	border-radius: 5px;
}
.row {
	position:relative;
}
.reasonbox {
	padding:8px;
}
.reasonbox-left {
	width: 25%;
	display: inline-block;
	padding: 10px 0px;
	vertical-align: top;
}
.reasonbox-left img {
	width:100%;
}
.reasonbox-right {
	width: 70%;
	display: inline-block;
	padding: 10px 0px;
}
.reasonbox-right textarea {
	border: 1px solid #ccc;
	border-radius: 6px;
	height: 180px;
	resize: none;
	width: 100%;
}
.mrg10 {
	margin:10px 0;
}
.uploadQCont .row {
	float:left;
	width:100%;
	padding:2px 4px;
	margin: 0px;
}
.textareabw {
	position:relative
}
.textareabw img {
	height: 170px;
	left: -35px;
	position: absolute;
	top: -106px;
	width: 262px;
	z-index: 2;
}
.textareabw .bwtxtbx {
	border-color: #3e6910 #2591f4 #3e6910 #3e6910;
	border-style: solid;
	border-width: 3px;
	box-shadow: 0 0 8px #787878 inset;
	height: auto;
	min-height: 126px;
	padding: 50px 1% 1%;
	position: relative;
	width: 100%;
}
.optboxbw {
	background: #3e6910;
	color: #fff;
	font-size: 12px;
	margin-top: -5px;
	padding: 4px;
}
.optboxbw .bdgp {
	color: #3e6910;
	background: #fff;
}
.optboxbw > span {
	padding:0 10px;
}
.optboxbw > span.txt {
	background: yellow;
	border-radius: 8px;
	color: #3e6910;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 4px;
	text-decoration: none;
}
.ddrop .items {
	display:none;
}
.optboxbw > span.txt:hover {
	color:#000;
}
.uploadQCont .row p {
	margin: 0px;
	padding: 6px 2px 0 2px;
}
.uploadQCont .txtbx1, .uploadQCont select {
	border:1px solid #ccc;
	padding:3px;
	background:#fff;
	width: 100%;
	color:#333;
}
.uploadQCont .txtbx2 {
	border:1px solid #ccc;
	padding:2px;
	background:#fff;
	width: 99%;
	resize:none;
	color:#333;
}
.uploadQCont .txtbx3 {
	border:1px solid #ccc;
	padding:2px;
	background:#fff;
	width: 99%;
	resize:none;
	color:#333;
	height:150px;
}
.uploadQCont .txtbx4 {
	background:#fff;
	border: 1px solid #ccc;
	color: #333;
	height: 200px;
	padding: 1%;
	resize: none;
	width: 100%;
}
.uploadQCont .fileyup {
	border-radius: 6px;
	border: 1px solid #ccc;
	background: #fff;
	width: 99%;
	height:34px;
}
.uploadQCont .plut {
	display:block;
	margin:5px 0;
}
.uploadQCont label {
	padding: 7px 0;
	width: 32%;
	display:inline-block;
}

.regdcontCont.register {
	/*background: #CCCC99 url(../images/register.png) right top no-repeat;*/
	background:#eee;
	box-shadow:0 0 2px #003366;
	border-top: 4px solid #1A87D7;
}
.regdcontCont.login {
	/*background: #CCCC99 url(../images/login.png) right top no-repeat;*/
	background:#eee;
	box-shadow:0 0 2px #003366;
	border-top: 4px solid #1A87D7;
}

.regdcontCont {
	color: #333;
	float: left;
	font-size: 14px;
	padding: 20px 40px;
}
body>.container {
	background:#FFF;
	box-shadow:0 0 4px #333;
	border-radius:6px;
}
.regdcontCont .row {
	float:left;
	width:100%;
	padding:4px 4px;
	margin: 5px 0px;
}
.regdcontCont .row p {
	margin: 0px;
	padding: 6px 2px 0 2px;
	font-size: 14px;
}
.regdcontCont .txtbx1, .regdcontCont select {
	border:1px solid #ccc;
	padding: 5px;
	width: 100%;
	background:#fff;
}
.regdcontCont .txtbx2 {
	border:1px solid #ccc;
	padding:2px;
	background:#fff;
	width: 65%;
	resize:none;
}
.regdcontCont .fileyup {
	border-radius: 6px;
	border: 1px solid #ccc;
	background: #fff;
}
#ckb1-show {
	display:none;
}
.footer {
	background:url(../images/fbg.png) repeat-x;
	padding-top:29px;
}
.smallth {
	margin: 0 10px;
	width: 41px;
	cursor:pointer;
}
.smallthbw {
	margin: 0 10px;
	width: 110px;
	cursor:pointer;
}
#login_form {
	color: #333;
	padding: 22% 0 22% 16%;
	width: 84%;
}
#login_form table tr td {
	padding:5px;
}
.bwtxtbx-user {
	border: 2px solid #ccc;
	box-shadow: 0 0 5px #ccc inset;
	height: 198px;
	padding: 1%;
	resize: none;
	width: 98%;
}
.f1_label {
	white-space: nowrap;
	font-weight:bold;
}
.f2_label {
	padding:2px;
}
.f2_label input[type="password"], .f2_label input[type="text"] {
	width:100%;
	color:#333;
}
#registerCont {
	height:320px;
	background-position:50% 80%;
	display:none;
}
.bwlscreen {
	background:#f6821f url(../images/loginscreen.png) 0 bottom no-repeat;
	color:#fff;
}
.fblscreen {
	background:#f6821f url(../images/loginscreen2.png) 0 bottom no-repeat;
	color:#fff;
}
.gmlscreen {
	background:#f6821f url(../images/loginscreen3.png) 0 bottom no-repeat;
	color:#d55e03;
}
.loginscreen {
	width:100%;
	margin-top: 10px;
}
.footerlogo {
	width:100%;
	text-align:center;
	padding-bottom: 16px;
}
.footerlogo img {
	border:1px solid rgba(15, 32, 47, 0.5);
	box-shadow: 0 0 4px rgba(15, 32, 47, 0.8);
	cursor:pointer;
}
em {
	font-style:italic;
}
.article article p a {
	color:#978d88;
	text-decoration:underline;
	float:right;
}
.article article h4 {
	color:#904a25;
	padding:10px 10px 0 10px;
}
.article article p + p {
	border-top:1px dotted #978d88;
}
.fclose {
	display:none;
	font-size:12px;
}
.fOpen {
	display:block !important;
	font-size:12px;
}
.footer dl dt {
	font-weight:bold;
	padding-bottom:10px;
}
.footer dl dd {
	font-weight:normal;
}
.text1 {
	font-size:1.15em;
	color:#1A87D7 !important;
	font-weight:normal;
}
.m4_content_block #winner_photo {
	background: #e9e9e9;
	display: block;
	float: left;
	height: 84px;
	padding: 3px;
	text-align: center;
	width: 84px;
}
a {
	color: #003366;
	text-decoration: none;
}
a:hover, a:focus {
	color: #003366;
	text-decoration: underline;
}
.txt3 {
	font-size:15px;
	color:#0659A7;
	font-weight:bold;
}
.m4_content_block .points {
	background:#3399FF;
	color:#FFF;
	display:inline-block;
	padding:5px 10px 5px 5px;
	font-weight:bold;
	border-radius:6px 0 0 0;
}
.m4_content_block .number {
	background:#003366;
	color:#FFF;
	display:inline-block;
	padding:5px 10px 5px 10px;
	font-weight:bold;
	border-radius:0 0 6px 0;
}
.m4_content_block .time_box {
	font-size:11px;
	padding-top:10px
}
.m4_content_block #winner_photo img {
	display: block;
	height: 84px;
	width: 84px;
}
.m4_content_block #winner_info {
	display: block;
	float: right;
	width: 55%;
}
.m4_content_box {
	padding: 0px;
}
.rightcommentslist {
	list-style-type:none;
	padding:0;
	margin:0;
}
.rightcommentslist li {
	list-style-type:none;
	padding:0;
	margin:1px 0;
}
.m4_content_box > p:first-child {
	color:#003366;
	border-radius: 6px 0;
	border: 1px solid #fff;
	font-size: 0.85em;
	line-height: 1.5em;
	padding: 9px 6px;
}
.m4_content_box h3.m4name {
	color: rgb(86, 38, 0);
	display: block;
	font-size: 1.1em;
	margin: 2px 0 0;
	padding: 5px 0 0 5px;
}
.m4_content_box h3.bwname {
	color: #003366;
	display: block;
	font-size: 1em;
	margin: 2px 0 0;
	padding: 2px 0 0 5px;
}
.m4_content_box p img.pull-right {
	width: 38px;
	border: 1px solid #3399FF;
}
.m4_content_box span.m4email {
	color: rgb(18, 94, 232);
	display: block;
	font-size: 0.8em;
	font-style: italic;
	padding-left: 5px;
}
.m4_content_box span.m4poseted {
	color: #908779;
	display: block;
	font-size: 0.8em;
	padding-bottom: 5px;
	padding-left: 5px;
}
.hdbox {
	position:fixed;
	right:0;
	top:61px;/*width:610px;*/
	width: 181px;
	z-index:99;
	color:#fff;
	height:428px;
}
.hdbox .showhide {
	float:right;/*width:610px;*/
	width: 88px;
	margin-bottom:5px;
	background:#1a87d7 url(../images/tk_02.png) 11px 10px no-repeat;
	padding: 10px 10px 10px 37px;
	font-size:18px;
	cursor:pointer;
}
.showhide.open {
	background:#1a87d7 url(../images/tk_01.png) 11px 10px no-repeat !important;
}
.hdbox .hdboxcontent {
	/*background: rgba(242, 133, 45, 0.8);*/
    display: none;
	height: 400px;
	left: 0;
	margin-right: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 425px;
}
.splboxcontent {
	background: #f28931;
	border: 6px solid #f28931;
	color: #fff;
	float: left;
	font-size: 12px;
	padding: 5px;
	width: 100%;
	height:400px;
}
.carousel-inner h4 {
	color:#000;
	font-size:180%;
}
.page-header {
	padding-bottom:0;
}
.hdbox .hdboxlist {
	position:absolute;
	right:0;
	top: 51px;
	width:180px;
	font-size:18px;
}
.hdbox .hdboxlist ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.hdbox .hdboxlist ul li {
	background:#063b6d;
	margin-bottom:5px;
	cursor:pointer;
	padding: 20px 0 20px 10px;
}
/*.navbar-nav {
	margin-right:10px;
}*/
.tablelogin {
	display: block;
	margin: 0 auto;
	padding-top: 42px;
	width: 90% !important;
}
.tablelogin td {
	padding:4px;
}
.clear {clear:both;}
.m-txt {
	background: #fff;
	bottom: 1px;
	color: #063b6d;
	left: 1px;
	padding: 5% 6%;
	position: absolute;
	width: 100%;
}
.ntabw3 {
	background: #eee;
	padding:20px 5px;
}
/*.tabw3, .tabw3>li, .tabw4, .tabw4>li {list-style:none;padding:0;margin:0;display:inline-block}
.tabw3Content, .tabw3Content>li, .tabw4Content, .tabw4Content>li {list-style:none;padding:0;margin:0;display:block}
.tabw3Content>li, .tabw4Content>li {display:none;}
.tabw3Content>li.active, .tabw4Content>li.active {display:block;}
.tabw3Content {background:#dbf6f6;padding:10px 0;}
.tabw3Content>li {padding:10px;margin: 8px 0 0;}
.tabw3>li.active, .tabw3>li:hover {background:#dbf6f6;} .tabw3>li.active a, .tabw3>li:hover a {color:#000;}
.tabw4Content>li {background:#fff;padding:10px;}
.tabw4>li.active, .tabw4>li:hover {background:#fff;} .tabw4>li.active a, .tabw4>li:hover a {color:#000;}
.tabw3>li{
	padding: 8px;
	background:#0a8182;
	border-radius:5px 5px 0 0;
	}
.tabw3>li a{
font-family: "Open Sans Light",sans-serif;
    font-size: 1.2em;
    padding: 8px;
	text-decoration: none;
	color:#FFF;
	}
.tabw4>li{
	background:#c6ede3;
	color:#000;
	border-radius:5px 5px 0 0;
	 padding: 5px;
	}
.tabw4>li a{
font-family: "Open Sans Light",sans-serif;
    font-size: 1.2em;
    padding: 8px;
	text-decoration: none;
	color:#000;
	}*/
.editsor {
	position: absolute;
	right: 12px;
	top: -42px;
}
.mar20 {
	margin:15px 10%;
	width:80%
}
.mar20 .input-group-addon {
	width:150px;
}
.proEditVal2 {
	display:none;
	height: 24px;
	position: relative;
	width: 90%;
}
.tabw3Content {
	padding:10px;
	background:#fff;
	min-height: 450px;
	border-radius: 0 0 8px 8px;
}
.zhoom {
	border: none;
	box-shadow: none;
	height: 36px;
	margin: 10px 0;
	padding: 0;
}
.txtareabox {
	margin:10px 0;
}
.txtareabox .reftxtbx {
	border: 1px solid #eee;
	box-shadow: 0 0 3px #ccc inset;
	height: 92px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	resize: none;
	width: 100%;
}
.custombadger {
	background: none repeat scroll 0 0 #ffcc99;
	border-radius: 19px;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	padding: 9px 11px;
	position: absolute;
	right: 2%;
	top: 7%;
}
.cpsectiontable {
	width:100%;
}
.cpsectiontable td {
	padding:4px;
	height: 38px;
}
.cpsectiontable td .fooinput {
	height: 32px;
	padding: 3px 4px;
	width: 100%;
}
.txt5 {
	font-weight: normal;
	margin-top: 10px;
}
.txt5 label {
	font-weight: normal;
	margin: 0;
}
.txt5 .proEditVal2 {
	margin:0px;
}
.margin10 {
	margin:10px;
}
.sidehistory {
	border-radius:5px;
	border:2px solid #73CBCC;
	background:#f8fdfd;
	padding:5px;
}
.sidehistory .sideleft {
	display:inline-block;
	width:30%;
	height: 100%;
	vertical-align: top;
	background:url(../images/line_02.jpg) right top repeat-y;
}
.sidehistory .sideleft ul {
	list-style:none;
	margin:0;
	padding:0
}
.sidehistory .sideleft ul li {
	list-style:none;
	margin:0;
	padding:4px 10px;
	color:#1a86d6
}
.sidehistory .sideleft ul li a {
	font-size:0.9em;
	text-decoration:none;
	font-weight:bold;
}
.sidehistory .sideleft ul li:hover a {
	color:#0fcde4
}
.sidehistory .sideleft ul li.active {
	background:url(../images/line_01.jpg) right top no-repeat;
}
.sidehistory .siderightaccord {
	display:inline-block;
	width:69%;
}
.sidehistory .siderightaccord .head {
	border-bottom: 1px solid #ccc;
	color: #0a8182;
	font-size: 1.2em;
	padding: 5px 10px;
}
.sidehistory .siderightaccord .body ul {
	list-style:none;
	margin:0;
	padding:0
}
.sidehistory .siderightaccord .body ul li {
	border-bottom: 1px solid #9ddadb;
	font-size: 0.9em;
	list-style: none outside none;
	margin: 0;
	padding: 7px 10px;
	background:url(../images/arrw.png) 10px 8px no-repeat;
}
.sidehistory .siderightaccord .body ul li:last-child {
	border-bottom:none;
}
.sidehistory .siderightaccord .body ul li .pull-right {
	color: #aaa;
}
.siderightaccord .body ul li a {
	padding-left:18px;
	font-size:1.1em;
	text-decoration:none;
}
.txt4 {
	color:#faf9f9;
	font-weight:bold;
	background:#1da0a1;
	margin: 0 4px;
	padding: 2px 4px;
}
.gray {
	color:#666;
}
.pBlue {
	color: #0a8182;
}
.tabw3>li>a {
	background:#0a8182;
	color:#fff;
	border:none !important;
	font-family:"Open Sans Light", sans-serif;
	font-size: 1.05em;
	display: block;
	padding: 5px 9px;
	position: relative;
}
.tabw3>li.active a, .tabw3>li:hover a {
	background:#dbf6f6;
	color:#000;
	border:none;
}
.tabw3 > li.active > a, .tabw3 > li.active > a:hover, .tabw3 > li.active > a:focus {
	color: #000;
	background-color: #fff;
	border: 1px solid #dbf6f6;
	border-bottom-color: transparent;
	cursor: default;
	border-radius:0;
}
.tabw4Content {
	padding:10px;
	background:#FFF;
	color:#000;
	min-height: 394px;
	border-radius: 0 0 8px 8px;
}
.tabw4>li>a {
	background:#c6ede3;
	color:#000;
	border:none !important;
	font-family:"Open Sans Light", sans-serif;
	font-size: 1.05em;
	display: block;
	padding: 5px 9px;
	position: relative;
}
.tabw4>li.active a, .tabw4>li:hover a {
	background:#fff;
	color:#000;
	border:none;
}
.tabw4 > li.active > a, .tabw4 > li.active > a:hover, .tabw4 > li.active > a:focus {
	color: #000;
	background-color: #fff;
	border: none;
	border-bottom-color: transparent;
	cursor: default;
	border-radius:0;
}
.modalsamp .modal-dialog {
	margin: 10% auto;
	width: 300px;
}
.modalsamp2 .modal-dialog {
	margin: 10% auto;
	width: 600px;
}
.modalsamp2 .popupLeft {
	padding: 0 15px;
	width: 100%;
}
.popupLeft .btnbar {
	float: left;
	margin: 10px 0;
	width: 100%;
}
.popupLeft .subsTabsOutter {
	border-bottom: 1px solid rgb(204, 204, 204);
	height: 29px;
}
.popupLeft .subsTabSelected {
	float:left;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:4px 15px;
	background:#fff;
}
.popupLeft .subsTabUnselected {
	float:left;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	padding:4px 15px;
}
.popupLeft .disableCatBox {
	background: #fcfcfc;
	border: 1px solid #eee;
	display: block;
	float: left;
	padding: 1% 2%;
	width: 100%;
}
.modalsamp2 .popupLeft .choosePack {
	color: #444;
	width: 100%;
}
.modalsamp2 .popupLeft .subDivContainer {
	float: left;
	padding: 5% 0;
	width: 100%;
}
.modalsamp2 .popupLeft .loader {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	display: none;
	overflow: hidden;
	padding: 10px;
	position: fixed;
	z-index: 120;
}
.modalsamp2 .popupLeft .selectBoxNew {
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #444;
	float: left;
	font-family: calibri, calibriregular;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 7px;
	width: 100%;
}
.modalsamp2 .rightSide {
	border-left: 1px dashed #ccc;
	clear: both;
	width: 100%;
}
.rightSide .rightSideInner {
	color: #6dac48;
	display: inline-block;
	font-size: 26px;
	min-height: 52px;
	padding: 15px;
	text-align: left;
	text-transform: uppercase;
	width: 50%;
}
.rightSide .contactUs {
	display: inline-block;
	font-size: 12px;
	width: 37%;
}
.tableshot {
	margin: 10px 2%;
	width: 96%;
}
.tableshot tr td {
	padding:5px;
	font-weight:bold;
}
.tableshot tr td.classshadow #cholist>div {
	border: 1px solid #ccc;
}
.tableshot tr td.classshadow #cholist>div:hover {
	background:#fcfaf1;
}
.tableshot tr td.classshadow #cholist>div:first-child:hover {
	background:#fff;
}
.tableshot tr td.sd {
	width:80px;
}
.tableshot .video, .tableshot .test {
	display: inline-block;
	 margin: 0 24px;
}
.lockOrUnlock .list-group-item-success {
	background:url(../images/unlock.png) 97% 7px no-repeat;
}
.lockOrUnlock .list-group-item-danger {
	background:url(../images/lock.png) 97% 7px no-repeat;
}
/* POP up login css */
.containerlg {
	position: relative;
}
.containerlg #content {
	background: #f9f9f9;
	background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0 );
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 341px;
}
.containerlg #content h1 {
	color: #7E7E7E;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-weight: bold;
	font-size:2em;
	line-height: 20px;
	margin: 10px 0 21px;
}
.containerlg #content h1:before, .containerlg #content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
.containerlg #content h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	right: 0;
}
.containerlg #content h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	left: 0;
}
.containerlg #content:after, .containerlg #content:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
.containerlg #content:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
.containerlg #content:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}
.containerlg #content form {
	margin: 0;
	position: relative
}
.containerlg #content form input[type="text"], .containerlg #content form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(../images/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 89%;
}
.containerlg #content form input[type="text"]:focus, .containerlg #content form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
.containerlg #username {
	background-position: 10px 10px !important
}
.containerlg #password {
	background-position: 10px -53px !important
}
.containerlg #content form input[type="submit"] {
	background: rgb(6,128,251);
	background: -moz-linear-gradient(top, rgba(6, 128, 251, 1) 0%, rgba(92, 173, 255, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(6, 128, 251, 1) 0%, rgba(92, 173, 255, 1) 100%);
	background: -o-linear-gradient(top, rgba(6, 128, 251, 1) 0%, rgba(92, 173, 255, 1) 100%);
	background: -ms-linear-gradient(top, rgba(6, 128, 251, 1) 0%, rgba(92, 173, 255, 1) 100%);
	background: linear-gradient(top, rgba(6, 128, 251, 1) 0%, rgba(92, 173, 255, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151', GradientType=0 );
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	border: 1px solid #ccc;
	color: #fff;
	cursor: pointer;
	float: left;
	font: normal 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 10px 0 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.containerlg #content form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top, rgba(92, 173, 255, 1) 0%, rgba(6, 128, 251, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(92, 173, 255, 1) 0%, rgba(6, 128, 251, 1) 100%);
	background: -o-linear-gradient(top, rgba(92, 173, 255, 1) 0%, rgba(6, 128, 251, 1) 100%);
	background: -ms-linear-gradient(top, rgba(92, 173, 255, 1) 0%, rgba(6, 128, 251, 1) 100%);
	background: linear-gradient(top, rgba(92, 173, 255, 1) 0%, rgba(6, 128, 251, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a', GradientType=0 );
}
.containerlg #content form div a {
	color: #004a80;
	float: right;
	font-size: 12px;
	margin: 30px 15px 0 0;
	text-decoration: underline;
}
.containerlg .button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: -o-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: -ms-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 15px 0;
}
.containerlg .button a {
	background: url(../images/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.containerlg .button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}
.bodytest {
	background: #fff url(../images/testdesign1.png) repeat;
	margin-top:0;
}
.pogo, .pogo li {
	list-style:none;
}
.pogo {
	padding-left: 5px;
}
.pogo li {
	float:left;
	height: 31px;
}
.pogo li a {
	background:#002d57;
	border-radius:17px;
	color:#fff !important;
	text-decoration:none;
	font-weight:bold;
    margin: 2px;
    padding: 4px 6px;
	border:none !important;
}
.pogo li a:hover, .pogo li.active a {
	background:#f21b22 !important;
	text-decoration:none;
	box-shadow:0 0 5px #f21b22;
	border:none !important;
}

.testcssRe {
	padding:10px;
}
.pagin {
	margin-top: 15px;
	width:100%;
}

.pagin a:last-child {
	border-right:none;
}
.pagin a:hover {
	color:#ccc;
}
.paragraphtest {
	clear:both;
	margin:1%;
}
h3.testTitle {
	color: #fff;
	display: inline-block;
	font-family: "Open Sans Light", arial;
	font-size: 1.7em;
	left: 40%;
	margin: 0;
	position: absolute;
	top: 25%;
	width: auto;
}
.pagination-content {
	clear: both;
	display: block;
	list-style: none outside none;
	width: 100%;
	padding: 0;
}

.pagination-content p {
	padding: 5px;
	text-shadow: 4px 4px 4px #fff;
}

.kalps .timer {
	height: 60px;
	width:90%;
	padding:0 5%;
}


.kalps .que h4,
.kalps .ops h4,
.kalps .ans h4 {
	font-size: 1.6em;
	font-family: "Open Sans Light", arial;
	border-bottom:1px solid #fff;
	padding:2%;
	
}
.kalps .que p {
	font-size: 1em;
	padding:4% 2%;
	font-weight:bold;
}
.kalps .ops p input[type="radio"] {
position:absolute;
left:0;
top:0;
}
.kalps .ops p {
	font-size: 1em;
	position:relative;
	padding-left:20px;
}
.kalps .ans p {
	font-size: 1em;
	padding:4% 2%;
	position:relative;
}
.kalps .ans p .optionNumber {
position:absolute;
left:0;
top:6px;
}
.kalps .ans p strong{
display: inline-block;
    padding-left: 20px;
}
.result {
	/*font-size: 1em; border: medium none; background: rgba(241, 90, 35, 0.5);color:#fff;*/
	font-size: 1.3em;
}

/* popup login css ends */
#cholist a strong:first-letter {
	font-size:20px;
}
.explainsection {
padding:5px;
}
.explainsection h3 {
color:#0E5EA5;
font-family: "Open Sans Light", sans-serif;
font-size: 1.5em;
}
.explainsection .ansbox {
box-shadow:0 0 4px #f0f0f0 inset;
border:1px solid #ccc;
padding:1%;
display:block;
min-height:40px;
}
.graybg {background: #ebecee;
    display: block;
    float: left;
    width: 100%;}

.overflowbox {
	background:#fff url(../images/curvedlines.jpg) repeat-x;
	height:565px;
	overflow:auto;
}
.perchart h5.title, .overflowbox h5.title {
	background:#0e5ea5;
	color:#fff;
	font-family: "Open Sans Light";
	font-size:1.4em;
	margin-top:0px;
	margin-left:0px;
	padding:10px 6px;
	width: 234px;
}
.scror {
	color:#0e5ea5;
	font-family: "Open Sans Light";
	font-size:1.8em;
	padding:15px;
}
.col7ad1ef {
	color:#7ad1ef;
}
.piedesc {
	padding:24px 30px 0 24px;
	border:1px dashed #eee;
	margin:10px;
	width:auto;
	box-shadow:0 0 3px #ccc;
	width:266px;
}
.piedesc #firstC,
.piedesc #secC,
.piedesc #thrC {
	display: inline-block;
    float: left;
    height: 15px;
    width: 15px;
}
.piedesc p {
padding:25px 0 10px 0;
}
.piedesc span.txt {
	color: #333;
    display: block;
    font-size: 12px;
    margin-right: 40px;
    padding-left: 20px;
    vertical-align: top;
}
/* video page */
.box {
background:#ececec;
    border-radius:5px;
    box-sizing: border-box;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 15px 20px 0 20px;
    position: relative;
}
.box2 {
background:#fff;
    border: 2px solid #f9f7f7;
	border-radius:5px;
    box-sizing: border-box;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 15px 20px 0 20px;
    position: relative;
}

.content-video h3 {
	color: #003366;
    font-family: "Open Sans Light",sans-serif;
    font-size: 1.6em;
	margin: 0 0 10px 0;
}
.content-video .single .post .details {
    margin-bottom: 20px;
    margin-top: -20px;
}
.content-video .post .details, .content-video .post .details a {
    color: #797979;
}
.content-video .post .details a.likeThis {
color:#1293f2;
}
#comments ol.commentlist {
    list-style: none outside none;
}
.box .comment ol.commentlist {
    background: url("images/video/line.png") repeat-x scroll left bottom transparent;
    list-style: none outside none;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 0;
}
.comment-notes {
background:#636363;
color:#fff;
padding:3px;
}
.forms tr td {
padding:4px;
}
.comment .user {
    float: left;
    height: 70px;
    margin-right: 20px;
    width: 70px;
}
.content-video .frame {
    display: block;
    pointer-events: none;
    position: relative;
}
.content-video .comment .message {
    overflow: hidden;
    padding: 15px 20px 0;
    position: relative;
}
.comment .message .reply-link {
    color: #b9b9b9;
    font-size: 11px;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 20px;
}
.comment .message {
background: #f9f7f7;
margin-bottom:5px;
}
.comment .message .info h2 {
    font-size: 15px;
    margin: 0;
	font-weight:bold;
	color:#0572c2;
}
.comment .message .info .meta {
    color: #797979;
    font-size: 11px;
}
.content-video .post .details {
    background: #f0f0f0;
    border: 1px solid #dfdede;
    border-radius: 2px;
    font-size: 15px;
    overflow: hidden;
    padding: 2px 8px;
    position: relative;
	margin: 0 0 15px 0;
	font-weight:bold;
}
.content-video .tags a {
color:#125e8d;
font-style:italic;
}
.content-video .tags a:before {
    content: "#";
    display: inline-block;
}
.content-video .post-nav {
    border-top: 1px dashed #333;
    font-size: 14px;
    margin: 0 -5px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}
.content-video .post-nav a:hover {
	text-decoration:none;
}
.widget-title {
    border-bottom: 2px solid #f9f7f7;
    color: #003366;
    font-family: "Open Sans Light",sans-serif;
    font-size: 1.6em;
    margin: 0 0 10px;
    padding-bottom: 5px;
}
.widget ul, .widget ul li {list-style:none;padding:0;margin:0;}
.widget .frame a:hover .more {
display:inline-block;
}
.widget {
    float: left;
    width: 100%;
	margin-bottom:15px;
}
.widget + .widget {
    border-top: 2px solid #f9f7f7;
}
.widget .frame a .more {
    background: url("../images/video/icon-play.png") no-repeat scroll center center rgba(0, 0, 0, 0.55);
    height: 100%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
	display:none;
}
.widget ul.post-list li {
    clear: both;
    display: block;
    
}
.widget ul.post-list li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    line-height: 17px;
	float:left;
	margin-bottom:10px;
	width: 100%;
}
.widget ul.post-list li .frame {
    float: left;
    margin-right: 15px;
}
.widget .frame {
    display: block;
    pointer-events: none;
    position: relative;
}
.widget .meta em {
font-size:10px;
}
.widget .frame img {
    display: block;
    max-width: 100%;
    pointer-events: auto;
	border: 1px solid #eee;
}

.widget ul.post-list {
    color: #b9b9b9;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 0 0 10px 0;
}
.forgotPara {
margin: 0px 0px 10px; transition: all 0.5s ease 0s; width: 100%; padding: 3px 10px 18px 0px;
}
.forgotPara .forgetline {
float: left; padding: 0px; margin: 0px; width: auto; color: #666;
cursor:pointer;
text-decoration:underline;
}
.forgotPara .forgetline:hover {
color:#ba480f;
text-decoration:none;
}
/*--- */
.hoax {
	color:#666;
	font-size:0.8em;
	padding: 5px;
}
.txt1 {
}
.txt1 label {
	font-weight:normal;
	margin-left:15px;
	width:130px;
}
.txt2 {
margin:10px 2px;
}
.txt3 {
font-size:12px;
padding-top: 9px;
}
.txt5 {
font-size:1.4em;
font-family: "Open Sans Light",sans-serif;
color:#666;
}
.txt6 {
	color: #666;
    font-weight: bold;
    padding: 5px 6px 0 6px;
}
.pp2p {
padding-left:0;
padding-top:0;
}
@font-face {
 font-family: "Open Sans Light";
 font-style: normal;
 font-weight: 300;
 src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 400;
 src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
 font-family: "Open Sans Bold";
 font-style: normal;
 font-weight: 700;
 src: local("Segoe UI Bold"), local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
.staze2 {
display:none;
}
.staze1 li:hover ul.staze2 {
display:none;
}
.listingnameslist li.listbw {
float: left;
 margin: 3px;
 padding: 2px 37px 2px 10px;
 position: relative;
 width: 48%;
}
}
@media (min-width: 768px) {
.staze2 {
display:none;
}
.staze1 li:hover ul.staze2 {
display:block;
background: #FF9966;
}
.listingnameslist li.listbw {
float: left;
 margin: 3px;
 padding: 2px 37px 2px 10px;
 position: relative;
 width: 30%;
}
 .width130px {
text-align: center;
 width: 137px;
}
.paddingx1 {
    padding: 14px 30px;
}
}


#scs2, #scs3 {
	display:none;
}


.simplepage {
	background: #eee;
    border-radius: 0 10px;
    box-shadow: 0 0 10px #ccc inset;
    margin-bottom: 3%;
    margin-top: 2%;
    padding: 0 2% 2%;
}
.simplepage h3 {
	color:#1A87D7;
}
.simplepage h4 {
	color: #03498f;
    margin-bottom: 0;
    margin-top: 5px;
}
.simplepage p {
	line-height: 1.6em;
    margin-bottom: 30px;
}
.simplepage p a {
	color:#1A87D7;
	text-decoration:underline;
}
.simplepage br {
	display: block;
   margin: 6px 0;
}
.simplepage .buttontable {
	line-height: 1.6em;
    margin-bottom: 30px;
}
.extrapage {
    margin-top: 10px;
	margin-bottom: 10px;
}
.extrapage .container {
	padding:0;	
}
.extrapagefoot {
	background:#03498F;
    border-radius: 0 0 6px 6px;
    float: left;
    padding: 10px 20px;
    width: 100%;
}
.profilepic .ppicsNum {
	font-size: 6em;
    font-weight: bold;
    letter-spacing: -3px;
	text-shadow: 0 0 3px #666;
}
.profilepic .ppicsPercent {
	color: #667490;
    font-size: 0.4em;
}
.btnClick {
    color: #fff;
    font-size: 1.6em;
    margin-top: 6px;
    padding-right: 28px;
	float:right;
}
.splpaddin > thead > tr > th, 
.splpaddin > tbody > tr > th, 
.splpaddin > tfoot > tr > th, 
.splpaddin > thead > tr > td, 
.splpaddin > tbody > tr > td, 
.splpaddin > tfoot > tr > td {
	padding:10px 5px !important;
}
.splpaddin td,
.splpaddin th {
	text-align:center;
	border:1px solid #ccc;
}
.splpaddin td span {
	display:block;
	text-align:center;
}
.splpaddin td h5.tlenm {
	border-top:2px solid #1A87D7;color:#1A87D7;font-size:1.25em;border-bottom:2px solid #1A87D7
}
.splpaddin td span.nup {
	font-size:3em;
	font-family: "Open Sans Light";
}
.txt7 {
    color: #666;
    font-size: 1.22em;
    font-weight: normal;
    padding: 5px 6px 0 9px;
    text-shadow: 0 0 3px #fff;
}

.kalps {
    border-radius: 6px;
	background: #fff;
    box-shadow: 0 0 3px #ccc inset;
    padding: 0 10px 10px;
	border: 1px solid #d7d7d7;
}
.kalps .que, .kalps .ops, .kalps .ans {
    border-bottom: 1px solid #ebecee;
    color: #333;
    padding: 0 5%;
}
.leftboxq {
    height: 109px;
    margin-top: 10px;
}
.graybg {
    background: none repeat scroll 0 0 #ebecee;
    border-radius: 6px;
    display: block;
    float: left;
    width: 100%;
}
.pagin a {
    border-right: 2px solid #666;
    color:#0E5EA5;
    font-family: "Open Sans Bold",arial;
    font-size: 1.1em;
    padding: 1% 8%;
    text-align: right;
    text-decoration: underline;
}
.timer {
	position:absolute;
	right:0;
	top:0;
}
.testcss {
	background: #1a87d7;
	float: left;
	padding: 11px;
	width: 100%;
	position:relative;
	height: 73px;
	border-radius: 6px 6px 0 0;
}
.pagination-content li {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px #999 inset;
    min-height: 245px;
    padding: 10px;
}
.listQuestionde li a {
    display: block;
    float: left;
    font-weight: bold;
    margin: 1px;
    padding: 5px;
    position: relative;
    text-decoration: none;
	border:1px solid #ccc;
    width: 85px;
	background: #ececee;
}
.rightdiv .innersection .quetion .co, .correct {
	background: url("../images/rm.png") no-repeat 0 1px;
	height: 15px;
	width: 18px;
	margin: 0;
}
.rightdiv .innersection .quetion .wr, .wrong {
	background: url("../images/rm.png") no-repeat 0 -14px;
	height: 16px;
	width: 18px;
	margin: 0;
	
}
.rightdiv .innersection .quetion .wr, .notcomplete {
	background: url("../images/rm.png") no-repeat 0 -30px;
    height: 16px;
    margin: 0;
    width: 18px;
	
}
.perchart {
	background:#fff/* url(../images/curvedlines.jpg) repeat-x*/;
	min-height: 495px;
}
.socio-icon-fb {
	background:url(../images/socialicon.jpg) -30px -115px no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
}
.socio-icon-tw {
	background:url(../images/socialicon.jpg) -144px -115px no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
}
@import url(responsive.css);