
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}
#section-middle .modal-dialog .modal-content{
background-color: rgb(34, 184, 255)!important;
    color: white;
}
/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}
.qklink_wpr .linkgate .accordion-item .accordion-header:after {background:#1b1b42;content:"";position:absolute;
z-index:-1;top:0;left:0;right:0;bottom:0;-webkit-transform:scaleX(0); transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform; 
transition-duration:.4s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.qklink_wpr .linkgate .accordion-item:hover .accordion-header:after {background:#00a861;    
width: 100%;-webkit-transform:scaleX(1);transform:scaleX(1)}
.main_wrapper {width:1104px;margin:0 auto;clear:both}
.main_wrapper {text-align: center;}
.main_wrapper{position:relative}
.lnk_ansaddwpr{display:inline-block;width:100%;}
.inr_title{background:#1b1b42;border-bottom:3px solid #00a861;font-size:20px;color:#fff;
font-weight:400;position:relative;padding-left:50px;height:43px;line-height:43px}
.linkgate .accordion a, .linkgate .accordion1 a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 9px 0;
    margin: 0;
    display: block;
    cursor: pointer;
    background: #fafafa;
    border-bottom: 1px solid #a6a6a6;
    outline: none;
    display: inline-block;
    width: 74%;
	color: #151719;
    font-weight: 500;
}
.qklink_wpr .linkgate .accordion-item .accordion-header:hover a {
    color: #fff;
}
.inrright_cntr .gate h1,.book_package .package_head{ 
background:#d6d4d4;
border: 1px solid #ccc;    
border-radius: 3px;    
color: #202090;    
font-size: 26px;    
font-weight: 600;    
margin-left: 0;
padding: 3px 10px;    
position: relative;}
.qklink_wpr .linkgate .accordion-item .accordion-header:hover a{color:#fff}
.linkgate .accordion a.abtacordian,.accordion-header h1 > a{border-bottom:none!important;
background:none!important;display:inline-block!important;padding:0!important;font-family:open_sansregular;font-size:14px}
.accordion1 .accordion-header h1{float:left;font-size:15px;font-weight:400;margin:0;line-height:1em;color:#00a861;}
.inrright_cntr .gate p {
    font-size: 15px;
    line-height: 1.5em;
    padding: 3px 0 0 11px;
    text-align: justify;
    font-weight: 400;
	margin-left: -23px;
}
.inrright_cntr .gate ul li {
    padding: 0px 0;
    font-size: 14px;
    margin: 0 0 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: disc;
}
#toast-container>div, .author-box, .badge, .btn, .btn-floating, .card, .card-cascade-2 .card-block, .card-cascade.wider .card-block, .card-wrapper .back, .card-wrapper .front, .cascading-media .view, .chip, .dropdown-content, .dropdown-menu, .jumbotron, .list-group, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .navbar .nav-item .dropdown-menu.dropdown a:active, .navbar .nav-item .dropdown-menu.dropdown a:focus, .navbar .nav-item .dropdown-menu.dropdown a:hover, .pager li a, .pagination .active .page-link, .popover, .pricing-card .price .version, .section-blog-fw .view, .side-nav, .social-list, .z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-cascade .card-block {
    padding-top: 1.8rem;
}
h5{
padding: 1px;
    font-size: 12px;
}
h4{
padding: 0px 2px 0px 4px;
}
.btn{
    margin-bottom: 10px;
}
#img{
 height: 93px;
    width: 69px;
    margin-left: 38px;
}
.overlay{
    background-color:rgb(0, 0, 0);
}
@media (min-width: 375px) and (max-width: 667px){
.inrright_cntr{
    width: 100%;
    margin-right: 0px;
}
}
.btn-primary{
background-color:#00bcd4;
}
#logout{
    margin-left: 1034px;
    background-color: rgb(0, 107, 48);
    color: #e4d4d4;
    height: 35px;
    width: 103px;
    font-weight: 700;
    margin-top: -33px;
}
.inrright_cntr .gate h1, .book_package .package_head {
    height: 44px;
    color: rgba(245, 245, 245, 0.98);
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: 700;
    box-shadow: inset -4px 0px 53px 9px #003366, inset -30px 0px 30px -20px #8ed693;
    text-shadow: 1px 0px 1px #003366;
}
.btn-block {
    margin-left: -10px;
    display: block;
    width: 100%;
}
.inrright_cntr {
    box-shadow: 0 0 0 1px #e3e3e3 inset;
    margin-bottom: 25px;
}
.btn{
       background-color: white;
    height: 28px;
    padding: 5px 0px 0px 0px;
    width: 30px;
	    border-radius: 3px;
    box-shadow: 1px 3px 2px 0px #0e66a7;
    color: #2388d2;
    font-weight: 600;
}
.btn:hover{
       height: 29px;
	    color: #f35c00;
}
.modal-footer .button5:hover{
background-color:#2089dc!important;
color:white;
	}
.nav{
	padding-left: 0px;
    list-style-type: none;
}
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #9e9e9e;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent);									  
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	    max-width: 80%;
}
.home .top-wrapper {
    padding: 4px;
    top: 0;
    z-index: 9;
    height: 82px;
}
.bar{
    padding: 2px -3px -1px;
    font-size: 12px;
	    margin-bottom: 5px;
}

.container-fluid{
    margin-top: -25px;
}
#finish-btn:hover{
    color: rgb(255, 208, 52);
}
.inrright_cntr .gate h3{
    height: 44px!important;
    color: rgba(245, 245, 245, 0.98)!important;
    text-shadow: 1px 0px 1px #003366!important;
}
.inrright_cntr .gate h3{
    background: #3193da;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #202090;
    font-size: 22px;
    font-weight: 600;
    margin-left: 0;
    padding: 8px 10px;
    position: relative;
}
.inrright_cntr .gate h1{
    background: #d6d4d4;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #202090;
    font-size: 26px;
    font-weight: 600;
    margin-left: 0;
    padding: 3px 10px;
    position: relative;
}
.inrright_cntr .gate h1, .book_package .package_head {
    height: 44px;
    color: rgba(245, 245, 245, 0.98);
    box-shadow: inset -4px 0px 53px 9px #003366, inset -30px 0px 30px -20px #8ed693;
    text-shadow: 1px 0px 1px #003366;
}
.no-border {
    border: 0px !important;
}
.table td{
border:1px solid white!important;
}
.left_header {
    background:#167f92;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.question-list {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.q-btn{
    top: 8px;
    padding-top: 6px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid transparent;
    background:#D9E4E6;
    border: 1px solid #eee;
	
}
.left-btn .icon{
	position: absolute;
    left: 8px;
}
.div_details{
	margin-top: -27px;
    margin-left: 30px;
    padding-left: 10px;
    color: #777;
    font-size: 13px;
}
.q-btn:hover{
	color:#167f92;
}
#h4{
	    margin-top: 21px;
    font-size: 18px;
    margin-left: -3px;
    color: #008000;
    font-weight: 600;
}
#take-test #test-heading{
color: red;
    font-size: 27px;
    font-weight: 500;
    margin-top: -17px;
    margin-right: 156px; 
}
.clock {
    color: #167f92;
    font-size: 17px;
    margin-top: -30px;
    text-align: center;
    line-height: 1.1;
    width:148px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
	    margin-left: 6px;
}
.clock .minutes, .clock .seconds {
    display: block;
    width: 50%;
    float: left;
}
.clock span {
    display: block;
}
.inrright_cntr .gate {
border: 1px solid #dedede;
    padding: 13px 21px 18px;
    position: relative;
    background: #fff;
    margin-left: -45px;
    height: 543px;
    width: 934px;
}
.tab1{
 height:592px;	
 background-color:#3193da;
}
.tab2{
 height:592px;	
 background-color:#3193da;
}
#gate3{
 height: 543px;	
 background-color:white;
}
#gate1 h3{
	    color:white;
    font-size: 19px;
    font-weight: 600;
    margin-left: 31px;
    margin-top: 14px;
}
.marginTop20 {
    margin-top: -71px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -16px;
    border: 0;
    border-top: 1px solid #ffffff;
	width: 225px;
}
#btn-sample{
    color: white;
    font-size: 13px;
    margin-left: 6px;
}
.btn-primary{
	    height: 38px;
    padding: 1px;
    width: 159px;
    border: 2px solid #bdbdf9;
    color: #0e0e31;
    background-color: #887979;
}

section{
	    margin: 28px 0;
}
 /* Underline From Left */
.hvr-underline-from-left {
	height: 38px;
    background-color: deepskyblue;
    width: 141px;
    color: white;
    padding: 7px 16px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #08175f;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Right */
.hvr-underline-from-right {
	    margin-left: -273px;
       height: 38px;
    width: 141px;
    color: white;
    padding: 7px 36px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background-color: rgba(119, 136, 153, 0.89);
	  margin-left:-404px;
    overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #071142;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}
/* Rectangle Out */
.hvr-rectangle {
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #073b65;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 38px;
    width: 133px;
    padding: 7px 15px;
	    font-size: 15px;
}
.hvr-rectangle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle:hover, .hvr-rectangle:focus, .hvr-rectangle:active {
  color: white;
}
.hvr-rectangle:hover:before, .hvr-rectangle:focus:before, .hvr-rectangle:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#btn-area{
	margin-top:20px;
}
#gate1 .time{
    font-size: 34px;
   color: white;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    line-height: 34px;
	    margin-left: 2px;
}
#gate1 .text {
    text-transform: uppercase;
    font-size: 12px;
   color: white;
       margin-left: 2px;
}
#gate1 .divider {
	margin: 0;
    height: 6px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
    background: #c0c0c0;
}
.right-tab{
	    padding: 40px 10px;
    position: relative;
}
#top-head{
	 font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #1733cc;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    margin-top: 12px;
    margin-bottom: 20px;
}
#attempted_option ul.options {
    margin: 0 0 40px;
    position: relative;
    padding: 0;
    list-style: none;
    max-width: 500px;
}
#attempted_option ul.options li {
    width: 100%;
    overflow: hidden;
    padding-right: 50px;
    background: #fff;
    border: 1px solid #dadada;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}
.form1 ul li {
    margin-bottom: 15px;
}
.post li {
    margin-bottom: 3px;
    color: #424242;
    font-size: 14px;
}
#attempted_option ul.options li #tick-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
    background: #dadada;
    opacity: 0.8;
    width: 50px;
}
#attempted_option ul.options li #tick-icon img {
    width: 26px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -13px;
}
img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
#attempted_option ul.options li .option {
    width: 50px;
    min-height: 40px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #424242;
    border-right: 1px solid #dadada;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 18px;
}
#attempted_option ul.options li .option span {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -9px;
    width: 100%;
}
#attempted_option ul.options li .question-text {
    margin-left: 50px;
    position: relative;
    font-size: 14px;
    color: #424242;
    line-height: 17px;
    padding: 5px 10px 7px;
    display: table;
    height: 40px;
}
#attempted_option ul.options li .question-text span {
    display: table-cell;
    vertical-align: middle;
    word-break: break-word;
}
.coding-footer {
    background: #e5e5e5;
    height: 65px;
    border-top: 1px solid #dadada;
    z-index: 100;
    width: 100%;
    bottom: 0;
	position:fixed;
    left: 0;
    padding: 13px 0 14px;
	margin-top: 128px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 1px;
}
.coding-footer .container-fluid .inner-coding-footer {
    padding: 0 30px;
}
.pull-left {
    float: left!important;
}
.coding-footer .user-actions-block.pull-left .btn {
    margin-right: 7px;
    margin-left: 0;
}
.coding-footer .user-actions-block .btn {
    margin-left: 7px;
    min-width: 160px;
}
.coding-footer .user-actions-block.pull-left .btn {
    margin-right: 7px;
    margin-left: 0;
}
.coding-footer .user-actions-block .btn {
    margin-left: 7px;
    min-width: 160px;
}
section{
	width: 99%;
}
#section-middle{
	height: 592px;
	 overflow:auto;
}
#attempted_option h4 {
    line-height: 20px;
}
#attempted_option h4 {
    font-weight: 500;
	    margin-top: 43px;
    margin-bottom: 25px;
	
}

ul.options li span.select{
    background: #4caf50!important;
    opacity: 1;
}
#gate1 .pic-container .pic-row a.select{
	background-color:#06558e;
	color:white;
}
#gate1 .pic-container .pic-row a.visited{
	background-color:rgb(171, 214, 0);
	color:#8a1818;
}
@media (max-width: 667px) and (min-width: 375px)
{
#display-btn{
	display:none;
}
.display-text{
	display:none;
}
.tab2{
	    margin-top: -656px;
    height: 0px!important;
}
#gate1 .time {
    font-size: 19px!important; 
    margin-left: 203px!important;
    margin-top: 25px!important;
}
.tab1{
	height:171px!important;
}
.btn-primary{
	    margin-top: -108px!important;
		width:132px!important;
}
.right-tab{
    padding:inherit;	
}
#button11{
font-size: 12px!important;
width: 76px!important;
margin-left: -720px!important;
margin-top: 7px!important;
height: 32px!important;
padding: 6px 15px!important;
}
#button12{
font-size: 12px!important;
width: 107px!important;
margin-top: 7px!important;
height: 32px!important;
padding: 6px 15px!important;
}
#button13{
font-size: 12px!important;
width: 107px!important;
margin-left: -565px!important;
margin-top: 7px!important;
height: 32px!important;
padding: 6px 15px!important;
}
#btn-container{
    margin-top: -9px;
}
}

@media (max-width: 480px) and (min-width: 320px)
{
.tab1{
	height:172px;
}	
}
@media (max-width: 568px) and (min-width: 320px)
{
#display-btn{
	display:none;
}
.display-text{
	display:none;
}
.tab2{
	    margin-top: -656px;
    height: 0px!important;
}
#gate1 .time {
    font-size: 17px;
    margin-left: 146px;
    margin-top: 25px;
}
.tab1{
	height:210px;
}
.btn-primary{
    margin-top: -108px;
    font-size: 12px;
    width: 122px;
}
.right-tab{
    padding:inherit;	
}
#button11{
font-size: 12px;
width: 76px!important;
margin-left: -720px;
margin-top: -3px;
height: 32px;
padding: 6px 15px;
}
#button12{
font-size: 12px;
width: 107px!important;
margin-top: -3px;
height: 32px;
padding: 6px 15px;
}
#button13{
    font-size: 12px;
    width: 93px;
    margin-left: -613px;
    margin-top: -3px;
    height: 32px;
    padding: 6px 15px;
}
#btn-container{
    margin-top: -9px;
}
}
@media (max-width: 640px) and (min-width: 360px)
{
.tab1{
	height:172px;
}	
}
@media (max-width: 1024px) and (min-width: 768px){
#display-btn{
	display:none;
}
.display-text{
	display:none;
}
.col-sm-2 {
width: 22.666667%;
}
.tab2 {
height: 0px;
background-color: white;
margin-top: -586px;
margin-left: 536px;
}
#gate1 .time {
font-size: 22px;
color: #3193da;
}
#timer-img{
	    margin-left: -63px;
}
.right-tab{
padding: 0px;
    position: absolute;
}
#button11{
    font-size: 15px;
    width: 105px!important;
    margin-left: -514px;
    margin-top: -3px;
    height: 40px;
    padding: 9px 24px;
}
#button12{
font-size: 15px;
    width: 114px!important;
    margin-top: -3px;
    height: 40px;
    padding: 8px 15px;
}
#button13{
    font-size: 15px;
    width: 110px;
    margin-left: -204px;
    margin-top: -3px;
    height: 40px;
    padding: 8px 15px;
}
.coding-footer{
bottom: 28px;	
}
}
