.mob_show{display:inherit;background:transparent;position: relative;z-index: 1;}.desktop_show{display:inherit}
@media only screen and (max-width:1200px){
 .content-align-center{width: 100%;}  
}
@media only screen and (max-width:1024px){.testsrs_wdgtoutr.marleft{margin-left:.5%}.cntr_tbl{background:#fff none repeat scroll 0 0;height:77px;margin:0px 26px 20px;position:relative;width:94%;}
body{overflow-x:hidden !important;}.rgt_fixed{display:none}.afairlink p a{border-bottom:none}.nav{margin-left:8px}.main_wrapper{width:100%;overflow-x: hidden}.pageheaderimage .main_wrapper { position: relative; overflow-x: inherit;}
.main-wrap1{width:100%}
.brdrnav{padding:0 7px}
.mob_show .owl-controls .owl-buttons{display:block}
.newglery li a.button{width:98px;height:79px}
.newglery li img{width:96px}
.testsrs_wdgtoutr{width:234px}
.courseftrswdgt .imgcntrbox{width:22%}
.box_clone a img,.box_skitter_large ul li img{width:1024px!important}
.box_skitter_large{width:1024px !important}
.logo img{width:100%}
.ftr_cprit .cop_icn{margin-right:65px}
.logo{width:39%;}
.hdr_rgt ul li a{margin:0 12px}
.nav_cntr{width:100px;height:44px;}
.nav_cntr li ul{left:0}
.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller{float:right;max-height:225px;width:30%}
.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller1{float:right;max-height:225px;width:30%}
.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller2{float:right;max-height:225px;width:30%}
.upcmng_batches .accordion-header h1{font-family:open_sanssemibold}
.inrright_cntr .feecss .responsive-tabs__list__item{font-weight:normal;font-size:13px;padding:9px 5px !important;;}
.inrright_cntr .gallery.add .responsive-tabs__list__item{font-size:12px;padding:9px 5px !important;}
.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller3{float:right;max-height:225px;width:30%}
.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller4{float:right;max-height:225px;width:30%}
.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller5{float:right;max-height:225px;width:30%}
.inrright_cntr .gallery .responsive-tabs .vdorgt h2{width:28%}
.latest_updt span{padding:0 9px}
.cntr_tbl .owl-item{width:102px!important}
.notc_ansmnts_cntr{width:41.5%}
.inr_title{font-size:18px}
.afairlink{padding-left:18px}
.afir_price{padding-left:33px}
.afir_price::before{left:10px}
.buttons{font-size:12px;padding:0 36px 0 7px;margin-left:20px}
.notc_ansmnts_cntr{width:39%}
.qklink_wpr{width:28%}
.ftr_prt1{width:176px}
.testsrs_wdgt .scrng_tst{font-size:13px}
.classroom_study_content{width:96%}
.classroom_study_right{border:medium none;width:97%}
.nav>li.hover>ul li{overflow:visible;background:#860f19;}
.nav>li>ul>li>a{margin:0;font-weight:400;text-transform:inherit;transition:.3s ease-in;padding:12px 0px 12px 15px;background:#860f19;}
.inrright_cntr .gate img{width:100%!important}
.inrright_cntr{margin-right:1%;width:66%}
.onln_img,.tlnt_img,.ofln_img,.imprvmnt_img,.pstl_img{width:100%}
.Image-2{width:100%}
.top-right{width:56%}
.study-course{width:40%}
.inrright_cntr .course-top .study-course .stdy{padding:11px 20px;line-height:24px}
.offline{width:48%}
.talent{width:48%}
.basic div:first-child{height:224px !important}
.course_bottom{width:100%}
.postal_course{width:58%}
.improvement{width:39%}
.stdy_img{max-height:293px;width:99%}
.imprvmnt_img{max-height:178px}
.course,.course-top{width:100%}
.inrright_cntr .course-top .top-right .ofln{margin:42px 0 0 24px}
.inrright_cntr .course-top .top-right .tlnt{margin:38px 0 0 21px}
.inrright_cntr .course-top .study-course .stdy_img{border-style:none}
.inrright_cntr .course_bottom .imprvmnt{margin-top:18px}
.inrright_cntr .course-top .study-course .stdy{width:92%}
.inrright_cntr .course-top .study-course .buttons,.inrright_cntr .course-top .top-right .Image-2 .buttons,.offline .buttons,.talent .buttons{width:70px;right:11px!important}
.classroom_dropdown,.classroom_fieldset{width:50%;float:left}
.classroom_study_right{margin-top:30px}
.admtn .responsive-tabs__list__item{padding:10px 5px}
.fee-s .responsive-tabs__list__item{font-size:12px;padding:10px}
.inrright_cntr .achievement .responsive-tabs__list__item{font-size:13px;font-size:15px;padding:9px 19px}
.inrright_cntr .achievement td .left{width:94px}
.inrright_cntr .achievement th,td{font-size:11px}
.quickLinkCntnt p{width:100%}
.idprofflds{height:auto}
.title_p{width:100%}
.chkboxtxt{margin-right:2%;width:160px;margin-left:3%}
.inrright_cntr .tababout .responsive-tabs__list__item{width:33.33% !important;font-size:15px}
.inrright_cntr .tababout .responsive-tabs__panel{width:92.9%}
.aboutus h2{margin-left:70px;font-size:29px}
.aboutus .heading::before{font-size:39px;left:0}
.aboutus .heading::after{font-size:39px;right:0}
.inrright_cntr .upcmng_batches .upcmng_batches_top .catgryddl{position:relative;width:100%}
.inrright_cntr .upcmng_batches_top .upcmng_batches_cntr .button{padding:0}
.publication_wpr .inr_cnttr .rgt_prt{margin-left:18px}
.afir_price{padding-top:18px}
.afir_price:before{padding-top:18PX}
.ftr_prt1.first{padding-left:5px}
.nav_cntr li ul{width:123px}
.courseftrswdgt .imgcntrbox .ovrimg{padding:5px 0;font-size:12px}
.courseftrswdgt img{width:100%}
.responsive-tabs__list__item{font-size:13px}
footer{padding:28px 0px;}
.main_wrapper.follow_on{overflow:visible;}
.main_wrapper.footer_first{overflow:visible;}
.fee-s .accordion{margin-top:20px;}
.publication_wpr .inr_cnttr .left_prt.image_new{width:239px;margin-left:-1px;}
.image_slider li{width:235px;}
.online_pay_page.reciept_info td{font-size:14px;padding:10px 10px;}
.online_pay_page td{font-size:14px;padding:10px 10px;}
.inrright_cntr .refbook .responsive-tabs__list__item{padding:15px 17px;}
.inrright_cntr .gallery .responsive-tabs__list__item{font-size:13px;padding:9px 5px !important;}
.inrright_cntr ul li .full_width.pay_page_captch{width: 85px;}
.inrright_cntr .tbl-1 .GATE td {font-size: 11px;padding: 11px 6px; }
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(1){font-size: 11px;vertical-align: text-top;}
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(2){font-size: 11px;vertical-align: text-top;}
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(3){font-size: 11px;vertical-align: text-top;}
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(4){font-size: 11px;vertical-align: text-top;}
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(5){font-size: 11px;vertical-align: text-top;}
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(6){font-size: 11px;vertical-align: text-top;}
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(7){font-size: 11px;vertical-align: text-top;}
.inrright_cntr .tbl-1 .GATE  tr td:nth-child(8){font-size: 11px;vertical-align: text-top;}
.adformcntr1 .forms_description.colspan2 { padding: 23px 10px 24px 10px;}
.inrright_cntr .dd_cnf { height: auto;}
.inrright_cntr .dd_cnf .sbmt {margin: 29px 0 30px 24px;}
.inrright_cntr .dd_cnf .halfwidth.popshowhid {margin-top: -52px;height: auto;}
.inrright_cntr .dd_cnf .student_dd_info {padding: 10px 10px;}
.MEF_main{ width: 98%;}
.MEF_cont .heding_cont label{font-size: 14px; padding-bottom: 5px;}
.MEF_cont .reg_p { line-height: 40px;}
.inrright_cntr .upcmng_batches_tbl_cntnt .note_Info label{width: 93%;}
.res_main_pop.mefupopup { top: 50px;left:25%;width:50%;}
.getin_touchpop1 { position: absolute;}
.student_gallery{width: 98.5%;}
.onloadPopup.home_page {position: absolute;}
.popbkbox .popbkboxname { padding: 10px 5px 10px 5px;}
.popularbkcntr .poplrbkwdgt { width: 33%; padding-left: 1%;}
.type_new .chkboxtxt { margin-left: 25%;}
.onloadPopup .imgholderdelhi { margin-top: -40px;}
/*subscribe form css start*/
.subscribe_popup_div { width: 98%;  margin: 0 1%;}
.outer_wpr{width:100%;}
.outer_wpr .sub_popup_image{width:100%;}
.logo_header { bottom: 10px; right: 10px;}

/*subscribe form css end*/

}
@media only screen and (max-width:1020px){
 .popbkbox .popbkboxname { padding: 10px 10px 10px 10px;}
.popularbkcntr .poplrbkwdgt { width: 48.33%; padding-left: 3%;}
.book_package .owl-item {height: 1150px;}


/*subscribe form css start*/
.subscribe_imgholder .image_comt_popup {width: 75%;}
.poup_sub_main_div {width: 25%;}
.poup_sub_cont_div {margin: 6% auto;}
/*subscribe form css end*/
}
@media only screen and (max-width:980px){.inrright_cntr .aboutus1{padding:1%;width:97%;}
 .subscrp_wpr{ height: 156px;}       
    .res_main.alumini_popup{width: 100%}
.brdrnav{border:none}.preschl{width:50%}
.labelName{width:100%}
.p_Margin .input300{width:100%}
.cntrl_iframe table{width:99%}
.nav{margin-left:0}.res_pop_bg{float:none;text-align:center}
.newglery li img{width:92px;margin:6px 4px;}.newglery li a.button{height:79px;width:93px;line-height:79px;margin:6px 0px 0px 5px;}
.lftcntrlist .linkgate .accordion a{width:86%}
.res_main_pop{width:60%;left:20%;position:absolute}
.inrright_cntr .upcmng_batches_tbl_cntnt th{padding:3px 1px}
.inrright_cntr .upcmng_batches_tbl_cntnt td{padding:3px 3px}
.feestructpage .responsive-tabs__list{display:none}#player{height:271.25px!important}.flash_news{height:28px;line-height:28px}.inrright_cntr .gate p{padding:6px 0;font-size:13px}.inrright_cntr .postal li{font-size:13px}.inrright_cntr .postal h1,.inrright_cntr .gate h1{font-size:20px}.courseftrswdgt .imgcntrbox{border:medium none;height:202px;width:35%;margin-left:32px}.testsrs_wdgt .scrng_tst{font-size:13px px}.responsive-tabs__panel{margin-bottom:-2px}.publication_wpr .inr_cnttr{height:249px}.afir_price{margin:0 0 7px}.sbs_intpt input[type="submit"]{width:26%}.ftr_prt1{width:165px}.socil_links a{font-size:20px;margin-right:3px}.socil_links a.gpls::before{font-size:22px;margin-left:1px;margin-top:3px}.nav_cntr li ul{width:129px}.linkgate .accordion a{font-size:14px}.admtn{width:100%}.admtn .responsive-tabs__list__item{padding:12px 19px;float:left;font-size:13px}.inrright_cntr .test .faq{width:95.5%!important}.inrright_cntr .gallery .responsive-tabs .top_line .basic{width:46%}.inrright_cntr .gallery .responsive-tabs .top_line .mid-span{margin-bottom:30px}.inrright_cntr .tababout .responsive-tabs__panel{width:auto;margin-top:0}.aboutus h2{margin-left:8%;font-size:24px}.drawer{width:100%!important}.responsive-tabs__heading{font-size:16px}.feetblcntr,.feetblcntr thead,.feetblcntr tbody,.feetblcntr th,.feetblcntr td,.feetblcntr tr{display:block}.feetblcntr thead tr{position:absolute;top:-9999px;left:-9999px}.courseftrswdgt .imgcntrbox a{float:left}.courseftrswdgt .imgcntrbox{height:244px;width:40%;border:none}.courseftrswdgt img{width:100%}.feetblcntr tr{border:1px solid #ccc}.feetblcntr td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:58%;min-height:20px;}.feetblcntr td:before{color:#ab1522;font-size:13px;position:absolute;top:6px;left:2px;width:45%;padding-right:10px;white-space:nowrap}.feetblcntr td:nth-of-type(1):before{content:"Exam"}.feetblcntr td:nth-of-type(2):before{content:"Type"}.feetblcntr td:nth-of-type(3):before{content:"Session"}.feetblcntr td:nth-of-type(4):before{content:"Stream"}.feetblcntr td:nth-of-type(5):before{content:"Fee"}.feetblcntr td:nth-of-type(6):before{content:"Enroll"}.res_tbl td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:60%}.res_tbl td:before{font-size:13px;color:#ab1522;position:absolute;top:6px;left:2px;width:45%;padding-right:10px;white-space:nowrap}.res_tbl td:nth-of-type(1):before{content:"EE + CS"}.res_tbl td:nth-of-type(2):before{content:"CE + PI"}.res_tbl td:nth-of-type(3):before{content:"EC + IN  "}.res_tbl td:nth-of-type(4):before{content:"ME"}.details:before{display:none}.inrright_cntr .achievement td .left{width:105px}.tbl-1{width:100%;overflow-x:auto;overflow-y:auto}.P_image{width:100%}.ltst_updtscntr{display:none}.sld_cntr,.top_nav{height:auto}.nav{overflow-x:hidden}.nav a,.nav>li>a{line-height:40px}.nav a:hover,.nav>li>a{border-top:1px solid rgba(255,255,255,.3)}.desktop_show{display:none}.grid_8,.mob_show{display:inherit}.active,.menu_icon i,.nav li li a{display:block}.nvsrch{float:right}.hdr_rgt ul li a{margin:0 10px}.hdr_rgt ul li{height:75px;width:20%}.hdr_rgt{float:right;width:57%}.top_nav{width:auto;background:#de482f;border-radius:5px;overflow:hidden;margin:15px 15px 0 0;padding:10px}.nav a,.nav>li>ul>li>a{border-radius:0;font-size:14px}.nav{position:absolute;background:#860f19;left:0;width:50%;margin-top:7px;box-shadow:0 11px 10px rgba(0,0,0,.74);z-index:99}.nav a{margin:0}.nav>li{padding-bottom:0;width:100%;margin-top:0}.nav > li > a{border-left:none}.nav>li >a:before{position:absolute;z-index:-1;top:0;left:0;right:0;background:#e02b26;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.nav>li>a{height:40px;margin-top:0}.nav>li>a>i{margin-top:14px}.nav a:hover{border-color:transparent}.nav li li.hover ul,.nav>li.hover>ul{position:static}.nav li ul{position:absolute;background:rgba(255,255,255,1);left:-9999px;margin-top:1px;width:170px;border-top:none;z-index:999;padding:0;box-shadow:5px 5px 6px -2px rgba(51,51,51,.8)}.nav>li>ul>li>.parent{background-image:url(../images/upArrow.png);background-repeat:no-repeat;background-position:right;padding-right:5px}.nav>li>ul>li>a{margin:0;font-weight:400;text-transform:inherit;transition:.3s ease-in;padding:12px 0 12px 15px}.nav>li>ul>li>a:hover{border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent}.nav>li.hover>ul{left:0;width:100%!important;box-shadow:none;background-color:#860f19}.nav li li.hover ul{left:100%;top:0}.nav li li a{position:relative;z-index:100;border-top:none}.new{right:0}
.feestructpage .responsive-tabs__list{display:none}#player{height:271.25px!important}.flash_news{height:28px;line-height:28px}.inrright_cntr .gate p{padding:6px 0;font-size:13px}.inrright_cntr .postal li{font-size:13px}.inrright_cntr .postal h1,.inrright_cntr .gate h1{font-size:20px}.courseftrswdgt .imgcntrbox{border:medium none;height:202px;width:35%;margin-left:32px}.testsrs_wdgt .scrng_tst{font-size:13px px}.responsive-tabs__panel{margin-bottom:-2px}.publication_wpr .inr_cnttr{height:249px}.afir_price{margin:0 0 7px}.sbs_intpt input[type="submit"]{width:26%}.ftr_prt1{width:165px}.socil_links a{font-size:20px;margin-right:3px}.socil_links a.gpls::before{font-size:22px;margin-left:1px;margin-top:3px}.nav_cntr li ul{width:129px}.linkgate .accordion a{font-size:14px}.admtn{width:100%}.admtn .responsive-tabs__list__item{padding:12px 19px;float:left;font-size:13px}.inrright_cntr .test .faq{width:95.5%!important}.inrright_cntr .gallery .responsive-tabs .top_line .basic{width:46%}.inrright_cntr .gallery .responsive-tabs .top_line .mid-span{margin-bottom:30px}.inrright_cntr .tababout .responsive-tabs__panel{width:auto;margin-top:0}.aboutus h2{margin-left:8%;font-size:24px}.drawer{width:100%!important}.responsive-tabs__heading{font-size:16px}.feetblcntr,.feetblcntr thead,.feetblcntr tbody,.feetblcntr th,.feetblcntr td,.feetblcntr tr{display:block}.feetblcntr thead tr{position:absolute;top:-9999px;left:-9999px}.courseftrswdgt .imgcntrbox a{float:left}.courseftrswdgt .imgcntrbox{height:244px;width:40%;border:none}.courseftrswdgt img{width:100%}.feetblcntr tr{border:1px solid #ccc}.feetblcntr td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:58%;min-height:20px;}.feetblcntr td:before{color:#ab1522;font-size:13px;position:absolute;top:6px;left:2px;width:45%;padding-right:10px;white-space:nowrap}.feetblcntr td:nth-of-type(1):before{content:"Exam"}.feetblcntr td:nth-of-type(2):before{content:"Type"}.feetblcntr td:nth-of-type(3):before{content:"Session"}.feetblcntr td:nth-of-type(4):before{content:"Stream"}.feetblcntr td:nth-of-type(5):before{content:"Fee"}.feetblcntr td:nth-of-type(6):before{content:"Enroll"}.res_tbl td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:60%}.res_tbl td:before{font-size:13px;color:#ab1522;position:absolute;top:6px;left:2px;width:45%;padding-right:10px;white-space:nowrap}.res_tbl td:nth-of-type(1):before{content:"EE + CS"}.res_tbl td:nth-of-type(2):before{content:"CE + PI"}.res_tbl td:nth-of-type(3):before{content:"EC + IN  "}.res_tbl td:nth-of-type(4):before{content:"ME"}.details:before{display:none}.inrright_cntr .achievement td .left{width:105px}.tbl-1{width:100%;overflow-x:auto;overflow-y:auto}.P_image{width:100%}.ltst_updtscntr{display:none}.sld_cntr,.top_nav{height:auto}.nav{overflow-x:hidden}.nav a,.nav>li>a{line-height:40px}.nav a:hover,.nav>li>a{border-top:1px solid rgba(255,255,255,.3)}.desktop_show{display:none}.grid_8,.mob_show{display:inherit}.active,.menu_icon i,.nav li li a{display:block}.nvsrch{float:right}.hdr_rgt ul li a{margin:0 10px}.hdr_rgt ul li{height:75px;width:20%}.hdr_rgt{float:right;width:57%}.top_nav{width:auto;background:#de482f;border-radius:5px;overflow:hidden;margin:15px 15px 0 0;padding:10px}.nav a,.nav>li>ul>li>a{border-radius:0;font-size:13px}.nav{position:absolute;background:#860f19;left:0;width:50%;margin-top:7px;box-shadow:0 11px 10px rgba(0,0,0,.74);z-index:99}.nav a{margin:0}.nav>li{padding-bottom:0;width:100%;margin-top:0}.nav > li > a{border-left:none}.nav>li >a:before{position:absolute;z-index:-1;top:0;left:0;right:0;background:#e02b26;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.nav>li>a{height:40px;margin-top:0}.nav>li>a>i{margin-top:14px}.nav a:hover{border-color:transparent}.nav li li.hover ul,.nav>li.hover>ul{position:static}.nav li ul{position:absolute;background:rgba(255,255,255,1);left:-9999px;margin-top:1px;width:100%;border-top:none;z-index:999;padding:0;box-shadow:5px 5px 6px -2px rgba(51,51,51,.8)}.nav>li>ul>li>.parent{background-image:url(../images/upArrow.png);background-repeat:no-repeat;background-position:right;padding-right:5px}
.nav>li>ul>li>a{font-weight:400;height:41px;line-height:31px;margin:0;padding:0 17px;text-transform:inherit;transition:all 0.3s ease-in 0s;}
.nav>li>ul>li>a:hover{border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent}.nav>li.hover>ul{left:0;width:100%!important;box-shadow:none;background-color:#860f19}.nav li li.hover ul{left:100%;top:0}.nav li li a{position:relative;z-index:100;border-top:none}.new{right:0}
.nav li li li a{background:#AB1522 none repeat scroll 0% 0%;z-index:200;font-family:"open_sansregular";border-top:0px solid #E5E5E5;border-bottom:1px solid #AB1522;padding:12px 0 12px 15px;margin-top:-2px;}.nav>li>.mega_menu{left:0;width:100%}.sub_mnu_mob{background:#eee;width:100%!important;z-index:999}.sub_mnu_mob li{float:left;width:100%;background:#71D54C}.nav>li>a.first{padding-left:7px}.menu_icon{float:right;width:25px;height:21px;position:relative}.toggleMenu{padding:0;margin:10px 0 0 10px}.toggleMenu.active>.menu_icon>i:nth-child(1){position:absolute;transform:rotate(-45deg);top:10px}.toggleMenu.active>.menu_icon>i:nth-child(2){background-color:transparent}.toggleMenu.active>.menu_icon>i:nth-child(3){position:absolute;transform:rotate(45deg);bottom:2px}.menu_icon i{transition:.3s ease-in;height:5px;width:100%;margin-bottom:4px;background:#fff}.add_cntr,.notc_ansmnts_cntr,.ntanclinks,.qklink_wpr{height:auto}.tgl_mnu_txt{display:none}.centers{margin-left:0}.testsrs_wpr{margin-left:-1%}.testsrs_wdgtoutr{width:23.4%;margin-left:1%}.qklink_wpr{width:31%}.notc_ansmnts_cntr{float:right;width:65%;margin:0}.add_publi{width:100%;margin-top:30px}.add_cntr{float:left;width:47.7%}.publication_wpr{float:right;height:auto;width:50%}.nxtprvarw{top:8px}
.nvgt{width:24px;height:24px;line-height:24px}.prev{right:35px}.hdr_rgt ul li a{margin:0 5px}.inrright_cntr .achievement .accordion-item-active::after{right:13px!important}.testsrs_wdgtoutr.addnew{margin-left:1%;}.testsrs_wdgtoutr.marleft{margin-left:1%;}.classroom_study_content.enroll_btn{width:100%;box-sizing:border-box;}
.cursesatcity .citycoursecntr.center_info .imgcntrbox{height:230px;border-style:none;margin-left:20px;}
.publication_wpr .inr_cnttr .left_prt.image_new{width:100%;margin-left:-1px;}
.image_slider li{width:212px;}
.inrright_cntr .gate table.feetblcntr td{border-width:medium medium 1px;border-style:none none solid;border-color:-moz-use-text-color -moz-use-text-color #EEE;-moz-border-top-colors:none;-moz-border-right-colors:none;-moz-border-bottom-colors:none;-moz-border-left-colors:none;border-image:none;position:relative;padding-left:58%;min-height:20px;}
.nav > li:hover .courses li{width:100%;}
.nav > li:hover .courses{width:100%;}
.nav li.sub_parent:hover ul.course_submenu{display:block;top:41px;left:1px;width:100%;}
.classroom_study.course_btn{width:49%;}
.admtn.gallery.weekend table{width:100%}
.image_content{width:100%}
.partPayEnter input[type="button"]{font-size:12px;}
.adformcntr1 .forms_description.three {text-align: center; width: 50%;border-top: 0px;}
.adformcntr1 .forms_description.two { width: 50%;   text-align: center;border-top: 0px;border-left: 1px solid #ccc; border-right: 0px;}
.adformcntr1 .forms_description.one {  width: 100%; text-align: left;}
.feetblcntr.weekend_classs td:nth-of-type(1)::before {content: "Batch"; text-align: left;padding: 6px 0px 6px 2%;font-size: 13px;line-height: 9px;}
.feetblcntr.weekend_classs td:nth-of-type(2)::before {content: "Date/Day";text-align: left;padding: 6px 0px 6px 2%;font-size: 13px;line-height: 9px;}
.feetblcntr.weekend_classs td:nth-of-type(3)::before { content: "Time";text-align: left;padding: 6px 0px 6px 2%;font-size: 13px;line-height: 9px;}
.feetblcntr.weekend_classs td:nth-of-type(4)::before { content: "Subject";text-align: left;padding: 6px 0px 6px 2%;font-size: 13px;line-height: 9px;}
.feetblcntr.weekend_classs td:nth-of-type(5)::before { content: "Venue";text-align: left;padding: 6px 0px 6px 2%;font-size: 13px;line-height: 9px;}
.feetblcntr.weekend_classs td {font-size: 13px;text-align: left; padding: 6px 0px 6px 45%;}
.adformcntr1 .forms_description.colspan2 { width: 100%; border-right: 1px solid #ccc;}
.septestimonial .toprsyingtxt { margin-left: 0; width: 100%; display: inline-block;box-sizing: border-box;margin-top: 10px;}
.septestimonial .testimgname .tprsimge { display: block;}
.septestimonial .testimgname {width: 100%;}
.inrright_cntr .dd_cnf .student_dd_info label {width: 100%;}
.inrright_cntr .dd_cnf .student_dd_info span { width: 90%;}
.inrright_cntr .dd_cnf .cnf_detail {height: 65px;}
.inrright_cntr .dd_cnf .student_dd_info { padding: 10px 20px;}
/*.MEF_cont .chartible_member { width: 100%; padding:15px;}*/
.trustee_div .trustee_name .name_div { width: 50%;}
.trustee_div .trustee_detail {width: 17%;}
.trustee_div .trustee_name {width: 83%;}
.labelName1 {width: 33%;}
.labelfull { width: 100%;}
.reg_textmefu {width: 85%; line-height: 20px;}
.register_here .heding_cont span {font-size: 12px;padding: 0px 0px; float: right;line-height: 28px;}
.qklink_wpr .linkgate .newcourse {display: none;}
.qklink_wpr .linkgate  .home_quick_class{display: block;}
.Stu_Online_Reg td:nth-of-type(1):before{content:"Batch Timing"}.Stu_Online_Reg td:nth-of-type(2):before{content:"Batch Date"}.Stu_Online_Reg td:nth-of-type(3):before{content:"Venue"}.Stu_Online_Reg td:nth-of-type(4):before{content:"Fee"}.Stu_Online_Reg td:nth-of-type(5):before{content:"Seats"}.Stu_Online_Reg td:nth-of-type(6):before{content:"Status"}
.feetblcntr.Stu_Online_Reg td::before{background-color: #f6f6f6;padding: 11px 7px 11px 23px;line-height: 18px;top: 0px;font-size: 14px;left: 0px;border-bottom: 1px solid #c5c2c2;box-sizing: border-box;}
/*subscribe form css start*/
.logo_header {bottom: 6px;right: 12px;}
.res_pop_thanku { top: 110px; position: fixed; padding-bottom: 0px; width: 312px;  left: 50%; margin-left: -156px;}
/*subscribe form css end*/
}
@media only screen and (max-width:950px){
/*subscribe form css start*/
.logo_header {bottom: 2px;right: 9px;}
.poup_sub_main_div {  margin: 4% 0px 0px 0px;}
.poup_sub_cont_div { margin: 1% auto;height: 100%;}
.logo_header {margin: 11% auto 18% auto;}
/*subscribe form css end*/
}
@media only screen and (max-width:900px){
     /*subscribe form css start*/
  .logo_header {margin: 11% auto 11% auto;} 
   /*subscribe form css end*/
}

@media only screen and (max-width:850px){.lftcntrlist .linkgate .accordion a{width:86%}
 /*subscribe form css start*/
.subscribe_popup_div { width: 100%; margin: 0px 0%;}
.logo_header { bottom: 1px; right: 2px;}
.info_latestupdate input, .info_latestupdate textarea {font-size: 10px;}
/*subscribe form css end*/
}
@media only screen and (max-width:860px){
   /*subscribe form css start*/  
  .logo_header {margin: 8% auto 8% auto;}  
  .subscribe_popup_div { width: 98%; margin: 0px 1%;}
   /*subscribe form css end*/
}
@media only screen and (max-width:830px){
     /*subscribe form css start*/
  .logo_header {margin: 7% auto 6% auto;}  
   /*subscribe form css end*/
}
@media screen and (max-width:800px){.ftr_prt1,.subscrp_wpr{height:auto}.logo{padding-top:32px}.logo img{width:310px}.courseftrswdgt .imgcntrbox{border:medium none;height:202px;width:35%;margin-left:32px}.morewidth{width:285px!important}.testsrs_wdgtoutr{float:none;width:47.7%}.newglery li a.button{height:49px;line-height:49px;margin-left:12px;width:190px;}
 #owl-demo3 .owl-buttons{width: 95%} #owl-demo3 .owl-next{margin-right: 0px}
.newglery li img{margin:6px 11px;width:83px;height:48px;}
.cntr_tbl .owl-next{right:-27px}
#preloader{background:#fff}
.upcmng_batches .accordion-header{font-weight:normal !important;text-align:left}
.inrright_cntr ul .inputCss input[type=text]{width:191px;}
.ftr_cprit .copy{padding-left:7px}
.inrright_cntr .upcmng_batches_tbl_cntnt #upcmng_batch_enroll a{padding:5px 0;width:71px}
.inrprt{width:100%}.sbs_intpt input[type=submit]{width:85px}.inrprt .inrcnttr{text-align:left}.ftr_prt1{border-right:none;margin-bottom:33px;padding:0;width:23%}.ftr_prt1.last{clear:both;width:100%;margin-left:4px}.flash_news{line-height:25px}.inr_title{font-size:16px}.accordion-header h1{font-size:15px}.hdr_rgt ul li a{color:#222;font-size:10px}.hdr_rgt ul li,.nav,.nav > li{float:left;width:80px}.hdr_rgt{float:left;margin-left:8%;width:100%}.ltst_updtscntr{display:none}.inrright_cntr .gallery .responsive-tabs .vdorgt h2{width:27%;font-size:14px}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller{width:30%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller1{width:30%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller2{width:30%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller3{width:30%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller4{width:30%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller5{width:30%}.afir_price{margin:39px 0 10px}.afir_price::before{padding-top:18px}.inrright_cntr .achievement th,td{padding:8px 2px}.inrright_cntr .course-top .top-right .ofln{margin:20px 0 0 24px}.inrright_cntr .course_bottom .pstl{margin-top:13px}.inrright_cntr .course-top .top-right .tlnt{margin:21px 0 0 21px}.logo{width:100%;text-align:center}.logo img{width:55%}.hdr_rgt ul li{width:132px}.nav,.nav > li{width:350px}.glry_cntr .owl-next,.glry_cntr .owl-prev{margin-top:18.3%}.linkgate .accordion a{font-size:13px}.accordion-item::after{font-size:19px}.inrright_cntr .achievement .responsive-tabs__list__item{font-size:11px;padding:9px 19px}.inrright_cntr .achievement td .left{width:94px}.inrright_cntr .achievement th,td{font-size:11px}.aboutus .heading::after{top:9%}.contactboxcntr .contactrgt{width:34%}.contactboxcntr .contactleft{width:66%}.contactboxcntr .contactleft .cntctadrscntr p{font-size:14px}.partPayEnter{margin-top:40px;display: inline-block;text-align: center;width: 100%;}.drawer{width:100%!important}.socil_links,.ftr_prt1 h2{margin-left:2px}.inrright_cntr .achievement td .left,.inrright_cntr .achievement td .right{width:100%;text-align:center}.inrright_cntr .upcmng_batches_stream .stream{width:100%}.inrright_cntr .upcmng_batches_stream .upcmng_batches_strm_name li{width:16.6%;font-size:14px}.inrright_cntr .tababout input[type="text"],select,textarea{padding:5px}.upcmng_batches .accordion-header h1{font-size:14px!important;font-weight:normal !important;margin-left:0px;}.inrright_cntr .upcmng_batches_stream .stream1{width:100%}.inrright_cntr .upcmng_batches_top .upcmng_batches_heading{font-size:16px}input[type="text"],select,textarea,.adformcntr input[type="text"],.adformcntr select{font-size:13px}.handicapSpan{font-size:15px}#spidochetube_list li .rcntthumbs{height:79px;overflow:hidden;}.cntr-image{display:inline-block;height:auto;margin-bottom:20px;}.centrdtls .imgcntr{width:100%}.centrdtls .addcntr,.cntr-image{float:left}.centrdtls .addcntr{width:49%;width:54%;margin-left:20px}.cntr-image{width:41%}.whtnewcenter .centrdtls p{margin-top:0}.courseftrswdgt .imgcntrbox a{float:none}.inrlftcntr{width:30%}.whtnewcenter .centrdtls{float:left;width:100%;margin:0 17px 0 0}.whtnewcenter .notc_ansmnts_cntr{float:left;width:100%}.cntr_tbl ul li{width:101px}.testsrs_wpr{margin-bottom:0}.f-first,.f-scnd{width:50%}.f-first .inrcnttr{margin-top:20px}.inrright_cntr .upcmng_batches .upcmng_batches_top .catgryddl{height:auto!important;line-height:24px}.accordion-content{width:100%;overflow-x:scroll;overflow-y:hidden}.linkgate .accordion1 a{font-size:13px!important;white-space:nowrap;width:72%}.testsrs_wdgtoutr.marleft{margin-left:1.4%;}.testsrs_wdgtoutr.addnew{margin-left:1.4%;}.halfwidth.s-hide{width:90%;}
.cursesatcity .citycoursecntr.center_info .imgcntrbox{height:270px;border-style:none;margin-left:0px;}
.glry_cntr .owl-buttons{top:38%;}
.glry_cntr .owl-next, .glry_cntr .owl-prev{margin-top:0%;}
.centrdtls .cntr-image .imgcntr{width:93%;height:100%;}
.whtnewcenter .centrdtls.cntrlore{height:auto;margin-bottom:20px;}
.classroom_study{width:156px;margin:5px 1.25% 10px 0px;}
.classroom_study.long_name a{width:100%;}
.classroom_study.course_btn a{width:100%;}
.image_slider li{width:324px;text-align:center;}
.online_pay_page{width:98%;}
.inrright_cntr ul .inputCss select{width:214px;padding:10px;}
.centrdtls .addcntr p.centre_name{margin-bottom:15px;}
.centrdtls .addcntr .view_map_contact{margin:22px 0px 10px 0px;}
.centrdtls .addcntr .cont_control12 p.adress_cont{width:66%;}
.centrdtls .addcntr .cont_control12 span{width:32%;}
.cntrvdo_cntr {margin-top: 45px;}
.inrright_cntr #showpartPayment label.labelpart1 { width: 50%;}
.inrright_cntr ul li .full_width.pay_page{ width: 39%;}
.res_main_pop.alumini_popup {width: 90%; }
.adformcntr.popup_cont .prsl_dtls label, .adformcntr.popup_cont .edu_dtls span > label, .adformcntr.popup_cont .edu_dtls span > label, .adformcntr.popup_cont #inner-div label { width: 100%;line-height: 14px;}
.student_note {padding-left: 0px;}
#inner-div input, #inner-div textarea, #inner-div select {width: 100%;}
.adformcntr.popup_cont input[type="text"], .adformcntr.popup_cont select, .adformcntr.popup_cont textarea { width: 100%;}
.adformcntr.popup_cont .input300 {width: 100%;}
.adformcntr.popup_cont p {margin-bottom: 15px;}
.radiobtn_div {width: 100%;margin-bottom: 15px;}
.edu_dtls p.addresshead { margin-bottom: 0px;padding: 8px 10px 0px 5%;}
.edu_dtls p.addresshead.second1 {margin-top: 4px;padding: 0px 10px 10px 0px;}
.adformcntr.popup_cont .regred1 { padding-left: 23px;margin-top: -15px; text-align: left;}
.regular-checkbox:checked + label.addsame::after {top: -1px;}
#prsnl-div {padding: 4% 5% 0px;}
.inrright_cntr .dd_cnf .student_dd_info label {width: 110px;}
.inrright_cntr .dd_cnf .student_dd_info {padding: 10px 8px;}
.relife_news .threeimg {width: 100%;}
.four_chield .certificate_img { width: 24%;margin-left: 0%;margin-top: 15px;}
.four_chield .camp_distribution {width: 36%;margin-top: 15px;}
.four_chield .camp_distribution {width: 36%;margin-top: 15px;}
.adformcntr.popup_cont .other_show input[type="text"] {margin-left: 0px;margin-bottom: 20px;}
.adformcntr.popup_cont .other_show {margin-bottom: 0px;}
.contact_form.mefvideo { width: 500px;}
.getin_touchpop .contact_form.mefvideo .rgt_pg_cnct iframe {height: 310px;}
.inrright_cntr .upcmng_batches_tbl_cntnt .note_Info label {width: 91%;}
.popularbkcntr .poplrbkwdgt {width: 48.5%;}
.book_package .owl-item { height: 1185px;}
.book_info .book_first_chield {width: 53%;}
.book_info .book_sec_chield {width: 49%;}
.book_info .book_third_chield {width: 51%;}
.book_info .book_four_chield {width: 49%;text-align: center;margin-top: -17px;}
.book_info .addto_cart p {text-align: left;}
.book_info .addto_cart { padding-left: 5%;box-sizing: border-box;}
.inrright_cntr .part_p_page .inputCss select { width: 206px;}
.onloadPopup.home_page .imgholder{width: 720px;top: -241px;}
.onloadPopup.home_page .imgholderdelhi{width: auto;}
.title_p1 { width: 100%;}
.type_new {width: 44%;}
.type_new .chkboxtxt {margin-left: 2%;}
.qklink_wpr .linkgate .course_head .abcabc a{font-size: 13px;}
.onloadPopup .imgholderdelhi { margin-top: 40px;}
/*subscribe form css start*/
.subscribe_popup_div {  width: 100%;  margin: 0px 0%;}
.logo_header { bottom: 6px;  right: 0px;}
.info_latestupdate input, .info_latestupdate textarea { font-size: 10px;}
/*subscribe form css end*/
.f-first, .f-sec, .f-third, .f-four, .f-five, .f-sixth  {width:50%;height: 150px;}
.inrprt .inrcnttr {
    margin-left: 15%;
    margin-right: 17%;
}
.f-five  {height: 190px;margin-bottom: 15px;}
.f-sixth  img {width:70% !important;margin-left: 15%;}
}
@media screen and (max-width:799px){
/*subscribe form css start*/
 .subscribe_imgholder .image_comt_popup { width: 100%;}
.poup_sub_main_div { margin: 0% 0px 0px 0px; width: 100%;}
/*.subscribe_popup_div { width: 420px; left: 50%; margin-left: -210px;}*/
.subscribe_popup_div { width: 90%; left: 50%; margin-left: -45%;}
.logo_header { height: auto; float: left;}
.info_latestupdate {padding: 0px 10px;}
.logo_header {  bottom: 6px;  right: 0px;  position: relative;  width: 100%;}
.main_latestupdate h4 {  font-size: 23px;  font-weight: 600;  line-height: 45px;}
.info_latestupdate1 p {  margin-bottom: 10px;}
.info_latestupdate label {  width: 100px;  padding: 2px 0px 2px 0px;  font-weight: bold;  font-size: 13px;  text-align: left;}
.cond_latestupdate {  float: left; width: 100%;  padding: 3px 10px 10px 10px;  box-sizing: border-box;}
.info_latestupdate1 {width: 100%;  background-color: #fff;  border-radius: 5px;  padding: 10px 20px;}
.info_latestupdate input, .info_latestupdate textarea {  padding: 6px;  width: 260px;}
.info_latestupdate textarea {  height: 60px;}
.cond_latestupdate .subscribe_info { font-size: 15px; width: 376px; font-weight: bold;  line-height: 20px;  margin-top: 10px;}
.cond_latestupdate label {  margin: 11px 0px 0px 0px;}
.cond_latestupdate a.submit_btn_homepopup { padding: 5px 15px;font-weight: bold;font-size: 14px;}
.cond_latestupdate .last_subscribe_p { margin: 15px 0px 9px 0px;}
.connect_via_div .left_sub_via, .connect_via_div .right_sub_via{width:100px;}
.connect_via_div .sub_via label { padding-left: 23px;}
.connect_via_div input {width:auto; margin-top: 4px; margin-left: -10px;}
.poup_sub_main_div { margin: 4% auto 0px auto; width: 100%; text-align: center; float: none;}
.poup_sub_cont_div { margin: 1% auto; width: 420px;float: none;}
.outer_wpr_new{background-color: #fff;padding: 6px 5px;}
/*subscribe form css end*/
}
@media screen and (max-width:768px){.hdr_rgt,.logo{text-align:center}.logo{padding:20px 0 0;width:100%}.logo img{width:auto}.whtnewcenter{width:100%}.hdr_rgt{display:inline-block;padding:20px 0;}
.hdr_rgt ul li{width:20%}.accordion-item::after{right:5px!important;font-size:22px}.accordion-header h1{font-size:15px!important}.chkboxtxt{margin-right:2%;margin-left:0}.contactboxcntr .contactleft .cntctadrscntr p button,.popbtncntr button{font-size:11px}#spidochetube_list li .rcntthumbs{height:66px}.inrright_cntr .upcmng_batches_top .upcmng_batches_heading1{font-size:15px}.inrright_cntr .upcmng_batches_top .upcmng_batches_heading,.inrright_cntr .upcmng_batches .upcmng_batches_top .catgryddl .catgrysl{font-size:15px}.afir_price{margin:38px 0 0}.hdr_rgt{margin:0 0;width:100%}
.inrright_cntr .refbook table td{font-size:12px;font-weight:400}.classroom_enroll.btn{top:9px;}.classroom_study_content{padding:28px 15px 14px 15px;}
.classroom_study{width:153px;}
.classroom_study{width:150px;margin:5px 1.25% 10px 0px;}
.image_slider li{width:309px;}
.inrright_cntr #showpartPayment label{width:214px;margin-left:10px;}
.pagelocation ul{width:80%;}
.contactdelhi .cntrdesc{width:67%;}
.contactdelhi .cntrimg{width:33%;}
.cntrdesc p{padding-left:103px;}
.newglery li img{width:77px;}
.newglery li a.button{width:180px;}.preoutr{width:93% !important;padding:0px !important}
#prsnl-div {padding: 14px 5% 0px;}
}
@media screen and (max-width:760px){}
@media screen and (max-width:667px){.newglery li a.button{width:141px;}
.newglery li img{width:61px}}
@media screen and (max-width:640px){.res_main_pop{width:70%;left:15%;position:absolute;top:5%}.nav{margin-top:6px}.cntr_tbl,.ftr_cprit,.ftr_prt1{height:auto}.notc_ansmnts_cntr,.photoglry_cntr,.qklink_wpr,.rcntvdo_cntr{width:100%}.add_cntr{width:45%}.arwsldcntr{width:99%}.publication_wpr{width:52%}.afairlink{height:136px}.afir_price::before{left:10px}.afir_price{margin:0 0 8px;padding-left:46px;margin:0 0 8px}.buttons{margin-left:46px}.logo img{width:70%}.add_publi{margin-top:20px}.centrdtls .imgcntr{width:100%}.cntr-image{width:40%}.centrdtls .imgcntr
.publication_wpr .inr_cnttr .left_prt{width:28%}.publication_wpr .inr_cnttr .rgt_prt{float:left;width:56%;margin-left:30px}.photoglry_cntr .glry_outer,.rcntvdo_cntr .rcntvd_outer{min-height:230px;height:auto}.hdr_rgt ul li a{margin:0}.notc_ansmnts_cntr:after,.notc_ansmnts_cntr:before,.qklink_wpr:after,.qklink_wpr:before{border-bottom:6px}.nav{width:100%}.ftr_cprit{line-height:25px;padding:10px 0}.ftr_prt1{border-right:none;margin-bottom:33px;margin-left:2%;padding:0;width:46%}.hdr_rgt ul li{width:116px;margin-bottom:24px}.nav > li{width:100%}.pageheaderimage .hdrpagetitle{font-size:12px}.inrright_cntr{margin-top:30px;width:98%}.partPayEnter{display:inline-block;margin-left:0}.inrright_cntr .upcmng_batches_stream .upcmng_batches_strm_name li{width:16.6%}
.newglery li img{margin:6px 11px;width:117px;height:63px;}
.cntr_tbl .owl-prev{left:-26px}
.cntr_tbl .owl-next{right:-17px;}
.lftcntrlist .linkgate .accordion a{width:92%}
.newglery li a.button{height:65px;line-height:63px;margin:6px 0px 0px 12px;width:117px;}
.publication_wpr .inr_cnttr .rgt_prt{float:left;width:56%;margin-left:10px;}
.classroom_study{margin:5px 2.25% 10px 0px;}
.cursesatcity .citycoursecntr.center_info .imgcntrbox{height:235px;border-style:none;}
.inrlftcntr{width:100%}.whtnewcenter .centrdtls{width:100%;height:inherit}.whtnewcenter .notc_ansmnts_cntr{width:100%}.whtnewcenter .centrdtls{float:left;width:100%}.whtnewcenter .notc_ansmnts_cntr{float:left;width:100%}.courseftrswdgt .imgcntrbox{border:medium none;height:202px;width:30%;margin-left:0;margin-top:13px;border-top:1px dotted #ccc}.sbmit-btn-home{width:26%}
.image_slider li{width:285px;}
.online_pay_page.reciept_info{width:98%;}
.button_parent_div{margin-left:-2%;}
.classroom_study.course_btn{width:48%;padding-left:2%;}
.centrdtls .addcntr .view_map_contact{margin:41px 0px 10px 0px;}
.item.controlimage{padding:0 5px;}
.colg_cnct strong{font-size:17px;}
.ftr_prt1.last {margin-left: 2%;}
.cpCode {width: 14%;}
.relife_news .camp_content {width: 100%;}
.MEF_cont .certificate_img { width: 24%;margin-left: 0%;margin-top: 15px;}
.MEF_cont .camp_distribution {width: 36%;margin-top: 15px;}
.MEF_cont .camp_distribution {width: 47%;margin-top: 15px;}
.MEF_cont .relefe_video { width: 50%;}
.MEF_cont .trusty_info { width: 49%;}
.MEF_cont .chartible_member { width: 100%; padding:15px;}
.reg_textmefu { width: 98%;}
.MEF_cont .showImg {display: none;margin: 2% 2% 2% 0%;}
.MEF_cont .hideImg {display: block;}
.book_info .book_first_chield {width: 20%;}
.book_info .book_sec_chield {width: 30%;}
.book_info .book_third_chield {width: 30%;}
.book_info .book_four_chield {width: 20%;text-align: center;margin-top: 0px;}
.book_info .addto_cart p {text-align: center;}
.book_info .addto_cart { padding-left: 0%;}
.onloadPopup.home_page .imgholder { width: 520px; height: auto;}
.onloadPopup.home_page .imgholderdelhi{width: auto;}
.testimonialcntr {margin: 20px 2% 20px 2%;width:96%;}

/*subscribe form css start*/
.res_pop_thanku { top: 110px; position: fixed;  padding-bottom: 0px;  width: 312px; left: 50%;  margin-left: -156px;}
/*subscribe form css end*/
.inrprt .inrcnttr {
    margin-left: 10%;
    margin-right: 10%;
}

}
@media only screen and (max-width:600px){.afairlink{height:135px}.afir_price::before{left:23px}.inrright_cntr ul li .full_width{margin-left:13px!important}
.partpayment ul li label{margin:0px !important;}.partpayment ul li .fullwidth{margin:0px !important}
.image_slider li{width:257px;}
.inrright_cntr ul li .full_width111{margin-left:0px !important;}
.newglery li img{width:108px;}
.newglery li a.button{width:109px;}
.centrdtls .addcntr .view_map_contact{margin:33px 0px 10px 0px;}
.colg_cnct strong{font-size:16px;}
.inrright_cntr ul li .full_width.pay_page { width: 39%;margin-left:0px  !important;}
.res_main_pop.mefupopup {left: 5%;width: 90%;}
}
@media only screen and (max-width:540px){.newglery li img{width:118px}
.publication_wpr .inr_cnttr .rgt_prt{float:left;margin-left:8px;width:50%;}.afir_price{padding-top:69px;}.afir_price::before{top:57px}
.cursesatcity .citycoursecntr.center_info .imgcntrbox{height:270px;}
.classroom_study{width:153px;margin:5px 2.25% 10px 0px;}
.classroom_study.long_name a{width:100%;}
.classroom_study.course_btn a{width:100%;}
.button_class{padding:0 !important;text-align:center;}
.pagelocation ul{width:100%;height:40px;}
.bkbtn{margin-top:-15px;}
.pagelocation{padding:15px 0px 5px;}
.newglery li img{width:90px;}
.newglery li a.button{width:90px;}
.centrdtls .addcntr .view_map_contact{margin:10px 0px 10px 0px;}

.inrprt .inrcnttr{text-align:center;}
.colg_cnct strong { font-size: 18px;}
.inrright_cntr #showpartPayment label.labelpart1 {width: 44%;}
.inrright_cntr ul li .full_width.pay_page {width: 45%;margin-left: 0px !important;}
.getin_touchpop .contact_form { width: 440px;}
.res_main_pop.alumini_popup { width: 97%;}
.adformcntr.popup_cont {padding: 0px 10px 15px 10px;}
.adformcntr.popup_cont {padding: 0px 10px 0px 10px;}
.book_info .book_first_chield {width: 55%;}
.book_info .book_sec_chield {width: 49%;}
.book_info .book_third_chield {width: 51%;}
.book_info .book_four_chield {width: 49%;text-align: center;margin-top: -17px;}
.book_info .addto_cart p {text-align: left;}
.book_info .addto_cart { padding-left: 5%;}
/*subscribe form css start*/
.subscribe_popup_div { top: -316px;}
/*subscribe form css end*/
/*.f-first, .f-scnd{width:100%;}*/
.inrprt .inrcnttr {
    margin-left: 6%;
    margin-right: 6%;
}

}
@media screen and (max-width:480px){.hdr_rgt{margin-left:2%}.testsrs_wdgtoutr{width:99%;margin-bottom:18px}.publication_wpr .inr_cnttr .left_prt img{width:100%}.morewidth{width:460px!important}.testsrs_wpr{margin:0 auto;width:90%}.arwsldcntr{width:99%}.add_cntr,.publication_wpr{width:100%}.afairlink{padding-left:29px}.classroom_dropdown,.classroom_fieldset{width:100%;padding:26px 0}.addstudentForm{padding:8px 7px}.contactboxcntr .contactleft{width:100%}.contactboxcntr .contactrgt{width:70%}.inrright_cntr ul li .full_width{margin-left:31px!important}.inrright_cntr .upcmng_batches_stream .upcmng_batches_strm_name li{width:16%}.inrright_cntr .upcmng_batches_tbl_cntnt td{font-size:13px}.afir_price{padding-left:51px;padding-top:65px}.afairlink{height:106px}.hdr_rgt ul li{width:33%}.courseftrswdgt .imgcntrbox{width:39%}.inrright_cntr .adformtptext1{font-size:14px}.feedback .fdbcklabl{font-size:13px}.regular-radio + label{padding:5px}.adformcntr input[type="text"],.adformcntr select{height:36px}.contactboxcntr .contactrgt{width:60%}.f-first,.f-scnd{width:50%}
.newglery li img{width:111px;}
.cntr_tbl .owl-next{right:-6px}
.inrright_cntr .postal .add li{line-height:32px}
.enrollnowbtn{padding:5px 4px;}
.inrright_cntr .partpayment ul li input[type="text"]{margin-left:29px !important;margin-top:10px;width:74%;}
.partpayment ul li label{margin-left:15px !important;}
.inrright_cntr .partpayment ul .inputCss .fullwidth{margin:0px !important}
.sbmit-btn-home{width:19%}.inrright_cntr .upcmng_batches_tbl_cntnt #upcmng_batch_enroll a{padding:6px 10px}
.inrright_cntr .upcmng_batches_tbl_cntnt th{display:none;}
.inrright_cntr .upcmng_batches_tbl_cntnt{border-collapse:collapse}
.inrright_cntr .upcmng_batches_tbl_cntnt td{display:block;font-size:14px;height:auto;margin:0;padding:10px 0 10px 170px;position:relative;text-align:left;background:transparent}
.inrright_cntr .upcmng_batches_tbl_cntnt td:before{float:left;color:#e12b27;position:absolute;margin-left:-160px;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(1)::before{content:"BATCH CODE";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(2)::before{content:"BATCH TIMING";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(3)::before{content:"BATCH DATE";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(4)::before{content:"VENUE";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(5)::before{content:"FEE";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(6)::before{content:"ENROLL";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(7)::before{content:"CRITERIA";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt td:nth-of-type(8)::before{content:"ENROLL";float:left;}
.inrright_cntr .upcmng_batches_tbl_cntnt #upcmng_batch_enroll a{font-size:12px;padding:7px 0;text-align:center;width:95px;}
.newglery li a.button{width:246px;padding:0px 0px;}
.afir_price::before{top:61px;}
.inrright_cntr .upcmng_batches_tbl_cntnt tr:nth-of-type(2n+1){background:#eee none repeat scroll 0 0;}
.inrright_cntr .upcmng_batches_tbl_cntnt tr:nth-of-type(2n+1) td{border:none;}
.inrright_cntr .upcmng_batches_tbl_cntnt tr:nth-of-type(2n+1) #upcmng_batch_enroll{border:none;background:transparent}
.afir_price::before{top:50px}
.inrright_cntr .upcmng_batches_tbl_cntnt #upcmng_batch_enroll{}.test .faq .ask{width:87%}.adformcntr .fieldtitle{font-size:13px}
.inrright_cntr .upcmng_batches_tbl_cntnt #upcmng_batch_enroll{text-align:left;}
.inrright_cntr.cntrl_iframe iframe{width:410px;}
.inrright_cntr.cntrl_iframe .res_main_pop iframe{width:330px;}
.classroom_study.long_name a{width:100%;}
.classroom_study.course_btn a{width:100%;}
.image_slider li{width:209px;}
.ftr_cprit .cop_icn{float:left}
.lftcntrlist .linkgate #adm::before{top:14px}
.online_pay_page.reciept_info td{font-size:13px;}
.online_pay_page td{font-size:12px;}
.contactdelhi .cntrdesc{width:100%;}
.contactdelhi .cntrimg{width:60%;float:left;padding:7% 0px 0px 23px;;}
.cntrdesc p{padding-left:103px;}
.contactdelhi{height:auto;background-color:#E9E9E9;}
.contactdelhi .cntrdesc h2{margin-bottom:24px;}
.inrright_cntr ul .inputCss select{margin:6px 14px 6px 29px !important;width:79%;}
.inrright_cntr .part_p_page .inputCss select{margin:6px 14px 6px 29px;width:77.5%;}
.inrright_cntr .partpayment ul li .full_width.pay_page_captch{width: 45%;margin-left: 0px !important;margin-top: 0px;}
.inrright_cntr #showpartPayment label.labelpart1 { width: 100%;}
.cpCode {margin-left: 29px !important;margin-top: 10px;}
.inrright_cntr .achiev td.details a{padding: 3px 2%;width: auto;font-size: 11px;}
.getin_touchpop .contact_form { width: 400px;}
.radiobtn_div .regular-radio + label {padding: 7px;}
.inrright_cntr .dd_cnf .student_dd_info label {width: 30%;margin-bottom: 5px;}
.inrright_cntr .dd_cnf .cnf_detail {margin-bottom: 15px;}
.inrright_cntr .dd_cnf .student_dd_info span { width: 69%;}
.inrright_cntr .dd_cnf .cnf_detail {height: 30px;width: 100%;}
.trustee_div .trustee_detail {width: 100%;}
.trustee_div .trustee_name {width: 100%;}
.getin_touchpop .contact_form.mefvideo .getpophdr h1 { font-size: 18px;}
.inrright_cntr .upcmng_batches_tbl_cntnt .note_Info label {width: 90%; padding: 0px 0px 10px 5px;word-break: break-all;}
.inrright_cntr .part_p_page .inputCss { margin: 15px 0;}
.inrright_cntr .part_p_page .inputCss .availableSeat {margin: 0px 0px 6px 30px;padding: 0px 0px 3px 0px;}
.onloadPopup.home_page .imgholder { width: 460px;}.onloadPopup.home_page .imgholderdelhi{width: auto;}
.regular-radio:checked + label::after {width: 8px;height: 8px;}
#owl-demo3 .owl-next {right: -7px;}
.ca_banner_owl {height: 371px;}
.add_inr_owl img { height: 350px;}
.f-first, .f-sec, .f-third, .f-four, .f-five, .f-sixth  {width:100%;height: 150px;}
.inrprt .inrcnttr {
    margin-left: 20%;
    margin-right: 20%;
}
.f-five {
    height: 190px;
    margin-bottom: 15px;
}
.f-sixth img {
    width: 80% !important;
    margin-left: 0%;
}
}
@media only screen and (max-width:479px){
    /*subscribe form css start*/
 .poup_sub_cont_div { margin: 1% auto; width: 100%; float: none;}   
.info_latestupdate input, .info_latestupdate textarea {padding: 6px; width: 209px;}
.connect_via_div input {width: auto;}
.cond_latestupdate .subscribe_info {width: 345px;}
/*subscribe form css start*/
}
@media only screen and (max-width:425px){
/*subscribe form css start*/
.subscribe_popup_div {  width: 90%; left: 5%; margin-left: 0px;}
.info_latestupdate1 {  width: 100%; padding: 10px 20px;}
.info_latestupdate input, .info_latestupdate textarea { padding: 6px; width: 100%;}
.subscribe_popup_div .imgholder { margin-top: 0px;  width: 100%;}
.info_latestupdate1 { width: 100%;  padding: 10px 15px; box-sizing: border-box;}
.cond_latestupdate .subscribe_info {  font-size: 15px; width: 95%;}
.cond_latestupdate label { margin: 11px 0px 0px 0px;  width: 5%;}
.main_latestupdate h4 {  font-size: 23px;  line-height: 30px; padding: 6px 14px 10px 14px;}
.res_pop_thanku {  top: 50px; position: fixed; padding-bottom: 0px; width: 312px; left: 50%; margin-left: -156px;}
.connect_via_div label { width: 100%; text-align: center; padding: 0px 0px 0px 2px;}
.connect_via_div .left_sub_via, .connect_via_div .right_sub_via { width: 48%;margin-top: 15px;}
.connect_via_div .sub_via label { padding-left: 30%;}
.connect_via_div input { width: auto; margin-top: 3px;margin-left: -20px;}
/*subscribe form css end*/
}
@media only screen and (max-width:375px){.newglery li a.button{width:107px;padding:0px}}
@media screen and (max-width:360px){.logo_semi{width:250px}.lftcntrlist .linkgate .accordion a{width:86%}.centrdtls .addcntr{width:100%;margin-left:0;margin-top:10px}.centrdtls .imgcntr{width:74%}.cntr-image{width:137%}.sbmit-btn-home{width:26%}.nav_cntr li ul{margin-top:-1px}.newglery li img{margin:5px;width:80px;}
.newglery li a.button{width:110px}.aboutus p{font-size:14px}.hdr_rgt{margin:0;width:100%}.logo img{width:90%}.hdr_rgt{padding-bottom:0}.hdr_rgt ul li{margin-bottom:20px}.testsrs_wdgtoutr{width:97.5%}.flash_news{height:80px}.inr_title{font-size:16px}.morewidth{width:288px!important}.classroom_enroll{background-color:#292b37;border-radius:4px;color:#fff;margin-left:68px;padding:10px 46px;width:112px}.testsrs_wdgt .scrng_tst{font-size:16px}.classroom_study_content{width:93%}.ftr_prt1{width:40%;text-align:center}.ftr_prt1 ul li a{font-size:12px}.socil_links a{float:none;display:inline-block}input[type=text]{width:60%}.sbs_intpt input[type="submit"]{width:26%}.ftr_tstmnl span{margin:10px 0 0 -36px}.nav_cntr li a{height:42px;line-height:42px}.study-course,.top-right,.improvement,.postal_course{width:100%}.inrright_cntr .term{margin-bottom:20px}.addstudentForm{float:left;margin-left:23px}.P_image{width:100%;display:block!important;margin:0 auto}.threeset span{width:100%}.inrright_cntr .tababout input[type="text"],select,textarea,input[type="text"],select,textarea{font-size:13px}.halfwidth{width:100%}.threeset span{margin:0!important}.inrright_cntr .gallery .responsive-tabs .top_line .basic{width:73%;margin:0 13% 10%}#ResumeDOBDay{width:100%!important}#ResumeDOBMonth{width:100%!important}#ResumeDOBYear{width:100%!important}.inrright_cntr .responsive-tabs .about{font-size:16px}.inrright_cntr .tababout td{padding:0}.inrright_cntr .tababout th{font-size:13px;padding:10px}.inrright_cntr .tababout .responsive-tabs__panel{padding:21px 18px}.aboutus .heading::after{top:11%}.aboutus .heading::before{left:-2%}.inrright_cntr .tababout td .aplybtn{margin:2%}.aboutus h2{font-size:18px}.aboutus .heading::after{top:5%}.faq .ask{width:92%}.faq{margin:1px 5px}.contactboxcntr .contactleft .cntctadrscntr p button,.popbtncntr button{font-size:11px;padding:6px 7px}.inrright_cntr ul li label{margin-bottom:20px;display:block;margin-left:29px}
.partPayEnter{display:block;margin-top:30px;}.e_rollno{padding-bottom:20px!important}.feetblcntr td:before{white-space:inherit;font-size:16px;padding-left:10px;line-height:25px}.inrright_cntr .achievement td a{padding:5px 3px;font-size:9px}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #spidochetube_player{float:none;width:100%}.inrright_cntr .gallery .responsive-tabs .vdorgt h2{font-size:20px;width:95%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller{float:none;width:100%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller1{float:none;width:100%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller2{float:none;width:100%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller3{float:none;width:100%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller4{float:none;width:100%}.inrright_cntr .gallery .responsive-tabs .responsive-tabs__panel .spidochetube_inner #scroller5{float:none;width:100%}#spidochetube_list li img{width:auto}#spidochetube_list li span{font-size:12px}.accordion-header h1{font-size:15px!important}.inrright_cntr .upcmng_batches_stream{width:100%}.inrright_cntr .upcmng_batches_top .upcmng_batches_cntr{width:40%;margin-bottom:20px}.inrright_cntr .upcmng_batches_top .upcmng_batches_heading{padding:6px 0}.inrright_cntr .upcmng_batches .upcmng_batches_top .catgryddl .catgrysl{padding:4px 0 6px 12px}.inrright_cntr .upcmng_batches_tbl_cntnt th{font-size:14px}.adformcntr .halfwidth .imgreg{width:100%}.inrright_cntr .pay{width:100%}.srch_active{width:286px}.inrlftcntr{width:100%}.whtnewcenter .centrdtls{width:100%;height:inherit}.whtnewcenter .notc_ansmnts_cntr{width:100%}.whtnewcenter .centrdtls{float:left;width:100%}.linkgate .accordion a{font-size:14px!important}.qklink_wpr .linkgate h1{font-size:14px!important}.hdr_rgt ul li{width:33%}.whtnewcenter .notc_ansmnts_cntr{float:left;width:100%}.courseftrswdgt .imgcntrbox{border:medium none;height:236px;margin-left:41px;width:69%;margin-top:13px;border-top:1px dotted #ccc}.afairlink{height:138px}.centrdtls .imgcntr{width:40%}.flash_news{height:49px;line-height:17px;padding-top:11px}.nav{margin-top:6px}.inrright_cntr .upcmng_batches_stream .stream1{width:100%}.inrright_cntr .upcmng_batches_top .upcmng_batches_cntr{margin-bottom:10px;width:100%}.cntr_tbl .owl-next{right:-1px}
.inrright_cntr .upcmng_batches .upcmng_batches_top .catgryddl .catgrysl{width:100%}
.inrright_cntr .upcmng_batches_stream .upcmng_batches_strm_name li{width:16.6%}.upcmng_batches .accordion-header h1{font-size:13px!important;width:93%;line-height:16px}.inrright_cntr .test .faq{width:97.5%!important}.test .faq .ask{width:92%;font-size:13px}.test .ask p,{font-size:13px}.inrright_cntr .tababout .red1,.inrright_cntr .tababout .red{font-size:14px}.faq{padding:0}.about_classroom_study_course_center p iframe{width:100%}.about_classroom_study_course_center p{font-size:14px}.inrright_cntr .gate li,.accordion-content{font-size:13px}.ftr_prt1{margin-left:0}.ftr_prt1.first{padding-left:0}.inrright_cntr .classtest td{font-size:13px}.regular-radio:checked + label::after{width:8px;height:8px}.res_main_pop{left:5%;width:90%;top:4%}.afir_price bold{padding-top:24px}.afir_price bold:before{padding-top:10px}.publication_wpr .inr_cnttr .rgt_prt{float:left;margin-left:0;width:52%}.photoglry_cntr .glry_outer,.rcntvdo_cntr .rcntvd_outer{height:auto;min-height:206px}.pagelocation{height:75px;}.pagelocation ul{height:64px;}.ftr_prt1{margin-left:61px;width:80%}.ftr_prt1 h2{float:left;}.ftr_prt1.last{clear:both;width:100%;margin-left:61px;}
.ftr_tstmnl{float:left;margin-top:15px}.ftr_prt1.last h2{display:inline-block;float:left}.foot_add{display:inline-block;width:100%;text-align:left;}
.socil_links a{margin-right:4px;float:left}.ftr_cprit .copy{padding-left:9px;font-size:11px;}.afir_price{padding-top:0px}.afir_price::before{top:0px;padding-top:4px}.s-hide{height:40px}
.inrright_cntr .classtest table .dwnlod{background:#292c37 none repeat scroll 0 0;border-bottom:medium none;border-radius:3px;color:#fff;font-size:16px;font-weight:normal;line-height:31px;padding:3px 14px;text-align:center;font-family:open_sansregular;}
.inrright_cntr .classtest table .dwnlod1{background:#292c37 none repeat scroll 0 0;border:medium none;border-radius:3px;color:#fff;font-family:open_sansregular;font-size:16px;font-weight:normal;padding:2px 11px;text-align:center;}.cursesatcity .citycoursecntr.center_info .imgcntrbox{height:260px;margin-left:0px;}.inrright_cntr .dd_cnf .halfwidth.popshowhid{margin-top:-90px;width:100%;text-align:center;}.inrright_cntr.cntrl_iframe iframe{width:300px;height:200px;}.whtnewcenter .centrdtls.cntrlore{height:480px;}.cntr-image{width:100%;height:230px;overflow:hidden;margin-bottom:20px;}
.centrdtls .cntr-image .imgcntr{width:100%;height:100%;}.classroom_study{width:153px;margin:5px 2.25% 10px 0px;}.classroom_study.course_btn{width:98%;}.classroom_study.course_btn{font-size:12px;}.image_slider li{width:284px;}.backgrnd_color .pagetext_head{text-align:left;font-size:16px;}.classroom_study_content{padding:15px 15px 14px;}.accordion-header{padding:8px 12px 8px 4px;width:95%;}#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev{top:63%}#wowslider-container1 a.ws_next::before{border:2px solid #ab1522;font-size:11px;height:16px;line-height:16px}#wowslider-container1 a.ws_prev::before{border:2px solid #ab1522;font-size:11px;height:16px;line-height:16px}.newglery li a.button{margin:5px;width:174px;height:64px}.online_pay_page.reciept_info td{font-size:12px;padding:10px 10px;}
.online_pay_page td{font-size:11px;padding:10px 10px;}.inrright_cntr.cntrl_iframe .res_main_pop iframe{width:300px;}.inrright_cntr .partpayment ul li .full_width.pay_page_captch { width: 36%;}.cpCode {width: 16%;}
.adformcntr1 .forms_description.two{width:36%}
.adformcntr1 .forms_description.three{width:64%}
.adformcntr1 .forms_description.colspan2 {width: 100%;}
.res_main_pop.alumini_popup {width: 96%;  left: 0%;}
.getin_touchpop .contact_form {width: 320px;}
.prsl_dtls {width: 100%;}
.right-section { float: left;margin-top: 0px;width: 100.7%;}
.res_main.alumini_popup h2.form_header{text-align: left;font-size: 16px;}
.adformcntr.popup_cont .prsl_dtls .regular-radio:checked + label.radiobtn:after { width: 12px;height: 12px;}
.inrright_cntr .dd_cnf .cnf_detail {height: 52px;width: 100%;}
.inrright_cntr .dd_cnf .student_dd_info label {width: 40%;}
.inrright_cntr .dd_cnf .student_dd_info span { width: 60%;}
.MEF_cont .relefe_video {width: 100%;}
.MEF_cont .trusty_info {width: 100%;}
.trustee_div .trustee_name .name_div { width: 100%;}
.getin_touchpop .contact_form.mefvideo .rgt_pg_cnct iframe {height: 232px;}
.inrright_cntr .upcmng_batches_tbl_cntnt .note_Info label { width: 85%;}
.prsnl-div {padding: 5px 10px;}
.inputmefu {width: 65%;}
.inputmefu1 {width: 60%;padding: 5px;}
.labelfull { line-height: 17px;}
.serviceMadeEasy { width: 94%;}
.res_main_pop .backclose1 {top: -2px;}
.res_main_pop.mefupopup h2{padding: 19px 6px;font-size: 16px;text-align: left;}
.MEF_cont .camp_distribution {width: 96%;margin-top: 15px;}
.register_here{height:auto;padding: 15px 0px ;}
.book_info .book_first_chield {width: 60%;}
.book_info .book_sec_chield {width: 42%;}
.book_info .book_third_chield {width: 58%;}
.book_info .book_four_chield {width: 42%;}
.book_info .addto_cart { padding-left: 2%;}
.book_package .accordion-header {width: 100%; box-sizing: border-box;}
.inrright_cntr .part_p_page .inputCss select{width:78.5%;}
.onloadPopup.home_page .imgholder { width: 340px;}.onloadPopup.home_page .imgholderdelhi{width: auto;}
.popularbkcntr .poplrbkwdgt {width: 98%; padding-left: 2%;}
.book_package .owl-item {height: 2280px;}
.About_nstcbt { padding: 3px 8px;}
.cont_left {  line-height: 17px;  width: 80%;}
.About_nstcbt .cont_right {margin: 5px 0px 0px 15px;}
.ca_banner_owl { height: 318px;}
.add_inr_owl img { height: 298px;}
/*subscribe form css start*/
.info_latestupdate input, .info_latestupdate textarea { padding: 6px; width: 100%;}
.connect_via_div input {width: auto;margin-top: 3px; margin-left: -20px;}
/*subscribe form css end*/
.inrprt .inrcnttr {
    margin-left: 15%;
    margin-right: 15%;
}

}
@media screen and (max-width:320px){.afairlink{height:174px}.colg_cnct{height:162px}.newglery li{display:inline-block;margin:12px 33px;transition:all 0.2s ease-out 0s;}.newglery li a.button{margin:1px;width:127px;height:64px}.classroom_enroll.btn{top:46px;width:67px;}.glry_cntr .owl-next, .glry_cntr .owl-prev{margin-top:5.3%;}.inrright_cntr.cntrl_iframe iframe{width:260px;height:180px;}.inrright_cntr.cntrl_iframe .res_main_pop iframe{width:240px;}.classroom_study{width:134px;margin:5px 5px 5px 0px;}.image_slider li{width:252px;}.newglery li img{margin:1px;width:61px;}.ftr_cprit .cop_icn{margin-right:30px;margin-bottom:15px;}.online_pay_page{width:96%;}.online_pay_page td p{font-size:10px;}.getin_touchpop .contact_form {width: 300px;}.dettab .tabheadet { font-size: 15px;}
.book_info .addto_cart p {font-size: 13px;}
.inrright_cntr .part_p_page .inputCss select{width:79%;}
.onloadPopup.home_page .imgholder { width: 300px;}.onloadPopup.home_page .imgholderdelhi{width: auto;}
.onloadPopup .imgholder a.onloadPopup-close { top: 21px;}
.feetblcntr.Stu_Online_Reg td { padding-left: 52%;}
.ca_banner_owl { height: 282px;}
.add_inr_owl img { height: 262px;}
}

