@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}

body {
    font-family: 'OpenSans-Regular';
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track-piece {
    background-color: #ccc;
    border-radius: 100px
}

::-webkit-scrollbar-thumb {
    background: #637B88;
    border-radius: 100px
}

::-moz-scrollbar {
    width: 10px
}

::-moz-scrollbar-track-piece {
    background-color: #ccc;
    border-radius: 100px
}

::-moz-scrollbar-thumb {
    background: #637B88;
    border-radius: 100px
}

a:hover {
    text-decoration: none;
}

.view_solutions_hdr {
    background: #1b1b42;
    color: #fff;
    padding: 10px 0px;
    z-index: 9999;
    height: 60px;
    position: relative;
}

.view_solutions_hdr h4 {
    float: left;
}

.view_solutions_hdr h4 i {
    padding-right: 5px;
}

.view_solutions_hdr span.total_time {
    font-size: 20px;
    font-family: 'OpenSans-Semibold';
    padding: 5px 20px;
    display: block;
    position: relative;
}

.answer_panlel_icon i {
    float: right;
    font-size: 24px;
    line-height: 40px;
    padding-right: 15px;
    cursor: pointer;
}

.answer_panlel_icon.clicked~.vs_wrap_lft {
    padding-right: 0px;
}

.view_solutions_hdr span.total_time:before {
    position: absolute;
    content: ':';
    left: 6px;
    top: 4px;
}

.vs_wrap {
    width: 100%
}

.vs_sections {
    width: 100%;
    float: left;
}

.vs_sections ul {
    padding: 0px;
    margin: 0px;
}

.vs_sections ul li {
    list-style: none;
    float: left;
}

.vs_sections .nav-tabs {
    border: 0px;
    background: #f9f9f9;
    padding: 0px 20px;
}

.vs_sections ul li.active a,
.vs_sections ul li.active a:focus,
.vs_sections ul li.active a:hover {
    border: 0px;
    background: #f9f9f9;
}

.vs_sections ul li.active {
    border-bottom: 3px solid #999;
}

.vs_sections ul li a:hover {
    background: #f9f9f9;
    border: 0px;
}

.vs_sections ul li a {
    padding: 10px 20px;
    display: block;
    color: #000;
    border: 0px;
    border-bottom: 3px solid #f9f9f9;
    font-size: 18px;
}

.vs_sections ul li a:hover {
    border-bottom: 3px solid #f9f9f9;
}

.vs_sections ul.dropdown-menu {
    min-width: 200px;
    border-radius: 0px;
    z-index: 9999;
    margin-top: 4px;
}

.vs_sections ul li.dropdown:hover .dropdown-menu {
    display: block;
}

.vs_sections ul.dropdown-menu li {
    width: 100%;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.5s;
}

.vs_sections ul.dropdown-menu li:hover {
    background: #eee;
}

.vs_sections ul.dropdown-menu li:last-child {
    border-bottom: 0px;
}

.vs_sections ul.dropdown-menu li i,
.vs_wrap_rht .panel_options ul li i {
    margin-right: 7px;
}

.vs_sections ul.dropdown-menu li:nth-child(1) i,
.vs_wrap_rht .panel_options ul li:nth-child(1) i {
    color: #68B779;
}

.vs_sections ul.dropdown-menu li:nth-child(2) i,
.vs_wrap_rht .panel_options ul li:nth-child(2) i {
    color: #DF2450;
}

.vs_sections ul.dropdown-menu li:nth-child(3) i,
.vs_wrap_rht .panel_options ul li:nth-child(3) i {
    color: #999;
}

.vs_sections ul.dropdown-menu li:nth-child(4) i,
.vs_wrap_rht .panel_options ul li:nth-child(4) i {
    box-shadow: 0px 0px 5px #999;
    color: #fff;
}

.vs_sections ul.dropdown-menu li span {
    float: right;
}

.vs_qstns {
    padding: 20px;
    background: #fff;
    width: 95%;
    margin: 0px auto;
    overflow: auto;
}

.vs_qstn_num {
    width: 100%;
}

.vs_qstn_txt {
    width: 100%;
    text-align: justify;
}

.vs_qstn_txt p {
    text-align: justify;
    line-height: 1.8;
    font-size: 15px;
    font-family: 'OpenSans-Semibold';
}

.vs_optns {
    margin: 15px 0px;
    width: 100%;
    float: left;
}

.vs_optns ul li {
    display: block;
    font-size: 16px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

.vs_optns ul li:hover {
    background: #f9f9f9;
}

.vs_optns ul li span.option_chk {
    width: 35px;
    height: 35px;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 100%;
    padding: 0px;
    vertical-align: middle;
    float: inherit;
    top: 7px;
}

.vs_optns ul li span.col-xs-11 {
    line-height: 1.6;
    padding: 10px 15px;
    float: inherit;
    display: inline-block;
    vertical-align: middle;
}

.vs_optns ul li span.col-xs-11 p {
    margin: 0px
}

.vs_optns ul li.correct_answer,
.vs_optns ul li.wrong_answer,
.vs_optns ul li.both_correct {
    padding-top: 20px;
    border-color: #68B779;
}

.vs_optns ul li.correct_answer span.option_chk,
.vs_optns ul li.both_correct span.option_chk {
    background: #68B779;
    border: 0px;
    color: #fff;
}

.vs_optns ul li.wrong_answer span.option_chk {
    background: #DF2450;
    border: 0px;
    color: #fff;
}

.vs_optns ul li.correct_answer:before,
.vs_optns ul li.wrong_answer:before,
.vs_optns ul li.both_correct:before {
    position: absolute;
    content: 'Correct Answer';
    top: 0px;
    right: 0px;
    background: #68B779;
    color: #fff;
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    font-size: 13px;
}

.vs_optns ul li.both_correct:before {
    content: 'Your And Correct Answer';
}

.vs_optns ul li.wrong_answer {
    border-color: #DF2450;
}

.vs_optns ul li.wrong_answer:before {
    content: 'Your Answer';
    background: #DF2450;
}

.vs_soln_exp {
    background: #f9f9f9;
    padding: 10px;
    width: 100%;
    float: left;
    box-shadow: 0px 0px 5px #999;
    margin-bottom: 20px;
}

.vs_soln_exp h4 {
    color: #1b1b42;
    font-family: 'OpenSans-Semibold';
    font-size: 16px;
}

.vs_soln_exp p {
    line-height: 2.0;
}

.vs_soln_exp p b {
    color: #68B779;
}

.vs_wrap_lft {
    width: 100%;
    padding-right: 320px;
}

.vs_wrap_rht h4 {
    font-size: 16px;
    margin: 0px;
    padding: 15px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.vs_wrap_rht h4 span.tme_taken {
    float: right;
}

.vs_wrap_rht .panel_options ul {
    margin: 0px;
    padding: 10px 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0px;
}

.vs_wrap_rht .panel_options ul li {
    list-style: none;
    float: left;
    padding: 0px 10px;
}

.panel_answers_nms {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0px;
    clear: both;
    width: 100%;
    float: left;
    position: relative;
}

.panel_answers_nms ul {
    padding: 0px 12px;
    margin: 0px;
}

.panel_answers_nms ul li {
    list-style: none;
    float: left;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 8px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    border-radius: 100%;
}

.panel_answers_nms ul li.current_qs {
    border-radius: 5px;
}

.panel_answers_nms ul li.correct_ans {
    background: #68B779;
    color: #fff;
    border: 0px;
}

.panel_answers_nms ul li.wrong_ans {
    background: #DF2450;
    color: #fff;
    border: 0px;
}

.panel_answers_nms ul li.un_ans {
    background: #999;
    color: #fff;
    border: 0px;
}

.panel_answers_nms ul li.un_seen {
    background: #68B779;
    color: #fff;
}

.vs_wrapper {
    position: fixed;
    padding-top: 60px;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.vs_wrap_rht {
    padding: 60px 0px 60px 20px;
    width: 320px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    margin-top: 0px;
    background: #fff;
}

.vs_wrap_btm {
    position: fixed;
    bottom: 0px;
    background: #eee;
    padding-right: 350px;
    width: 100%;
    right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99999;
}

.vs_actin_btns {
    float: right;
}

.vs_actin_btns .btn.btn-default {
    background: #1b1b42;
    color: #fff;
    border: 0px;
    margin-left: 5px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.vs_actin_btns .btn.btn-default:hover {
    background: #3EC85C;
}

.vs_qstn_num {
    color: #1b1b42;
    border-radius: 0px;
    background: none;
    text-align: left;
    color: #000;
    border: 0px;
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    margin-bottom: 10px;
    height: auto;
    line-height: 1.4;
}

.vs_qstn_num b {
    color: #DF2450;
}

.view_solutions_hdr .back_btn {
    margin-right: 20px;
}

.view_solutions_hdr .back_btn a {
    background: #3EC85C;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
    transition: all 0.4s;
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    display: block;
}

.view_solutions_hdr .back_btn a:hover {
    background: #DF2450;
}

.vs_wrap_btm button.btn.watch_video_solution {
    background: #f60;
    border: 0px;
    color: #fff;
    margin-left: 50px;
    transition: all 0.4s;
    height: 35px;
}

.vs_wrap_btm button.btn.watch_video_solution:hover {
    background: #3EC85C;
}

.solution_video_popup iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.solution_video_popup {
    z-index: 9999999;
}

.solution_video_popup button {

    position: absolute;
    top: -15px;
    right: -12px;
    font-size: 18px;
    outline: none;
    background: #1b1b42;
    color: #fff !important;
    opacity: 1 !important;
    width: 30px;
    height: 30px;
    line-height: 20px;
    border-radius: 100%;
    z-index: 9999;
    border: 2px solid #fff;
}

.solution_video_iframe {
    padding-bottom: 60%;
}

.solution_video_popup .modal-content {
    padding: 20px;
    background: #fff;
}

.solution_video_popup.modal.in .modal-dialog {
    margin: 0px auto;
    top: 15%;
}


/* responsive */

@media (min-width: 992px) and (max-width: 1200px) {

    .vs_qstn_txt {
        width: 92%;
    }

    .vs_qstns {
        width: 100%;
    }

    .vs_qstns p {
        font-size: 14px;
    }

    .vs_wrap_btm button.btn.watch_video_solution {
        margin-left: 15px;
    }

    .solution_video_popup.modal.in .modal-dialog {
        top: 5%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .vs_qstns {
        width: 100%;
        padding: 20px 10px;
    }

    .vs_qstn_txt {
        width: 89%;
    }

    .vs_qstns p {
        font-size: 14px;
    }

    .vs_wrap_btm button.btn.watch_video_solution {
        margin-left: 10px;
    }

    .solution_video_popup.modal.in .modal-dialog {
        top: 7%;
    }
}

@media screen and (max-width: 767px) {

    .vs_wrap_lft {
        padding-right: 0px !important;
    }

    .vs_wrap_btm {
        padding-right: 15px;
    }

    .vs_wrap_rht {
        display: none;
        z-index: 9999999;
    }

    .vs_qstns {
        width: 100%;
        padding: 15px;
    }

    .vs_sections .nav-tabs {
        padding: 0px;
    }

    .vs_qstns p,
    .vs_optns ul li {
        font-size: 14px;
    }

    .vs_sections ul li a {
        font-size: 16px;
        padding: 10px 15px;
    }

    .view_solutions_hdr h4 {
        font-size: 16px;
    }

    .vs_qstn_num {
        margin-bottom: 5px;
    }

    .vs_qstn_txt {
        width: 100%;
    }

    .vs_optns ul li span.option_chk {
        width: 30px;
        height: 30px;
        line-height: 30px;
        top: 7px;
    }

    .vs_optns ul li {
        padding-left: 5px;
    }

    .vs_optns ul li span.col-xs-11 {
        width: 89%;
    }

    .vs_wrap_btm button.btn.watch_video_solution {
        margin-left: 10px;
    }

    .solution_video_popup.modal.in .modal-dialog {
        top: 8%;
        width: 95%;
    }

    .solution_video_popup .modal-content {
        padding: 10px;
    }

}




@media screen and (max-width: 480px) {

    .view_solutions_hdr .back_btn {
        margin-right: 0px;
        position: absolute;
        top: 35px;
        border-radius: 0px;
        right: 0px;
    }

    .view_solutions_hdr .back_btn a {
        padding: 2px 10px;
        font-size: 13px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .view_solutions_hdr span.total_time {
        font-size: 18px;
        display: block !important;
    }


}

@media screen and (max-width: 400px) {

    .view_solutions_hdr span.total_time {
        font-size: 18px;
        display: block !important;
    }

    .answer_panlel_icon i {
        padding-right: 0px;
    }

    .vs_sections ul li.dropdown:last-child ul.dropdown-menu {
        left: -100%;
    }
}