@font-face { font-family: 'OpenSans-Regular';  src:url('../fonts/OpenSans-Regular.ttf');}

body{ font-family:'OpenSans-Regular';}

.btwrapper .brainwiz-header.exam_page_hdr{ padding:10px; background:#eee; } 

.test_name{ font-size:16px; color:#000;}

.test_person_nme i{ padding-right:5px; }

.test_person_nme{ color:#000; font-size:14px; margin-bottom:0px;}

.btwrapper .btinnerWrapper{ padding:10px 20px; }

.categoryBtn{ background:#532A2A; color:#fff; border-radius:0px; transition:all 0.5s;}

.categoryBtn:hover,.categoryBtn:active,.categoryBtn:focus{ background:#20216D; color:#fff;}

.btwrapper .table-features ol li{ line-height: 1.8; text-align: justify; font-size:16px;}

.profilepic .ppicsNum{ text-align: center; display: block;}

.extrapagefoot p{ color: #fff;}

.tst_rslt{ padding-top: 5px;}

.break_CountDownTimer{ position: absolute; width: 280px;  display: block;}

.alert_pad{ padding: 8px 10px; margin-bottom: 0px; width: 25%;}

.bt_answer ul li input{ width: 6%; float: left;}

.bt_answer ul li label{ width: 90%; float: left;}

#completetest,.yes_no_btns .yes_btn,.yes_no_btns .no_btn,.btn-success.categoryBtn{ background:#008333; color:#fff; padding:5px 15px; border-radius:0px; border:0px; font-size:16px; transition:all 0.5s;}

.btn-success.categoryBtn{ padding:12px 16px;}

#completetest:hover{ background:#1D1F6A; }

.next_pre_btns{ background:#4382c5; color:#fff; padding:5px 15px; border-color:#4382c5; border-radius:0px; font-size:16px; }


.yes_no_btns{ margin:0px auto; text-align:center;}

.yes_no_btns .no_btn{ background:#532A2A; }

.yes_no_btns .no_btn,.yes_no_btns .yes_btn{ border-radius:5px; }

#submit_popup h4{ padding:0px 20px 20px 20px; margin-bottom:20px; border-bottom:1px solid rgba(0,0,0,0.2);}

#submit_popup .modal-body{ padding:15px 0px;  }

#submit_popup{ background:rgba(0,0,0,0.8);}

#markreview{ background:#ddd;}

.bt_paper{ padding-top:10px; }

.bt_paper b{ color:#461B1B;}



/* count down timer */


.countdown-timer-wrapper { float:right; }

.countdown-timer-wrapper h5 {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 10px;
  text-shadow: none;
}

.tme_lft{ float:left; margin:10px 0px; }

.countdown-timer-wrapper .timer {
 
  text-align: center; float:right;
  
}

.countdown-timer-wrapper .timer .timer-wrapper {
  display: inline-block;
  width: 50px;
  height: 40px;
}

.countdown-timer-wrapper .timer .timer-wrapper .time {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}

.countdown-timer-wrapper .timer .timer-wrapper .text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.analyse h4{ margin-bottom:20px; }

.right_panel{ position:absolute; right:0px; top:0px; height:100%; }

.right_panel .analyse td{ border-color:rgba(255,255,255,0.25);}

.legend ul{ padding-left:0px; text-align:center}

.legend ul li{ list-style:none; margin-bottom:5px; display:inline-block;  text-align:center;margin-right:5px;}

.legend ul li i{ padding-right:10px; }

.legend ul li:nth-child(1) i{ color:#1ED638;}

.legend ul li:nth-child(2) i{ color:#FC4545;}

.legend ul li:nth-child(3) i{ color:#f0ad4e;}

.brk_tme_txt{ float:left; margin-top:10px; color:#000;}

.table > thead:first-child > tr:first-child > th{ border-top:1px solid #ddd; }

.perchart h3{margin-top:0px; margin-bottom:20px;  font-size:28px;}

.perchart h4{ width:100%; border:1px solid #ddd; margin:0px; padding:10px; background:#ddd; font-size:26px;}

.total_row{  background:#fcf8e3; }



.perchart{ min-height:1px;}

.perchart table tr th{ font-size:20px; padding:15px 5px !important; }

.perchart table tr td{ font-size:30px; padding:15px 5px!important;}

.perchart table tr td:first-child{ font-size:34px; }

.tst_rslt .txt_btn a{ background:#008231; padding:7px 10px; color:#fff; font-size:17px; border-radius:5px; transition:all 0.5s;margin-top:10px; display:inline-block}

.tst_rslt .txt_btn a:hover{ background:#461B1B; text-decoration:none;}

.mobile_analyse{ display:none;}

.time_circles audio, canvas, progress, video{ display:none;}

.textDiv_Minutes,.textDiv_Seconds{ top:5px !important; width:auto !important; left:inherit !important; right:0px !important;}

.textDiv_Minutes h4,.textDiv_Seconds h4{ font-size:12px !important; text-transform:capitalize !important;}

.textDiv_Minutes{ right:40px !important;}

.time_circles > div > span{ font-size:18px !important;}

.brk_time_col .time_circles > div > h4,.brk_time_col .time_circles > div > span{ color:#000;}

@media (min-width: 992px) and (max-width: 1200px) { 

.brk_tme_txt{ font-size:18px; margin-top:10px;}

	.pg-title{ left: 0px; top: -20px; padding:10px 20px;}

	.btwrapper .btinnerWrapper{ padding:10px; }

	.btwrapper .right_panel{ right: 0px;}

	.btwrapper .analyse{ padding-right: 20px; }

	.splpaddin td span.nup{ font-size: 20px ;}

	.splpaddin td span{ font-size: 14px;}

	.break_CountDownTimer{ width: 230px; }

	.alert_pad{ width: 50%;}

}

@media (min-width: 768px) and (max-width: 991px) { 

.categoryBtn{ padding: 8px 15px; font-size: 16px;}

.btwrapper .right_panel{ height: 100%; }

.pg-title{ top: -15px; left: 0px; }


.pos_relative,.q_paper{ padding-left: 10px;} 

.btwrapper .brainwiz-header.test_hdr{ padding:5px 15px; height: 50px; }

.brainwiz-header.test_hdr p{ margin: 0px;}


.pg-title{ padding:10px 20px;}

.right_panel{ right: 0px;}

.splpaddin td span.nup{ font-size: 18px;}

.splpaddin td span{ font-size: 12px;}


.break_CountDownTimer{ position: absolute; width: 220px; top: 70px; right: 0px;}

.alert_pad{ width: 50%;}

.btwrapper .btinnerWrapper{ padding:5px 0px; }

.brk_tme_txt{ font-size:18px; }

.perchart table tr th{ font-size:18px; padding:10px 5px !important; }

.perchart table tr td{ font-size:16px; padding:10px 5px!important;}

.perchart table tr td:first-child{ font-size:18px; }
}

@media screen and (max-width: 767px) { 

.categoryBtn,.btn-success.categoryBtn{ padding: 8px 15px; font-size: 16px;}

.q_paper{ margin-top: 50px; padding:0px;}

.bt_paper{ padding-bottom:20px;}

.right_panel{ height: auto; right: 0px;  }

.pg-title{ left: -10px;}

.time_circles audio, canvas, progress, video { display: none !important;}

.timer h4.tme_lft{ float: left;}



.textDiv_Minutes,.textDiv_Seconds{ top: 10px !important;}

.textDiv_Minutes h4,.textDiv_Seconds h4{ font-size: 10px !important; }

.btwrapper .brainwiz-header.exam_page_hdr{ padding: 5px; }


.btwrapper .brainwiz-header.test_hdr{ height: 50px; padding:5px 15px; }

.test_hdr .pull-left.col-md-6{ padding:0px;}

.brainwiz-header.test_hdr p{ margin: 0px;}

.pg-title{ padding:5px 15px;}


.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{ opacity: 1;}

.splpaddin td span.nup{ font-size: 18px;}

.splpaddin td span{ font-size: 12px;}

.perchart{ min-height: 1px;}

.break_CountDownTimer{ position: absolute; width: 220px; top: 20px; left: -30px;}

.brk_tme_txt{ font-size: 16px; }

.break_CountDownTimer .textDiv_Seconds, .break_CountDownTimer .textDiv_Minutes{ color: #000;}

.time_circles > div > span{ font-size: 18px !important;}

.alert_pad{ width: 100%;}

.perchart h3{ margin-top:10px; }

.btwrapper .btinnerWrapper{ padding:0px; }

.exam_page_hdr_mobile .wel_rht{ float:left !important;}

.exam_page_hdr_mobile .test_name,.exam_page_hdr_mobile .test_person_nme{ text-align:left; font-size:14px;}

.analyse{ position:fixed;display:none; top:60px; right:0px; z-index:9999; width:90%; height:95%; background:#242673; padding:0px 5px; overflow-x:hidden; overflow:scroll;}

.bt_paper .bt_action{ position:fixed; bottom:0px; left:0px; width:100%; background:#eee; padding:5px 15px;}

.mobile_analyse{ display:block; position:absolute;  top:-40px; font-size:16px; right:20px; color:#000; cursor:pointer;}

.textDiv_Minutes h4,.textDiv_Seconds h4{ display:none;}

.time_circles > div > span{ margin-top:0px !important}

html.open-menu{ overflow:hidden;}


.brk_tme_rht{  display:none;}

.brk_time_col{ width:100%;}

.perchart table tr th{ font-size:18px; padding:10px 5px !important; }

.perchart table tr td{ font-size:16px; padding:10px 5px!important;}

.perchart table tr td:first-child{ font-size:18px; }

.textDiv_Minutes{ right:30px !important;}

.textDiv_Seconds:before{ position:absolute; content:':'; top:0px; left:-5px;}

.brk_time_col .textDiv_Seconds:before{ color:#000;}

.bt_answer ul li input{ margin:0px;}

}

@media screen and (max-width: 640px) {
	
.mobile_analyse{ top:-30px;}

.btwrapper .btinnerWrapper{ padding:5px 0px;}

.btwrapper .table-features{ line-height: 1.8; margin-top: 5px;}

.btwrapper .table-features ol{ padding-left: 20px;}

.btwrapper .table-features ol li{ line-height: 1.8;}

.right_panel{  top: -5px;}

.q_paper{ margin-top:40px;}

.btwrapper .brainwiz-header.test_hdr{  padding:5px 0px; }

.splpaddin td span.nup{ font-size: 16px;}

.splpaddin td span{ font-size: 12px;}

.break_CountDownTimer{ top: -10px; right: -30px; left: inherit;}

.test_name,.test_person_nme,.btwrapper .table-features ol li{ font-size:14px;}

.btinnerWrapper.blue-border .container-fluid{ padding:0px;}

.tme_lft{ margin:10px 0px;}
/* bootstrap tables*/ 

/*bootstrap tabbles*/

/* Force table to not be like tables anymore */
#no-more-tables table, 
#no-more-tables thead, 
#no-more-tables tbody, 
#no-more-tables th, 
#no-more-tables td, 
#no-more-tables tr { 
display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr { 
position: absolute;
top: -9999px;
left: -9999px;
}

#no-more-tables table{ border:0px;} 

#no-more-tables tr { border: 1px solid #ccc; margin-bottom:7px; clear:both;}

.dashboard-rht #no-more-tables tr{ background:#bd5899; color:#fff;}

.syllabus #no-more-tables tr:first-child{ display:none;}

#no-more-tables td { 
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid #eee; 
position: relative;
white-space: normal;
text-align:center;padding: 4px 10px;padding-left:40% !important; 
}

#no-more-tables td:before { 
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: 6px;
width: 45%; 
padding-right: 10px; 
white-space: nowrap;
text-align:left;
font-weight: bold;
}

.syllabus .table-bordered > tbody > tr > td.pdng1{ padding:0px; clear:both;}

/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }



.countdown-timer-wrapper .timer .timer-wrapper .time {
  font-size: 16px;
  
}

.countdown-timer-wrapper .timer .timer-wrapper .text {
  font-size: 10px;
}

.q_paper{ padding:0px 5px;}

.exam_page_hdr_mobile .test_person_nme{ display:none;}

.analyse{ top:35px;}


.exam_page_hdr_mobile .test_name{ margin-bottom:0px; margin-top:5px;}

.tme_lft{ font-size:16px;}

.bt_question img { width:100%; height:auto;}
}

@media screen and (max-width: 480px) {

.q_paper,.perchart{ padding:0px 5px;}

.splpaddin td span.nup{ font-size: 15px;}

.splpaddin td span{ font-size: 11px;}

.categoryBtn{ padding:8px 10px;}

.tst_rslt .txt_btn a{ font-size:14px; }

#submit_popup h4{ font-size:16px;}

.textDiv_Seconds:before{  top:-5px;}
 }