
.btwrapper .table-features ol li{ line-height: 1.8; text-align: justify;}

.profilepic .ppicsNum{ text-align: center; display: block;}

.extrapagefoot p{ color: #fff;}

.tst_rslt{ padding-top: 5px;}

.break_CountDownTimer{ position: absolute; width: 280px;  display: block;}

.alert_pad{ padding: 5px 10px; margin-bottom: 0px; width: 25%;}

.bt_answer ul li input{ width: 6%; float: left;}

.bt_answer ul li label{ width: 90%; float: left;}

@media (min-width: 992px) and (max-width: 1200px) { 

	.pg-title{ left: 0px; top: -20px; padding:10px 20px;}

	.btwrapper .btinnerWrapper{ padding:2% 5px;}

	.btwrapper .right_panel{ right: 0px;}

	.btwrapper .bt_paper{ padding-top: 30px;}

	.btwrapper .analyse{ padding-right: 20px; }

	.splpaddin td span.nup{ font-size: 20px ;}

	.splpaddin td span{ font-size: 14px;}

	.break_CountDownTimer{ width: 230px; }

	.alert_pad{ width: 50%;}

}

@media (min-width: 768px) and (max-width: 991px) { 

.categoryBtn{ padding: 8px 15px; font-size: 16px;}

.btwrapper .right_panel{ height: 100%; }

.pg-title{ top: -15px; left: 0px; }

.bt_paper{ padding-top: 40px;}

.pos_relative,.q_paper{ padding-left: 0px;} 

.btwrapper .brainwiz-header.test_hdr{ padding:5px 15px; height: 50px; }

.brainwiz-header.test_hdr p{ margin: 0px;}

.right_panel{ top: -15px;}

.pg-title{ padding:10px 20px;}

.right_panel{ right: 0px;}

.splpaddin td span.nup{ font-size: 18px;}

.splpaddin td span{ font-size: 12px;}

.break_CountDownTimer{ position: absolute; width: 220px; top: 70px; right: 0px;}

.alert_pad{ width: 50%;}

}

@media screen and (max-width: 767px) { 

.categoryBtn{ padding: 8px 15px; font-size: 16px;}

.q_paper{ margin-top: 280px; padding:0px;}

.bt_paper{ padding-top: 40px;}

.right_panel{ height: auto; right: 0px;  top: -10px;}

.pg-title{ left: -10px;}

.time_circles audio, canvas, progress, video { display: none !important;}

.timer h4.tme_lft,.timer_count{ float: left;}

#CountDownTimer{ height: auto !important; width: 200px !important;  }

.textDiv_Minutes,.textDiv_Seconds{ top: 10px !important;}

.textDiv_Minutes h4,.textDiv_Seconds h4{ font-size: 10px !important; }

.analyse{ height: 220px !important;}

.btwrapper .brainwiz-header{ padding: 10px 15px; height: 60px;}

.btwrapper .brainwiz-header.test_hdr{ height: 50px; padding:5px 15px; }

.test_hdr .pull-left.col-md-6{ padding:0px;}

.brainwiz-header.test_hdr p{ margin: 0px;}

.pg-title{ padding:10px 15px;}

#markreview{ margin-top: -15px;}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{ opacity: 1;}

.splpaddin td span.nup{ font-size: 18px;}

.splpaddin td span{ font-size: 12px;}

.perchart{ min-height: 1px;}

.break_CountDownTimer{ position: absolute; width: 220px; top: 20px; left: -30px;}

.brk_tme_txt{ margin-top: 0px; font-size: 16px; }

.break_CountDownTimer .textDiv_Seconds, .break_CountDownTimer .textDiv_Minutes{ color: #000;}

.time_circles > div > span{ font-size: 18px !important;}

.alert_pad{ width: 100%;}

}

@media screen and (max-width: 640px) {

.btwrapper .btinnerWrapper{ padding:5px 0px;}

.btwrapper .table-features{ line-height: 1.8; margin-top: 5px;}

.btwrapper .table-features ol{ padding-left: 20px;}

.btwrapper .table-features ol li{ line-height: 1.8;}

.right_panel{  top: -5px;}

.pg-title{ padding:10px 15px; }

.btwrapper .brainwiz-header.test_hdr{  padding:5px 0px; }

.splpaddin td span.nup{ font-size: 16px;}

.splpaddin td span{ font-size: 12px;}

.wel_rht{ display: none;}
.break_CountDownTimer{ top: -10px; right: -30px; left: inherit;}


}

@media screen and (max-width: 480px) {

.q_paper,.perchart{ padding:0px 5px;}

.splpaddin td span.nup{ font-size: 15px;}

.splpaddin td span{ font-size: 11px;}

.categoryBtn{ padding:8px 10px;}


 }