@charset "utf-8";
/* CSS Document */

body {
    background-color: #E6E8E7;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.btwrapper {
	margin:0 auto;	
	width:100%;
}
.btwrapper.login {
	width:600px;		
}
.btwrapper.details {
	width:800px;		
}
.btwrapper .brainwiz-header {
	padding:2% 50px 2% 2%;
	height:100px;
	background:url(logo12.jpg) right 15px no-repeat;
}

.btwrapper .btinnerWrapper {
	background:#fff;
	padding:2%;
}
.btinnerWrapper.blue-border {
	border-left:10px solid #4382c5;
	border-right:10px solid #4382c5;	
}
.table-features {
	background:#FFC;
	border:1px dashed #FC9;
	padding:2%;
	margin-top:20px;
}

.pg-title {
	background: rgb(67, 130, 197); 
	color: rgb(255, 255, 255); 
	font-weight: bold;
    left: -37px;
    padding: 15px 30px;
    position: absolute;
    top: -19px;
}

/* Score details */
.bt_paper {
	padding-top:60px;
	line-height:1.5em;
}
.bt_paper .bt_question_title {
	color:#4382C5;
	font-weight:bold;
	padding:4px 0;
}
.bt_paper .bt_question {
	color:#333;
	font-weight:normal;
	padding:8px 0;
}
.bt_paper .bt_answer {
	color:#333;
	font-weight:normal;
	padding:8px 0;
}
.bt_paper .bt_action {
}


.marginTop20 {
	margin-top:20px;
}
.pos_relative {
	position:relative;
	min-height: 400px;
    
}
.right_panel {
    background: #4382c5;
    height: 109.5%;
    position: absolute;
    right: -24px;
    top: -19px;
	color:#fff;
}
.right_panel .timer {
}
.right_panel .analyse td {
	cursor:pointer;
	text-align:center;
	position:relative;
	height:30px;
}
.right_panel .analyse td i {
	text-align:left;
	position:absolute;
	left:1px;
	top: 20%;
}
.right_panel .analyse td.passed {
	opacity:0.4;
}
.right_panel .analyse td.mark_for_rev i {
	color:#FFFF5C;
}
.right_panel .analyse td.not_attempt i {
	color:#FC4545;
}
.right_panel .analyse td.current {
	background:#1ED638;
}