@mixin sitefont {
    font-size: $fsize;
    font-family: $ffamily;
    color: $black;
    line-height: $fsize + 8;
    font-weight: $fweight;
    text-rendering: geometricPrecision;
    -moz-text-rendering: geometricPrecision;
    -webkit-text-rendering: geometricPrecision;
    -ms-text-rendering: geometricPrecision;
    -o-text-rendering: geometricPrecision;
}

@mixin borderradius {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@mixin shadow-center {
    box-shadow: 0 0 4px $gray;
    -moz-box-shadow: 0 0 4px $gray;
    -webkit-box-shadow: 0 0 4px $gray;
    -ms-box-shadow: 0 0 4px $gray;
    -o-box-shadow: 0 0 4px $gray;
}

@mixin shadow-bot {
    box-shadow: 0 2px 4px $gray;
    -moz-box-shadow: 0 2px 4px $gray;
    -webkit-box-shadow: 0 2px 4px $gray;
    -ms-box-shadow: 0 2px 4px $gray;
    -o-box-shadow: 0 2px 4px $gray;
}

@mixin transition {
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

@mixin position-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}




//mobile mixin
@mixin mob {
    @media(min-width:#{$mobile-width}) and (max-width:#{$mobilelandscape-width - 1}) {
        @content;
    }
}

//mixin mobile landscape
@mixin moblscape {
    @media (min-width:#{$mobilelandscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//mixin tablet
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//mixin laptop

@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width -1}) {
        @content;
    }
}