/*** new styles ***/

footer .social-nav .nav .nav-item .nav-link {
    padding: 0;
    line-height: 46px;
}

.modal-header {
    border-bottom: none !important;
}

.interested-course:before {
    left: 5px !important
}

body .orangebtn {
    min-width: 150px !important
}

.form-control {
    border: 2px solid #ced4da;
}

.error {
    border: 2px solid #ff0000 !important;
}

.wait {
    width: 100%;
    bottom: 0;
    position: fixed;
    top: 0%;
    left: 0px;
    padding: 2px;
    opacity: 0.7;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255) url(../images/chat-loader.gif) center center no-repeat;
    background-size: 100px;
}

#dt-topic2 {
    display: none;
}

footer .footer-title {
    text-transform: uppercase;
}


#cd-signup,
#cd-reset-password,
#after_otp_form {
    display: none;
}

.skilltest-box {
    background: rgba(158, 158, 158, 0.21) !important;
    box-shadow: 0 2px 6px rgba(158, 158, 158, 0.82);
    margin-bottom: 20px !important;
    padding: 15px 9px 15px !important;
    border-left: 2px solid #ff4307;
    height: 100px;
}

.skilltest-box .image {
    float: left;
    width: 70px;
}

.skilltest-box .image img {
    height: 70px;
    width: 70px;
}

.skilltest-box .details {
    margin-left: 90px;
}

.skilltest-box h5 {
    margin-bottom: 10px;
    height: 23px;
    overflow: hidden;
}

.skilltest-box h5 a {
    color: #e4400b;
    font-weight: 700;
    font-size: 15px;
}

.skilltest-box .button1 {
    float: right;
    margin-top: 7px;
}

.button1 {
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #1a1a56;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-transform: uppercase;
    font-weight: 500;
}

.skilltest-box p {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 0;
    color: #717173;
}

.lefttab .resp-tabs-list .selectnav a {
    color: #ffffff;
}

.lefttab .resp-tabs-list {
    display: block !important;
}

#testmob-show-icon,
#profile-mob-nav {
    display: none;
}



@media (min-width:320px) and (max-width:575px) {
    .left-usernav {
        height: auto;
        margin-bottom: 20px;
    }

    .view_solutions_hdr span.total_time {
        display: block;
    }

    .skilltest-box .button1 {
        font-size: 12px;
    }

    .skilltest-box .image {
        width: 60px;
    }

    .skilltest-box .image img {
        width: 50px;
        height: 50px;
    }

    .skilltest-box .details {
        margin-left: 60px;
    }

    #imgArea {
        padding-top: 25px;
    }

    .sign .leftcol {
        display: none !important;
    }

    #test-mobnav {
        display: none;
    }

    #testmob-show-icon {
        display: block;
        float: right;
        padding-right: 10px;
    }

    #profile-mob-nav {
        display: flex;
    }

    #profile-mob-nav .icomoon {
        margin-top: 6px;
    }

    #user-profile-navlist {
        display: none;
    }

    .student-col h6 {
        display: none;
    }

    .student-col .linktext {
        bottom: inherit;
        top: 20px;
    }

    .homecarousel .carousel-item {
        min-height: 200px;
    }

    .homecarousel .carousel-item .carousel-caption h1,
    .homecarousel .carousel-item .carousel-caption h2 {
        font-size: 16px;
    }

    .subpage .page-header {
        margin-bottom: 20px;
    }

    .h5,
    h5 {
        font-size: 1.2rem;
    }
}

.elt_nav {
    padding-top: 20px;
}

.lefttab .resp-tabs-list a {
    display: block
}

.homecarousel .course-form form .form-control{line-height:20px}
.blogcol img,.blog-col img{height:235px !important;}
.blog-detail h3 {font-size: 1.25rem;}