﻿.maskConent
{
	display:none;
}
.mask
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0;
	margin: 0;
	background-color: black;
	filter: alpha(opacity=10);
	opacity: 0.1;
	z-index: 999999;
}
.progress
{
	background: #fff url(../images/Loading.gif) no-repeat 10px 10px;
	width: 100px;height: 100px;
	position: fixed;
	_position: absolute;
	border:1px solid #7C7C7C;
	padding: 10px;
	z-index:9999999999;
	_top: expression( ie6 = (document.documentElement.scrollTop + ((document.documentElement.clientHeight / 2)-60) + "px") ) ;
}