button{ outline: none; }

button.btn:focus{ outline: none; }

.pt_info{text-align: center; padding:10px 5px; border: 1px solid #c9c9c9; margin-bottom: 15px; transition: all 0.5s;min-height:220px; position:relative;  }

.practice_test_related_lists .pt_info{background:url(../images/exam.png) no-repeat center 10px;padding:45px 5px 10px 5px; }

.pt_info i{ font-size: 24px; }

.pt_info h4{ font-size: 14px; margin-top: 10px; color: #1b1b42; line-height:1.5; }

.pt_info p{ margin-bottom: 2px; font-size: 13px;}

.pt_info p b{ padding-left: 5px; font-weight: normal; font-family: 'OpenSans-Semibold';}

.pt_info button.btn{ margin-top: 15px; margin-bottom: 0px; border: 1px solid #1b1b42;padding: 8px 20px; color: #000; font-size: 13px; font-family:'OpenSans-Semibold' !important; display: inline-block; position: absolute; bottom:15px;left:0px; right:0px;margin:0px auto; transition: all 0.3s; border-radius: 0px;width:105px; }

.pt_info button.btn:focus,.pt_info button.btn:active,.pt_info button.btn:visited{ border: 0px; box-shadow: none; }

.pt_info button.btn:before{ position: absolute; content: ''; width: 0; height: 100%; background: #1b1b42; top: 0px; left: 50%; z-index: -1; color: #fff; transition: all 0.3s; }

.pt_info button.btn:hover:before{ width: 100%; left: 0px; }

.pt_info button.btn:hover{ color: #fff; background: none; outline: none;}

.pt_info:hover{ box-shadow: 0px 0px 5px #aaa; }

.practice_test_hdr{ text-align: center; }

.practice_test_q_wraper .vs_wrap_lft{ padding-right: 0px; }

.practice_test_q_wraper .vs_sections{ width: 75%; float: inherit; margin: 0px auto;  }

.practice_test_q_wraper .vs_actin_btns{  width: 85%; float: inherit; text-align: right;}

.practice_test_q_wraper .vs_wrap_btm{ padding-right: 0px;  }

.practice_test_q_wraper .vs_qstns{ width: 100%; padding: 15px; }

.practice_test_q_wraper .vs_optns ul li{ padding: 5px; }

.practice_test_q_wraper .vs_optns ul li input{ visibility: hidden; display:none; }

.practice_test_q_wraper .vs_optns ul li label{ width: 100%; display: block; cursor: pointer;}

.practice_test_q_wraper .vs_qstn_num{ background: #666; color: #fff;}

.practice_test_q_wraper .vs_optns ul li input[type=radio]:checked~span.option_chk{ background: #1b1b42; color: #fff;}

.practice_test_q_wraper .vs_optns ul li input[type=radio]:checked + label{ background: #000; }

.practice_test_hdr_col{ text-align: center; }

.practice_test_hdr_col h4{ float: initial; display: inline-block; text-align: center; }

.practice_score_card_wrap{ background:url(../images/patterns.jpg) repeat; margin: 0px; padding: 20px 0px; }

.practice_score_card{ margin:0px 0px 30px 0px; }

.psc_wrap{ width: 60%; margin: 0px auto; border: 5px solid #eee; background: #fff; box-shadow: 0px 0px 5px #eee;}

.psc_wrap_top{ text-align: center; padding:20px; border-bottom: 1px solid #eee;}

.psc_wrap_top img{ width: 60px; margin: 0px auto; }

.psc_wrap_top h3{ font-size: 20px; font-family: 'OpenSans-Semibold' !important; margin: 20px 0px; color:#1b1b42;}

.psc_wrap_top h4{ font-family: 'OpenSans-Semibold' !important; }

.psc_wrap_top h4 b{ color:#00a861; }

.psc_wrap_btm{ padding-bottom: 20px; }

.psc_wrap_btm h4{ font-family: 'OpenSans-Semibold' !important; color: #fff; background: #1b1b42; text-align: center; border-bottom: 1px solid #eee; padding: 15px; }

.psc_wrap_btm table tr td{ font-family: 'OpenSans-Semibold'; text-align: center; color: #000; width: 50%; padding:10px; font-size: 15px; }

.practice_score_card_btns{ text-align: center; }

.psc_wrap_btm h5{ text-align: center; font-size: 18px; display: inline-block; text-align: center;}

.psc_wrap_btm h5 a{ background: #008231; color: #fff; text-align: center; padding: 10px 15px; border-radius: 5px; display: inline-block; margin-top: 20px; font-size: 16px; transition: all 0.5s; }

.psc_wrap_btm h5.back_btn{ margin-left: 10px; }

.psc_wrap_btm h5.back_btn a{ background: #fff; border: 1px solid #008231; color: #008231; font-family: 'OpenSans-Semibold'; }

.psc_wrap_btm h5.back_btn a:hover{ color: #fff; }

.psc_wrap_btm h5 a:hover{ background: #1b1b42;}

.rstp_row_wrap{ text-align: center; }


.related_sub_tests_pop{ background: rgba(0,0,0,0.7); }

.related_sub_tests_pop .modal-dialog{ width: 75%; top: 20%; }

.rstp_col{ width: 18%; display: inline-block; margin:0px 5px 10px 5px; vertical-align:top; }

.related_sub_tests_pop .modal-header .close{ background: #1b1b42; color: #fff; opacity: 1; position: absolute;top: 0px; right: 0px; padding: 12px 15px; margin-top: 0px; }

.related_sub_tests_pop .modal-header{ padding: 8px 15px; background: #eee; }

.related_sub_tests_pop .modal-header h4{ font-size: 20px; font-family: 'OpenSans-Semibold' !important; }

.related_sub_tests_pop h5{ margin-top: 15px; margin-bottom: 0px; }

.related_sub_tests_pop h5 a{ border: 1px solid #1b1b42;padding: 8px 20px; color: #000; font-size: 13px; font-family:'OpenSans-Semibold' !important; display: inline-block; position: relative; transition: all 0.3s; z-index: 99;}

.related_sub_tests_pop h5 a:before{ position: absolute; content: ''; width: 0; height: 100%; background: #1b1b42; top: 0px; left: 50%; z-index: -1; color: #fff; transition: all 0.3s; }

.related_sub_tests_pop h5 a:hover:before{ width: 100%; left: 0px; }

.related_sub_tests_pop h5 a:hover{  color: #fff;}

.practice_test_q_wraper .vs_qstn_txt,.practice_test_q_wraper .vs_qstn_num{ width: 100%; float: inherit; }

.practice_test_q_wraper .vs_qstn_num { color: #1b1b42;  border-radius: 0px; background: none; text-align: left; color: #000; border: 0px; font-size: 18px; font-family: 'OpenSans-Semibold'; margin-bottom: 10px; height: auto; line-height: 1.4;}

.practice_test_q_wraper .vs_qstn_num b { color: #DF2450;}

.practice_test_q_wraper .vs_actin_btns .btn.btn-default.submit_test_btn{ background: #DF2450; }

.practice_test_q_wraper .vs_actin_btns .btn.btn-default.submit_test_btn:hover{ background: #3EC85C; }

.practice_test_hdr .back_btn { margin-right: 0px; position: relative !important; top: 0px !important}

.practice_test_hdr .back_btn a:hover{  background: #DF2450; }

.practice_test_hdr .back_btn a{ background: #3EC85C; color: #fff; border-radius: 5px; margin-top: 3px; transition: all 0.4s; text-decoration: none; color: #fff; padding: 7px 10px;  display: block; margin-right: 0px;}

.practice_test_q_wraper .vs_wrap_btm button.btn.watch_video_solution,.practice_test_q_wraper .vs_wrap_btm button.btn.submit_test_btn{ margin-left:13.5%; }

.practice_test_q_wraper .vs_wrap_btm button.btn.submit_test_btn{ border:0px; background:#008333; color:#fff; height:35px; transition:all 0.3s; }

.practice_test_q_wraper .vs_wrap_btm button.btn.submit_test_btn:hover{ background:#1b1b42; }

.yes_no_btns{ margin:0px auto; text-align:center;}

.yes_no_btns .no_btn{ background:#532A2A; }

.yes_no_btns .no_btn,.yes_no_btns .yes_btn{ border-radius:5px; }

#submit_popup{ z-index:99999;}

#submit_popup h4{ padding:0px 20px 20px 20px; margin-bottom:20px; border-bottom:1px solid rgba(0,0,0,0.2);}

#submit_popup .modal-body{ padding:15px 0px;  }

#submit_popup{ background:rgba(0,0,0,0.8);}

#completetest,.yes_no_btns .yes_btn,.yes_no_btns .no_btn,.btn-success.categoryBtn{ background:#008333; color:#fff; padding:5px 15px; border-radius:0px; border:0px; font-size:16px; transition:all 0.5s;}

.yes_no_btns{ margin:0px auto; text-align:center;}

.yes_no_btns .no_btn{ background:#532A2A; }

.yes_no_btns .no_btn,.yes_no_btns .yes_btn{ border-radius:5px; }

#completetest:hover{ background:#1D1F6A; }

.video_solution_popup{ background:rgba(0,0,0,0.7);}

.vs_qstn_txt img,.vs_optns img,.vs_soln_exp img{ max-width:100%; height:auto; }

.practice_test_q_wraper .vs_soln_exp{ background:#fff;}

.practice_test_wrap .navbar-nav>li>a{ height:auto !important;}


@media (min-width: 992px) and (max-width: 1200px) {

.practice_test_related_lists .col-md-3{ padding:0px 10px; }

.practice_test_q_wraper .vs_sections{ width: 90%; }

.practice_test_q_wraper .vs_actin_btns{ width: 95%; }

.psc_wrap{ width: 75%; }

.related_sub_tests_pop .modal-dialog{ width: 90%; top: 10%; }

.practice_test_q_wraper .vs_wrap_btm button.btn.watch_video_solution,.practice_test_q_wraper .vs_wrap_btm button.btn.submit_test_btn{ margin-left:6%;}
}

@media (min-width: 768px) and (max-width: 991px) {

.practice_test_related_lists .col-md-3.col-sm-4{ padding:0px 10px; }

.pt_info h4{ font-size: 13px; font-family: 'OpenSans-Semibold' !important; }

.pt_info{ padding: 10px 5px; }

.pt_info p{ font-size: 12px; }

.practice_test_q_wraper .vs_sections{ width: 95%; }

.practice_test_q_wraper .vs_actin_btns{ width: 98%; }

.psc_wrap{ width: 90%; }

.related_sub_tests_pop .modal-dialog{ width: 100%; top:5%;}

.practice_test_q_wraper .vs_wrap_btm button.btn.watch_video_solution,.practice_test_q_wraper .vs_wrap_btm button.btn.submit_test_btn{ margin-left:4.5%;}


}

@media screen and (max-width: 767px) {

.practice_test_q_wraper .vs_optns ul li span.col-xs-11{ width: 85%; }

.psc_wrap{ width: 100%; }

.psc_wrap_top h4{ line-height: 1.6; font-size: 16px; }

.psc_wrap_btm table tr td{ font-size: 13px; }

.related_sub_tests_pop .modal-dialog{ width: 100%; margin:0px; top: 5%; }

.rstp_col{ width: 31%; }

.practice_test_q_wraper .vs_qstns{ margin-top: 0px; }

.practice_test_q_wraper .vs_qstn_num{ font-size: 16px; }

.practice_test_q_wraper .vs_actin_btns .btn.btn-default.submit_test_btn{ margin-right: 10px; }

.practice_test_q_wraper .vs_sections{ width: 100%; }

.practice_test_q_wraper .vs_actin_btns{ width: 100%;  }

.practice_test_q_wraper .vs_wrap_btm{ padding-right:15px; }

.practice_test_hdr.view_solutions_hdr h4{ font-size: 15px; margin:0px;}

.practice_test_hdr.view_solutions_hdr span.total_time{ font-size: 15px; }

.practice_test_hdr .back_btn{ float: inherit !important;   }

.practice_test_hdr .back_btn a{ font-size: 13px; padding:5px 8px; width: 160px; margin: 0px auto;}

.pt_info{ box-shadow:0 2px 4px #999;min-height:1px;}

.pt_info button.btn{ position:relative; bottom:0px; margin-top:10px;}

.practice_test_q_wraper .vs_wrap_btm button.btn.watch_video_solution,.practice_test_q_wraper .vs_wrap_btm button.btn.submit_test_btn{ margin-left:15px;}

.vs_qstn_txt img,.vs_optns img,.vs_soln_exp img{ max-width:100%; height:auto;}
}

@media screen and (max-width: 640px) {

	.rstp_col{ width: 47%; }

	.vs_qstn_txt img,.vs_optns img{ max-width:100%; height:auto;}


}

@media screen and (max-width: 480px) {

	.psc_wrap_top h3{ font-size: 18px; }

	.psc_wrap_top img{ width: 50px; }

	.psc_wrap_top .pie_progress{ width: 120px; margin-bottom: 15px;}

	.psc_wrap_top .pie_progress__number{ font-size: 30px; }

	.rstp_col{ width: 95%; }

	#submit_popup h4{ font-size:16px;}
	
	

}


@media screen and (max-width: 400px) {

.practice_test_related_lists .col-md-3.col-sm-4{ width: 100%; }



.practice_test_q_wraper .vs_optns ul li span.col-xs-11{ width: 80%; }

.vs_optns ul li.correct_answer:before, .vs_optns ul li.wrong_answer:before, .vs_optns ul li.both_correct:before{ font-size: 11px; padding:3px 5px; }

.practice_score_card{ margin:0px -15px; }

.practice_score_card .col-md-12{ padding: 0px; }

} 