@import 'mixins';
@import 'variables';

//google fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700&display=swap');

body {

    .modal-backdrop.show {
        opacity: 0.8;
    }


    @include sitefont;

    .fthin {
        font-weight: 100;
    }

    .flight {
        font-weight: 300;
    }

    .fmed {
        font-weight: 500;
    }

    .fsbold {
        font-weight: 600;
    }

    .fbold {
        font-weight: 700;
    }

    .small {
        font-size: $fsize - 2;
    }

    .lightblue {
        color: lighten($blue, 60%);
    }

    .fblue {
        color: $blue !important;
    }

    .fwhite {
        color: $white;
    }

    .fgray {
        color: $gray;
    }

    .bggray {
        background: lighten($gray, 40%);
    }

    .bgblue {
        background: $blue;
        color: $white;
    }

    a {
        color: $black;

        &:hover {
            text-decoration: none;
        }
    }


    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .span-highlate {
        width: 30px;
        height: 30px;
        background: $blue;
        color: $white;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        line-height: 27px;
    }

    .span-whitehighlate {
        width: 30px;
        height: 30px;
        background: $white;
        color: $black;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        line-height: 27px;
        border: 1px solid $gray;
        margin-right: 10px;
    }

    .bluebtn {
        background: $blue;
        padding: 10px;
        color: $white;
        text-align: center;
        border: 1px solid transparent;
        @include transition;
        @include shadow-bot;

        &:hover {
            background: $white;
            color: $blue;
            border: 1px solid $blue;
        }
    }

    .orangebtn {
        background: #c28b2c;
        padding: 10px;
        color: $white;
        text-align: center;
        border: 1px solid transparent;
        @include transition;
        border-radius: 40px;
        min-width: 180px;
        display: inline-block;
        font-size: $fsize + 4;
        @extend .fbold;
        height: 50px;

        &:hover {
            background: $white;
            color: #c28b2c;
            border: 1px solid #c28b2c;
            text-decoration: none;
        }
    }

    .whitebtn {
        @include borderradius;
        padding: 10px 7px;
        margin: 0 5px;
        color: $black;
        @extend .fmed;
        font-size: $fsize;
        border: 1px solid #eee;
        background: none;
        font-weight: normal;

        .value {
            background: $blue;
            margin: 0 3px;
            border-radius: 50%;
            color: $white;
            display: inline-block;
            width: 25px;
            height: 25px;
            font-size: $fsize - 2;
        }


        .icomoon {
            color: $gray;
            font-size: 18px;
            margin: 2px 5px;
            float: left;
        }

        &:hover {
            background: $blue;
            color: $white !important;

            .icomoon {
                color: $white;
            }

            .value {
                background: $white;
                color: $blue;
            }
        }
    }

    .fgreen {
        color: $green;
        @extend .fsbold;
    }

    //seperator
    .list-seperator {
        li {
            a {
                padding: 0;
                color: $gray !important;
                font-size: $fsize;

                &:after {
                    content: '|';
                    padding: 0 10px;

                    @include mob {
                        display: none;
                    }
                }
            }

            &:last-child {
                a {
                    &:after {
                        content: '';
                        padding: 0;
                    }
                }
            }
        }
    }
}

.blink-text {
    animation: blinkingtext 0.8s infinite;
    color: #fff;
    padding: 5px;
}

@keyframes blinkingtext {
    0% {
        background: #e9a834;
        color: #fff;
    }

    40% {
        background: #cc2027;
        color: #fff;
    }

    50% {
        background: #e9a834;
        color: #fff;
    }

    80% {
        background: #cc2027;
        color: #fff;
    }

    100% {
        background: #e9a834;
        color: #fff;
    }
}

.batchtxt {
    @include mob {
        display: block;
        margin: 10px 0;
    }
}


.table {
    thead {
        background: $blue;

        th {
            color: $white;
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background: lighten($blue, 63%);
            }
        }
    }
}

//bootstrap navbar hover ends

//header 

.fixed-theme {
    .top-header {
        margin-top: -43px;
    }

    .navbar-brand {
        img {
            width: 200px !important;
        }
    }

    .dropdown-menu {
        top: 34px !important;
    }
}

header {

    .navbar-toggler {
        @include mob {
            border-color: $blue !important;
            color: $blue !important;
        }

        &:focus {
            border: none;
            color: $white !important;
            background: $blue;
            outline: none;
        }
    }

    //top header 
    .top-header {
        background: $blue;
        padding: 5px 0;
        color: $white;
        @include transition;

        .dropdown-menu {
            padding: 0;

            .dropdown-item {
                padding: 7px 10px;
                border-bottom: 1px solid #ccc;
                font-size: $fsize - 1;

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }

        .ltnav {
            font-size: $fsize - 1;

            a {
                color: $white !important;

                .icomoon {
                    font-size: $fsize - 1;
                }
            }

            .nav-item {
                .nav-link {
                    color: $white !important;
                    font-size: $fsize - 1;

                    &:hover {
                        text-decoration: underline;
                    }

                    @include mob {
                        font-size: $fsize - 2;
                        padding: 5px 8px;
                    }

                    .icomoon {
                        font-size: $fsize + 2;
                    }
                }
            }
        }

        .nav-link {
            color: $white;
            padding: 5px 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    //top header ends 

    //nav bar
    .navbar {
        @include shadow-bot;
        background: $white;

        .navbar-brand {
            img {
                width: 250px;
                @include transition;

                @include mob {
                    width: 220px;
                }
            }
        }

        .nav-item {
            .nav-link {
                color: $black;
                font-size: $fsize - 1;
                text-transform: uppercase;
                @extend .fmed;
                padding: 7px 12px;

                @include mob {
                    padding: 12px;
                }


                &:hover {
                    background: $blue;
                    color: $white !important;


                }
            }
        }

        .active {
            .nav-link {
                background: $blue;
                color: $white !important;
            }
        }

        .dropdown-menu {
            right: 0;
            left: inherit;
            top: 34px;
            border: none;
            border-radius: 0;
            background: $white;
            padding: 0;
            @include shadow-bot;

            .dropdown-item {
                font-size: $fsize;
                padding: 10px;
                border-bottom: 1px solid lighten($gray, 35%);
                color: $blue;

                @include mob {
                    border: none;
                }

                &:hover {
                    background: $blue;
                    color: $white;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }


        .cartlink {
            position: relative;
            width: 50px;

            &:hover {
                background: none !important;

                .icomoon {
                    color: $black;
                }
            }

            .icomoon {
                font-size: $fsize + 8;
            }

            .value {
                background: $blue;
                border-radius: 50%;
                color: $white;
                display: inline-block;
                width: 20px;
                height: 20px;
                font-size: $fsize - 4;
                position: absolute;
                top: 0;
                right: 1px;
                line-height: 20px;

                @include mob {
                    top: 2px;
                }
            }
        }
    }

    //nav bar ends 
}

//header ends 
.fmediumsize {
    font-size: $fsize + 1;
}

//slider styles 
.homecarousel {

    @include mob {
        padding-top: 100px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;

        @include mob {
            height: auto;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            z-index: 0;
            top: 0;
            opacity: 1;
            width: 90%;
            height: 100%;
            // background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgba(255, 0, 0, 0));

            @include mob {
                display: none;
            }
        }

        .carousel-caption {
            /** background: rgba(0, 0, 0, 0.4);**/
            bottom: inherit;
            top: 40%;
            right: inherit;
            text-align: left;
            width: 40%;
            padding: 10px;
            border-radius: 5px;
            left: 10%;

            @include mob {
                width: 100%;
                top: 45%;
                left: 0;
            }

            h1,
            h2 {
                font-size: $fsize * 2 + 3;
                color: $white;
                background: $blue;
                padding: 10px;
                display: inline-block;

                @include mob {
                    background: $black;
                    color: $white;
                    font-size: $fsize + 10;
                    padding: 10px;
                    text-align: center;

                    span {
                        display: inline !important;
                    }
                }
            }

            p {
                color: $white;
                font-size: $fsize + 2;
                line-height: $fsize * 2;
                background: $black;
                padding: 10px;


                @include mob {
                    display: none;
                }
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        background: $black;
        width: 50px;
        height: 50px;
        top: 45%;
        line-height: 55px;
        border-radius: 50%;


        @include mob {
            width: 40px;
            height: 40px;
            top: 20%;
        }

        .icomoon {
            font-size: $fsize + 6;
            color: $white;
        }
    }

    //course form 
    .course-form {
        width: 450px;
        position: absolute;
        top: 30%;
        right: 10%;
        border-radius: 10px;

        .course-formin {
            padding: 15px;
            border: 1px solid $white;
            margin: 15px;
            position: relative;
            z-index: 99;
            border-radius: 10px;
        }


        &:before {
            content: '';
            background: darken($blue, 10%);
            border-radius: 0;
            @include position-absolute;
            z-index: 0;
            opacity: 0.6;
            border-radius: 15px;

            @include mob {
                opacity: 1;
            }
        }

        @include mob {
            width: 100%;
            position: relative;
            right: 0;
            padding: 20px 0;
            margin-top: 20px;
        }

        h3 {
            color: $white;
            font-size: $fsize + 3;
            padding: 0 0 10px 0;
            z-index: 99;
            position: relative;
        }

        input[type="submit"] {
            background: $green;
            color: $white;
            border: 1px solid transparent;
            @include transition;
            text-transform: uppercase;
            margin: 5px auto 0 auto;
            position: relative;
            z-index: 99;
            width: 100%;
            padding: 12px 0;
            letter-spacing: 5px;
            @extend .fbold;
            font-size: $fsize + 3;
            border-radius: 5px;


            &:hover {
                background: $white;
                border: 1px solid $white;
                color: $green;
            }
        }

        form {
            z-index: 99;
            position: relative;

            .form-control {
                background: $white;
                border: none;
                padding: 10px 0 10px 10px;
                width: 100%;
                margin: 5px 0;
                border-radius: 5px;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }

            ::placeholder {
                font-size: $fsize - 1;
                color: lighten($black, 30%);
            }
        }
    }

    //contact form ends 
}

.modal {
    .modal-content {
        border-radius: 0;
        border: none;
        background: none;

        .modal-header {
            background: none;
            color: $white;
            border-radius: 0;

            .close {
                text-shadow: none;
                font-size: $fsize * 2;
                opacity: 1;
                color: $white;
                top: 0;
                position: relative;

                @include mob {
                    top: 10px;
                    left: 20px;
                }

                left: 20px;
            }
        }

        .modal-body {
            padding: 0;
        }
    }
}

//slider styles 

//services
.services-home {
    background: lighten($blue, 62%);
    padding: 50px 0 20px 0;

    .service-col {

        @include mob {
            margin-bottom: 50px;
            padding-bottom: 25px;
            border-bottom: 1px solid $gray;
        }

        a {
            display: block;
            height: 90px;

            .icomoon {
                font-size: $fsize * 3;
                color: $white;
                background: $blue;
                padding: 30px;
                border-radius: 50%;
                @include shadow-bot;
                @include transition;
            }

            &:hover {
                .icomoon {
                    background: darken($blue, 15%);
                    color: $white;
                }
            }
        }

        h4 {
            font-size: $fsize + 5;
        }

        p {
            padding-bottom: 0;
        }
    }
}

.table-section {
    .table {

        thead {
            background: $blue;

            th {
                color: $white;
                font-weight: normal;
            }
        }

    }
}

tfoot {
    tr {
        td {
            @extend .fbold;
            color: $blue;
        }
    }
}

//services ends
.sectionmedium {
    width: 98%;
    margin: 25px auto;
}

.why-choosesection {
    padding: 60px 0;

    .video-utube {

        .whitebox {
            position: relative;

            .play-icon {
                top: 50%;
                left: 50%;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-top: -30px;
                margin-left: -30px;
                text-align: center;
                display: inline-block;
                line-height: 64px;
                @include transition;
                display: none;

                &:hover {

                    .icomoon {
                        color: $white;
                    }
                }

                .icomoon {
                    font-size: $fsize * 3;
                    color: $red;
                }
            }

            &:hover {
                .play-icon {
                    display: block;
                }
            }

        }

        @include mob {
            video {
                height: auto;
            }
        }
    }

    @include mob {
        padding: 15px 0;
    }

    h5 {
        font-size: $fsize + 10;

        span {
            color: $blue;
        }
    }

    .whycol {
        margin-left: -1px;
        margin-top: -1px;
        padding: 15px;
        @include transition;
        border: 1px solid lighten($gray, 25%);
        text-align: center;

        @include mob {
            text-align: center;
        }

        &:hover {
            background: $blue;
            color: $white;

            h6 {
                color: $white;
            }
        }

        h6 {
            font-size: $fsize + 4;
            color: $blue;
            padding: 5px 0;
        }

        .icomoon {
            font-size: $fsize * 3;
        }
    }
}

//our track record 
.our-trackrecord {
    background: url(../img/trackrecord-bg.jpg)no-repeat 0 0;
    width: 100%;
    background-size: cover;
    height: 250px;
    margin: 20px 0;
    position: relative;

    @include mob {
        height: auto;
    }

    &:after {
        content: '';
        background: $black;
        @include position-absolute;
        opacity: 0.92;
    }

    .leftTrackRecordColumn {
        position: relative;
        color: $white;

        article {
            z-index: 999;
            padding: 100px 50px;

            @include mob {
                padding: 25px;
            }


            h2 {
                font-size: $fsize * 2;
                @extend .fbold;
            }
        }

        &:before {
            content: '';
            background: $blue;
            width: 750px;
            height: 250px;
            position: absolute;
            left: -200px;
            top: 0;
            bottom: 0;
            z-index: 99;
            transform: skew(-20deg);

            @include mob {
                width: 100%;
                position: relative;
                transform: skew(0deg);
            }
        }
    }

    //right records columns 
    .recordcolumn {
        position: relative;
        z-index: 999;
        padding-top: 20px;

        @include mob {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid $white;
        }

        .icomoon {
            color: $white;
            font-size: $fsize * 4 + 10;
        }

        h2 {
            font-size: $fsize * 4;
            color: $white;
            padding: 10px 0;

            @include mob {
                font-size: $fsize * 2 + 5;
            }
        }

        p {
            color: $white;
        }
    }
}

.titlerow {
    h3 {
        font-size: $fsize * 2 + 2;
        @extend .flight;

        @include mob {
            font-size: $fsize + 10;
        }

        span {
            @extend .fsbold;
            color: $blue;
        }
    }
}

.custom-slick {
    .slick-arrow {
        height: 1px;
        text-indent: -100000px;
        border: none;
        background: none;
        display: none;

        &:focus {
            outline: none;
        }
    }

    .slick-prev {
        &:before {
            content: "\f104";
            font-family: 'icomoon' !important;
            top: 0;
            position: absolute;
            right: 52%;
            font-size: 20px;
            color: $black;
            background: none;
            border: none;
            width: 45px;
            text-align: center;
            height: 36px;
            line-height: 33px;
            text-indent: 0;
            border-radius: 5px;
            @include transition;
            // @include shadow-center;

            @include mob {
                top: -7px;
                z-index: 99;
            }
        }

        &:hover {
            &:before {
                content: "\f104";
                background: $blue;
                color: $white;
                border: 1px solid $blue;
            }
        }
    }

    .slick-next {
        &:before {
            content: "\f105";
            font-family: 'icomoon' !important;
            top: 0;
            position: absolute;
            right: 47%;
            font-size: 20px;
            color: $black;
            background: none;
            border: none;
            width: 45px;
            text-align: center;
            height: 36px;
            line-height: 33px;
            text-indent: 0;
            border-radius: 5px;
            @include transition;
            // @include shadow-center;

            @include mob {
                top: -7px;
                z-index: 99;
                right: 37%;
            }
        }

        &:hover {
            &:before {
                content: "\f105";
                background: $blue;
                color: $white;
                border: 1px solid $blue;
            }
        }
    }
}

.students-slick {
    padding-top: 30px;

    .slide {
        text-align: center;
        border: 1px solid lighten($gray, 20);
        margin: 0 10px;
        padding: 2px;

        img {
            margin: 0 auto;
            width: 100%;
            @include transition;

            &:hover {
                filter: grayscale(100%);
                opacity: 0.7;
            }
        }

        h4 {
            font-size: $fsize+ 3;
            color: $black;
            padding: 8px 0;
            font-weight: 400;

            @include mob {
                font-size: $fsize + 1;
            }
        }

        h5 {
            font-size: $fsize;
            color: $blue;
        }
    }
}


//success stories 
.success-stories {
    margin: 2% auto;
}

.home-testimonials {
    background: lighten($blue, 62%);
    padding: 30px 0;

    .titlerow {
        margin-bottom: 10px;
    }

    .slide {
        padding: 0 50px;
        text-align: center;
        margin: 0 auto;

        @include mob {
            padding: 0 20px;
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 10px auto;
            border: 5px solid $white;
        }

        h5 {
            font-size: $fsize + 4;
        }

        h6 {
            color: $blue;
            padding: 5px 0;
        }

        p {
            font-size: $fsize;
            line-height: $fsize + 12;
            position: relative;

            &:before {
                content: "\e904";
                font-family: 'icomoon' !important;
                font-size: $fsize * 2;
                color: $gray;
                position: absolute;
                left: -20px;
                top: -23px;
                opacity: 0.5;
            }
        }
    }
}

//app store
.apstore {
    background: url(../img/appbg.jpg)no-repeat 0 0;
    background-size: cover;
    min-height: 400px;
    position: relative;
    padding-top: 60px;

    @include mob {
        padding-top: 20px;
        min-height: 240px;
    }

    &:before {
        content: '';
        background: $blue;
        @include position-absolute;
        opacity: 0.8;
    }

    article {
        color: $white;

        a {
            color: $white;
            border: 1px solid $white;
            float: left;

            .icomoon {
                font-size: $fsize * 3;
                margin-right: 10px;
            }

            h4 {
                font-size: $fsize + 4;
            }

            p {
                margin-bottom: 0;
            }
        }

        h3 {
            font-size: $fsize * 3;
            @extend .fthin;

            @include mob {
                font-size: $fsize * 2;
            }
        }
    }
}

.major-companies {
    padding: 30px 0;

    .slider {
        margin: 0 5px;

        img {
            border: 1px solid lighten($gray, 20%);
            width: 100%;

        }
    }

    .slick-prev {
        &:before {
            display: none;
        }
    }

    .slick-next {
        &:before {
            display: none;
        }
    }
}

//top-tutorial
.top-tutorial {
    padding: 30px 0;
}

//course col 
.course-col {
    @include shadow-center;
    background: $white;
    position: relative;
    margin-bottom: 25px;

    @include mob {
        margin-bottom: 20px;
    }

    .wish {
        top: 5px;
        right: 5px;
        background: $blue;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        @include transition;

        &:hover {
            background: $white;

            .icomoon {
                color: $blue;
            }
        }
    }

    h3 {
        font-size: $fsize + 6;
    }

    p {
        color: $gray;
    }

    .h6 {
        font-size: $fsize;

        a {
            color: $blue;
        }
    }

    .h5 {
        font-size: $fsize + 3;
    }

}

.home-blogs {
    background: $white;
    padding: 30px 0;

    .blogcol {
        @include mob {
            margin-bottom: 20px;
            padding: 5px;
            @include shadow-center;
        }

        article {
            border-bottom: 1px solid $gray;
            margin-bottom: 10px;

            h4 {
                font-size: $fsize + 6;
                padding: 10px 0;
            }

            p {
                color: $gray;
            }
        }
    }
}

.home-body {
    footer {
        @include mob {
            padding-bottom: 43px;
        }
    }
}

//footer styles 
footer {
    background: darken($blue, 15%);
    min-height: 300px;
    position: relative;
    padding-top: 30px;
    color: $white;
    font-size: $fsize - 1;
    padding-bottom: 0;

    p {
        line-height: $fsize + 12;
    }

    .footer-brand {
        margin-bottom: 10px;
        display: block;

        img {
            width: 215px;
        }
    }

    a {
        color: $white;

        &:hover {
            text-decoration: underline;
            color: $white;
        }
    }

    .social-nav {
        padding-top: 20px;

        .nav {
            .nav-item {
                .nav-link {
                    border: 1px solid $white;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    margin: 0 5px;
                    line-height: 30px;
                    @include transition;


                    &:hover {
                        background: $white;
                        color: $blue;

                        .icomoon {
                            color: $blue;
                        }
                    }

                    .icomoon {
                        font-size: 20px;
                        background: none;
                        padding: 0;
                    }
                }
            }
        }
    }

    .footer-title {
        font-size: $fsize + 6;
        color: $white;
        position: relative;
        padding-bottom: 20px;

        @include mob {
            padding-bottom: 0;
            margin-top: 25px;
        }

        &:before {
            content: '';
            width: 30px;
            height: 2px;
            background: $white;
            position: absolute;
            top: -5px;
        }
    }

    .footer-nav {
        li {
            a {
                padding: 8px 0;
                display: block;
            }
        }
    }

    table {
        tr {

            td {
                padding: 6px;
                vertical-align: top;

                .icomoon {
                    font-size: $fsize + 3;
                    background: $blue;
                    padding: 6px;
                    float: left;
                    margin-top: 5px;

                }
            }
        }
    }

    .bottom-footer {
        background: $blue;
        padding: 10px 0;
        position: relative;
        color: $white;

        p {
            margin-bottom: 0;
            padding-bottom: 0;
            font-size: $fsize - 3;
        }
    }

    .movetop {
        width: 45px;
        height: 45px;
        background: $white;
        color: $blue;
        bottom: 45px;
        right: 10px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        position: fixed;
        border: 1px solid transparent;
        padding: 12px;
        display: none;
        z-index: 9999;

        @include shadow-center;

        &:hover {
            background-color: darken($blue, 25%);
            color: $white;
            text-decoration: none;

            .icomoon {
                color: $white;
            }
        }

        .icomoon {
            font-size: $fsize + 6;
            color: $blue;
        }
    }
}

//footer ends 

//sub page 
.subpage {
    min-height: 500px;
    padding-top: 110px;
    padding-bottom: 50px;

    //sub page header 

    .page-header {
        background: darken($blue, 5%);
        padding: 30px 0;
        color: $white;

        @include mob {
            padding: 10px 0;
        }

        h1 {
            font-size: $fsize * 2;
            @extend .fthin;
            letter-spacing: - 1px;

            @include mob {
                font-size: $fsize + 5;
            }
        }

        p {
            a {
                color: $white;
            }
        }
    }

    //sub page header ends 

    //brudcrumb 
    .breadcrumb {
        background: none;
        padding-left: 0;

        @include mob {
            display: none;
        }

        ul {
            li {
                a {
                    font-size: $fsize;
                    color: $black;
                }
            }

        }

        .active {
            a {
                color: $blue;
                @extend .fbold;
            }
        }
    }

    //brudcrumb ends 

    //sub page main 
    .subpage-body {
        min-height: 400px;
        position: relative;

        @include mob {
            padding-top: 10px;
        }

        .padrow {
            padding: 10px 0;
        }

        .pageimg {
            border-radius: 5px;
            padding: 5px;
            @include shadow-center;
        }

        p {
            font-size: $fsize;
            text-align: justify;
            padding-bottom: 15px;
            line-height: $fsize + 12;
            margin-bottom: 0;
        }

        .sectionrow {
            padding: 20px 0;

            .icomoon {
                padding: 25px;
                border-radius: 50%;
                border: 1px solid $gray;
                @include shadow-center;
                font-size: $fsize * 3;
                @include transition;

                &:hover {
                    background: $blue;
                    color: $white;
                    border: 1px solid $blue;
                }
            }
        }
    }

    //sub  page main ends
}

//sub page ends 

.pagelink {
    color: $white;
    border: 1px solid $white;
    padding: 10px 20px;
    margin-right: 10px;
    @include transition;

    &:hover {
        background: $white;
        color: $blue;
        border: 1px solid $blue;
    }
}

//sign styles 

.sign {
    height: 100vh;

    .signbrand {
        margin: 20px auto;
        text-align: center;

        img {
            width: 200px;
        }
    }

    .leftcol {
        background: url(../img/signbluebg.png)no-repeat -150px center;
        background-color: $blue;
        height: 100vh;
        color: $white;

        @include mob {
            height: auto;
            padding: 25px 15px;
        }

        h1 {
            font-size: $fsize * 2 + 5;
            @extend .fthin;
            color: $white;

            @include mob {
                padding: 15px 0;
                font-size: $fsize + 10;
            }
        }

        p {
            padding-bottom: 10px;

            @include mob {
                display: none;
            }
        }

        .sign-list {
            li {
                padding-bottom: 5px;

                &:before {
                    content: "\f046";
                    font-family: "icomoon";
                    padding-right: 10px;
                }
            }
        }

        .statsrow {
            padding-bottom: 25px;
            position: relative;

            @include mob {
                display: none;
            }

            &:after {
                position: absolute;
                content: '';
                border: 5px solid $white;
                width: 10px;
                height: 10px;
                top: 37%;
                right: 0;
                border-radius: 100%;
                background: $blue;
                padding: 5px;

            }

            .user_stat {
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    z-index: 0;
                    height: 5px;
                    background: $white;
                    top: 35%;
                    left: 0px;
                }

                &:after {
                    position: absolute;
                    content: '';
                    border: 5px solid $white;
                    width: 10px;
                    height: 10px;
                    top: 30%;
                    left: -7%;
                    border-radius: 100%;
                    background: $blue;
                    padding: 5px;
                }

                .statin {
                    figure {
                        width: 90px;
                        height: 90px;
                        border: 5px solid rgba(0, 0, 0, 0.2);
                        margin: 10px auto;
                        position: relative;
                        border-radius: 50%;




                        img {
                            width: 100%;
                            height: 100%;
                            border: 5px solid #fff;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

.signcol {
    width: 400px;
    min-height: 350px;
    padding: 40px 20px;
    @include shadow-center;
    margin: 0 auto;

    @include mob {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.form-group {
    .form-control {
        border-radius: 0;
        height: 42px;
        font-size: $fsize;

        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    ::placeholder {
        font-size: $fsize;
        color: $gray;
    }
}


//sign styles ends

.socialicons {
    margin: 30px 0 10px 0;

    a {
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        color: $white;
        width: 48%;

        .icomoon {
            margin: 0 10px;
            font-size: $fsize + 5;
        }
    }

    .fb {
        background: #3b5998;
    }

    .gplus {
        background: #dd4b39;
    }
}

.secrow {
    padding: 20px 0;

    .icomoon {
        font-size: $fsize * 4;
        color: $blue;
    }
}

.thumbimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    @include shadow-bot;
}

//contact form 
.contact-form {
    .form-control {
        height: 50px;
        border-radius: 0;
        font-size: $fsize - 1;

        &:focus {
            box-shadow: none;
        }
    }

    ::placeholder {
        font-size: $fsize - 1;
    }
}

.table {
    td {
        padding: 10px;
    }

    .h6 {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: -10px;
    }

    .icomoon {
        padding: 12px;
        font-size: $fsize + 4;
        color: $white;
        background: $blue;
    }
}

.blog-col {
    @include shadow-center;
    margin-bottom: 20px;
    min-height: 415px;
    background: $white;

    img {
        @include transition;
    }

    .h6 {
        @include transition;
    }

    &:hover {
        img {
            filter: grayscale(100%);
        }

        .h6 {
            margin-top: -5px;

            a {
                color: $blue !important;
            }
        }
    }

    .nav {
        li {
            a {
                color: $gray;
                font-size: $fsize - 2;
            }
        }
    }

    article {
        padding: 15px;

        p {
            line-height: 22px !important;
            padding-top: 10px;
        }
    }
}

.recentblog {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;

    img {
        width: 100px;
    }

    .h6 {
        padding-left: 10px;
        font-size: $fsize;

        span {
            font-size: $fsize - 2;
            display: block;
            padding-top: 10px;
        }
    }
}

//faq page
.career-block {
    @include shadow-center;
    padding: 15px;
    min-height: 200px;
    background: $white;

    .form-group {
        .form-control {
            font-size: $fsize - 2;
            border-radius: 0;
            height: 40px;
        }

        ::placeholder {
            font-size: $fsize - 2;
            color: $gray;
        }
    }
}

//faq ends

.small {
    font-size: $fsize - 3 !important;
    line-height: $fsize + 3 !important;
}

.simpletabs {
    .resp-tabs-list {
        border-bottom: 1px solid $gray;

        li {
            background: none !important;
        }

        .resp-tab-active {
            border-bottom: 3px solid $blue !important;
        }

    }
}

.custom-accord {
    h1 {
        border-bottom: 1px solid #ececec;
        font-weight: 300;
        margin-bottom: 2em;
        padding-bottom: 1em;
        text-align: center;
    }

    h1 span {
        display: block;
        font-size: .5em;
    }

    a {
        color: #607d8b;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        color: #ec407a;
        border-bottom: none;
    }

    h3 {
        font-weight: 500;
        font-size: $fsize + 5;
    }

    .intro {
        font-size: 1.25em;
    }

    .js .panel-title {
        margin: 0;
    }

    .panel-title a {
        border-bottom: none;
        color: #292929;
        display: block;
        padding: 10px 0;
        position: relative;
        text-decoration: none;
        -webkit-transition: color 200ms ease 0s;
        -moz-transition: color 200ms ease 0s;
        transition: color 200ms ease 0s;
        width: 100%;
        font-size: $fsize + 2;
    }

    .panel-title a .icon {
        color: $black;
        position: absolute;
        right: 0;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        font-size: $fsize + 8;
    }

    .panel-title a:hover,
    .panel-title a:focus {
        color: #37474f;
    }

    .panel-title a:hover .icon,
    .panel-title a:focus .icon {
        color: #ec407a;
    }

    .panel-title a.active {
        color: #37474f;
    }

    .panel-title a.active .icon {
        color: #ec407a;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .js .accordion {
        border-bottom: 1px solid #ececec;
        margin: 2em 0;
    }

    .accordion .panel-title a {
        border-top: 1px solid #ececec;
    }

    [id^="panel-"] {
        padding-bottom: 2em;
    }
}

.list-content {
    padding-left: 15px;

    li {
        list-style-type: disc;
        list-style-position: inside;
        padding-bottom: 15px;
        line-height: 24px;
    }
}

.bgsec {
    background: url(../img/bg-section.jpg)no-repeat 0 0;
    width: 100%;
    background-size: cover;
    padding: 50px 0;
    position: relative;

    &:before {
        background: $blue;
        content: '';
        @include position-absolute;
        opacity: 0.8;
    }

    .container {
        position: relative;
        z-index: 1;
        color: $white;
    }
}

.page-list {
    li {
        padding: 5px 0;

        &:before {
            content: "\f00c";
            color: $blue;
            font-family: 'icomoon' !important;
            padding: 0 10px 0 0;
        }
    }
}

.orderlist {
    li {
        list-style: inherit;
        padding: 5px 0;
    }
}

.course-accordion {
    .panel-content {
        background: $white;
        padding: 15px;
        margin-top: -8px;
    }

    .panel-title {
        background: $white;
        padding: 10px;
        margin-top: 5px;

        &:hover {
            background: $white;

            a {
                color: $blue;

                span {
                    color: $blue;
                }
            }
        }

        a {
            border: none !important;
        }

        .active {
            color: $blue !important;
        }
    }

    .list-seperator {
        li {
            a {
                border: none;
            }
        }
    }
}

.course-faq {
    .panel-title {
        font-weight: normal;

        a {
            font-size: $fsize;
            line-height: $fsize + 10;
        }

        .active {
            color: $blue !important;
        }
    }
}

.oldprice {
    color: $gray;
    text-decoration: line-through;
    font-size: $fsize - 2;
    padding: 0 5px;
}

.course-detail-header {
    p {
        font-size: $fsize + 2;
    }

    .list-seperator {
        border-top: 1px solid $white;
        padding-top: 15px;

        .nav-item {
            a {
                color: $white !important;
            }
        }
    }
}

.list-box {
    ul {
        li {
            padding-bottom: 15px;
            font-size: $fsize - 1;

            &:before {
                content: "\f00c";
                font-family: 'icomoon';
                color: $blue;
                padding-right: 10px;
            }
        }
    }
}

.whitebox {
    padding: 5px;
    @include shadow-center;
    background: $white;
    overflow: hidden;
}

.bluebox {
    background: $blue;
    padding: 15px;
    color: $white;

    p {
        font-size: $fsize - 2 !important;
        line-height: 16px;
    }
}

.detailprice {
    span {
        font-size: $fsize;
        color: $gray;
    }
}

.subscribebox {
    input[type="text"] {
        background: $white;
        height: 35px;
        border: none;
        padding-left: 10px;
        width: 73%;
    }

    input[type="submit"] {
        background: darken($blue, 10%);
        height: 35px;
        border: none;
        text-align: center;
        width: 25%;
        color: $white;
    }
}

.addtowish {
    top: 5px;
    right: 5px;
    padding: 10px;

    &:hover {
        background: $blue;

        .icomoon {
            color: $white;
        }
    }

    .icomoon {
        font-size: $fsize + 5;
    }
}

.select-wish {
    background: $blue;

    .icomoon {
        color: $white;
    }
}

.leftnav-tutorial {
    .h6 {
        background: $blue;
        color: $white;
        text-transform: uppercase;
        padding: 10px 10px 12px 10px;
        margin-bottom: 20px;
    }

    #videos-show-icon {
        display: none !important;

        @include mob {
            display: block !important;
        }
    }

    .nav-link[data-toggle].collapsed:after {
        content: "+";
        float: right;
        font-size: $fsize + 10;
    }

    .nav-link[data-toggle]:not(.collapsed):after {
        content: "-";
        float: right;
        font-size: $fsize + 10;
    }

    .nav-item {
        .nav-link {
            position: relative;
            padding-left: 25px;

            &:before {
                content: "\f01d";
                width: 15px;
                height: 15px;
                position: absolute;
                top: 9px;
                left: 0;
                font-family: 'icomoon' !important;
            }

            &:hover {
                color: $blue;

                &:before {
                    color: $blue;
                }
            }
        }

        .flex-column {
            padding: 10px 0;

            .nav-item {
                padding: 7px 10px;

                .nav-link {


                    &:before {
                        content: '';
                        display: none;
                    }
                }
            }
        }
    }



    .leftnav {
        position: relative;

        @include mob {
            display: none;
        }
    }
}

//right videos
.right-videos {
    .right-title {
        background: $blue;
        color: $white;
        padding: 10px 10px 12px 10px;
        margin-bottom: 20px;

        .h6 {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @include mob {
            background: none;
            color: $blue;
            padding: 0;
            margin-bottom: 10px;
        }

    }

    .video-col {
        cursor: pointer;
        margin-bottom: 20px;
        position: relative;

        &:hover {
            .icomoon {
                opacity: 1;
            }
        }

        img {
            height: 200px;
            object-fit: cover;
        }

        .icomoon {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: $fsize + 20;
            margin-top: -10px;
            margin-left: -10px;
            color: $red;
            opacity: 0;
            @include transition;
        }
    }
}

//right videos ends

.video-modal {
    .modal-body {
        padding: 0;

        .modalvideo {
            height: 400px;
        }
    }

    .close {
        span {
            font-size: $fsize * 3;
        }
    }

}


//student profile
.left-usernav {
    height: 100vh;

    .profile-pic {
        text-align: center;
        margin: 0 auto;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }

    ul {
        li {
            a {
                font-size: $fsize;
                padding: 10px 25px;
                display: block;

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }

        .usernav-active {
            background: $blue;
            color: $white;
        }
    }
}

.upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    left: 25%;

    .whitebtn {
        background: $blue;
        border: none;
        border-radius: 50%;
        cursor: pointer;

        .icomoon {
            color: $white;
            font-size: 16px;
        }
    }
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

//right user section
.right-usersection {
    .user-right-title {
        padding: 0;
        border-bottom: 1px dashed $gray;
        margin-bottom: 15px;

        @include mob {
            padding-top: 20px;
        }


        p {
            small {
                color: $gray;
            }
        }
    }

    .user-rightsection {
        padding-top: 15px;

        .form-group {
            .form-control {
                height: 42px;
                border-radius: 0;
                line-height: 40px;
                padding-bottom: 12px;
                font-size: $fsize - 1;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        ::placeholder {
            font-size: $fsize - 1;
            color: $gray;
        }
    }

    .noterow {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 15px;
        }
    }

    .purchase-history {
        td {
            vertical-align: middle;
        }

        .thumb-course {
            width: 75px;
        }
    }
}

//right user section
.student-col {
    min-height: 200px;
    padding: 20px;
    @include borderradius;
    @include shadow-center;
    margin-bottom: 20px;

    @include mob {
        flex-direction: column
    }

    figure {
        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            @include shadow-center;
        }
    }

    article {
        width: 75%;
        padding: 25px;

        @include mob {
            width: 100%;
            padding: 0;
        }

        .h5 {
            font-size: 18px;
        }

        .quote-student {
            text-align: left;

            &:before {
                content: "\f10d";
                font-family: 'icomoon' !important;
                font-size: $fsize + 5;
                color: $blue;
                padding: 5px;

            }
        }
    }

    .linktext {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .video-testimonil-link {
        background: $white;
        width: 49px;
        height: 49px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        @include transition;
        line-height: 50px;
        animation: icon-scaleout 1.5s infinite ease-in;

        a {
            width: 49px;
            height: 49px;
            background: $white;
            display: block;
            border-radius: 50%;
            @include transition;

            &:hover {
                background: $red;

                .icomoon {
                    color: $white;
                }
            }
        }




        &:before {
            content: " ";
            position: absolute;
            z-index: -1;
            top: -17px;
            left: -17px;
            width: 84px;
            height: 84px;
            border-radius: 50%;
            opacity: 0.9;
            background: lighten($black, 80%);
            animation: icon-scaleout 1.5s infinite ease-in;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: -7px;
            left: -7px;
            width: 63px;
            height: 63px;
            border-radius: 50%;
            opacity: 0.6;
            background: lighten($black, 65%);
            animation: icon-scaleout 1.5s infinite ease-in;
        }

        .icomoon {
            font-size: $fsize + 5;
            color: $red;
            padding-left: 5px;
        }
    }
}

@keyframes icon-scaleout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

.form-control {
    height: 42px;
    border-radius: 0;
    line-height: 40px;
    padding-bottom: 12px;
    font-size: $fsize - 1;

    &:focus {
        box-shadow: none;
    }
}

.course-row {
    padding: 10px 0;
    border-bottom: 1px dashed $gray;
}

.successpayment {
    .icomoon {
        font-size: $fsize * 4;
        color: $blue;
    }

    p {
        text-align: center;
    }
}

.question-intro {
    margin: 25px 0;
}

.qanda-page {

    .navbar-collapse {
        border: 1px solid $gray;
    }

    @include mob {
        .navbar-toggler {
            margin-bottom: 15px;
        }
    }

    //navbar
    .navbar {
        .nav-item {
            .nav-link {
                color: $black !important;
                padding: 10px 15px;

                &:hover {
                    background: $blue;
                    color: $white !important;
                    border-radius: 20px;
                }
            }

            .active {
                background: $blue;
                color: $white !important;
                border-radius: 20px;

            }
        }
    }

    //navbar ends

    //qa block
    .col-qa {
        min-height: 100px;
        margin: 15px 0;

        //problem

        .problem {
            border: 1px solid $gray;
            position: relative;

            .question {
                padding: 30px;
                border-bottom: 1px solid $gray;
            }

            .options {
                overflow: hidden;
                padding-bottom: 12px;

                .nav {
                    padding: 10px 10px 0 10px;
                }

                li {

                    font-size: 16px;
                    width: 46%;
                    margin-bottom: 10px;
                    border: 1px solid #eee;
                    margin-right: 10px;


                    span {
                        border: 1px solid #eee;
                        text-align: center;
                        display: inline-block;
                        margin-right: 5px;
                        font-size: $fsize - 1;
                        padding: 8px 12px;
                    }
                }

                a {
                    opacity: 1;

                    &:hover {
                        color: darken($blue, 25%);
                    }
                }
            }

            .view-answer {
                padding: 15px 30px;

                a {
                    color: $blue !important;
                }
            }

            .answer {
                background: $white;
                padding: 0;
                float: left;
                margin-top: 15px;

                .answer-heading {
                    background: $blue;
                    color: $white;
                    padding: 15px 25px;

                    .anser-value {
                        width: 25px;
                        height: 25px;
                        color: $blue;
                        background: $white;
                        line-height: 21px;
                        border-radius: 50%;
                    }
                }

                .describe {
                    padding: 0 30px;

                    p {
                        font-size: $fsize - 1;
                    }
                }
            }
        }

        //problem ends 
    }

    //qa block ends 

    //test series 
    .text-series-row {
        margin-top: 25px;

        .testseries-col {
            @include shadow-center;
            margin-bottom: 25px;
            text-align: center;
            padding: 0 0 10px 0;
            background: $white;

            figure {
                margin: 0;
                border-bottom: 1px solid lighten($gray, 30%);

                img {
                    width: auto;
                    height: 65px;
                }

                .bluebtn {
                    box-shadow: none !important;
                }
            }

            article {
                padding: 20px;

                .h5 {
                    padding-bottom: 15px;
                    font-size: $fsize + 3;
                }

                .list-seperator {
                    justify-content: center;

                    li {
                        a {
                            span {
                                @extend .fbold;
                                @extend .fblue;
                            }
                        }
                    }
                }
            }
        }
    }

    //test series ends 

    //practise tests
    .practisetests {
        .custom-accord {
            .table {
                td {
                    a {
                        border: none !important;

                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    //practise tests ends 
}

.package-col {
    @include shadow-center;
    min-height: 150px;
    margin: 50px 0;

    //heading div
    .heading-div {
        background: url(../img/packagebg.jpg) no-repeat 0 0;
        min-height: 250px;
        width: 100%;
        background-size: cover;
        padding: 25px;

        article {
            padding: 65px 0;

            h5 {
                font-size: $fsize + 4;
                padding: 10px 0;
            }

            h2 {
                @extend .fbold;

            }
        }
    }

    //headindg div ends

    //package features starts
    .package-features {
        padding: 25px;

        ul {
            li {
                &:nth-of-type(odd) {
                    background: lighten($blue, 60%);
                }

                &:before {
                    content: "\f046";
                    font-family: 'icomoon' !important;
                    color: $blue;
                    padding-right: 5px;
                    font-size: $fsize + 3;

                }

                font-size:$fsize;
                padding:10px;

            }
        }
    }

    //pcakge featrures ends 



}

.pie {
    width: 250px;
    background: darken($blue, 15%);
    border-radius: 50%;
    @include shadow-bot;
}

.pie circle {
    fill: none;
    stroke: $blue;
    stroke-width: 32;
    animation: rotate 1.5s ease-in;
}

.pie-block {
    width: 50%;

    .color-block {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    .balance-courses {
        background: $blue;
    }

    .completed-courses {
        background: darken($blue, 15%);
    }
}

.scrore-scale {
    margin-bottom: 15px;

    p {
        padding-bottom: 5px !important;

        span {
            font-size: $fsize + 1;
        }
    }

    .scale {
        background: $blue;
        height: 30px;
        position: relative;

        .scale-in {
            height: 30px;
            background: darken($blue, 15%);
        }
    }
}

.trophy-img {
    width: 200px;
    margin: 0 auto;
}

.solution {
    border-bottom: 1px dashed $gray;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .quest {
        span {
            @extend .span-highlate;
            margin-right: 10px;
        }
    }

    .nav {
        .nav-item {
            padding-right: 10px;
            display: block;
            margin-bottom: 12px;
            width: 33.3%;

            span {
                @extend .span-whitehighlate;
                margin-right: 5px;
            }

            .correct-ans {
                background: $green;
                color: $white;
            }

            .wrong-ans {
                background: $red;
                color: $white;
            }

            small {
                color: $white;
                font-size: $fsize - 4;
                background: $green;
                padding: 2px 5px;
                @extend .fbold;
                margin-left: 10px;
            }
        }
    }
}

.primary-details-practise-test {
    .list-group-item {
        a {
            display: block;
        }

        &:hover {
            background: $blue;
            color: $white;

            a {
                color: $white;
            }
        }
    }
}

.active-answer {
    background: $blue;
    color: $white;

    a {
        color: $white;
    }
}


//mobile 
@include mob {
    .m-text-center {
        text-align: center;

        p {
            text-align: center !important;
        }
    }

    .m-py-10 {
        padding: 10px 0;
    }

    .h2,
    h2 {
        font-size: 1.5em;
    }

    //custom mobile collapse navbar slide from left 

    .navbar-collapse {
        position: absolute;
        top: 54px;
        right: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        overflow-y: auto;
        height: 600px;
        transition: all 0.3s ease;
        display: block;
        background: $white;

    }

    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }

    .navbar-collapse.show {
        right: 0;

    }
}


.modal-confirm {
    color: #636363;
    width: 325px;

    @include mob {
        width: 95%;
    }
}

.modal-confirm .modal-content {
    padding: 0px;
    border-radius: 5px;
    border: none;
    background: $white;

}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 20px auto 0px auto;
    color: $blue;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 125px;
    height: 95px;
    z-index: 9;
    padding: 15px;
    text-align: center;

    @include mob {
        top: -85px;
    }


    img {
        width: 100%;
    }


    .icomoon {
        font-size: $fsize * 4;
    }
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}



.call-mobile {
    background: $white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    @include shadow-center;

    a {
        color: $blue;
        font-size: $fsize + 3;
        @extend .fbold;
        text-transform: uppercase;

        &:hover {
            color: $blue;
            text-decoration: none;
        }

        &:focus {
            color: $blue;
            text-decoration: none;
        }

        .icomoon {
            padding: 0 10px;
            font-size: $fsize + 7;
        }
    }
}

#enrollbtn {

    border: 1px solid $white;
    padding: 15px 25px !important;
    border-radius: 40px;
    color: $white;
    font-size: $fsize + 3;
    text-transform: uppercase;
    @include transition;


    &:hover {
        background: darken($blue, 15%);
    }
}


.enrollnow {
    background: $blue;
    padding: 75px 0;

    p {
        color: $white;
        font-size: $fsize + 4;
        @extend .fthin;
        line-height: 30px;
        padding-bottom: 20px;
    }
}

.contacttable {
    td {
        vertical-align: top;
    }
}

.interested-course {
    position: relative;

    &:before {
        content: '';
        width: 34px;
        height: 57px;
        background: url(../img/arrow-fooer.png)no-repeat 0 0;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}


//new styles on 01-02-2020

.lefttab {
    .resp-tabs-list {
        li {
            font-size: $fsize;
            padding: 15px !important;
            background: lighten($gray, 35%);
            width: 100%;
            margin-bottom: 5px;
            @include transition;

            &:hover {
                background: $blue;
                color: $white;
            }
        }

        .selectnav {
            background: $blue;
            color: $white;
        }
    }

    @include mob {
        .custom-accord {
            .h5 {
                display: none;
            }
        }

        .resp-tab-content {
            padding: 15px !important;
        }

        h2.resp-accordion {
            font-size: $fsize !important;
        }
    }

    @include moblscape {
        .custom-accord {
            .h5 {
                display: none;
            }
        }

        .resp-tab-content {
            padding: 15px !important;
        }

        h2.resp-accordion {
            font-size: $fsize !important;
        }
    }
}

.test-list-col {
    border: 1px solid lighten($gray, 25%);
    height: 200px;
    margin-bottom: 15px;
    padding: 10px;

    img {
        margin: 10px 0;
    }

    .h6 {
        font-size: $fsize;
    }

    p {
        text-align: center !important;
        padding-bottom: 15px !important;
    }

    .whitebtn {
        display: inline-block;
        padding: 5px 10px 7px 7px;
        @include transition;
        font-size: $fsize - 2;
    }
}

.custom-modalbody {
    background: $white;
    padding: 25px !important;
}

.schedulebody {

    background: url(../img/weeklybg01.png)no-repeat center right;
    position: relative;

    &:before {
        content: '';
        background: url(../img/weekleft.png)no-repeat 0 0;
        width: 382px;
        height: 228px;
        position: absolute;
        top: 0;
        left: 0;

        @include mob {
            display: none;
        }
    }

    &:after {
        content: '';
        background: url(../img/weekrt.png)no-repeat 0 0;
        width: 354px;
        height: 196px;
        position: absolute;
        bottom: 0;
        left: 0;

        @include mob {
            display: none;
        }

        @include tab {
            display: none;
        }
    }

    @include mob {
        .weeklycal {
            width: 150px;
            margin: 0 auto;
        }
    }


}