button{ outline: none; }

button.btn:focus{ outline: none; }

.pt_info{text-align: center; padding: 10px; border: 1px solid #eee; margin-bottom: 15px; transition: all 0.5s;}

.pt_info i{ font-size: 24px; }

.pt_info h4{ font-size: 15px; margin-top: 10px; color: #1b1b42; }

.pt_info p{ margin-bottom: 2px; font-size: 13px;}

.pt_info p b{ padding-left: 5px; font-weight: normal; font-family: 'OpenSans-Semibold';}

.pt_info button.btn{ margin-top: 15px; margin-bottom: 0px; border: 1px solid #1b1b42;padding: 8px 20px; color: #000; font-size: 13px; font-family:'OpenSans-Semibold' !important; display: inline-block; position: relative; transition: all 0.3s; border-radius: 0px; }

.pt_info button.btn:focus,.pt_info button.btn:active,.pt_info button.btn:visited{ border: 0px; box-shadow: none; }

.pt_info button.btn:before{ position: absolute; content: ''; width: 0; height: 100%; background: #1b1b42; top: 0px; left: 50%; z-index: -1; color: #fff; transition: all 0.3s; }

.pt_info button.btn:hover:before{ width: 100%; left: 0px; }

.pt_info button.btn:hover{ color: #fff; background: none; outline: none;}

.pt_info:hover{ box-shadow: 0px 0px 5px #aaa; }

.practice_test_hdr{ text-align: center; }

.practice_test_q_wraper .vs_wrap_lft{ padding-right: 0px; }

.practice_test_q_wraper .vs_sections{ width: 75%; float: inherit; margin: 0px auto;  }

.practice_test_q_wraper .vs_actin_btns{  width: 85%; float: inherit; text-align: right;}

.practice_test_q_wraper .vs_wrap_btm{ padding-right: 0px;  }

.practice_test_q_wraper .vs_qstns{ width: 100%; }

.practice_test_q_wraper .vs_optns ul li{ padding: 5px; }

.practice_test_q_wraper .vs_optns ul li input{ visibility: hidden; }

.practice_test_q_wraper .vs_optns ul li label{ width: 100%; display: block; cursor: pointer;}

.practice_test_q_wraper .vs_qstn_num{ background: #666; color: #fff;}

.practice_test_q_wraper .vs_optns ul li input[type=radio]:checked~span.option_chk{ background: #1b1b42; color: #fff;}

.practice_test_q_wraper .vs_optns ul li input[type=radio]:checked + label{ background: #000; }

.practice_test_hdr_col{ text-align: center; }

.practice_test_hdr_col h4{ float: initial; display: inline-block; text-align: center; }

.practice_score_card_wrap{ background:url(../images/patterns.jpg) repeat; margin: 0px; padding: 20px 0px; }

.practice_score_card{ margin:0px 0px 30px 0px; }

.psc_wrap{ width: 60%; margin: 0px auto; border: 5px solid #eee; background: #fff; box-shadow: 0px 0px 5px #eee;}

.psc_wrap_top{ text-align: center; padding:20px; border-bottom: 1px solid #eee;}

.psc_wrap_top img{ width: 60px; margin: 0px auto; }

.psc_wrap_top h3{ font-size: 20px; font-family: 'OpenSans-Semibold' !important; margin: 20px 0px; color:#1b1b42;}

.psc_wrap_top h4{ font-family: 'OpenSans-Semibold' !important; }

.psc_wrap_top h4 b{ color:#00a861; }

.psc_wrap_btm{ padding-bottom: 20px; }

.psc_wrap_btm h4{ font-family: 'OpenSans-Semibold' !important; color: #fff; background: #1b1b42; text-align: center; border-bottom: 1px solid #eee; padding: 15px; }

.psc_wrap_btm table tr td{ font-family: 'OpenSans-Semibold'; text-align: center; color: #000; width: 50%; padding:10px; font-size: 15px; }

.practice_score_card_btns{ text-align: center; }

.psc_wrap_btm h5{ text-align: center; font-size: 18px; display: inline-block; text-align: center;}

.psc_wrap_btm h5 a{ background: #008231; color: #fff; text-align: center; padding: 10px 15px; border-radius: 5px; display: inline-block; margin-top: 20px; font-size: 16px; transition: all 0.5s; }

.psc_wrap_btm h5.back_btn{ margin-left: 10px; }

.psc_wrap_btm h5.back_btn a{ background: #fff; border: 1px solid #008231; color: #008231; font-family: 'OpenSans-Semibold'; }

.psc_wrap_btm h5.back_btn a:hover{ color: #fff; }

.psc_wrap_btm h5 a:hover{ background: #1b1b42;}

.rstp_row_wrap{ text-align: center; }


.related_sub_tests_pop{ background: rgba(0,0,0,0.7); }

.related_sub_tests_pop .modal-dialog{ width: 65%; top: 20%; }

.rstp_col{ width: 18%; display: inline-block; margin:0px 5px 10px 5px; }

.related_sub_tests_pop .modal-header .close{ background: #1b1b42; color: #fff; opacity: 1; position: absolute;top: 0px; right: 0px; padding: 12px 15px; margin-top: 0px; }

.related_sub_tests_pop .modal-header{ padding: 8px 15px; background: #eee; }

.related_sub_tests_pop .modal-header h4{ font-size: 20px; font-family: 'OpenSans-Semibold' !important; }

.related_sub_tests_pop h5{ margin-top: 15px; margin-bottom: 0px; }

.related_sub_tests_pop h5 a{ border: 1px solid #1b1b42;padding: 8px 20px; color: #000; font-size: 13px; font-family:'OpenSans-Semibold' !important; display: inline-block; position: relative; transition: all 0.3s; z-index: 99;}

.related_sub_tests_pop h5 a:before{ position: absolute; content: ''; width: 0; height: 100%; background: #1b1b42; top: 0px; left: 50%; z-index: -1; color: #fff; transition: all 0.3s; }

.related_sub_tests_pop h5 a:hover:before{ width: 100%; left: 0px; }

.related_sub_tests_pop h5 a:hover{  color: #fff;}




@media (min-width: 992px) and (max-width: 1200px) {

.practice_test_related_lists .col-md-3{ padding:0px 10px; }

.practice_test_q_wraper .vs_sections{ width: 90%; }

.practice_test_q_wraper .vs_actin_btns{ width: 95%; }

.psc_wrap{ width: 75%; }

.related_sub_tests_pop .modal-dialog{ width: 90%; top: 10%; }
}

@media (min-width: 768px) and (max-width: 991px) {

.practice_test_related_lists .col-md-3.col-sm-4{ padding:0px 10px; }

.pt_info h4{ font-size: 13px; font-family: 'OpenSans-Semibold' !important; }

.pt_info{ padding: 10px 5px; }

.pt_info p{ font-size: 12px; }

.practice_test_q_wraper .vs_sections{ width: 95%; }

.practice_test_q_wraper .vs_actin_btns{ width: 98%; }

.psc_wrap{ width: 90%; }

.related_sub_tests_pop .modal-dialog{ width: 100%; top:5%;}


}

@media screen and (max-width: 767px) {

.practice_test_q_wraper .vs_optns ul li span.col-xs-11{ width: 85%; }

.psc_wrap{ width: 100%; }

.psc_wrap_top h4{ line-height: 1.6; font-size: 16px; }

.psc_wrap_btm table tr td{ font-size: 13px; }

.related_sub_tests_pop .modal-dialog{ width: 100%; margin:0px; top: 5%; }

.rstp_col{ width: 31%; }

}

@media screen and (max-width: 640px) {

	.rstp_col{ width: 47%; }
}

@media screen and (max-width: 480px) {

	.psc_wrap_top h3{ font-size: 18px; }

	.psc_wrap_top img{ width: 50px; }

	.psc_wrap_top .pie_progress{ width: 120px; margin-bottom: 15px;}

	.psc_wrap_top .pie_progress__number{ font-size: 30px; }

	.rstp_col{ width: 95%; }
}


@media screen and (max-width: 400px) {

.practice_test_related_lists .col-md-3.col-sm-4{ width: 100%; }

.practice_test_q_wraper .vs_sections{ width: 100%; }

.practice_test_q_wraper .vs_actin_btns{ width: 100%; }

.practice_test_q_wraper .vs_optns ul li span.col-xs-11{ width: 80%; }

.vs_optns ul li.correct_answer:before, .vs_optns ul li.wrong_answer:before, .vs_optns ul li.both_correct:before{ font-size: 11px; padding:3px 5px; }

.practice_score_card{ margin:0px -15px; }

.practice_score_card .col-md-12{ padding: 0px; }

} 