﻿body {
    font-family:Arial;
}


.active{
    background-color:#FECA07;
    color:#2D257B;
    border-radius:5px;
}

.socialicons{
    margin-top:1px;
    margin-right:0px;
    padding:6px;
}
.socialicons a img{
    padding:3px;
    margin-right:0px;
    border-radius:2px;
}

.socialicons a img:hover{
    padding:3px;
    margin-right:0px;
    background-color:#fff;
    border-radius:2px;
}

#social_icon{
    background-color:#FECA07;
    height:50px;
    color:black;
}
#social_icon span{
    color:black;
    margin-top:10px;
}
#social_icon span:hover{
    color:#45CC8A;
    margin-top:10px;
}
#logo_baner{
    background-color:#fff;
    /*height:130px;*/
}
a span{color:black;}


#enquiry a span{
    background:#184682;
    padding:10px 16px;
    color:white;
    margin-top:40px;
    border-radius:5px;
    margin-left:10px;
    list-style:none;
    font-size: 16px;
    cursor: pointer;
}




/*drop down starts*/

#enquiry a span:hover {
    background-color: #184682;
    color: #fff;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    border-radius:5px;
    cursor: pointer;

	
}

.dropdown {
    position: relative;
    display: inline-block;
    font-weight:bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #184682;
    min-width: 250px;
    margin-left:-148px;
	padding:15px;
    border-radius:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content input{
    margin-bottom:10px;
} 
.dropdown-content textarea{
    margin-bottom:10px;
} 

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    z-index:222;
}

.dropdown:hover .dropbtn {
    background-color: #184682;
    color:#fff;
}
#button_sumit{
    background-color: #45CC8A;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    border-radius:5px;
    cursor: pointer;
}
/*drop down Ends*/

#table_marquee{
    margin-top:20px;
    margin-bottom:20px;
    
}
#marquee_scroll{
    background-color:white;
	
}
.latest_updates{
    /*2D257B*/
	border:2px solid #D9D9D9;
	padding:0px;
}
#latest_updates h4 {
    background-color:#184682;
    padding:8px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    font-family:Verdana ;
}
#latest_updates{
  
}
#header3
{
    text-align:center;
border:2px solid #ccc;
background-color:#d3cccc;
margin-bottom:10px;
margin-top:10px;
border-radius:5px;
} 
#headerElitmus
{
    text-align:center;
/*border:2px solid #ccc;*/
/*background-color:#d3cccc;*/
margin-bottom:20px;
margin-top:20px;
border-radius:5px;
font-size:22px;
font-weight:600;
font-family:Verdana;

}
#cont-p h4{
    font-size:22px;
    
 text-decoration: underline;
 color:#184682;


}

#dwnew{
                margin-bottom:10px;
                border: 2px  solid #184682;
                /*-webkit-box-shadow: 0 8px 6px -3px black;
	   -moz-box-shadow: 0 8px 6px -3px black;
	        box-shadow: 0 8px 6px -3px black;*/
                 -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius:8px;
            }
#Elitmus{
                margin-bottom:10px;
                /*border: 2px  solid #184682;*/
                /*-webkit-box-shadow: 0 8px 6px -3px black;
	   -moz-box-shadow: 0 8px 6px -3px black;
	        box-shadow: 0 8px 6px -3px black;*/
                 -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius:8px;
            }


#portpol{
    /*45CC8A   ddeafa cccccc */
    background-color:whitesmoke;
    
    height:100%;
}
#videoytd{
    border:3px solid #ffd800;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px; 
    /*border-style:solid ;*/
     -webkit-box-shadow: 0px 5px 5px 5px rgb(128, 128, 128);
      border:3px solid #ffd800;border-radius:5px;background-color:ghostwhite;
 }
#videopage{
    border:3px solid #fff;
    padding:10px;
    margin-bottom:40px;
    border-radius:5px; 
    /*border-style:solid ;*/
     -webkit-box-shadow: 0px 5px 5px 5px rgb(128, 128, 128);
 }
#img_md{
    border:3px solid ghostwhite;
    padding:10px;
    margin-bottom:10px;
    border-radius:10px; 
    background-color:ghostwhite;
    /*border-style:solid  rgba(0,0,0,0.75); 0px 10px 15px 10px */
     -webkit-box-shadow: 2px 6px 5px 0px rgb(128, 128, 128);
     
 }
 #img_md h3 {
        color: #2D257B;
         font-family:open_sansregular;

    }
#img_md p {
	    text-align:justify;
		margin-top:-6px;
		font-size:13px;
        color:black;
        font:200;
        font-family:Open\ Sans,Arial,Helvetica,sans-serif;
    } 
#img_md1{
	margin-top:-13px;
    color:black;
        font:200;
        font-family:open_sansregular;
}
.address-ads{
    background-color:#184682;
   }
.address-grid{
    padding:40px;
    color:white;
    line-height:25px;
   
}
.vertical{
    border-right:2px solid #fff;

}
.address-grid h4{
    color:#FECA07;
    margin-bottom:10px;
    font-weight:bold;
}

footer{
    background-color:white;
    background-color:#FECA07;
    padding:10px;
    color:#2D257B;
    text-align:center;
}


.address-grid img{
    margin-top:20px;
    border-radius:5px;
}

.videos_bnz{
    background-color:#cccccc;
    border-radius:8px;
    padding:15px;
}
.map{
    margin-bottom:20px;
}

/*tables*/


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;
   
}
#marquee_scroll{
    background-color:#184682;
    color:white;
   
}

th, td {
    border: none;
    text-align: left;
    padding: 10px 14px;
   height:36px;
   margin-bottom:10px;

}

tr:nth-child(even){background-color: #cccccc;}



/*tables ends*/



/*slideres*/
.slider-wrap {
position: relative;
margin: 10px auto;
width: 350px;
}
.slider {
position: relative;
width: 100%;
margin: auto;
}

ul {
margin: 0;
padding: 0;
}
ul li {
list-style: none;
text-align: center;
}

.slider-arrow {
position: absolute;
top: 40px;
width: 20px;
height: 20px;
background: none;
color: #2D257B;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.sa-left {
left: 10px;
}
.sa-right {
right: 10px;
}
.black {
background: black;
}
.red {
background: red;
}
.green {
background: green;
}
.blue {
background: blue;
}
.yellow {
background: yellow;
}

/*slider ends*/









/*download page starts*/
  #imgdownload{
           
            border-radius:8px;          
            border:3px solid #2D257B;          
           
        }
         #imgdownload:hover{
           
            border-radius:8px; 
            background-color:#7beeb6;         
            border:3px solid #2D257B;          
           
        }
        #download_links{
            margin-top:30px;
            margin-bottom:40px;
        }
       .dowload-papers{
           
            margin-top:0px;
            margin-bottom:20px;
       }
    .paper_download img{
        
            margin-top:20px;
            margin-bottom:20px;
    }
 .paper_download{padding:15px;}
 .paper_download:hover{
    background-color:#ddeafa;
    height:100%;
    border-radius:10px;
    padding:15px;
   
}

/*downloads page ends*/

/*About us page starts*/


#aboutus h4{
            color:#fff;
            font-weight:bold;
            background-color:#184682;
            padding:10px;
            height:100%;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
             font-family:Tahoma;
             font-weight:200;
   
            }
#about_us{
    background-color:#ededed;
    height:100%;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    padding:10px;
    margin-bottom:20px;
   
   
}

#about_us p{
            color:black;
            font-size:18px;
            font-family:open_sansregular;
            font-style:initial;
            font-style:initial;

            
            }
.Logical{
            color:#fff;
            font-weight:bold;
            background-color:#184682;
            font-weight:bold;
            height:100%;
            padding:10px 20px;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            margin-bottom:5px;
            font-family:Tahoma;
            font-weight:200;
}
.Logical p{
            color:#fff;
            font-weight:bold;
            background-color:#184682;
            font-weight:bold;
            height:100%;
            padding:15px 30px;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            margin-bottom:5px;
            font-family:'Times New Roman', Times, serif;
            font-size:16px;
}

.Logicaldiv {
            color:#fff;
            font-weight:bold;
            background-color:#184682;
            font-weight:bold;
            height:100%;
            padding:10px 20px;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            margin-bottom:5px;
            font-family:Tahoma;
            font-weight:200;
}
.Logicaldiv p{
            color:#fff;
            font-weight:bold;
            background-color:#184682;
            font-weight:bold;
            height:100%;
            padding:15px 30px;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            margin-bottom:5px;
            font-family:open_sansregular;
            font-size:16px;
}




.Logicalseries ol li{
    color:black;
            font-size:18px;
            font-family:open_sansregular;
            font-style:initial;
            font-style:initial;

}

.Logicalseries{
    background-color:#ededed;
    height:100%;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    padding:10px;
    margin-bottom:20px;
    font-size:16px;
    font-family:open_sansregular;
   
}

.about_us{
    background-color:#ededed;
    height:100%;
    border-radius:8px;
    padding:5px;
    margin-bottom:20px;
    font-family:Tahoma;
    font-weight:200;   

   
}
.about_us p{
    
    color:black;
            font-size:18px;
            font-family:'Times New Roman', Times, serif;
            font-style:initial;
            font-style:initial;

}
/*About us page ends*/

@media only screen and (max-width: 420px) {
        
#fixedsocial {
    top:45%;
    height:200px;
    width:40px;
    position:fixed;
    z-index:200;
}

.facebookflat {
    background:url('icons/50x50 facebook.jpg');
    height:20px;
    width:20px;
    transition:ease 200ms;
    background-size:20px;
    
  
}

.facebookflat:hover {
    background:url('icons/60x100 facebook.jpg');
    height:25px;
    width:40px;
    background-size:40px;
    transition:ease 200ms;
    margin-left:-20px;
   

}

.twitterflat {
   background:url('icons/50x50 twitter.jpg');
    height:20px;
    width:20px;
    transition:ease 200ms;
    background-size:20px;
  
   
}

.twitterflat:hover {
   background:url(icons/60x100twitter.jpg);
    height:25px;
    width:40px;
    background-size:40px;
    transition:ease 200ms;
    margin-left:-20px;
    
}

.Youtube {
    background:url('icons/50x50 youtube.jpg');
    height:20px;
    width:20px;
    transition:ease 200ms;
    background-size:20px;
   
}

.Youtube:hover {
    background:url('icons/60x100 youtube.jpg');
    height:25px;
    width:40px;
    background-size:40px;
    transition:ease 200ms;
    margin-left:-20px;
    
}

}

/*hover fixed social icons starts*/

#fixedsocial {
    top:35%;
    height:200px;
    width:80px;
    position:fixed;
    z-index:200;
}

.facebookflat {
    background:url('icons/50x50 facebook.jpg');
    height:50px;
    width:50px;
    transition:ease 200ms;
    background-size:50px;
    
  
}

.facebookflat:hover {
    background:url('icons/60x100 facebook.jpg');
    height:55px;
    width:80px;
    background-size:80px;
    transition:ease 200ms;
    margin-left:-20px;
   

}

.twitterflat {
   background:url('icons/50x50 twitter.jpg');
    height:50px;
    width:50px;
    transition:ease 200ms;
    background-size:50px;
  
   
}

.twitterflat:hover {
   background:url(icons/60x100twitter.jpg);
    height:55px;
    width:80px;
    background-size:80px;
    transition:ease 200ms;
    margin-left:-20px;
    
}

.Youtube {
    background:url('icons/50x50 youtube.jpg');
    height:50px;
    width:50px;
    transition:ease 200ms;
    background-size:50px;
   
}

.Youtube:hover {
    background:url('icons/60x100 youtube.jpg');
    height:55px;
    width:80px;
    background-size:80px;
    transition:ease 200ms;
    margin-left:-20px;
    
}



/*hover fixed social icons starts*/


/*media screens */

